provider: {{ vitam_offers[offer_conf]["provider"] }}
{% if vitam_offers[offer_conf]["provider"] != "openstack-swift" %}
storagePath: {{vitam_folder_data}}
{% endif %}
keystoneEndPoint: {{ vitam_offers[offer_conf]["keystone_auth_url"] | default("") }}
swiftUid: {{ vitam_offers[offer_conf]["swift_uid"] | default("") }}
swiftSubUser: {{ vitam_offers[offer_conf]["swift_subuser"] | default("") }}
credential: {{ vitam_offers[offer_conf]["swift_password"] | default("") }}
cephMode: {{  vitam_offers[offer_conf]["ceph_mode"] | default(true) }}
projectName: {{ vitam_offers[offer_conf]["projectName"] | default("") }}
swiftUrl: {{ vitam_offers[offer_conf]["swiftUrl"] | default("") }}
swiftTrustStore: {{vitam_folder_conf}}/truststore_{{ vitam_struct.vitam_component }}.jks
swiftTrustStorePassword: {{ password_truststore }}
swiftMaxConnectionsPerRoute: {{ vitam_offers[offer_conf]["swiftMaxConnectionsPerRoute"] | default(200) }}
swiftMaxConnections: {{ vitam_offers[offer_conf]["swiftMaxConnections"] | default(1000) }}
swiftConnectionTimeout: {{ vitam_offers[offer_conf]["swiftConnectionTimeout"] | default(200000) }}
swiftReadTimeout: {{ vitam_offers[offer_conf]["swiftReadTimeout"] | default(200000) }}
