{
  "$hits": {
    "total": 2,
    "size": 2,
    "offset": 0,
    "limit": 100
  },
  "$context": {
    "$query":
      { "$path": "aaaaa" }
  },
  "$results": [ { obect: "object1" }, { obect: "object2" } ]
}