{
  "hits": {
    "total": 10,
    "size": 3,
    "offset": 3,
    "limit": 100,
    "time_out": false,
    "next": "async_id_next"
  },
  "context": {
    "query": "name='abcdef*'&since>'2015-07-14'"
  },
  "results": [ "id4", "id5", "id6" ]
}