{
  "id": "$id_freeze$",
  "original_unit_ids": [
    "id1",
    "id2",
    "id3"
  ],
  "authorized_access_contracts": [
    "id4",
    "id5",
    "id6"
  ],
  "preservation_contract": "id7",
  "access_log_enable": true
}