{
  "available_services": [
    { "/units": [ "GET", "PATCH" ] },
    { "/units/{id_unit}": [ "GET", "PATCH" ] },
    { "/units/{id_unit}/object": [ "GET" ] },
    { "/units/{id_unit}/object/check": [ "GET", "POST" ] },
    { "/objects": [ "GET" ] },
    { "/objects/check": [ "GET" ] },
    { "/objects/{id_object}": [ "GET" ] },
    { "/objects/{id_object}/check": [ "GET", "POST" ] },
    { "/ingests": [ "GET", "POST" ] },
    { "/ingests/{id_ingest}": [ "GET", "PATCH", "DELETE" ] },
    { "/ingests/{id_ingest}/units": [ "GET", "POST", "PATCH", "DELETE" ] },
    { "/ingests/{id_ingest}/units/{id_unit}": [ "GET", "PATCH", "DELETE" ] },
    { "/ingests/{id_ingest}/units/{id_unit}/object": [ "GET", "POST", "PUT", "DELETE" ] },
    { "/ingests/{id_ingest}/units/{id_unit}/object/check": [ "GET", "POST" ] },
    { "/ingests/{id_ingest}/objects": [ "GET", "POST", "PUT", "DELETE" ] },
    { "/ingests/{id_ingest}/objects/{id_object}": [ "GET", "PUT", "DELETE" ] },
    { "/ingests/{id_ingest}/objects/{id_object}/check": [ "GET", "POST" ] },
    { "/ingests/{id_ingest}/objects/check": [ "GET" ] },
    { "/freezes": [ "GET", "POST", "DELETE" ] },
    { "/freezes/{id_freeze}": [ "GET", "PATCH", "DELETE" ] },
    { "/freezes/{id_freeze}/units": [ "GET", "POST", "DELETE" ] },
    { "/freezes/{id_freeze}/units/{id_unit}": [ "GET", "DELETE" ] },
    { "/freezes/{id_freeze}/units/{id_unit}/object": [ "GET" ] },
    { "/freezes/{id_freeze}/units/{id_unit}/object/check": [ "GET", "POST" ] },
    { "/destructions": [ "GET" ] },
    { "/destructions/{id_destruction}": [ "GET", "PATCH", "DELETE" ] },
    { "/destructions/{id_destruction}/units": [ "GET", "PATCH", "DELETE" ] },
    { "/destructions/{id_destruction}/units/{id_unit}": [ "GET", "PATCH", "DELETE" ] },
    { "/destructions/{id_destruction}/units/{id_unit}/object": [ "GET" ] },
    { "/destructions/{id_destruction}/units/{id_unit}/object/check": [ "GET", "POST" ] },
    { "/transformations": [ "GET", "POST", "PATCH" ] },
    { "/transformations/{id_transformation}": [ "GET", "PATCH" ] },
    { "/transformations/{id_transformation}/stats": [ "GET" ] },
    { "/formats": [ "GET" ] },
    { "/formats/{id_format}": [ "GET" ] },
    { "/formats/{id_format}/stats": [ "GET" ] },
    { "/formats/{id_format}/transformations": [ "GET" ] },
    { "/formats/{id_format}/transformations/{id_transformation}": [ "GET" ] },
    { "/formats/{id_format}/transformations/{id_transformation}/stats": [ "GET" ] },
    { "/logbooks": [ "GET" ] },
    { "/logbooks/{id_logbook}": [ "GET" ] },
    { "/ingest_contracts": [ "GET", "POST", "PATCH" ] },
    { "/ingest_contracts/{id_contract}": [ "GET", "PATCH", "DELETE" ] },
    { "/ingest_contracts/{id_contract}/stats": [ "GET" ] },
    { "/ingest_contracts/{id_contract}/destruction": [ "GET", "POST" ] },
    { "/ingest_contracts/destruction": [ "GET" ] },
    { "/access_contracts": [ "GET", "POST", "PATCH" ] },
    { "/access_contracts/{id_contract}": [ "GET", "PATCH", "DELETE" ] },
    { "/access_contracts/{id_contract}/stats": [ "GET" ] },
    { "/preservation_contracts": [ "GET", "POST", "PATCH" ] },
    { "/preservation_contracts/{id_contract}": [ "GET", "PATCH", "DELETE" ] },
    { "/preservation_contracts/{id_contract}/stats": [ "GET" ] },
    { "/formats_w": [ "GET", "POST" ] },
    { "/formats_w/{id_format}": [ "GET", "PATCH", "DELETE" ] },
    { "/formats_w/{id_format}/stats": [ "GET" ] },
    { "/formats_w/{id_format}/transformations": [ "GET", "POST", "PATCH" ] },
    { "/formats_w/{id_format}/transformations/{id_transformation}": [ "GET", "PATCH", "DELETE" ] },
    { "/formats_w/{id_format}/transformations/{id_transformation}/stats": [ "GET" ] },
    { "/users": [ "GET", "POST", "PATCH" ] },
    { "/users/{id_user}": [ "GET", "PATCH", "DELETE" ] },
    { "/users/{id_user}/stats": [ "GET" ] },
    { "/roles": [ "GET", "POST", "PATCH" ] },
    { "/roles/{id_role}": [ "GET", "PATCH", "DELETE" ] },
    { "/roles/{id_role}/stats": [ "GET" ] },
    { "/profiles": [ "GET", "POST", "PATCH" ] },
    { "/profiles/{id_profile}": [ "GET", "PATCH", "DELETE" ] },
    { "/profiles/{id_profile}/stats": [ "GET" ] },
    { "/transfers": [ "GET", "POST", "PATCH" ] },
    { "/transfers/{id_transfer}": [ "GET", "PATCH", "DELETE" ] },
    { "/transfers/{id_transfer}/stats": [ "GET" ] },
    { "/storages": [ "GET", "POST", "PATCH" ] },
    { "/storages/{id_storage}": [ "GET", "PATCH", "DELETE" ] },
    { "/storages/{id_storage}/stats": [ "GET" ] },
    { "/servers": [ "GET", "POST", "PATCH" ] },
    { "/servers/{id_server}": [ "GET", "PATCH", "DELETE" ] },
    { "/servers/{id_server}/stats": [ "GET" ] },
    { "/async_tasks": [ "GET" ] },
    { "/async_tasks/{id_async}": [ "GET", "PATCH" ] },
    { "/async_tasks/{id_async}/result": [ "GET" ] },
    { "/me": [ "GET" ] }
  ]
}