{
  "id": "$id_user$",
  "name": "abcdef",
  "creation_date": "2015-07-14T17:07:14Z",
  "user": "xxx",
  "contact_phone": "0123456789",
  "contact_email": "xxx@xxx.fr",
  "numerical_information": 55.3
}