{
 à compléter...!
 "id": "DefaultIngestWorkflow",
 "comment":"Default Ingest Workflow V3",
 "steps":
 [
 {
 "workerGroupId" :"DefaultWorker",
		 "stepName":"Check manifest existence",
		 "stepType":"BLOCK",
		 "distribution" : {
				 "kind":"REF",
				 "element" : "SIP/manifest.xml"
				 },
		 "actions":[{"action":{"actionKey": "checkSeda", "actionType": "NOBLOCK"}}]
 },
 {
 "workerGroupId" :"DefaultWorker",
		 "stepName":"Check Version",
		 "stepType":"BLOCK",
		 "distribution" : {
				 "kind":"REF",
				 "element" : "SIP/manifest.xml"
				 },
		 "actions":[{"action":{"actionKey": "CheckVersion", "actionType": "NOBLOCK"} }]
 },
 {
 "workerGroupId" :"DefaultWorker",
		 "stepName":"Check Objects Number",
		 "stepType":"BLOCK",
		 "distribution" : {
				 "kind":"REF",
				 "element" : "SIP/manifest.xml"
				 },
		 "actions":[{"action":{"actionKey": "CheckObjectsNumber", "actionType": "NOBLOCK"} }]
 },
 {
 "workerGroupId" :"DefaultWorker",
		 "stepName":"Extract Unit and ObjectGroup",
		 "stepType":"BLOCK",
		 "distribution" : {
				 "kind":"REF",
				 "element" : "SIP/manifest.xml"
				 },
			"actions":[{"action":{"actionKey": "ExtractSeda", "actionType": "NOBLOCK"} }]
 },
 {
 "workerGroupId" :"DefaultWorker",
		 "stepName":"Check Storage Availability",
		 "stepType":"BLOCK",
		 "distribution" : {
				 "kind":"REF",
				 "element" : "SIP/manifest.xml"
				 },
		 "actions":[{"action":{"actionKey": "CheckStorageAvailability", "actionType": "NOBLOCK"} }]
 },
 {
 "workerGroupId" :"DefaultWorker",
		 "stepName":"Index Unit",
		 "stepType":"BLOCK",
			 "distribution" : {
				 "kind":"LIST",
				 "element" : "Units"
				 },
		 "actions":[{"action":{"actionKey": "IndexUnit", "actionType": "NOBLOCK"} }]

 },
 {
 "workerGroupId" :"DefaultWorker",
		 "stepName":"Store ObjectGroup",
		 "stepType":"BLOCK",
		 "distribution" : {
				 "kind":"LIST",
				 "element" : "ObjectGroup"
				 },
		 "actions":[{"action":{"actionKey": "StoreObjectGroup", "actionType": "NOBLOCK"} }]
 },
 {
 "workerGroupId" :"DefaultWorker",
		 "stepName":"Index ObjectGroup",
		 "stepType":"BLOCK",
			 "distribution" : {
				 "kind":"LIST",
				 "element" : "ObjectGroup"
				 },
			"actions":[{"action":{"actionKey": "IndexObjectGroup", "actionType": "NOBLOCK"} }]

 },
 {
 "workerGroupId" :"DefaultWorker",
		 "stepName":"Check Digest Message",
		 "stepType":"BLOCK",
		 "distribution" : {
				 "kind":"REF",
				 "element" : "SIP/manifest.xml"
				 },
			"actions":[{"action":{"actionKey": "CheckConformity", "actionType": "NOBLOCK"} }]
 }
 ]
}
