[Unit]
Description=Library : All VITAM documentation in one place !
After=network.target
After=syslog.target

[Service]
Type=simple
ExecStart=/vitam/script/${unix.name}/wrapper.sh
User=${unix.user}
Group=${unix.group}

[Install]
WantedBy=multi-user.target
