<p-panel [header]="'Détail du service agent'">
  <div class="ui-g">
    <div class="ui-g-8 ui-g-offset-2 textAlignLeft" *ngIf="agency">
      <vitam-metadata-field [title]="'Identifiant'" [originalTitle]="'Identifier'"  [value]="agency.Identifier" [labelSize]="4"
                            class="ui-g-12 " [updateMode]="false"></vitam-metadata-field>
      <vitam-metadata-field [title]="'Nom du service agent'" [originalTitle]="'Name'"  [value]="agency.Name" [labelSize]="4"
                            class="ui-g-12 " [updateMode]="false" ></vitam-metadata-field>
      <vitam-metadata-field [title]="'Description'" [originalTitle]="'Description'"  [value]="agency.Description" [labelSize]="4"
                            class="ui-g-12 " [updateMode]="false"></vitam-metadata-field>

    </div>
    <div class="ui-g-3 ui-g-offset-2" *ngIf="hasUnit">
      <button  pButton type="button" (click)="goToSummaryRegisterPage()" label="Registre des fonds" icon="fa-folder-open" ></button>
    </div>
  </div>
</p-panel>