<p-panel [header]="'Génération du DIP'" [toggleable]="true" [collapsed]="false" *ngIf="id">
    <div class="ui-g">
        <div class="ui-g-4 textAlignLeft">
            <p-radioButton value="AU" label="Unité archivistique" [(ngModel)]="exportChoice"></p-radioButton>
        </div>
        <div class="ui-g-8">
            <vitam-metadata-field [title]="'Liste blanche des usages'" [updateMode]="true"
                                  [originalTitle]="'DataObjectVersion'" [optionsFilter]="updatedFields"
                                  [value]="updatedFields" [labelSize]="4" class="ui-g-6"
                                  [(updatedFields)]="updatedFields"></vitam-metadata-field>
        </div>
        <div class="ui-g-4 textAlignLeft">
            <p-radioButton value="FULL" label="Unité archivistique et sa descendance"
                           [(ngModel)]="exportChoice"></p-radioButton>
        </div>
        <div class="ui-g-8"></div>
        <div class="ui-g-4 textAlignLeft">
            <p-radioButton value="INGEST" label="Ensemble de l'entrée" [(ngModel)]="exportChoice"></p-radioButton>
        </div>

        <div class="ui-g-12"></div>
        <div class="ui-g-12">
            <h3>Paramètres communs</h3>
        </div>

        <div class="ui-g-4 textAlignLeft">
            <span>Intitulé</span>
            <br/>
            <input type="text" pInputText placeholder="Intitulé" [(ngModel)]="comment"/>
        </div>
        <div class="ui-g-4 textAlignLeft">
            <span>Contrat d'entrée (Transfer Required)</span>
            <br/>
            <input type="text" pInputText placeholder="Archival Agreement" [(ngModel)]="archivalAgreement"/>
        </div>
        <div class="ui-g-4 textAlignLeft">
            <span>Identifiant du service producteur (Transfer Required)</span>
            <br/>
            <input type="text" pInputText placeholder="Originating Agency Identifier"
                   [(ngModel)]="originatingAgencyIdentifier"/>
        </div>
        <div class="ui-g-4 textAlignLeft">
            <span>Identifiant du service versant</span>
            <br/>
            <input type="text" pInputText placeholder="Submission Agency Identifier"
                   [(ngModel)]="submissionAgencyIdentifier"/>
        </div>

        <div class="ui-g-4 textAlignLeft">
            <span>Identifiant du service d'archives (Required)</span>
            <br/>
            <input type="text" pInputText placeholder="Archival Agency Identifier"
                   [(ngModel)]="archivalAgencyIdentifier"/>
        </div>

        <div class="ui-g-12"></div>
        <div class="ui-g-12">
            <h3>Paramètres pour le transfert</h3>
        </div>

        <div class="ui-g-4 textAlignLeft">
            <span>Référence à un transfert d'archives lié (use ; separator)</span>
            <br/>
            <input type="text" pInputText placeholder="Related Transfer Reference"
                   [(ngModel)]="relatedTransferReference"/>
        </div>

        <div class="ui-g-4 textAlignLeft">
            <span>Identifiant de la réponse à une demande de transfert</span>
            <br/>
            <input type="text" pInputText placeholder="Transfer Request Reply Identifier"
                   [(ngModel)]="transferRequestReplyIdentifier"/>
        </div>

        <div class="ui-g-4 textAlignLeft">
            <span>Service versant</span>
            <br/>
            <input type="text" pInputText placeholder="Transferring Agency" [(ngModel)]="transferringAgency"/>
        </div>

        <div class="ui-g-12"></div>
        <div class="ui-g-12">
            <h3>Paramètres pour le DIP</h3>
        </div>

        <div class="ui-g-4 textAlignLeft">
            <span>Identifiant de la demande (Required) </span>
            <br/>
            <input type="text" pInputText placeholder="Message Request Identifier"
                   [(ngModel)]="messageRequestIdentifier"/>
        </div>

        <div class="ui-g-4 textAlignLeft">
            <span>Identifiant du demandeur (Required)</span>
            <br/>
            <input type="text" pInputText placeholder="Requester Identifier" [(ngModel)]="requesterIdentifier"/>
        </div>

        <div class="ui-g-4 textAlignLeft">
            <span>Identifiant de la réponse à une demande d'autorisation</span>
            <br/>
            <input type="text" pInputText placeholder="Authorization Request Reply Identifier"
                   [(ngModel)]="authorizationRequestReplyIdentifier"/>
        </div>

        <div class="ui-g-12"></div>
        <div class="ui-g-12">
            <div class="ui-g-2">
                <button pButton type="button" (click)="export('MINIMAL')" label="DIP Minimal"></button>
            </div>
            <div class="ui-g-2">
                <button pButton type="button" (click)="export('FULL')" label=" DIP Full"></button>
            </div>
            <div class="ui-g-2">
                <button pButton type="button" (click)="export('TRANSFER')" label="Transfer"></button>
            </div>
            <div class="ui-g-2">
                <button pButton type="button" *ngIf="displayExportTransferSIP" (click)="export('TRANSFERSIP')" label="Export Transfer SIP"></button>
            </div>
        </div>
    </div>


    <p-dialog header="Génération DIP" [(visible)]="display">
        La génération du DIP ou Transfert est en cours...<br/>
        Vous pourrez le télécharger dans le journal des opérations.
        <p-footer>
            <button pButton type="button" (click)="display = false" label="OK"></button>
        </p-footer>
    </p-dialog>

</p-panel>