serverHost: {{vitam_accessexternal_host}}
serverPort: {{vitam_accessexternal_port_https}}
secure: true
sslConfiguration :
 keystore :
  - keyPath : {{vitam_folder_conf}}/keystore_{{ vitam_component }}.p12
    keyPassword : {{p12_ihm_demo_password}}
 truststore : 
  - keyPath : {{vitam_folder_conf}}/truststore_{{vitam_component}}.jks
    keyPassword : {{TrustStorePassword_ingest_external}}
hostnameVerification: false
