<div class="ui-g-12 import-panel">
  <label class="ui-g-12 import-label">Référentiel à importer : </label>
  <div class="ui-g-12">
    <div class="ui-g-4 ui-g-offset-3">
      <p-dropdown [styleClass]="'dropdown100'"  placeholder="Sélectionner la collection"
                  [options]="referentialTypes" [(ngModel)]="referentialType" (onChange)="navigateToPage('import')">
      </p-dropdown>
    </div>
    <div class="ui-g-4 textAlignLeft">
      <button  pButton type="button" (click)="navigateToPage('search')" label="Accèder au référentiel" class="secondaryButton"></button>
    </div>
  </div>
  <vitam-upload-referentials [extensions]="extensions" [uploadAPI]="uploadAPI"
                             [importSucessMsg]="importSucessMsg" [importErrorMsg]="importErrorMsg"></vitam-upload-referentials>
</div>

