:programname, startswith, "vitam" @@{{vitam_logserver_host}}:{{vitam_logserver_port}}
:programname, startswith, "mongo" @@{{vitam_logserver_host}}:{{vitam_logserver_port}}
:programname, startswith, "vitam_accesslog" @@{{vitam_logserver_host}}:{{vitam_logserver_port}}