---
- fail:
    msg: "No access contract defined in extra vars !"
  when: access_contract is undefined or access_contract ==''

- name: create temporary pem file to check workflows status
  local_action: shell openssl pkcs12 -in {{ inventory_dir }}/keystores/client-external/keystore_vitam-admin-int.p12 -out {{ inventory_dir }}/keystores/client-external/keystore_vitam-admin-int.pem  -passin pass:{{ keystores.client_external.vitam_admin_int }} -passout pass:{{ keystores.client_external.vitam_admin_int }} -nodes
  #no_log: true
  vars:
     ansible_become: no

- name: copy temporary PEM certificate
  copy:
    src: "{{ inventory_dir }}/keystores/client-external/keystore_vitam-admin-int.pem"
    dest: "{{ vitam_defaults.folder.root_path }}/tmp/access-external/keystore_vitam-admin-int.pem"
    remote_src: no
    owner: "{{ vitam_defaults.users.vitam }}"
    group: "{{ vitam_defaults.users.group }}"
    mode: "{{ vitam_defaults.folder.conf_permission }}"

- name: Ensure service is started
  service:
    name: "vitam-access-external"
    state: started

- name: wait for service to be up'n'running on business port
  wait_for:
    host: "{{ ip_service }}"
    port: "{{ vitam_struct.port_service }}"
    timeout: "{{ vitam_defaults.services.start_timeout }}"
  run_once: true

# curl -X POST --key /tmp/ihm-demo.key --cert /tmp/ihm-demo.crt https://<IP_access-external>:8443/admin-external/v1/evidenceaudit/ -H 'Content-Type: application/json' -H 'X-Access-Contract-Id: FRAN_CA_0001' -H 'X-Tenant-Id: 2' -d '{ "$query": [ { "$eq": { "#tenant": 2 } } ], "$projection": {} }'

- name: launch "audit coherence" for tenants
  uri:
    url: "{% if vitam_struct.https_enabled == true %}https{% else %}http{% endif %}://{{ ip_service }}:{{ vitam.accessexternal.port_service }}/admin-external/v1/evidenceaudit"
    method: "POST"
    validate_certs: no
    client_cert: "{{ vitam_defaults.folder.root_path }}/tmp/access-external/keystore_vitam-admin-int.pem"
    headers:
      X-Tenant-Id: "{{ item }}"
      Host: "{{ vitam_struct.host }}"
      X-Access-Contract-Id: "{{ access_contract }}"
    body_format: "json"
    body: "{ \"$query\": [ { \"$eq\": { \"#tenant\": {{ item }} } } ], \"$projection\": {} }"
    return_content: yes
  # register: workflow_status
  loop: "{{ vitam_tenant_ids }}"
  run_once: true
  when: (access_contract is defined) and (access_contract != '')

- name: remove temporary PEM certificate
  file:
    path: "{{ vitam_defaults.folder.root_path }}/tmp/access-external/keystore_vitam-admin-int.pem"
    state: absent

- name: remove temporary pem file in ansible
  local_action:
    module: file
    path:  "{{ inventory_dir }}/keystores/client-external/keystore_vitam-admin-int.pem"
    state: absent