[
{% for i in vitam_storageofferdefault_list %}
{% if i.name is defined %}
{
    "id" : "{{i.name}}",
    "baseUrl" : "{{i.protocol}}://{{i.host}}:{{i.port}}",
    "parameters" : {
    }
}
{% if not loop.last %},
{% endif %}
{% endif %}
{% endfor %}
]
