[
{% for item in groups['hosts-storage-offer-default'] %}
{
    "id" : "{{item}}",
    "baseUrl" : "http://{{item}}:{{vitam_storageofferdefault_port}}",
    "parameters" : {
    }
}
{% if not loop.last %},
{% endif %}
{% endfor %}
]
