#jinja2: lstrip_blocks: True
{% set composant_name = vitam.ingestexternal.antivirus | default('clamav') %}
#
# antivirus {{ composant_name }}
#
{% if filebeat.cots.antivirus.enable_log | bool %}
- type: filestream
  id: {{ vitam_site_name }}-{{ composant_name }}-error
  enabled: true
  paths:
    - "{{ vitam_defaults.folder.root_path }}/log/{{ composant_name }}/*.log"
  fields_under_root: true
  fields:
    kind: log
    vitam_component: {{ composant_name }}
    source: vitam
{% endif %}

{% if composant_name == "clamav" %}
  {% if filebeat.cots.antivirus.enable_scan | bool %}
- type: filestream
  id: {{ vitam_site_name }}-{{ composant_name }}-scan
  enabled: true
  paths:
    - "{{ vitam_defaults.folder.root_path }}/log/{{ composant_name }}/clamd.scan"
  fields_under_root: true
  fields:
    kind: scan
    vitam_component: {{ composant_name }}
    source: vitam
  {% endif %}
{% endif %}
