#jinja2: lstrip_blocks: True
{% for cots_service in cots_service_list %}
  {% if filebeat.cots[cots_service].enable_log | default(true) | bool %}
#
# {{ cots_service }}
#
- type: filestream
  id: {{ vitam_site_name }}-{{cots_service }}
  enabled: true
  paths:
    - "{{ vitam_defaults.folder.root_path }}/log/{{ cots_service }}/{{ cots_service }}*.log"
  fields_under_root: true
  fields:
    kind: log
    vitam_component: {{ cots_service }}
    source: vitam
    type: cots
    {% if cots_service == 'consul' %}
  processors:
    - dissect:
        tokenizer: '%{date_time} [%{log_level}]%{*}%{logger}: %{log_message}'
        target_prefix: ""
        trim_values: all
    - timestamp:
        field: date_time
        layouts:
          - '2006-01-02T15:04:05.000-0700'
        test:
          - '2024-09-30T13:46:37.298+0200'
    - drop_fields:
        fields: ["date_time"]
  parsers:
    - multiline:
        type: pattern
        pattern: '^[[:space:]]'
        negate: false
        match: after
    {% endif %}

  {% endif %}
{% endfor %}
