#jinja2: lstrip_blocks: True
{% for vitam_service in vitam_service_list %}
{% set vitam_component = vitam[vitam_service].vitam_component %}
#
# VITAM SERVICE : {{ vitam_component }}
#
  {% if filebeat.services.vitam[vitam_service].enable_access | default(true) | bool %}
- type: filestream
  id: {{ vitam_site_name }}-{{ vitam_component }}-access
  enabled: true
  paths:
    - "{{ vitam_defaults.folder.root_path }}/log/{{ vitam_component }}/accesslog-{{ vitam_component }}.*.log"
  fields_under_root: true
  fields:
    kind: access
    vitam_component: {{ vitam_component }}
    source: vitam
    type: application
  processors:
    - dissect:
        tokenizer: '%{client_ip|ip} - - %{date_time} "%{http_method} %{request_path} HTTP/%{http_version}" %{http_status_code|integer} %{response_size} "%{referer}" "%{user_agent}" %{duration|integer} %{request_id} %{tenant_id} %{application_id}'
        target_prefix: ""
    - timestamp:
        field: date_time
        layouts:
          - '2006-01-02 15:04:05,000'
        test:
          - '2024-09-30 13:46:37,298'
    - drop_fields:
        fields: ["date_time"]
    {% if filebeat.drop_health_checks_logs | default(true) | bool %}
    # Drop Consul and Prometheus health checks
    - drop_event:
        when:
          and:
            - range:
                http_status_code.gte: 200
                http_status_code.lte: 204
            - regexp:
                user_agent: "^(Consul|Prometheus).*"
    {% endif %}

  {% endif %}
  {% if filebeat.services.vitam[vitam_service].enable_security | default(true) | bool %}
- type: filestream
  id: {{ vitam_site_name }}-{{ vitam_component }}-security
  enabled: true
  paths:
    - "{{ vitam_defaults.folder.root_path }}/log/{{ vitam_component }}/{{ vitam_component }}_security.*.log"
  fields_under_root: true
  fields:
    kind: security
    vitam_component: {{ vitam_component }}
    source: vitam
    type: application
  processors:
    - dissect:
        tokenizer: '%{date_time} [[%{thread}]] [%{request_id}] [%{tenant_id|integer}] %{log_level->} %{logger} - %{log_message}'
        target_prefix: ""
        trim_values: all
    - timestamp:
        field: date_time
        layouts:
          - '2006-01-02 15:04:05,000'
        test:
          - '2024-09-30 13:46:37,298'
    - drop_fields:
        fields: ["date_time"]
  parsers:
    - multiline:
        type: pattern
        pattern: '^\d{4}-\d{2}-\d{2}\s+\d{2}:\d{2}:\d{2},\d{3}'
        negate: true
        match: after

  {% endif %}
  {% if filebeat.services.vitam[vitam_service].enable_log | default(true) | bool %}
- type: filestream
  id: {{ vitam_site_name }}-{{ vitam_component }}-log
  enabled: true
  paths:
    - "{{ vitam_defaults.folder.root_path }}/log/{{ vitam_component }}/{{ vitam_component }}.*.log"
  fields_under_root: true
  fields:
    kind: log
    vitam_component: {{ vitam_component }}
    source: vitam
    type: application
  processors:
    - dissect:
        tokenizer: '%{date_time} [[%{thread}]] [%{request_id}] [%{tenant_id|integer}] %{log_level->} %{logger} - %{log_message}'
        target_prefix: ""
        trim_values: all
    - timestamp:
        field: date_time
        layouts:
          - '2006-01-02 15:04:05,000'
        test:
          - '2024-09-30 13:46:37,298'
    - drop_fields:
        fields: ["date_time"]
  parsers:
    - multiline:
        type: pattern
        pattern: '^\d{4}-\d{2}-\d{2}\s+\d{2}:\d{2}:\d{2},\d{3}'
        negate: true
        match: after

  {% endif %}
{% endfor %}
