urlMetadata: {{vitam_metadata_baseurl}}
urlWorkspace: {{vitam_workspace_baseurl}}
jettyConfig: jetty-config.xml
tenants:  [ "{{ vitam_tenant_ids | join('", "') }}" ]
workflowRefreshPeriod: 1
processingCleanerPeriod: 1
