<!doctype html>
<html lang="en" ng-app="ihm.demo">
<head>
  <meta charset="utf-8">
  <meta name=viewport content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">

  <title ng-bind="$root.title"></title>
  <link rel="icon" type="image/png" href="favicon.png" />
  <link rel="stylesheet" href="css/app.css" />
  <!-- <link rel="stylesheet" href="css/app.animations.css" /> -->

  <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="vendor/bootstrap-material-design-icons/css/material-icons.css">
  <link rel="stylesheet" href="css/styles.css" />
  <link rel="stylesheet" href="vendor/angular-material/angular-material.min.css">
  <link rel="stylesheet" href="vendor/v-accordion/dist/v-accordion.css" />

  <script src="vendor/jquery/dist/jquery.min.js"></script>
  <script src="vendor/angular/angular.min.js"></script>
  <script src="vendor/angular-cookies/angular-cookies.min.js"></script>
  <script src="vendor/angular-aria/angular-aria.min.js"></script>
  <script src="vendor/angular-material/angular-material.min.js"></script>
  <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="vendor/angular-file-upload/dist/angular-file-upload.min.js"></script>
  <script src="vendor/angular-animate/angular-animate.min.js"></script>
  <script src="vendor/angular-resource/angular-resource.min.js"></script>
  <script src="vendor/angular-route/angular-route.min.js"></script>
  <script src="vendor/angular-ui-bootstrap-bower/ui-bootstrap-tpls.min.js"></script>
  <script src="vendor/lodash/lodash.js"></script>
  <script src="vendor/restangular/dist/restangular.min.js"></script>
  <script src="vendor/angular-messages/angular-messages.min.js"></script>
  <script src="vendor/v-accordion/dist/v-accordion.min.js"></script>
  <script src="vendor/angular-shiro/dist/angular-shiro.min.js"></script>
  <script src="vendor/jquery-ui/jquery-ui.min.js"></script>
  <script src="vendor/angular-translate/angular-translate.min.js"></script>
  <script src="vendor/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
  <script src="vendor/angular-mocks/angular-mocks.js"></script>
    <script src="vendor/ng-file-upload/ng-file-upload-shim.min.js"></script>
    <script src="vendor/ng-file-upload/ng-file-upload.min.js"></script>
  <!-- concatenated flow.js + ng-flow libraries -->
  <!-- <script src="bower_components/ng-flow/dist/ng-flow-standalone.js"></script> -->
  <!-- or include the files separately -->
  <!-- <script src="bower_components/flow.js/dist/flow.min.js"></script> -->
  <!-- <script src="bower_components/ng-flow/dist/ng-flow.min.js"></script> -->
  <script src="modules/flow/ng-flow-standalone.js"></script>

  <script src="modules/parent/app.module.js"></script>
  <script src="modules/parent/app.config.js"></script>
  <script src="js/controller/upload-sip-controller.js"></script>
  <script src="modules/logbook-operation-ingest/logbook-controller.js"></script>
  <script src="modules/logbook-operation-ingest/logbook-component.js"></script>
  <script src="modules/logbook-operation-ingest/logbook-entry-controller.js"></script>

  <script src="modules/file-format/fileformat-component.js"></script>
  <script src="modules/file-format/fileformat-controller.js"></script>
  <script src="js/controller/admin-controller.js"></script>
  <script src="js/controller/import-pronoun-controller.js"></script>
  <script src="js/controller/import-contracts-controller.js"></script>
  <script src="js/controller/import-access-contracts-controller.js"></script>
  <script src="js/controller/import-profiles-controller.js"></script>
  <script src="js/controller/import-contexts-controller.js"></script>
  <script src="modules/file-rules/filerules-component.js"></script>
  <script src="modules/file-rules/filerules-controller.js"></script>
  <script src="js/controller/import-rulesfile-controller.js"></script>

  <script src="modules/core/core.module.js"></script>
  <script src="modules/core/ihm-demo-factory.js"></script>
  <script src="modules/core/main.controller.js"></script>
  <script src="modules/core/ihm-demo-service.js"></script>

  <script src="core/directives/dynamic-table.directive.js"></script>
  <script src="core/directives/logbook-entry-table.directive.js"></script>
  <script src="core/directives/datepicker.directive.js"></script>
  <script src="core/directives/search-pagination.directive.js"></script>

  <script src="modules/archive-unit-search/archive-search.module.js"></script>
  <script src="modules/archive-unit-search/archive-search.controller.js"></script>
  <script src="modules/archive-unit-search/archive-search.component.js"></script>

  <script src="modules/archive-unit/archive-unit.module.js"></script>
  <script src="modules/archive-unit/archive-unit.constant.js"></script>
  <script src="modules/archive-unit/archive-unit.controller.js"></script>
  <script src="modules/archive-unit/archive-unit.component.js"></script>
  <script src="core/directives/display-field.directive.js"></script>
  <script src="core/directives/display-fieldtree.directive.js"></script>

  <script src="modules/logbook-operation/logbook-operation-component.js"></script>
  <script src="modules/logbook-operation/logbook-operation-controller.js"></script>
  <script src="js/controller/operation-logbook-entry.controller.js"></script>

  <script src="modules/lifecycle/lifecycle.module.js"></script>
  <script src="modules/lifecycle/lifecycle.controller.js"></script>
  <script src="modules/lifecycle/lifecycle.component.js"></script>

  <script src="modules/accession-register-search/accession-register-search.module.js"></script>
  <script src="modules/accession-register-search/accession-register-search.controller.js"></script>
  <script src="modules/accession-register-search/accession-register-search.component.js"></script>

  <script src="resources/access-contract.resource.js"></script>
  <script src="pages/access-contract-search/access-contract.module.js"></script>
  <script src="pages/access-contract-search/access-contract-controller.js"></script>
  <script src="pages/access-contract-search/access-contract-component.js"></script>
  <script src="pages/access-contract-details/access-contract-details.controller.js"></script>

  <script src="resources/entry-contract.resource.js"></script>
  <script src="pages/entry-contract-search/entry-contract.module.js"></script>
  <script src="pages/entry-contract-search/entry-contract.controller.js"></script>
  <script src="pages/entry-contract-search/entry-contract.component.js"></script>
  <script src="pages/entry-contract-details/entry-contract-details.controller.js"></script>

  <script src="resources/profile-details.resource.js"></script>
  <script src="pages/profiles-search/profiles-search.module.js"></script>
  <script src="pages/profiles-search/profiles-search.controller.js"></script>
  <script src="pages/profiles-search/profiles-search.component.js"></script>
  <script src="pages/profiles-details/profiles-details.controller.js"></script>

  <script src="resources/messages.resource.js"></script>

  <script src="pages/accession-register-details/accession-register-details.module.js"></script>
  <script src="pages/accession-register-details/accession-register-details.controller.js"></script>
  <script src="pages/accession-register-details/accession-register-details.component.js"></script>

  <script src="services/accession-register.service.js"></script>
  <script src="resources/accession-register.resource.js"></script>

  <script src="core/services/process-response.service.js"></script>
  <script src="core/services/process-search.service.js"></script>
  <script src="core/services/unece-mapping.service.js"></script>

  <script src="core/filters/pagination-start.filter.js"></script>
  <script src="core/factory/http-interceptor.filter.js"></script>
  <script src="services/logbook-entry-full.service.js"></script>


  <script src="pages/workflows/workflows.module.js"></script>
  <script src="pages/workflows/workflows.controller.js"></script>
  <script src="pages/workflows/workflows.component.js"></script>

  <script src="pages/workflows/workflows.module.js"></script>
  <script src="pages/workflows/workflows.controller.js"></script>
  <script src="pages/workflows/workflows.component.js"></script>

  <script src="pages/workflows/workflows.module.js"></script>
  <script src="pages/workflows/workflows.controller.js"></script>
  <script src="pages/workflows/workflows.component.js"></script>

  <script src="pages/workflows/workflows.module.js"></script>
  <script src="pages/workflows/workflows.controller.js"></script>
  <script src="pages/workflows/workflows.component.js"></script>

  <script src="resources/profile-download.resource.js"></script>
  <script src="services/profile-download.service.js"></script>

  <script src="resources/traceability-operation-search.resource.js"></script>
  <script src="services/traceability-operation-search.service.js"></script>

  <script src="resources/traceability-operation-download.resource.js"></script>
  <script src="services/traceability-operation-download.service.js"></script>

  <script src="services/traceability-operation-details.service.js"></script>
  <script src="resources/traceability-operation-details.resource.js"></script>

  <script src="pages/traceability-operation-search/traceability-operation-search.module.js"></script>
  <script src="pages/traceability-operation-search/traceability-operation-search.controller.js"></script>
  <script src="pages/traceability-operation-search/traceability-operation-search.component.js"></script>

  <script src="pages/traceability-operation-details/traceability-operation-details.module.js"></script>
  <script src="pages/traceability-operation-details/traceability-operation-details.controller.js"></script>
  <script src="pages/traceability-operation-details/traceability-operation-details.component.js"></script>

  <script src="resources/traceability-operation-search.resource.js"></script>
  <script src="services/traceability-operation-search.service.js"></script>

  <script src="resources/traceability-operation-download.resource.js"></script>
  <script src="services/traceability-operation-download.service.js"></script>

  <script src="services/traceability-operation-details.service.js"></script>
  <script src="resources/traceability-operation-details.resource.js"></script>

  <script src="pages/traceability-operation-search/traceability-operation-search.module.js"></script>
  <script src="pages/traceability-operation-search/traceability-operation-search.controller.js"></script>
  <script src="pages/traceability-operation-search/traceability-operation-search.component.js"></script>

  <script src="pages/traceability-operation-details/traceability-operation-details.module.js"></script>
  <script src="pages/traceability-operation-details/traceability-operation-details.controller.js"></script>
  <script src="pages/traceability-operation-details/traceability-operation-details.component.js"></script>

  <script src="core/filters/date.filter.js"></script>
  <script src="core/filters/replace.filter.js"></script>
  <script src="core/filters/ruleMeasurement.filter.js"></script>

  <!-- FIXME Find better way to fix it -->
  <script src="modules/multiselect/angular-bootstrap-multiselect.js"></script>

</head>

<body  ng-controller='mainViewController'>

<!--
*
*    #GLOBAL
*
*    @desc: Main container
*
-->
<div id="global" class="container-fluid">

  <!-- MAIN HEADER -->
  <header id="mainHeader" class="navbar navbar-default navbar-fixed-top" ng-if="showMenuBar">

    <div class="container-fluid">
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand"><img class="logo img-responsive pull-left" src="images/logoIHMRelease4.png" alt="Vitam Beta" title="Vitam" />vitam</a>
      </div>

      <div id="navbar" class="navbar-collapse collapse" ng-if="session.status=='logged'">
        <ul class="nav navbar-nav">
          <li class="@@mainMenu1 dropdown" ng-show="hasPermission('ingest:create') || hasPermission('logbook:operations:read')">
            <button class="block dropdown-toggle" data-toggle="dropdown">
              <i class="material-icons pull-left">cloud_queue</i>
              <span class="pull-left m-l-10">Entrée</span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="Entree">
              <li><a tabindex="-1" href="#!/uploadSIP" ng-show="hasPermission('ingest:create')">Transfert SIP</a></li>
              <li><a tabindex="-1" href="#!/uploadFilingsScheme" ng-show="hasPermission('ingest:create')">Transfert du plan de classement</a></li>
              <li><a href="#!/admin/logbookOperations" ng-show="hasPermission('logbook:operations:read')">Suivi des opérations d'entrée</a></li>
            </ul>
          </li>
          <li class="@@mainMenu2 dropdown" >
            <button class="block dropdown-toggle" data-toggle="dropdown">
              <i class="material-icons pull-left">search</i>
              <span class="pull-left m-l-10">Recherche</span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="Recherche">
                <li><a href="#!/archiveSearch" ng-show="hasPermission('archivesearch:units:read')">Recherche d'archives</a></li>
                <li><a href="#!/accessionRegister/search" ng-show="hasPermission('admin:accession-register:read')">Registre des fonds</a></li>
            </ul>
          </li>
          <li class="@@mainMenu3 dropdown" ng-show="hasPermission('admin:rules:read') || hasPermission('admin:formats:read') ||
                hasPermission('logbook:operations:read') || hasPermission('operations:read') ||
                hasPermission('rules:create') || hasPermission('format:create') ">
            <button class="block dropdown-toggle" data-toggle="dropdown">
              <i class="material-icons pull-left">access_time</i>
              <span class="pull-left m-l-10">Administration</span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="AdminFonctionnelle">
              <li><a href="#!/admin/rules" ng-show="hasPermission('admin:rules:read')">Référentiel des règles de gestion</a></li>
              <li><a href="#!/admin/formats" ng-show="hasPermission('admin:formats:read')">Référentiel des formats</a></li>
              <li><a href="#!/admin/profiles" ng-show="hasPermission('profiles:read')">Référentiel des profils</a></li>
              <li><a href="#!/admin/journalOperations" ng-show="hasPermission('logbook:operations:read')">Journal des Opérations</a></li>
              <li><a href="#!/admin/workflows" ng-show="hasPermission('operations:read')">Gestion des opérations</a></li>
              <li><a href="#!/admin/entryContracts" ng-show="hasPermission('contracts:read')">Contrats d'entrée</a></li>
              <li><a href="#!/admin/accessContracts" ng-show="hasPermission('accesscontracts:read')">Contrats d'accès</a></li>

              <li><a href="#!/admin/traceabilityOperationSearch" ng-show="hasPermission('logbook:operations:read')">Opérations de sécurisation</a></li>
              <li class="divider" ng-show="hasPermission('rules:create') || hasPermission('format:create') || hasPermission('contracts:create')"></li>
              <li><a href="#!/uploadHoldingScheme" ng-show="hasPermission('rules:create')">Import de l'arbre de positionnement</a></li>
              <li><a href="#!/admin/importFileRules" ng-show="hasPermission('rules:create')">Import du Référentiel des Règles de gestion</a></li>
              <li><a href="#!/admin/importPronoun" ng-show="hasPermission('format:create')">Import du Référentiel des formats</a></li>
              <li><a href="#!/admin/importContracts" ng-show="hasPermission('contracts:create')">Import des contrats d'entrée</a></li>
              <li><a href="#!/admin/importAccessContracts" ng-show="hasPermission('contracts:create')">Import des contrats d'accès</a></li>
              <li><a href="#!/admin/importProfiles" ng-show="hasPermission('profiles:create')">Import des profils</a></li>
              <li><a href="#!/admin/importContexts" ng-show="hasPermission('contexts:create')">Import des contextes</a></li>
            </ul>
          </li>
          <li class="@@mainMenu2">
            <a href="#!/archiveGestion">
              <i class="material-icons pull-left">data_usage</i>
              <span class="pull-left m-l-10">Gestion des archives</span>
            </a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown" style="padding-top: 25px; right:50px">
            <span for="accessContractId" style="display:inline">Contrat d'accès :</span>
            <select style="margin-left: 5px; max-width: 300px" ng-model="accessContratId" id = "accessContractId"  ng-change="changeContract(accessContratId)">
              <option ng-repeat='contract in contracts' value="{{contract.Name}}">{{contract.Name}}</option>
              <option value=" "> </option>
            </select>
          </li>
          <li class="dropdown" style ="padding-top: 25px" ng-show="user">
            {{user.userName}} (tenant : {{user.tenantId}})
          </li>
          <li class="dropdown">
            <button class="block dropdown-toggle" data-toggle="dropdown">
              <i class="material-icons">settings</i>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="" ng-click="logoutUser()">Déconnexion</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

  </header>
  <!-- end MAIN HEADER -->

  <!-- ////////////////////////////////////////////////////////////////////////////// -->



    <div class="page-container" ng-if="showMenuBar" >
        <div ng-view class="page"></div>
        <div id="nvlEntree" class="modal fade">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="background:#dc143c">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><span style="color:#fff">Erreur</span></h4>
                    </div>
                    <div class="modal-body">
                        <h5>Une erreur interne VITAM est survenue. Merci de bien vouloir contacter le support avec l'information suivante :</h5>
                        <h4> {{requestServerRequestId}} </h4>
                    </div>
                    <div class="clearfix"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <div class="view-container" ng-if="!showMenuBar">
    <div ng-view class="view-frame"></div>
  </div>


  <!-- ////////////////////////////////////////////////////////////////////////////// -->

  <!-- MAIN FOOTER -->
  <footer class="mainFooter"></footer>
  <!-- end MAIN FOOTER -->

</div>
</body>

</html>
