provider: tape-library

tapeLibraryConfiguration:
  inputFileStorageFolder: "/vitam/data/offer3/inputFiles"
  inputTarStorageFolder: "/vitam/data/offer3/inputTars"
  tmpTarOutputStorageFolder: "/vitam/data/offer3/tmpTarOutput"
  cachedTarStorageFolder: "/vitam/data/offer3/cachedTars"
  maxTarEntrySize: 100000
  maxTarFileSize: 1000000
  useSudo: False
  forceOverrideNonEmptyCartridges: False
  cachedTarMaxStorageSpaceInMB: 1000
  cachedTarEvictionStorageSpaceThresholdInMB: 800
  cachedTarSafeStorageSpaceThresholdInMB: 700

  topology:
    buckets:
      test:
        tenants: [0]
        tarBufferingTimeoutInMinutes: 2
      admin:
        tenants: [1]
        tarBufferingTimeoutInMinutes: 2
      prod:
        tenants: [2,3,4,5,6,7,8,9]
        tarBufferingTimeoutInMinutes: 2

  tapeLibraries:
    TAPE_LIB_1:
      robots:
        -
          device: /dev/tape/by-id/scsi-1QUANTUM_$SERIAL_NUMBER_ROBOT$
          mtxPath: "/usr/sbin/mtx"
          timeoutInMilliseconds: 600000
      drives:
        -
          index: 0
          device: /dev/tape/by-id/scsi-1IBM_ULT3580-TD6_$SERIAL_NUMBER_DRIVE1$-nst
          mtPath: "/bin/mt"
          ddPath: "/bin/dd"
          tarPath: "/bin/tar"
          timeoutInMilliseconds: 600000
        -
          index: 1
          device: /dev/tape/by-id/scsi-1IBM_ULT3580-TD6_$SERIAL_NUMBER_DRIVE2$-nst
          mtPath: "/bin/mt"
          ddPath: "/bin/dd"
          tarPath: "/bin/tar"
          timeoutInMilliseconds: 600000

