contextPath: /
# Smile : TODO : remove storagePath from this file
storagePath: {{vitam_folder_data}}
jettyConfig: jetty-config.xml
authentication : true
tenants:  [ "{{ vitam_tenant_ids | join('", "') }}" ]
