# Module: elasticsearch
# Docs: https://www.elastic.co/guide/en/beats/filebeat/7.17/filebeat-module-elasticsearch.html

- module: elasticsearch
  server:
    enabled: {{ filebeat.cots.elasticsearch_data.enable_server | bool | lower if inventory_hostname in groups['hosts_elasticsearch_data'] else filebeat.cots.elasticsearch_log.enable_server | bool | lower }}
    var.paths:
{% if inventory_hostname in groups['hosts_elasticsearch_data'] %}
      - "{{ vitam_defaults.folder.root_path }}/log/elasticsearch-data/elasticsearch-data.log"
{% endif %}
{% if inventory_hostname in groups['hosts_elasticsearch_log'] %}
      - "{{ vitam_defaults.folder.root_path }}/log/elasticsearch-log/elasticsearch-log.log"
{% endif %}
    input:
      fields_under_root: true
      fields:
        kind: log
        vitam_component: {{ 'elasticsearch-data' if inventory_hostname in groups["hosts_elasticsearch_data"] else 'elasticsearch-log' }}
        source: vitam
        type: cots
      processors:
        - dissect:
            tokenizer: '[%{date_time}][%{log_level}]%{*}[%{logger}] [%{node_name}] %{log_message}'
            target_prefix: ""
            trim_values: all
        - timestamp:
            field: date_time
            layouts:
              - '2006-01-02T15:04:05,000'
            test:
              - '2024-09-30T14:51:17,100'
        - drop_fields:
            fields: ["date_time", "node_name"]

  audit:
    enabled: {{ filebeat.cots.elasticsearch_data.enable_audit | bool | lower if inventory_hostname in groups['hosts_elasticsearch_data'] else filebeat.cots.elasticsearch_log.enable_audit | bool | lower }}
    var.paths:
{% if inventory_hostname in groups['hosts_elasticsearch_data'] %}
      - "{{ vitam_defaults.folder.root_path }}/log/elasticsearch-data/elasticsearch-data_audit.log"
{% endif %}
{% if inventory_hostname in groups['hosts_elasticsearch_log'] %}
      - "{{ vitam_defaults.folder.root_path }}/log/elasticsearch-log/elasticsearch-log_audit.log"
{% endif %}
    input:
      fields_under_root: true
      fields:
        kind: audit
        vitam_component: {{ 'elasticsearch-data' if inventory_hostname in groups["hosts_elasticsearch_data"] else 'elasticsearch-log' }}
        source: vitam
        type: cots
      processors:
        - dissect:
            tokenizer: '[%{date_time}][%{log_level}]%{*}[%{logger}] [%{node_name}] %{log_message}'
            target_prefix: ""
            trim_values: all
        - timestamp:
            field: date_time
            layouts:
              - '2006-01-02T15:04:05,000'
            test:
              - '2024-09-30T14:51:17,100'
        - drop_fields:
            fields: ["date_time", "node_name"]

  slowlog:
    enabled: {{ filebeat.cots.elasticsearch_data.enable_slowlog | bool | lower if inventory_hostname in groups['hosts_elasticsearch_data'] else filebeat.cots.elasticsearch_log.enable_slowlog | bool | lower }}
    var.paths:
{% if inventory_hostname in groups['hosts_elasticsearch_data'] %}
      - "{{ vitam_defaults.folder.root_path }}/log/elasticsearch-data/elasticsearch-data_*_slowlog.log"
{% endif %}
{% if inventory_hostname in groups['hosts_elasticsearch_log'] %}
      - "{{ vitam_defaults.folder.root_path }}/log/elasticsearch-log/elasticsearch-log_*_slowlog.log"
{% endif %}
    input:
      fields_under_root: true
      fields:
        kind: slowlog
        vitam_component: {{ 'elasticsearch-data' if inventory_hostname in groups["hosts_elasticsearch_data"] else 'elasticsearch-log' }}
        source: vitam
        type: cots
      processors:
        - dissect:
            tokenizer: '[%{date_time}][%{log_level}]%{*}[%{logger}] [%{node_name}] %{log_message}'
            target_prefix: ""
            trim_values: all
        - timestamp:
            field: date_time
            layouts:
              - '2006-01-02T15:04:05,000'
            test:
              - '2024-09-30T14:51:17,100'
        - drop_fields:
            fields: ["date_time", "node_name"]

  deprecation:
    enabled: {{ filebeat.cots.elasticsearch_data.enable_deprecation | bool | lower if inventory_hostname in groups['hosts_elasticsearch_data'] else filebeat.cots.elasticsearch_log.enable_deprecation | bool | lower }}
    var.paths:
{% if inventory_hostname in groups['hosts_elasticsearch_data'] %}
      - "{{ vitam_defaults.folder.root_path }}/log/elasticsearch-data/elasticsearch-data_deprecation.log"
{% endif %}
{% if inventory_hostname in groups['hosts_elasticsearch_log'] %}
      - "{{ vitam_defaults.folder.root_path }}/log/elasticsearch-log/elasticsearch-log_deprecation.log"
{% endif %}
    input:
      fields_under_root: true
      fields:
        kind: deprecation
        vitam_component: {{ 'elasticsearch-data' if inventory_hostname in groups["hosts_elasticsearch_data"] else 'elasticsearch-log' }}
        source: vitam
        type: cots
      processors:
        - dissect:
            tokenizer: '[%{date_time}][%{log_level}]%{*}[%{logger}] [%{node_name}] %{log_message}'
            target_prefix: ""
            trim_values: all
        - timestamp:
            field: date_time
            layouts:
              - '2006-01-02T15:04:05,000'
            test:
              - '2024-09-30T14:51:17,100'
        - drop_fields:
            fields: ["date_time", "node_name"]
