# Module: kibana
# Docs: https://www.elastic.co/guide/en/beats/filebeat/7.17/filebeat-module-kibana.html

- module: kibana
  log:
    enabled: {{ filebeat.cots.kibana_data.enable_log | bool | lower if inventory_hostname in groups['hosts_kibana_data'] else filebeat.cots.kibana_log.enable_log | bool | lower }}
    var.paths:
      - "{{ vitam_defaults.folder.root_path }}/log/kibana/kibana.log"
    input:
      fields_under_root: true
      fields:
        kind: log
        vitam_component: {{ 'kibana-data' if inventory_hostname in groups["hosts_kibana_data"] else 'kibana-log' }}
        source: vitam
        type: cots
      processors:
        - dissect:
            tokenizer: '[%{date_time}][%{log_level}]%{*}[%{logger}] %{log_message}'
            target_prefix: ""
            trim_values: all
        - timestamp:
            field: date_time
            layouts:
              - '2006-01-02T15:04:05,000'
            test:
              - '2024-09-30T14:51:17,100'
        - drop_fields:
            fields: ["date_time"]

  audit:
    enabled: {{ filebeat.cots.kibana_data.enable_audit | bool | lower if inventory_hostname in groups['hosts_kibana_data'] else filebeat.cots.kibana_log.enable_audit | bool | lower }}
    input:
      fields_under_root: true
      fields:
        kind: audit
        vitam_component: {{ 'kibana-data' if inventory_hostname in groups["hosts_kibana_data"] else 'kibana-log' }}
        source: vitam
        type: cots
      processors:
        - dissect:
            tokenizer: '[%{date_time}][%{log_level}]%{*}[%{logger}] %{log_message}'
            target_prefix: ""
            trim_values: all
        - timestamp:
            field: date_time
            layouts:
              - '2006-01-02T15:04:05,000'
            test:
              - '2024-09-30T14:51:17,100'
        - drop_fields:
            fields: ["date_time"]
