# Module: logstash
# Docs: https://www.elastic.co/guide/en/beats/filebeat/8.18/filebeat-module-logstash.html

- module: logstash
  log:
    enabled: {{ filebeat.cots.logstash.enable_log | bool | lower }}
    var.paths:
      - "{{ vitam_defaults.folder.root_path }}/log/logstash/logstash-plain.log"
    input:
      type: filestream
      id: {{ vitam_site_name }}-logstash-log
      fields_under_root: true
      fields:
        kind: log
        vitam_component: logstash
        source: vitam
        type: cots
      processors:
        - dissect:
            tokenizer: '[%{date_time}][%{log_level}][%{logger}] %{log_message}'
            target_prefix: ""
            trim_values: all
        - timestamp:
            field: date_time
            layouts:
              - '2006-01-02T15:04:05,000'
            test:
              - '2024-09-30T14:51:17,100'
        - drop_fields:
            fields: ["date_time", "message", "fileset", "service"]
      parsers:
        - multiline:
            type: pattern
            pattern: '^\[^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2},\d{3}\]'
            negate: true
            match: after

  slowlog:
    enabled: false
