[
    {% for tenant  in vitam_tenant_ids %}
    {
        "collection": "UNIT",
        "tenant": {{ tenant }}
    },
    {
        "collection": "OBJECTGROUP",
        "tenant": {{ tenant }}
    }
    {% if not loop.last %},{% endif %}
    {% endfor %}
    ,
    {
        "collection": "UNIT_GRAPH",
        "tenant": {{ vitam_tenant_admin }}
    }
    ,
    {
        "collection": "OBJECTGROUP_GRAPH",
        "tenant": {{ vitam_tenant_admin }}
    }
]
