#!/usr/bin/env bash
set -e

CURRENT_DIR="$( cd "$( readlink -f $(dirname ${BASH_SOURCE[0]}) )" ; pwd )"
STORE_GRAPH_URL="http://{{ ip_admin }}:{{ vitam.metadata.port_admin }}/metadata/v1/storegraph"

function log() {
    LEVEL=${1}
    MSG=${2}
    TIMESTAMP=$( date +"%Y-%m-%d %H:%M:%S" )
    echo ${TIMESTAMP} [[vitam-metadata-store-graph]] [vitam-metadata-store-graph] ${LEVEL} storegraph.sh - vitam-metadata-store-graph.service : [${HOSTNAME}:vitam-metadata-store-graph.service:0] ${MSG}
}

function local_curl() {
    COLLECTION=${1}
    curl -s -X GET -H "X-Tenant-Id: {{ vitam_tenant_admin }}" -H "Content-Type: application/json" --user "${VITAM_ADMIN_AUTH}" ${STORE_GRAPH_URL}
    log "INFO" "${MSG}"
}

# Main
local_curl
