<p-panel [header]="'Détail du profil d\'unités archivistiques'">
  <div class="ui-g" *ngIf="!saveRunning">
    <div class="ui-g-8"></div>
    <div class="ui-g-2" *ngIf="!update"></div>
    <div class="ui-g-2" *ngIf="!update">
      <button pButton class="ui-button" (click)="switchUpdateMode()" label="Modifier"
              icon="fa-edit" iconPos="left"></button>
    </div>
    <div class="ui-g-2" *ngIf="update">
      <button pButton class="ui-button secondaryButton" (click)="switchUpdateMode()" label="Annuler"
              icon="fa-close" iconPos="left"></button>
    </div>
    <div class="ui-g-2" *ngIf="update">
      <button pButton class="ui-button" (click)="saveUpdate()" label="Sauvegarder"
              icon="fa-save" iconPos="left"></button>
    </div>
    <div class="ui-g-12 textAlignLeft" *ngIf="archiveUnitProfile">
      <div class="ui-g-12">
        <vitam-metadata-field [title]="'Identifiant'" [originalTitle]="'Identifier'" [value]="modifiedArchiveUnitProfile.Identifier" [labelSize]="4"
                              class="ui-g-4" [updateMode]="false" [(updatedFields)]="updatedFields"></vitam-metadata-field>

        <vitam-metadata-field [title]="'Date de création'"  [originalTitle]="'CreationDate'" [value]="modifiedArchiveUnitProfile.CreationDate" [labelSize]="4"
                              class="ui-g-4" [updateMode]="false" [(updatedFields)]="updatedFields"></vitam-metadata-field>

        <vitam-metadata-field [title]="'Dernière modification'"  [originalTitle]="'LastUpdate'" [value]="modifiedArchiveUnitProfile.LastUpdate" [labelSize]="5"
                              class="ui-g-4 " [updateMode]="false" [(updatedFields)]="updatedFields"></vitam-metadata-field>

      </div>
      <div class="ui-g-12">
        <vitam-metadata-field [title]="'Intitulé'" [originalTitle]="'Name'"  [value]="modifiedArchiveUnitProfile.Name" [labelSize]="4"
                              class="ui-g-4" [updateMode]="update" [(updatedFields)]="updatedFields"></vitam-metadata-field>

        <div class="ui-g-4">
          <div class="ui-g-nopad ui-g-4">
            <label class="label fieldLabel">Statut</label>
          </div>
          <div class="ui-g-nopad ui-g-8" *ngIf="!update">
            <span class="overflow-break-words" >{{isActif ? 'Actif' : 'Inactif'}}</span>
          </div>
          <div class="ui-g-nopad ui-g-8" *ngIf="update">
            <p-toggleButton onLabel="Actif" offLabel="Inactif" [(ngModel)]="isActif" (onChange)="changeStatus()"></p-toggleButton>
          </div>
        </div>

        <vitam-metadata-field [title]="'Tenant'" [value]="modifiedArchiveUnitProfile['#tenant']" [labelSize]="5"
                              class="ui-g-4 minHeight45 " [updateMode]="false" [(updatedFields)]="updatedFields"></vitam-metadata-field>
        
      </div>
      <div class="ui-g-12">
        <vitam-metadata-field [title]="'Description'"  [originalTitle]="'Description'"  [value]="modifiedArchiveUnitProfile.Description" [labelSize]="4"
                              class="ui-g-4 " [updateMode]="update" [(updatedFields)]="updatedFields"></vitam-metadata-field>

      </div>
      
      <div class="ui-g-12">
      	<vitam-metadata-field [title]="'Schéma de contrôle'"  [originalTitle]="'ControlSchema'"  [value]="modifiedArchiveUnitProfile.ControlSchema" [labelSize]="2"
                              class="ui-g-12 " [updateMode]="update" [(updatedFields)]="updatedFields"></vitam-metadata-field>
		<button pButton type="button" label="Valider JSON" (click)="checkJson()"></button>                              		
		<div class="ui-g-3 margin-top-5" [ngClass]="validRequest ? validRequest.css : ''">
      		{{validRequest ? "JSON " + validRequest.valid : ""}}
    	</div>
      </div>
      
    </div>
  </div>

  <div *ngIf="saveRunning">
    Sauvegarde des métadonnées en cours...
  </div>

</p-panel>