#providing some properties used by this engine, and between other engine
ingest.core.port={{vitam_internal_http_port_web}}
ingest.core.rest.upload=ingest/upload
ingest.core.status=ingest/status
ingest.core.uploaded.dir=/vitam/data/{{internal_name}}
ingest.core.log.dir=/vitam/log/{{internal_name}}
