#providing some properties used by this engine, and between other engine
ingest.core.port={{vitam_internal_http_port_web}}
ingest.core.rest.upload=ingest/upload
ingest.core.status=ingest/status
ingest.core.uploaded.dir=/vitam/data
ingest.core.log.dir=/vitam/log

ingest.core.workspace.client.uri={{vitam_workspace_baseurl}}
ingest.core.processing.uri={{vitam_processing_baseurl}}
ingest.core.logbook.server={{vitam_logbook_host}}
ingest.core.logbook.port={{vitam_logbook_port}}