#!/usr/bin/env bash

echo "SCSI 2 tape drive:\bFile number=-1, block number=-1, partition=0.\bTape block size 0 bytes. Density code 0x0 (default).\bSoft error count since last status=0\bGeneral status bits on (50000):\b DR_OPEN IM_REP_EN" >&2

exit 0