
input
{
    # --- syslog input etc ...
    syslog {
        add_field => [ "input", "syslog" ]
        host => "{{ ip_admin }}"
        port => 10514
        codec => plain { charset=>"UTF-8" }
    }

    # Disable this input as it seems we have an infinite loop bug in logstash 2.4 with json logs
    # TODO: Retry this with logstash v5
    # Logstash logs
    # file {
    #     path => [ "/vitam/log/logstash/logstash.log" ]
    #     add_field => [ "input", "logstash" ]
    #     # For test purpose only:
    #     # start_position => "beginning"
    # }
}
