{
  "index_patterns": ["logstash-*"],
  "settings" : {
    "index.refresh_interval" : "10s",
    {% if groups['hosts_elasticsearch_log']|length > 1 %}
    "number_of_replicas": {{ kibana.log.metrics.replica }},
    {% else %}
    "number_of_replicas": 0,
    {% endif %}
    "number_of_shards": {{ kibana.log.metrics.shards }}
  },
  "mappings" : {
    "_default_" : {
      "properties": {
         "time": {
            "type": "integer"
          }
      },
      "dynamic_templates" : [
        {
          "message_field" : {
            "path_match" : "message",
            "match_mapping_type" : "string",
            "mapping" : {
              "type" : "text",
              "norms" : false
            }
          }
        },
        {
          "string_fields" : {
            "match" : "*",
            "match_mapping_type" : "string",
            "mapping" : {
              "type" : "text", "norms" : false,
              "fields" : {
                "keyword" : { "type": "keyword", "ignore_above": 256 }
              }
            }
          }
        }
      ]
    }
  }
}
