#jinja2: lstrip_blocks: True

input
{
    beats {
        port => "{{ logstash_port }}"
        ecs_compatibility => "v8"
    }
}

output
{
    if [event][module] =~ "system"
    {
        elasticsearch
        {
            index => "logstash-system-%{+YYYY.MM.dd}"
            hosts => [{% for host in groups['hosts_elasticsearch_log'] %}"{{ hostvars[host]['ip_admin'] }}:{{ elasticsearch.log.port_http }}"{% if not loop.last %},{% endif %}{% endfor %}]
        }
    }
    else if [kind] =~ "access" or [kind] =~ "management"
    {
        elasticsearch
        {
            index => "logstash-access-%{+YYYY.MM.dd}"
            hosts => [{% for host in groups['hosts_elasticsearch_log'] %}"{{ hostvars[host]['ip_admin'] }}:{{ elasticsearch.log.port_http }}"{% if not loop.last %},{% endif %}{% endfor %}]
        }
    }
    else
    {
        elasticsearch
        {
            index => "logstash-vitam-%{+YYYY.MM.dd}"
            hosts => [{% for host in groups['hosts_elasticsearch_log'] %}"{{ hostvars[host]['ip_admin'] }}:{{ elasticsearch.log.port_http }}"{% if not loop.last %},{% endif %}{% endfor %}]
        }
    }
}
