{
  "service": {
    "name": "logstash",
    "port": {{ logstash.port }},
    "address": "{{ ip_admin }}",
    "enable_tag_override": false,
    "checks": [
      {
        "notes": "Syslog tcp port opened",
        "tcp": "{{ ip_admin }}:{{ logstash.port }}",
        "interval": "1s"
      }
    ]
  }
}
