
// Add the shard to the configuration

{% for host in groups['mongod'] %}
    sh.addShard("shard{{ hostvars[host]['shard_id'] }}/{{ hostvars[host]['ip_service'] }}:{{mongod_port}}")
{% endfor %}

// Enable sharding on Vitam databases

sh.enableSharding("metadata")
sh.enableSharding("logbook")

// Add the sharding key for the sharded collections

sh.shardCollection("metadata.Unit"                        ,{ _id: "hashed" })
sh.shardCollection("metadata.ObjectGroup"                 ,{ _id: "hashed" })

sh.shardCollection("logbook.LogbookOperation"             ,{ _id: "hashed" })
sh.shardCollection("logbook.LogbookLifeCycleUnit"         ,{ _id: "hashed" })
sh.shardCollection("logbook.LogbookLifeCycleObjectGroup"  ,{ _id: "hashed" })
