
// Switch to logbook database
db = db.getSiblingDB('logbook')

// Create indexes
// A single collection can have no more than 64 indexes.

db.LogbookOperation.createIndex( { "_tenant" : 1 , "evDateTime" : 1 , "evTypeProc" : 1 , "events.evDateTime" : 1 , "events.outDetail" : 1 } )
db.LogbookOperation.createIndex( { "_tenant" : 1 , "events.evType" : 1 } )
db.LogbookOperation.createIndex( { "_tenant" : 1 , "evIdProc" : 1 } )

//db.LogbookLifeCycleUnit.createIndex( { "_id" : 1 , "_tenant" : 1 , "evIdProc" : 1 , "events.evIdProc" : 1 } )
db.LogbookLifeCycleUnit.createIndex( { "_tenant" : 1 , "events.evIdProc" : 1 } )
db.LogbookLifeCycleUnit.createIndex( { "_tenant" : 1 , "obId" : 1 } )

//db.LogbookLifeCycleObjectGroup.createIndex( { "_id" : 1 , "_tenant" : 1 , "evIdProc" : 1 , "events.evIdProc" : 1 , "_tenant" : 1 } )
db.LogbookLifeCycleObjectGroup.createIndex( { "_tenant" : 1 , "events.evIdProc" : 1 } )
db.LogbookLifeCycleObjectGroup.createIndex( { "_tenant" : 1 , "obId" : 1 } )
