
// Switch to metadata database
db = db.getSiblingDB('metadata')

// Create indexes
// A single collection can have no more than 64 indexes.

db.Unit.createIndex( { "_up" : 1 } )
db.Unit.createIndex( { "_og" : 1 } )
db.Unit.createIndex( { "_us" : 1 } )
db.Unit.createIndex( { "_uds" : 1 } )
db.Unit.createIndex( { "_min" : 1 } )
db.Unit.createIndex( { "_max" : 1 } )
db.Unit.createIndex( { "_ops" : 1 } )
db.Unit.createIndex( { "_profil" : 1 } )
db.Unit.createIndex( { "_dom" : 1 } )
db.Unit.createIndex( { "_mgt.StorageRule.Rules.Rule" : 1 } )
db.Unit.createIndex( { "_mgt.StorageRule.Rules._end" : 1 } )
db.Unit.createIndex( { "_mgt.AppraisalRule.Rules.Rule" : 1 } )
db.Unit.createIndex( { "_mgt.AppraisalRule.Rules._end" : 1 } )
db.Unit.createIndex( { "_mgt.AccessRule.Rules.Rule" : 1 } )
db.Unit.createIndex( { "_mgt.AccessRule.Rules._end" : 1 } )
db.Unit.createIndex( { "_mgt.DisseminationRule.Rules.Rule" : 1 } )
db.Unit.createIndex( { "_mgt.DisseminationRule.Rules._end" : 1 } )
db.Unit.createIndex( { "_mgt.ClassificationRule.Rules.Rule" : 1 } )
db.Unit.createIndex( { "_mgt.ClassificationRule.Rules._end" : 1 } )
db.Unit.createIndex( { "_mgt.ReuseRule.Rules.Rule" : 1 } )
db.Unit.createIndex( { "_mgt.ReuseRule.Rules._end" : 1 } )

db.ObjectGroup.createIndex( { "_tenantId" : 1 } )
db.ObjectGroup.createIndex( { "_up" : 1 } )
db.ObjectGroup.createIndex( { "_ops" : 1 } )
db.ObjectGroup.createIndex( { "_profil" : 1 } )
db.ObjectGroup.createIndex( { "_qualifiers.versions._id" : 1 } )
db.ObjectGroup.createIndex( { "_qualifiers.versions.FormatIdentification.FormatId" : 1 } )
db.ObjectGroup.createIndex( { "_qualifiers.versions.MessageDigest" : 1 , "_qualifiers.versions.Algorithm" : 1 } )
db.ObjectGroup.createIndex( { "OriginatingAgency" : 1 } )
