
// Switch to identity database
db = db.getSiblingDB('identity')

// Create indexes
// A single collection can have no more than 64 indexes.

db.PersonalCertificate.createIndex( { "Hash" : 1 } , { unique: true } )
