
// Switch to masterdata database
db = db.getSiblingDB('masterdata')

// Create functional-admin user

if (! db.getUser("{{mongoFunctionalAdminUser}}")) {
    db.createUser(
        {
            user: "{{mongoFunctionalAdminUser}}",
            pwd: "{{mongoFunctionalAdminPassword}}",
            roles: [
                { role: "readWrite", db: "masterdata" }
            ]
        }
    )
}

// Create admin user

if (! db.getUser("{{mongoAdminUser}}")) {
    db.createUser(
        {
            user: "{{mongoAdminUser}}",
            pwd: "{{mongoAdminPassword}}",
            roles: [
                { role: "readWrite", db: "masterdata" },
                { role: "dbAdmin", db: "masterdata" }
            ]
        }
    )
}
