[Unit]
Description=Access External
After=network.target
After=syslog.target

[Service]
Type=forking
EnvironmentFile=/vitam/conf/${unix.name}/sysconfig/entry_opts
EnvironmentFile=-/vitam/conf/${unix.name}/sysconfig/java_opts
ExecStart=/vitam/script/${unix.name}/${unix.name}.sh
User=${unix.user}
Group=${unix.group}
PIDFile=/vitam/run/${unix.name}/${unix.name}.pid


[Install]
WantedBy=multi-user.target
