{
  "hits": {
    "total": 1,
    "size": 1,
    "offset": 0,
    "limit": 100,
    "time_out": false,
    "next": "async_id_next"
  },
  "context": {
    "queries": [
      { "$path": "aaaaa" }
    ]
  },
  "results": [
    {
      "id": "$id_object$",
      "name": "abcdef",
      "creation_date": "2015-07-14T17:07:14Z",
      "fmt": "ftm/123",
      "numerical_information": 55.3
    }
  ]
}