{
  "hits": {
    "total": 10,
    "size": 3,
    "offset": 0,
    "limit": 100,
    "time_out": false,
    "next": "async_id_next"
  },
  "context": {
    "queries": [
      { "$path": "aaaaa" }
    ]
  },
  "results": [
    {
      "name": "abcdef",
      "status": "online",
      "since": "2015-07-14T17:07:14Z",
      "float_value": 55.0
    },
    {
      "name": "abcdef1",
      "status": "online",
      "since": "2015-07-15T17:07:14Z",
      "float_value": 15.5
    },
    {
      "name": "abcdef2",
      "status": "offline",
      "since": "2015-07-16T17:07:14Z",
      "float_value": 0.0
    }
  ]
}