{
  "id": "abcdef",
  "info": "container description - optional",
  "creation_time": "1990-12-31T23:59:60Z",
  "last_access_time": "1990-12-31T23:59:60Z",
  "last_modified_time": "1990-12-31T23:59:60Z"
}