{
  "id": "abcdef",
  "info": "stored description - optional",
  "objectGroupId": "for Object",
  "unitIds": [ "for Object and ObjectGroup", "id2" ],
  "creation_time": "1990-12-31T23:59:60Z",
  "last_access_time": "1990-12-31T23:59:60Z",
  "last_checked_time": "1990-12-31T23:59:60Z",
  "last_modified_time": "1990-12-31T23:59:60Z"
}