---

- name: Create Grafana Datasources provisioning file
  template:
    src: datasources.yml.j2
    dest: "{{ grafana_path_provisioning }}/datasources/datasources.yml"
    owner: "{{ grafana_user }}"
    group: "{{ grafana_group }}"
    mode: "{{ vitam_defaults.folder.conf_permission | default (0640) }}"
  notify: "grafana - restart service"

- name: Copy dashboard json files to provisioning dashboard folder
  copy:
    src: "{{ item }}.json"
    dest: "{{ grafana_path_provisioning }}/dashboards/{{ item }}.json"
    owner: "{{ grafana_user }}"
    group: "{{ grafana_group }}"
    mode: "{{ vitam_defaults.folder.conf_permission | default (0640) }}"
  with_items:
    - vitam_standard_dashboard
    - vitam_consul_exporter_dashboard

- name: Set the correct data source name in the dashboard for prometheus
  replace:
    dest: "{{ grafana_path_provisioning }}/dashboards/{{ item }}.json"
    regexp: '"(?:\${)?DS_PROMETHEUS+(?:})?"'
    replace: '"Prometheus"'
  changed_when: false
  with_items:
    - vitam_standard_dashboard
    - vitam_consul_exporter_dashboard
  when: grafana.grafana_dashboards | length > 0

- name: Set the correct data source name in the dashboard for alertmanager
  replace:
    dest: "{{ grafana_path_provisioning }}/dashboards/vitam_standard_dashboard.json"
    regexp: '"(?:\${)?DS_ALERTMANAGER+(?:})?"'
    replace: '"Prometheus AlertManager"'
  changed_when: false
  when: grafana.grafana_dashboards | length > 0

- name: Get declared tape offers
  set_fact:
    tape_offers: "{{ tape_offers | default([]) + [item.key] }}"
  loop: "{{ lookup('dict', vitam_offers, wantlist=True) }}"
  loop_control:
    label: "{{ item.key }}"
  when: "'tape-library' in item.value.provider"

- name: Get configured tape offers
  set_fact:
    tape_offers: []
    tape_offer_ids: "{{ groups['hosts_storage_offer_default'] | map ('extract', hostvars, 'offer_conf') | list  | unique | intersect((tape_offers | default([]))) }}"

- name: Copy vitam tape offer dashboard json files to provisioning dashboard folder
  copy:
    src: vitam_tape_storage_offer_dashboard.json
    dest: "{{ grafana_path_provisioning }}/dashboards/vitam_tape_storage_offer_dashboard-{{ item }}.json"
    owner: "{{ grafana_user }}"
    group: "{{ grafana_group }}"
    mode: "{{ vitam_defaults.folder.conf_permission | default (0640) }}"
  with_items: "{{ tape_offer_ids }}"

- name: Set offer id in tape storage dashboards
  replace:
    dest: "{{ grafana_path_provisioning }}/dashboards/vitam_tape_storage_offer_dashboard-{{ item }}.json"
    regexp: '_OFFER_ID_'
    replace: '{{ item }}'
  changed_when: false
  with_items: "{{ tape_offer_ids }}"

- name: Create Grafana Dashboard provisioning file
  template:
    src: dashboards.yml.j2
    dest: "{{ grafana_path_provisioning }}/dashboards/dashboards.yml"
    owner: "{{ grafana_user }}"
    group: "{{ grafana_group }}"
    mode: "{{ vitam_defaults.folder.conf_permission | default (0640) }}"
  notify: "grafana - restart service"
