<div id="global" class="container-fluid" >
  <div class="panel panel-default col-md-12">
    <span class="panel-header no-toggle">
      <h2>Tests SOAP-UI</h2>
    </span>

    <div class="panel-body">
      <a class="panel-header" data-target="#boxLaunch" data-toggle="collapse">
        <i>Lancement des tests SOAP-UI</i>
      </a>
      <div class="row archive-desc panel-collapse collapse in" id="boxLaunch">
        <div class="text-justify">
          <button class="btn btn-primary btn-success btn-s" type="button" ng-click="launchTests()">
            <i class="material-icons pull-left">file_download</i>
            <span>Lancer les tests</span>
          </button>
        </div>
        <div ng-if="pending"><span>Tests SOAP-UI en cours ...</span></div>
        <div ng-if="finished"><span>Tests SOAP-UI terminés</span></div>
        <div ng-if="error"><span>Les tests SOAP-UI sont déjà en cours ou une erreur s'est produite</span></div>
      </div>
    </div>

    <div class="panel-body">
      <a class="panel-header" data-target="#boxResult" data-toggle="collapse">
        <i>Récupération des résultats des derniers tests</i>
      </a>
      <div class="row archive-desc panel-collapse collapse in" id="boxResult">
        <div class="text-justify">
          <button class="btn btn-primary btn-success btn-s" type="button" ng-click="getLastResult()">
            <i class="material-icons pull-left">search</i>
            <span>Afficher résultats</span>
          </button>
        </div>
        <div><span ng-click="resultsLink()">Lien vers les résultats Json</span></div>
      </div>

    </div>
  </div>

  <div class="panel panel-default col-md-12" ng-if="!!report">
    <span class="panel-header no-toggle">
      <h2>Résultats des derniers tests</h2>
    </span>
    <div id="leftColumn">
      <div id="navcolumn">
        <h5>##</h5>
        <ul>
          <li class="collapsed">
          </li>
        </ul>
      </div>
    </div>
    <div id="bodyColumn">
      <div id="contentBox">
        <div class="section">
          <h2>
            Résumé
          </h2>
          <br />
          <table class="w3-table w3-centered w3-xlarge  w3-bordered ">
            <tr class="a">
              <th >Nb Tests</th>
              <th>Succès</th>
              <th>Echecs</th>
            </tr>
            <tr class="w3-xlarge">
              <td class="w3-large"><b>{{report.size}}</b></td>
              <td class="w3-large w3-text-green"><b>{{report.success}}</b></td>
              <td class="w3-large w3-text-red"><b>{{report.errors}}</b></td>
            </tr>
          </table>

        </div>

        <div class="section">

          <div class="w3-container">
            <h2>
              Détails
            </h2>
            <table class="w3-table w3-centered w3-xlarge  w3-bordered">
              <tr>
                <th></th>
                <th>Nom</th>
                <th>Sip</th>
                <th>Catégorie</th>
                <th>Attendu</th>
                <th>Observé</th>
              </tr>
              <!-- TODO : Check error / success and display good HTML -->
              <tr ng-if="!item.result" class='trtab' ng-repeat="item in report.results">
                <td  class='w3-large w3-topbar w3-bottombar w3-border-red w3-pale-red' >
                  <img src='images/icon_error_sml.gif' alt='' />
                </td>
                <td class='w3-large w3-topbar w3-bottombar w3-border-red w3-pale-red' >{{item.testName}}</td>
                <td class='w3-large w3-topbar w3-bottombar w3-border-red w3-pale-red' >{{item.sipName}}</td>
                <td class='w3-large w3-topbar w3-bottombar w3-border-red w3-pale-red' >{{item.category}}</td>
                <td class='w3-large w3-topbar w3-bottombar w3-border-red w3-pale-red' >{{item.expected}}</td>
                <td class='w3-large w3-topbar w3-bottombar w3-border-red w3-pale-red' >{{item.observed}}</td>
              </tr>

              <tr ng-if="item.result" class='trtab' ng-repeat="item in report.results">
                <td  class='w3-large w3-topbar w3-bottombar w3-border-green w3-pale-green' >
                  <img src='images/icon_success_sml.gif' alt='' />
                </td>
                <td class='w3-large w3-topbar w3-bottombar w3-border-green w3-pale-green' >{{item.testName}}</td>
                <td class='w3-large w3-topbar w3-bottombar w3-border-green w3-pale-green' >{{item.sipName}}</td>
                <td class='w3-large w3-topbar w3-bottombar w3-border-green w3-pale-green' >{{item.category}}</td>
                <td class='w3-large w3-topbar w3-bottombar w3-border-green w3-pale-green' >{{item.expected}}</td>
                <td class='w3-large w3-topbar w3-bottombar w3-border-green w3-pale-green' >{{item.observed}}</td>
              </tr>

            </table>
          </div>
          <br />
        </div>
      </div>
    </div>
    <div class="clear">
      <hr />
    </div>
  </div>
</div>