<div id="global" class="container-fluid" >
  <ol class="breadcrumb">
    <li>Recherche</li>
    <li><a href="#!/accessionRegister/search">Recherche Registre des Fonds</a></li>
  </ol>

  <div class="boxSearchWrapper panel panel-default col-md-12">
    <a class="panel-header" data-target="#boxSearch" data-toggle="collapse">
      <h2>Recherche Registre des Fonds</h2>
    </a>

    <div id="boxSearch" class="panel-body panel-collapse collapse in">
        <form class="col-md-12" id="simpleSearch" ng-submit="searchRegistersByCriteria()">
          <div class="boxSimpleSearchInput form-group col-md-12 m-t-50 m-b-25">
            <label for="entryName">Service producteur</label>
            <div class="input-group m-b-25">
              <input ng-model="search.form.serviceProducerCriteria" type="text" class="form-control input-lg"/>
              <div class="input-group-addon">
                <button class="btn btn-primary center-block" type="reset" ng-click="reinitForm()">
                  <i class="material-icons pull-left">clear</i>
                </button>
              </div>
            </div>
            <div class="clearfix"></div>
            <button class="btn btn-primary center-block" type="submit"><i class="material-icons pull-left">search</i><span>Rechercher</span></button>
          </div>
        </form>
      <button ng-if="search.error.displayMessage" class="btn btn-danger center-block" type="button" style="margin-top: 20px">
        {{search.error.message}}
      </button>
    </div>
  </div>


  <!--Pagination -->
  <div style="text-align: center">
    <button class="btn btn-default btn-s" ng-disabled="search.pagination.currentPage <= 1" ng-click="search.pagination.currentPage=+search.pagination.currentPage-1">
      Précédent
    </button>
    <input ng-model="search.pagination.currentPage" style="max-width: 40px">/{{search.pagination.resultPages}}
    <button class="btn btn-default btn-s" ng-disabled="search.pagination.currentPage >= search.pagination.resultPages" ng-click="search.pagination.currentPage=+search.pagination.currentPage+1">
      Suivant
    </button>
  </div>

  <!--
  *
  *    RESULTATS
  *
  -->
  <div class="panel panel-default col-md-12">
    <a class="panel-header"  data-target="#boxSearchResults" data-toggle="collapse">
        <h2> Résultats <span ng-if="search.response.totalResult == 0 || search.response.totalResult > 0">({{search.response.totalResult}})</span></h2>
    </a>
    <div id="boxSearchResults" class="panel-body panel-collapse collapse in">
      <div class="table-responsive ">
        <table class="table">
          <tr>
            <th>Service producteur</th>
            <th>Date d'entrée</th>
          </tr>

          <tbody>
            <tr data-toggle="popover" data-trigger="focus" data-placement="top" ng-click="goToDetails(result.OriginatingAgency)"
                ng-repeat="result in search.response.data | startFormat : startFormat() |limitTo : search.pagination.itemsPerPage">
              <td>{{ result.OriginatingAgency }}</td>
              <td>{{ result.creationDate | vitamFormatDate }}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>


</div>
