authentication: false
jettyConfig: jetty-config.xml
authorizeTrackTotalHits : {{ vitam.collect_external.authorizeTrackTotalHits | default(false) }}
allowSslClientHeader: {{ vitam_defaults.trust_client_certificate_header | default(false) | bool }}