
// Add the shard to the configuration
{% for host in groups[mongod] %}
    {% if hostvars[host]['mongo_rs_bootstrap'] is defined and hostvars[host]['mongo_rs_bootstrap']|lower == "true" %}
    {% if mongo_cluster_name == hostvars[host]['mongo_cluster_name'] %}
        sh.addShard("shard{{ hostvars[host]['mongo_shard_id'] }}/{{ hostvars[host]['ip_service'] }}:{{ mongodb.mongod_port }}")
    {% endif %}
    {% endif %}
{% endfor %}

// Enable sharding on Vitam databases

sh.enableSharding("offer")

// Add the sharding key for the sharded collections

sh.shardCollection("offer.OfferLog", { _id: "hashed" })

{% if vitam_offers[mongo_cluster_name]["provider"] in ["tape-library"] %}
// Add sharding for tape storage offer collections

sh.shardCollection("offer.TapeObjectReferential", { _id: "hashed" })

{% endif %}