// Switch to admin database
db = db.getSiblingDB('admin')

// Create admin user

if (! db.getUser("{{ mongodb.data.admin.user }}")) {
    db.createUser(
        {
            user: "{{ mongodb.data.admin.user }}",
            pwd: "{{ mongodb.data.admin.password }}",
            roles: [ "root" ]
        }
    )
}
