
// Switch to identity database
db = db.getSiblingDB('offer')

// Create offer user

if (! db.getUser("{{ mongodb[mongo_cluster_name].offer.user }}")) {
    db.createUser(
        {
            user: "{{ mongodb[mongo_cluster_name].offer.user }}",
            pwd: "{{ mongodb[mongo_cluster_name].offer.password }}",
            roles: [
                { role: "readWrite", db: "offer" }
            ]
        }
    )
}
else {
    db.updateUser(
        "{{ mongodb[mongo_cluster_name].offer.user }}",
        {
            pwd: "{{ mongodb[mongo_cluster_name].offer.password }}",
            roles: [
                { role: "readWrite", db: "offer" }
            ]
        }
    )
}

// Create admin user

if (! db.getUser("{{ mongodb[mongo_cluster_name].admin.user }}")) {
    db.createUser(
        {
            user: "{{ mongodb[mongo_cluster_name].admin.user }}",
            pwd: "{{ mongodb[mongo_cluster_name].admin.password }}",
            roles: [
                { role: "readWrite", db: "offer" },
                { role: "dbAdmin", db: "offer" }
            ]
        }
    )
}
else {
    db.updateUser(
        "{{ mongodb[mongo_cluster_name].admin.user }}",
        {
            pwd: "{{ mongodb[mongo_cluster_name].admin.password }}",
            roles: [
                { role: "readWrite", db: "offer" },
                { role: "dbAdmin", db: "offer" }
            ]
        }
    )
}
