authentication: false
jettyConfig: jetty-config.xml
tenantFilter : true
authorizeTrackTotalHits : {{ vitam.accessexternal.authorizeTrackTotalHits | default(false) }}
objectGroupBlackListedFieldsForVisualizationByTenant:
{% for tenant in vitam_tenant_ids %}
   {{ tenant }} : ['Filename']
{% endfor %}