---

# Epel is needed only for clamav
- name: Install epel-release repository
  package:
    name: epel-release
    state: present
  register: result
  retries: "{{ packages_install_retries_number }}"
  until: result is succeeded
  delay: "{{ packages_install_retries_delay }}"
  when:
    - disable_internet_repositories_install == false
    - vitam.ingestexternal.antivirus == 'clamav'
    - inventory_hostname in groups['hosts_ingest_external']