*.iml
.idea
build
target
.classpath
.project
npm-debug.log
.class
.settings
**/node_modules/
**/bower_components/
**/evosuite-tests/
**/generated-sources/
**/dist/
*.retry
*~*
repodata
local.json
*.orig
