*.iml
.idea
build
target
.vscode
.classpath
.project
npm-debug.log*
.class
.settings
**/node_modules/
**/bower_components/
**/evosuite-tests/
**/generated-sources/
**/dist/
*.retry
*~*
repodata
Packages.gz
local.conf
local.json
*.orig
.DS_Store
*/functional-test/report.json
*/functional-test/src/main/dev-resources/
.metadata
report.json
proxy.conf.json
**styles.css.map
vitam-griffins
.directory
.gitignore
deployment/environments/backups
.floo
.flooignore
vitam-conf-dev/conf/vitam-ui/**
vitam-conf-dev/conf/offer3/default-storage.conf
vitam-conf-dev/making-vitam-request/requests-workspace/http-client.private.env.json
vitam-conf-dev/making-vitam-request/requests-workspace/external_key.pem
vitam-conf-dev/making-vitam-request/requests-workspace/external_pub.pem
cucumber-reports
.run
deployment/environments/keystores
deployment/environments/certs
.java-version
