*.iml
.idea
build
target
.vscode
.classpath
.project
npm-debug.log*
.class
.settings
**/node_modules/
**/bower_components/
**/evosuite-tests/
**/generated-sources/
**/dist/
*.retry
*~*
repodata
Packages.gz
local.conf
local.json
*.orig
.DS_Store
*/functional-test/report.json
*/functional-test/src/main/dev-resources/
.metadata
report.json
proxy.conf.json
**styles.css.map
vitam-griffins
.directory
.gitignore
deployment/environments/backups