#jinja2: lstrip_blocks: True
# my global config
global:
  scrape_interval: {{ prometheus.server.scrape_interval | default(15) }}s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: {{ prometheus.server.evaluation_interval | default(15) }}s # Evaluate rules every 15 seconds. The default is every 1 minute.
  # scrape_timeout is set to the global default (10s).
{% if groups['hosts_alertmanager'] | default([]) | length > 0 %}

# Alertmanager configuration
alerting:
  alertmanagers:
    - static_configs:
      {% for item in groups['hosts_alertmanager'] %}
      - targets: ["{{ hostvars[item]['ip_admin'] }}:{{ prometheus.alertmanager.api_port | default(9093) }}"]
        labels:
          hostname: "{{ item.split(".")[0] }}"
      {% endfor %}
{% endif %}

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  - rules/*.yml

# Scrape config files specifies a list of globs.
# Scrape configs are read from all matching files and appended to the list of scrape configs.
scrape_config_files:
  - scrape_configs/*.yml

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:
  - job_name: vitam-prometheus
    static_configs:
{% for item in groups['hosts_prometheus'] %}
      - targets: ["{{ hostvars[item]['ip_admin'] }}:{{ prometheus.server.port | default(9090) }}"]
        labels:
          hostname: "{{ item.split(".")[0] }}"
{% endfor %}
