{
  "service": {
    "name": "prometheus-server",
    "address": "{{ ip_admin }}",
    "port": {{ prometheus.server.port | default(9090) }},
    "enable_tag_override": false,
    "tags": ["prometheus"],
    "checks": [
      {
        "name": "prometheus-server : TCP check",
        "notes": "Status prometheus-server",
        "tcp": "{{ ip_admin }}:{{ prometheus.server.port | default(9090) }}",
        "interval": "{{ prometheus.check_consul | default(10) }}s"
      }
    ]
  }
}
