[Unit]
Description=The Prometheus monitoring system and time series database.
Documentation=https://prometheus.io
After=network.target

[Service]
EnvironmentFile=-{{ vitam_defaults.folder.root_path }}/conf/prometheus/sysconfig.conf
User={{ vitam_defaults.users.vitam }}
Group={{ vitam_defaults.users.group }}
ExecStart={{ vitam_defaults.folder.root_path }}/bin/prometheus/prometheus \
          --web.console.libraries=/vitam/app/prometheus/console_libraries \
          --web.console.templates=/vitam/app/prometheus/consoles \
          $PROMETHEUS_OPTS
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
