basePaths:
{% if inventory_hostname in groups['hosts_ingest_external'] %}
  - "{{ vitam_defaults.folder.root_path }}/data/ingest-external"
{% endif %}
  - "{{ vitam_defaults.folder.root_path }}/data/worker"
jettyConfig: jetty-config.xml
antiVirusScriptName: scan-{{ vitam_struct.engine }}.sh
timeoutScanDelay: {{ vitam_struct.scantimeout | default(1200000) }}
