#
# Avast configuration file
#
# Below are all available configuration options and their default values. Only
# the options in the OPTIONS section can be changed at runtime.

# RUN_DIR = "/run/avast"
# TEMP_DIR = "/tmp"
# DATA_DIR = "/var/lib/avast"
# SOCKET = "/run/avast/scan.sock"
# LICENSE = "/etc/avast/license.avastlic"
# WHITELIST = "/etc/avast/whitelist"

[OPTIONS]
CREDENTIALS = {{ avast.conf.options.credentials | default(0) }}
TELEMETRY = {{ avast.conf.options.telemetry | default(0) }}
STATISTICS = {{ avast.conf.options.statistics | default(0) }}
COMMUNITY = {{ avast.conf.options.community | default(0) }}
STREAMING_UPDATES = {{ avast.conf.options.streaming_updates | default(0) }}
REPUTATION_QUERIES = {{ avast.conf.options.reputation_queries | default(0) }}
THREADS = {{ avast.conf.options.threads | default(0) }}

[PACKER_BOMB]
MAX_FILE_SIZE_TO_EXTRACT_MB = {{ avast.conf.packer_bomb.max_file_size_to_extract_mb | default(1000) }}
MAX_COMPRESSION_RATIO = {{ avast.conf.packer_bomb.max_compression_ratio | default(100) }}
