// Switch to admin database
db = db.getSiblingDB('admin')

// Create admin user

if (! db.getUser("{{ mongodb[mongo_cluster_name].admin.user }}")) {
    db.createUser(
        {
            user: "{{ mongodb[mongo_cluster_name].admin.user }}",
            pwd: "{{ mongodb[mongo_cluster_name].admin.password }}",
            roles: [ "root" ]
        }
    )
}
else {
    db.updateUser(
        "{{ mongodb[mongo_cluster_name].admin.user }}",
        {
            pwd: "{{ mongodb[mongo_cluster_name].admin.password }}",
            roles: [ "root" ]
        }
    )
}
