// Switch to identity database
db = db.getSiblingDB('identity')

// Create security-internal user

if (! db.getUser("{{ mongodb[mongo_cluster_name].securityInternal.user }}")) {
    db.createUser(
        {
            user: "{{ mongodb[mongo_cluster_name].securityInternal.user }}",
            pwd: "{{ mongodb[mongo_cluster_name].securityInternal.password }}",
            roles: [
                { role: "readWrite", db: "identity" }
            ]
        }
    )
}
else {
    db.updateUser(
        "{{ mongodb[mongo_cluster_name].securityInternal.user }}",
        {
            pwd: "{{ mongodb[mongo_cluster_name].securityInternal.password }}",
            roles: [
                { role: "readWrite", db: "identity" }
            ]
        }
    )
}

// Create admin user

if (! db.getUser("{{ mongodb[mongo_cluster_name].admin.user }}")) {
    db.createUser(
        {
            user: "{{ mongodb[mongo_cluster_name].admin.user }}",
            pwd: "{{ mongodb[mongo_cluster_name].admin.password }}",
            roles: [
                { role: "readWrite", db: "identity" },
                { role: "dbAdmin", db: "identity" }
            ]
        }
    )
}
else {
    db.updateUser(
        "{{ mongodb[mongo_cluster_name].admin.user }}",
        {
            pwd: "{{ mongodb[mongo_cluster_name].admin.password }}",
            roles: [
                { role: "readWrite", db: "identity" },
                { role: "dbAdmin", db: "identity" }
            ]
        }
    )
}
