
// Switch to metadata database
db = db.getSiblingDB('metadata')

// Create metadata user

if (! db.getUser("{{ mongodb[mongo_cluster_name].metadata.user }}")) {
    db.createUser(
        {
            user: "{{ mongodb[mongo_cluster_name].metadata.user }}",
            pwd: "{{ mongodb[mongo_cluster_name].metadata.password }}",
            roles: [
                { role: "readWrite", db: "metadata" }
            ]
        }
    )
}
else {
    db.updateUser(
        "{{ mongodb[mongo_cluster_name].metadata.user }}",
        {
            pwd: "{{ mongodb[mongo_cluster_name].metadata.password }}",
            roles: [
                { role: "readWrite", db: "metadata" }
            ]
        }
    )
}

// Create admin user

if (! db.getUser("{{ mongodb[mongo_cluster_name].admin.user }}")) {
    db.createUser(
        {
            user: "{{ mongodb[mongo_cluster_name].admin.user }}",
            pwd: "{{ mongodb[mongo_cluster_name].admin.password }}",
            roles: [
                { role: "readWrite", db: "metadata" },
                { role: "dbAdmin", db: "metadata" }
            ]
        }
    )
}
else {
    db.updateUser(
        "{{ mongodb[mongo_cluster_name].admin.user }}",
        {
            pwd: "{{ mongodb[mongo_cluster_name].admin.password }}",
            roles: [
                { role: "readWrite", db: "metadata" },
                { role: "dbAdmin", db: "metadata" }
            ]
        }
    )
}
