
// Switch to metadata database
db = db.getSiblingDB('metadata')

// Create metadata user

if (! db.getUser("{{ mongodb.data.metadata.user }}")) {
    db.createUser(
        {
            user: "{{ mongodb.data.metadata.user }}",
            pwd: "{{ mongodb.data.metadata.password }}",
            roles: [
                { role: "readWrite", db: "metadata" }
            ]
        }
    )
}

// Create admin user

if (! db.getUser("{{ mongodb.data.admin.user }}")) {
    db.createUser(
        {
            user: "{{ mongodb.data.admin.user }}",
            pwd: "{{ mongodb.data.admin.password }}",
            roles: [
                { role: "readWrite", db: "metadata" },
                { role: "dbAdmin", db: "metadata" }
            ]
        }
    )
}
