
// Switch to logbook database
db = db.getSiblingDB('logbook')

// Create logbook user

if (! db.getUser("{{ mongodb.data.logbook.user }}")) {
    db.createUser(
        {
            user: "{{ mongodb.data.logbook.user }}",
            pwd: "{{ mongodb.data.logbook.password }}",
            roles: [
                { role: "readWrite", db: "logbook" }
            ]
        }
    )
}

// Create admin user

if (! db.getUser("{{ mongodb.data.admin.user }}")) {
    db.createUser(
        {
            user: "{{ mongodb.data.admin.user }}",
            pwd: "{{ mongodb.data.admin.password }}",
            roles: [
                { role: "readWrite", db: "logbook" },
                { role: "dbAdmin", db: "logbook" }
            ]
        }
    )
}
