
// Switch to masterdata database
db = db.getSiblingDB('masterdata')

// Create functional-admin user

if (! db.getUser("{{ mongodb.data.functionalAdmin.user }}")) {
    db.createUser(
        {
            user: "{{ mongodb.data.functionalAdmin.user }}",
            pwd: "{{ mongodb.data.functionalAdmin.password }}",
            roles: [
                { role: "readWrite", db: "masterdata" }
            ]
        }
    )
}

// Create admin user

if (! db.getUser("{{ mongodb.data.admin.user }}")) {
    db.createUser(
        {
            user: "{{ mongodb.data.admin.user }}",
            pwd: "{{ mongodb.data.admin.password }}",
            roles: [
                { role: "readWrite", db: "masterdata" },
                { role: "dbAdmin", db: "masterdata" }
            ]
        }
    )
}
