// Switch to identity database
db = db.getSiblingDB('identity')

// Create security-internal user

if (! db.getUser("{{ mongodb.data.securityInternal.user }}")) {
    db.createUser(
        {
            user: "{{ mongodb.data.securityInternal.user }}",
            pwd: "{{ mongodb.data.securityInternal.password }}",
            roles: [
                { role: "readWrite", db: "identity" }
            ]
        }
    )
}

// Create admin user

if (! db.getUser("{{ mongodb.data.admin.user }}")) {
    db.createUser(
        {
            user: "{{ mongodb.data.admin.user }}",
            pwd: "{{ mongodb.data.admin.password }}",
            roles: [
                { role: "readWrite", db: "identity" },
                { role: "dbAdmin", db: "identity" }
            ]
        }
    )
}
