// Switch to collect database
db = db.getSiblingDB('collect')

// Create collect user

if (! db.getUser("{{ mongodb[mongo_cluster_name].collect.user }}")) {
    db.createUser(
        {
            user: "{{ mongodb[mongo_cluster_name].collect.user }}",
            pwd: "{{ mongodb[mongo_cluster_name].collect.password }}",
            roles: [
                { role: "readWrite", db: "collect" }
            ]
        }
    )
}
else {
    db.updateUser(
        "{{ mongodb[mongo_cluster_name].collect.user }}",
        {
            pwd: "{{ mongodb[mongo_cluster_name].collect.password }}",
            roles: [
                { role: "readWrite", db: "collect" }
            ]
        }
    )
}

// Create collect admin user

if (! db.getUser("{{ mongodb[mongo_cluster_name].admin.user }}")) {
    db.createUser(
        {
            user: "{{ mongodb[mongo_cluster_name].admin.user }}",
            pwd: "{{ mongodb[mongo_cluster_name].admin.password }}",
            roles: [
                { role: "readWrite", db: "collect" },
                { role: "dbAdmin", db: "collect" }
            ]
        }
    )
}
else {
    db.updateUser(
        "{{ mongodb[mongo_cluster_name].admin.user }}",
        {
            pwd: "{{ mongodb[mongo_cluster_name].admin.password }}",
            roles: [
                { role: "readWrite", db: "collect" },
                { role: "dbAdmin", db: "collect" }
            ]
        }
    )
}
