
// Create admin user

db.createUser(
    {
        user: "{{mongoAdminUser}}",
        pwd: "{{mongoAdminPassword}}",
        roles: [
            { role: "readWrite", db: "Vitam" },
            { role: "dbAdmin", db: "Vitam" }
        ]
    }
)

// Create metadata user

db.createUser(
    {
        user: "{{mongoMetadataUser}}",
        pwd: "{{mongoMetadataPassword}}",
        roles: [
            { role: "readWrite", db: "Vitam" }
        ]
    }
)

// Create logbook user

db.createUser(
    {
        user: "{{mongoLogbookUser}}",
        pwd: "{{mongoLogbookPassword}}",
        roles: [
            { role: "readWrite", db: "Vitam" }
        ]
    }
)

// Create functional-admin user

db.createUser(
    {
        user: "{{mongoFunctionalAdminUser}}",
        pwd: "{{mongoFunctionalAdminPassword}}",
        roles: [
            { role: "readWrite", db: "Vitam" }
        ]
    }
)

// Create worker user

db.createUser(
    {
        user: "{{mongoWorkerUser}}",
        pwd: "{{mongoWorkerPassword}}",
        roles: [
            { role: "readWrite", db: "Vitam" }
        ]
    }
)
