
// Create admin user

db.createUser(
    {
        user: "{{mongoAdminUser}}",
        pwd: "{{mongoAdminPassword}}",
        roles: [
            { role: "readWrite", db: "logbook" },
            { role: "dbAdmin", db: "logbook" }
        ]
    }
)

// Create logbook user

db.createUser(
    {
        user: "{{mongoLogbookUser}}",
        pwd: "{{mongoLogbookPassword}}",
        roles: [
            { role: "readWrite", db: "logbook" }
        ]
    }
)

// Create worker user (temporary)

db.createUser(
    {
        user: "{{mongoWorkerUser}}",
        pwd: "{{mongoWorkerPassword}}",
        roles: [
            { role: "readWrite", db: "logbook" }
        ]
    }
)
