
// Create metadata user

db.createUser(
    {
        user: "{{mongoMetadataUser}}",
        pwd: "{{mongoMetadataPassword}}",
        roles: [
            { role: "readWrite", db: "metadata" }
        ]
    }
)
