.fieldLabel {
    font-size:14px;
    font-weight: 700;
}

.overflow-break-words {
    word-wrap: break-word;
}

.allDiv {
    width: 100%;
}

.value {
    padding-left: 5px;
}

.no-pad-top {
    padding-top: 0;
}