<!-- Handle field Display -->
<ng-container *ngIf="typeOfField === 'other'">
  <div [ngClass]="labelClass" class="ui-g-nopad" *ngIf="!noTitle">
    <label class="label fieldLabel">{{title}}</label>
  </div>
  <div [ngClass]="inputClass" class="ui-g-nopad value" *ngIf="!updateMode || !canUpdate">
    <span *ngIf="!dateValue && displayMode !== 'MultiSelect' && displayMode !== 'DropDown' && !physicalUnitMode" class="overflow-break-words" >{{value}}</span>
    <span *ngIf="physicalUnitMode" class="overflow-break-words">{{getLabelPhysicalDimensions(value)}}</span>
    <span *ngIf="dateValue" class="overflow-break-words" >{{value | date:'dd/MM/yyyy'}}</span>
    <span *ngIf="displayMode === 'MultiSelect' || displayMode === 'DropDown'" class="overflow-break-words">{{getLabels(value)}}</span>
  </div>
  <div [ngClass]="inputClass" class="ui-g-nopad value" *ngIf="updateMode && canUpdate">
    <p-calendar *ngIf="displayMode === 'Date'" [(ngModel)]="dateValue" [inputStyle]="{'width':'100%'}" (onSelect)="valueChange()"
                (onBlur)="checkDateValid()" [dateFormat]="'dd/mm/yy'" [yearNavigator]="true" [yearRange]="'1970:2500'" [locale]="frLocale"></p-calendar>
    <textarea pInputTextarea *ngIf="displayMode === 'TextArea'" [(ngModel)]="value" class="allDiv" (change)="valueChange()" rows="3"></textarea>
    <p-dropdown *ngIf="displayMode === 'DropDown'" [options]="options" [(ngModel)]="value" (onChange)="valueChange()"></p-dropdown>
    <input pInputText *ngIf="displayMode === 'TextInput'" [(ngModel)]="value" class="allDiv" (change)="valueChange()" (blur)="valueChange()"/>
    <p-toggleButton *ngIf="displayMode === 'SwitchButton'" onLabel="Oui" offLabel="Non" [(ngModel)]="value" (onChange)="valueChange()"></p-toggleButton>
    <p-chips [disabled]="disabled" *ngIf="displayMode === 'Chips'" [(ngModel)]="value" (onAdd)="valueChange()" (onRemove)="valueChange()"></p-chips>
    <p-multiSelect [disabled]="disabled" *ngIf="displayMode === 'MultiSelect'" [options]="options" [(ngModel)]="value" (onChange)="valueChange()"></p-multiSelect>
  </div>
</ng-container>

<!-- Handle Object recursive display -->
<ng-container *ngIf="typeOfField === 'Object'">

  <p-fieldset [legend]="title" [toggleable]="true" [collapsed]="false">

    <div class="ui-g ui-g-nopad">
      <ng-template ngFor let-field [ngForOf]="fields">
        <vitam-metadata-field [title]="field.title" [value]="value[field.value]" [originalTitle]="field.originalTitle"
                              [labelSize]="3" [keyToLabel]="keyToLabel" class="ui-g-12" style="text-align: left" [fieldCode]="field.fieldCode"
                              [(updatedFields)]="updatedFields" [updateMode]="updateMode" [canUpdate]="canUpdate"></vitam-metadata-field>
      </ng-template>
    </div>

  </p-fieldset>
</ng-container>

<!-- Handle Array display -->
<ng-container *ngIf="typeOfField === 'Array'">
  <p-fieldset [legend]="title" [toggleable]="true" [collapsed]="false">
    <div class="ui-g">
      <ng-template ngFor let-field [ngForOf]="arrayValue">
        <div [ngClass]="elementClass" *ngIf="field.isObject">
          <ng-template ngFor let-innerField [ngForOf]="field.value" let-i="index">
            <vitam-metadata-field [title]="innerField.title" [value]="innerField.value" [originalTitle]="innerField.originalTitle"
                                  [labelSize]="3" [keyToLabel]="keyToLabel" class="ui-g-12 no-pad-top" style="text-align: left" [fieldCode]="innerField.fieldCode"
                                  [(updatedFields)]="updatedFields" [updateMode]="updateMode" [canUpdate]="canUpdate"></vitam-metadata-field>
          </ng-template>
        </div>
        <vitam-metadata-field *ngIf="!field.isObject" [noTitle]="true" [value]="field.value" [originalTitle]="field.originalTitle"
                              [labelSize]="3" [keyToLabel]="keyToLabel" class="ui-g-12 no-pad-top" style="text-align: left" [fieldCode]="field.fieldCode"
                              [(updatedFields)]="updatedFields" [updateMode]="updateMode" [canUpdate]="canUpdate"></vitam-metadata-field>
      </ng-template>
    </div>
  </p-fieldset>
</ng-container>

<p-dialog [(visible)]="displayError" header="Erreur de modification">
  Le champ {{title}} contient une valeur invalide, sa modification ne sera pas enregistrée.
  <p-footer>
    <button type="button" pButton icon="fa-check" (click)="displayError=false" label="Ok"></button>
  </p-footer>
</p-dialog>