
output
{
    # todo: check if drop exists (which module set it, etc...)
    if "_grokparsefailure" not in [tags] and "drop" not in [tags]
    {
        if [logger] =~ "logback" or [logger] =~ "mongo" or [vitam_component] =~ "elasticsearch-data" or [logger] =~ "consul"  or [vitam_component] =~ "clamd"
        {
            elasticsearch
            {
                # KWA TODO: Prevoir un peu de tuning de perf ici
                #flush_size => 10000
                #idle_flush_time => 1
                #idle_flush_time => 2
                #workers => 20
                template => "/vitam/conf/logstash/extra/elasticsearch-template.json"
                index => "logstash-vitam-%{+YYYY.MM.dd}"
                hosts => ["{{ groups['hosts-elasticsearch-log']|join(':' + elasticsearch_log_http_port + '", "') }}:{{elasticsearch_log_http_port}}"]
            }
        }
        else if [vitam_component] =~ "elasticsearch-log" or [logger] == "curator"
        {
            elasticsearch
            {
                template => "/vitam/conf/logstash/extra/elasticsearch-template.json"
                index => "logstash-logs-%{+YYYY.MM.dd}"
                hosts => ["{{ groups['hosts-elasticsearch-log']|join(':' + elasticsearch_log_http_port + '", "') }}:{{elasticsearch_log_http_port}}"]
            }
        }
        else
        {
            elasticsearch
            {
                template => "/vitam/conf/logstash/extra/elasticsearch-template.json"
                index => "logstash-uncatched-%{+YYYY.MM.dd}"
                hosts => ["{{ groups['hosts-elasticsearch-log']|join(':' + elasticsearch_log_http_port + '", "') }}:{{elasticsearch_log_http_port}}"]
            }
        }
    }
    # _grokparsefailure cases
    else
    {
        # todo: remove this if ?
        # todo: add a template (maybe different from the ones above)?
        if [vitam_component] =~ "logback" or [vitam_component] =~ "elastic" or [vitam_component] =~ "mongo" or [vitam_component] =~ "script" or [vitam_component] =~ "elasticsearch-data" or [vitam_component] =~ "consul"
        {
            elasticsearch
            {
                index => "logstash-failure-%{+YYYY.MM.dd}"
                hosts => ["{{ groups['hosts-elasticsearch-log']|join(':' + elasticsearch_log_http_port + '", "') }}:{{elasticsearch_log_http_port}}"]
            }
        }
    }

    # -----------------------------------------------------
    # Following is for debug purpose only
    # stdout {
    #   debug => debug_format => "json"
    #   codec => rubydebug
    # }
}
