client:
  hosts:
{% for host in groups['hosts-elasticsearch-log'] %}
    - {{host}}
{% endfor %}
  port: {{elasticsearch_log_http_port}}
  url_prefix:
  use_ssl: False
  certificate:
  client_cert:
  client_key:
  aws_key:
  aws_secret_key:
  aws_region:
  ssl_no_validate: False
  http_auth:
  timeout: 30
  master_only: False

logging:
  loglevel: INFO
  logfile: {{curator_log_dir}}/curator.log
  logformat: default
  blacklist: ['elasticsearch', 'urllib3']