<div id="global" class="container-fluid" >
  <ol class="breadcrumb">
    <li>Administration</li>
    <li><a href="#!/admin/traceabilityOperationSearch">Opérations de sécurisation</a></li>
    <li><a ng-href="#!/admin/traceabilityOperationDetail/{{traceabilityOperationId}}">Vérification d'une opération de sécurisation</a></li>
  </ol>

  <div class="panel panel-default col-md-12">
    <span class="panel-header no-toggle">
        <h2>Vérification de l'opération de sécurisation - {{traceabilityOperationId}}</h2>
    </span>

    <!-- Détail de l'opération de sécurisation -->
    <div class="panel-body panel-collapse collapse in">
    <div class="table-responsive">
      <div class="form-group col-md-12">
        <div class="table-responsive">
          <table class="table">
            <tr>
              <th>Date de début</th>
              <th>Date de fin</th>
              <th>Nombre d'opérations</th>
              <th>Algorithme de hashage</th>
              <th>Nom du fichier</th>
              <th>Taille du fichier</th>
              <th>Date du tampon d'horodatage</th>
              <th>CA signataire</th>
            </tr>
            <tr>
              <td>{{startDate}}</td>
              <td>{{endDate}}</td>
              <td>{{numberOfElement}}</td>
              <td>{{digestAlgorithm}}</td>
              <td>{{fileName}}</td>
              <td>{{fileSize | filterSize}}</td>
              <td>{{genTime}}</td>
              <td>{{signerCertIssuer}}</td>
            </tr>
          </table>

          <table class="table">
            <tr>
              <td><b>Hash de l'arbre de Merkle : </b> {{hash}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <button ng-show="hasPermission('traceability:check:create')" class="btn btn-primary center-block" ng-click="runTraceabilityVerificationProcess()">
      <i class="material-icons pull-left">play_arrow</i>
      <span>Lancer la vérification</span>
    </button>
  </div>
 </div>

  <!-- Show Verification Report  -->
  <div ng-if = "showCheckReport" class="panel panel-default col-md-12">
    <span class="panel-header no-toggle">
        <h2>Rapport de vérification</h2>
    </span>
    <div class="panel-body panel-collapse collapse in">
    <!-- Display Verification operation details (logbookOperation) -->
     <div ng-repeat = "report in reports">
      <logbook-entry-table id="report.evIdProc"></logbook-entry-table>

        <!-- Download traceability file -->
        <button ng-show="hasPermission('traceability:content:read')" class="btn btn-primary center-block" ng-click="downloadOperation()">
          <i class="material-icons">file_download</i>
          <span>Télécharger</span>
        </button>
    </div>
    </div>
  </div>


</div>
