<div id="global" class="container-fluid">
    <ol class="breadcrumb">
        <li>Administration</li>
        <li><a href="#!/admin/entryContracts">Contrats d'entrée</a></li>
        <li><a href="#!/admin/entryContracts/{{contract._id}}">Détail d'un contrat d'entrée</a></li>
    </ol>

    <div class="panel panel-default boxSearchWrapper col-md-12">
                <span class="panel-header no-toggle">
                    <h2>Détail du contrat d'entrée - {{contract._id}}</h2>
                </span>
        <div id="boxContractsList" class="panel-collapse">
            <div id="collapse1" class="panel-body">
                <div class=" text-right">
                    <button class="btn " ng-click="changeEditMode()" ng-if="editMode">
                        <i class="material-icons pull-left">edit</i>
                        <span>Annuler</span>
                    </button>

                    <button class="btn btn-primary" ng-click="changeEditMode()" ng-hide="checkPermission() || editMode">
                        <i class="material-icons pull-left">edit</i>
                        <span>Modifier</span>
                    </button>
                    <button class="btn btn-primary" ng-click="saveModifs()" ng-hide="checkPermission() || !editMode">
                        <i class="material-icons pull-left">save</i>
                        <span>Enregistrer</span>
                    </button>
                </div>

                <div class="panel-body" style="margin-top: 10px">
                    <form>
                        <input type="hidden" name="hiddenField"/>
                    </form>
                    <div class="form-group col-md-6">
                        <label>Identifiant</label>
                        <span>{{contract.Identifier}}</span>
                    </div>
                    <div class="form-group col-md-3">
                        <label>Date de création</label>
                        <span>{{contract.CreationDate | vitamFormatDate}}</span>
                    </div>
                    <div class="form-group col-md-3">
                        <label>Date de mise à jour</label>
                        <span>{{contract.LastUpdate | vitamFormatDate}}</span>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="row simple-field">
                            <display-single-field field-size="'11'"   field-key="'Name'"
                                                  field-value="tmpVars" field-label="'Nom'" edit-mode="editMode">
                            </display-single-field>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Statut</label>
                        <label class="switch">
                            <input type="checkbox" ng-model="tmpVars.isActive" ng-change="updateStatus()" ng-disabled="checkPermission()">
                            <div class="slider round" ng-class="{'disabled': checkPermission()}"></div>
                        </label>
                        <span>{{contract.Status | StrReplace}}</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-md-6">
                        <div class="row simple-field">
                            <display-single-field field-size="'11'"   field-key="'Description'"
                                                  field-value="tmpVars" field-label="'Description'" edit-mode="editMode">
                            </display-single-field>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <div class="row simple-field">
                            <display-single-field field-size="'11'"  field-key="'ActivationDate'"
                                                  field-value="tmpVars" field-label="'Date d\'activation'" edit-mode="editMode">
                            </display-single-field>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <div class="row simple-field">
                            <display-single-field field-size="'11'" field-key="'DeactivationDate'"
                                                  field-value="tmpVars" field-label="'Date de désactivation'" edit-mode="editMode">
                            </display-single-field>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-md-3">
                        <label>Profils d'archivage</label>
                        <md-chips ng-model="tmpVars.ArchiveProfiles" name="ArchiveProfiles" readonly="!editMode"
                                  md-removable="editMode" placeholder="Ajouter un profil ..." >
                        </md-chips>
                    </div>
                    <div class="form-group col-md-3">
                    </div>
                    <div class="form-group col-md-3">
                        <div class="row simple-field">
                            <display-single-field field-size="'11'" field-key="'FilingParentId'"
                                                  field-value="tmpVars" field-label="'Noeuds de rattachement'" edit-mode="editMode">
                            </display-single-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
