<p-panel *ngIf="label" #searchView>
  <p-header>
    <span class="ui-g-4 ui-g-offset-4" style="padding: 0">{{label}}</span>
    <div class="ui-g-4" style="padding: 0; text-align: right" *ngIf="panelButtonlabel">
      <button pButton class="ui-button secondaryButton" (click)="clickPanelButton()" label="{{panelButtonlabel}}"
              icon="fa-upload" iconPos="left"></button>
    </div>
  </p-header>
  <form class="w-100" [formGroup]="searchForm" (ngSubmit)="onSubmit()" *ngIf="!advancedData">
    <div class="ui-g">
      <div *ngFor="let field of data" class="ui-g-{{field.totalSize}}">
        <div class="ui-g-{{field.blankSize}}" *ngIf="field.blankSize > 0"></div>
        <div class="ui-g-{{field.inputSize}}">
          <label stle="font-weigth: bold" class="ui-g-12">{{field.label ? field.label : field.placeholder}} </label>
          <input pInputText class="ui-g-12" formControlName="{{field.name}}" name="{{field.name}}"
                 *ngIf="field.type === 'text'" (blur)="disableOthers(field)">
          <p-calendar class="ui-g-12 ui-g-nopad" formControlName="{{field.name}}" type="date" placeholder="jj/mm/aaaa"
                      *ngIf="field.type === 'date'"
                      [dateFormat]="'dd/mm/yy'" [yearNavigator]="true"
                      [yearRange]="'400:2500'" [locale]="frLocale"></p-calendar>
          <p-dropdown class="ui-g-12 ui-g-nopad ui-fluid" formControlName="{{field.name}}" id="{{field.name}}"
                      [(ngModel)]="field.placeholder" (onChange)="field.updateFunction(data, searchForm)"
                      [options]="field.options" [autoWidth]="false" *ngIf="field.type === 'select'"></p-dropdown>
          <p-listbox class="ui-g-12" [style]="{'width':'100%', 'text-align':'left'}"
                     *ngIf="field.type === 'selectMultiple'" [options]="field.options" formControlName="{{field.name}}"
                     id="{{field.name}}"
                     [listStyle]="{'max-height': '90px'}"
                     multiple="multiple" (onChange)="field.updateFunction(data, searchForm)"></p-listbox>
          <p-listbox class="ui-g-12" [style]="{'width':'100%', 'text-align':'left' }"
                     *ngIf="field.type === 'dynamicSelect'" [options]="field.options"
                     formControlName="{{field.name}}" id="{{field.name}}"
                     [listStyle]="{'max-height': '90px'}"
                     multiple="multiple"></p-listbox>
        </div>
      </div>
      <div class="ui-g-12">
        <button pButton type="button" class="secondaryButton" icon="fa-times" label="Effacer"
                (click)="clearFields()"></button>
        <button pButton icon="fa-search" label="Rechercher"></button>
      </div>

      <div class="ui-g-3" *ngIf="preSearchReturn.searchProcessError"></div>
      <div class="ui-g-6 errorMessage" *ngIf="preSearchReturn.searchProcessError">
        <span>{{preSearchReturn.searchProcessError}}</span>
      </div>
    </div>
  </form>

  <p-tabView *ngIf="advancedData" [activeIndex]="advancedMode ? 1 : 0">
    <p-tabPanel header="Recherche globale" [selected]="true" (click)="switchMode(false)">
      <form class="w-100" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <div class="ui-g">
          <div *ngFor="let field of data" class="ui-g-{{field.totalSize}}">
            <div class="ui-g-{{field.blankSize}}" *ngIf="field.blankSize > 0"></div>
            <div class="ui-g-{{field.inputSize}}">
              <label stle="font-weigth: bold" class="ui-g-12">{{field.label ? field.label : field.placeholder}} </label>
              <input pInputText class="ui-g-12" formControlName="{{field.name}}" name="{{field.name}}"
                     *ngIf="field.type === 'text'" (keyup)="disableOthers(field)">
              <p-calendar class="ui-g-12" formControlName="{{field.name}}" type="date" placeholder="jj/mm/aaaa"
                          *ngIf="field.type === 'date'" [dateFormat]="'dd/mm/yy'" [yearNavigator]="true"
                          [yearRange]="'400:2500'" [locale]="frLocale"></p-calendar>
              <p-dropdown class="ui-g-12 ui-g-nopad ui-fluid" formControlName="{{field.name}}" id="{{field.name}}"
                          [(ngModel)]="field.placeholder"
                          [options]="field.options" [autoWidth]="false" *ngIf="field.type === 'select'"></p-dropdown>
              <p-listbox class="ui-g-12" [style]="{'width':'100%', 'text-align':'left'}"
                         *ngIf="field.type === 'selectMultiple'" [options]="field.options"
                         formControlName="{{field.name}}" id="{{field.name}}"
                         [listStyle]="{'max-height': '90px'}" multiple="multiple"></p-listbox>
            </div>
          </div>
          <div class="ui-g-12">
            <button pButton type="button" class="secondaryButton" icon="fa-times" label="Effacer"
                    (click)="clearFields()"></button>
            <button pButton icon="fa-search" label="Rechercher"></button>
          </div>

          <div class="ui-g-3" *ngIf="preSearchReturn.searchProcessError"></div>
          <div class="ui-g-6 errorMessage" *ngIf="preSearchReturn.searchProcessError">
            <span>{{preSearchReturn.searchProcessError}}</span>
          </div>
        </div>
      </form>
    </p-tabPanel>
    <p-tabPanel header="Recherche avancée" (click)="switchMode(true)">
      <form class="w-100" [formGroup]="advancedSearchForm" (ngSubmit)="onSubmit()">
        <div class="ui-g">
          <div *ngFor="let field of advancedData" class="ui-g-{{field.totalSize}}">
            <div class="ui-g-{{field.blankSize}}" *ngIf="field.blankSize > 0"></div>
            <div class="ui-g-{{field.inputSize}}">
              <label stle="font-weigth: bold" class="ui-g-12">{{field.label ? field.label : field.placeholder}} </label>
              <input pInputText class="ui-g-12" formControlName="{{field.name}}" name="{{field.name}}"
                     *ngIf="field.type === 'text'" (keyup)="disableOthers(field)">
              <p-calendar class="ui-g-12 ui-g-nopad" formControlName="{{field.name}}" type="date" placeholder="jj/mm/aaaa"
                          *ngIf="field.type === 'date'" [dateFormat]="'dd/mm/yy'" [yearNavigator]="true"
                          [yearRange]="'400:2500'" [locale]="frLocale"></p-calendar>
              <p-dropdown class="ui-g-12 ui-g-nopad ui-fluid" formControlName="{{field.name}}" id="{{field.name}}"
                          placeholder="{{field.placeholder}}" [style]="{'width':'100%'}"
                          [options]="field.options" *ngIf="field.type === 'select' && field.options.length > 0"
                          (onChange)="field.updateFunction(advancedData, advancedSearchForm)"></p-dropdown>
              <p-listbox class="ui-g-12" [style]="{'width':'100%', 'text-align':'left' }"
                         *ngIf="field.type === 'selectMultiple' && field.options.length > 0" [options]="field.options"
                         formControlName="{{field.name}}" id="{{field.name}}"
                         multiple="multiple"></p-listbox>
              <span *ngIf="(field.type === 'selectMultiple' || field.type === 'select') && field.options.length === 0">Aucune option éligible</span>
            </div>
          </div>
          <div class="ui-g-12">
            <button pButton type="button" class="secondaryButton" icon="fa-times" label="Effacer"
                    (click)="clearFields()"></button>
            <button pButton icon="fa-search" label="Rechercher"></button>
          </div>

          <div class="ui-g-3" *ngIf="preSearchReturn.searchProcessError"></div>
          <div class="ui-g-6 errorMessage" *ngIf="preSearchReturn.searchProcessError">
            <span>{{preSearchReturn.searchProcessError}}</span>
          </div>
        </div>
      </form>
    </p-tabPanel>
  </p-tabView>
</p-panel>