# Configuration MongoDB
mongoDbNodes:
{% for server in groups['hosts_mongos_data'] %}
  - dbHost: {{ hostvars[server]['ip_service'] }}
    dbPort: {{ mongodb.mongos_port }}
{% endfor %}
dbName: report
dbAuthentication: {{ mongodb.mongo_authentication | bool | lower }}
dbUserName: {{ mongodb['mongo-data'].report.user }}
dbPassword: {{ mongodb['mongo-data'].report.password }}
jettyConfig: jetty-config.xml

urlWorkspace: {{ vitam.workspace | client_url }}
