<p-fieldset legend="Résultats des derniers tests">
  <p-panel *ngIf="resultDetail" header="Résumé">
    <div class="mar-b--20px">
      <table class="ui-g-12">
        <tr>
          <td class="ui-g-4">Nombre de Tests</td>
          <td class="ui-g-4">Succès</td>
          <td class="ui-g-4">Echecs</td>
        </tr>
        <tr>
          <td class="ui-g-4"><b>{{resultDetail.Reports.length}}</b></td>
          <td class="ui-g-4 text-green"><b>{{resultDetail.NumberOfTestOK}}</b></td>
          <td class="ui-g-4 text-red"><b>{{resultDetail.NumberOfTestKO}}</b></td>
        </tr>
      </table>
      <hr>
       <table class="ui-g-12">
        <tr>
          <td class="ui-g-3">Catégorie</td>
          <td class="ui-g-3">Succès</td>
          <td class="ui-g-3">Echecs</td>
          <td class="ui-g-3">Total</td>
        </tr>
        <tr *ngFor="let tag of resultDetail.Tags">
          <td class="ui-g-3"><b>{{tag.TagName}}</b></td>
          <td class="ui-g-3 text-green"><b>{{tag.Ok}}</b></td>
          <td class="ui-g-3 text-red"><b>{{tag.Ko}}</b></td>
          <td class="ui-g-3"><b>{{tag.Ok + tag.Ko}}</b></td>
        </tr>
      </table>

      <div class="clearfix">&nbsp;</div>
    </div>

  </p-panel>

  <p-panel *ngIf="resultDetail" header="Détails">
    <vitam-generic-table [items]="resultDetail.Reports" [cols]="cols" [getClass]="getClass" [filter]="'Ok'">
    </vitam-generic-table >
  </p-panel>

</p-fieldset>
