<p-panel [header]="'Authentification'">
  <p *ngIf="needCertificate">
    Vous devez choisir votre certificat pour utiliser ihm-recette
  </p>
  <form *ngIf="showLoginForm" class="ui-g ui-fluid " (submit)="logIn()">
    <div class="ui-g-12 ui-md-12 logout-error-message">
      <span *ngIf="showLoginErrorMessage">Merci de vérifier votre identifiant et votre mot de passe</span>
    </div>

      <div class="ui-g-offset-2 ui-g-4 ui-md-4 ">
        <label for="username">Identifiant</label><br/>
        <input id="username" type="text" pInputText [(ngModel)]="username" name="username">
      </div>
      <div class="ui-g-4 ui-md-4 ">
        <label for="password">Mot de passe</label><br/>
        <input id="password" pInputText type="password" [(ngModel)]="password" name="password"/>
      </div>

    <div class="ui-g-12 ui-md-5"></div>
    <div class="ui-g-12 ui-md-2">
      <button pButton type="submit" label="Connexion"></button>
    </div>
  </form>
</p-panel>
