<div id="global" class="container-fluid" >
  <ol class="breadcrumb">
    <li>Menu</li>
    <li><a href="#!/applicative-test">Tests fonctionnels</a></li>
  </ol>

  <div class="panel panel-default col-md-12">
    <span class="panel-header no-toggle">
      <h2>Tests fonctionnels</h2>
    </span>
    <div class="panel-body">
      <div class="row archive-desc panel-collapse collapse in" id="boxLaunch">
        <div class="text-justify">
          <button class="btn btn-primary btn-success btn-s" type="button" ng-click="launchTests()">
            <i class="material-icons pull-left">file_download</i>
            <span>Lancer les tests</span>
          </button>
          <button class="btn btn-primary btn-success btn-s" type="button" ng-click="sync()">
            <span>Mise à jour référentiel</span>
          </button>
        </div>
        <div ng-if="pending"><span>Tests fonctionnels en cours ...</span></div>
        <div ng-if="finished"><span>Tests fonctionnels terminés</span></div>
        <div ng-if="error"><span>Les tests fonctionnels sont déjà en cours ou une erreur s'est produite</span></div>
      </div>
    </div>

  <div class="panel-default col-md-12">
    <span class="panel-header no-toggle">
      <h2>Résultats des derniers tests</h2>
    </span>
    <div id="leftColumn">
      <div id="navcolumn">
        <h5>##</h5>
        <ul>
          <li class="collapsed">
          </li>
        </ul>
      </div>
    </div>
    <div id="bodyColumn">
      <div id="contentBox">

        <div class="section">

          <div>
            <table class="w3-centered table">
              <tr>
                <th>Rapport</th>
                <th>Détails</th>
              </tr>
              <!-- TODO : Check error / success and display good HTML -->
              <tr ng-repeat="item in report.results | orderBy:'reverse':true">
                <td ng-click="goToDetails(item)">{{item}}</td>
                <td ng-click="goToDetails(item)">Accès au détail</td>
              </tr>

            </table>
          </div>
          <br />
        </div>
      </div>
    </div>
    <div class="clear">
      <hr />
    </div>
  </div>

  <div class="panel panel-default col-md-12" ng-if="!!reportDetails">
    <span class="panel-header no-toggle">
      <h2>Résultats des derniers tests</h2>
    </span>
    <div id="leftColumn">
      <div id="navcolumn">
        <h5>##</h5>
        <ul>
          <li class="collapsed">
          </li>
        </ul>
      </div>
    </div>
    <div>
      <div>
        <div class="section">
          <h2>
            Résumé
          </h2>
          <br />
          <table style="text-align:center">
            <tr class="a">
              <td>Nb Tests</td>
              <td>Succès</td>
              <td>Echecs</td>
            </tr>
            <tr class="w3-xlarge">
              <td class="w3-large"><b>{{reportDetails.size}}</b></td>
              <td class="w3-large w3-text-green"><b>{{reportDetails.success}}</b></td>
              <td class="w3-large w3-text-red"><b>{{reportDetails.errors}}</b></td>
            </tr>
          </table>

        </div>

        <div>

          <div class="table-responsive ">
            <h2>
              Détails
            </h2>
            <table class="table">
              <tr>
                <th></th>
                <th>Feature</th>
                <th>ID Opération</th>
                <th>Description</th>
                <th>Errors</th>
                <th>Status</th>
              </tr>
              <!-- TODO : Check error / success and display good HTML -->
              <tbody>
                <tr ng-if="!item.Ok" ng-repeat="item in reportDetails.results.Reports">
                  <td class='w3-pale-red' >
                    <img src='images/icon_error_sml.gif' alt='' />
                  </td>
                  <td class='w3-pale-red' >{{item.Feature}}</td>
                  <td class='w3-pale-red' >{{item.OperationId}}</td>
                  <td class='w3-pale-red' >{{item.Description}}</td>
                  <td class='w3-pale-red' >{{item.Errors}}</td>
                  <td class='w3-pale-red' >{{item.Ok}}</td>
                </tr>

                <tr ng-if="item.Ok" ng-repeat="item in reportDetails.results.Reports">
                  <td class="w3-pale-green">
                    <img src='images/icon_success_sml.gif' alt='' />
                  </td>
                  <td class="w3-pale-green">{{item.Feature}}</td>
                  <td class="w3-pale-green">{{item.OperationId}}</td>
                  <td class="w3-pale-green">{{item.Description}}</td>
                  <td class="w3-pale-green">{{item.Errors}}</td>
                  <td class="w3-pale-green">{{item.Ok}}</td>
                </tr>
              </tbody>

            </table>
          </div>
          <br />
        </div>
      </div>
    </div>
    <div class="clear">
      <hr />
    </div>
  </div>

</div>
