Package: vitam-alertmanager
Source: alertmanager
Section: monitor
Priority: optional
Maintainer: French Prime minister Office/SGMAP/DINSIC/Vitam Program <contact.vitam@culture.gouv.fr>
Homepage: https://github.com/prometheus/alertmanager
Architecture: amd64
Depends: vitam-user-vitam
Description: Monitoring system and time series database
Version: 0.21.0
