[Unit]
Description=Launch vitam audit data consistency for metadata

[Timer]
OnCalendar=*-*-* 02:00:00
Persistent=false


[Install]
WantedBy=timers.target
