[Unit]
Description=Launch vitam reconstruction script for metadata

[Timer]
OnCalendar=*-*-* *:0/5:00
Persistent=false


[Install]
WantedBy=timers.target
