[Unit]
Description=Launch vitam compute graph script for metadata

Wants=network.target
After=network.target

[Service]
Type=oneshot
EnvironmentFile=/vitam/conf/metadata/reconstruction.conf
ExecStart=/vitam/script/metadata/computegraph.sh
User=vitam
Group=vitam
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
