[Unit]
Description=Launch vitam dip purge for metadata

Wants=network.target
After=network.target

[Service]
Type=oneshot
EnvironmentFile=/vitam/conf/metadata/reconstruction.conf
ExecStart=/vitam/script/metadata/purge_dip.sh
User=vitam
Group=vitam
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
