<p-panel header="{{label}}">

  <form class="w-100" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="ui-g">
      <div class="ui-g-4">
        <label style="font-weigth: bold" class="ui-g-12">Titre et Description</label>
        <input pInputText class="ui-g-12" formControlName="titleAndDescription" name="titleAndDescription">
      </div>
      <div class="ui-g-4">
        <label style="font-weigth: bold" class="ui-g-12">Date de début</label>
        <p-calendar class="ui-g-12 ui-g-nopad" formControlName="startDate" type="date" [dateFormat]="'dd/mm/yy'"
                    [yearNavigator]="true" [yearRange]="'1970:2500'" [locale]="frLocale"></p-calendar>
      </div>
      <div class="ui-g-4">
        <label style="font-weigth: bold" class="ui-g-12">Date de fin</label>
        <p-calendar class="ui-g-12 ui-g-nopad" formControlName="endDate" type="date" [dateFormat]="'dd/mm/yy'"
                    [yearNavigator]="true" [yearRange]="'1970:2500'" [locale]="frLocale"></p-calendar>
      </div>

      <div class="ui-g-12">
        <button pButton type="button" class="secondaryButton" icon="fa-times" label="Effacer"
                (click)="clearFields()"></button>
        <button pButton icon="fa-search" label="Rechercher"></button>
      </div>
    </div>
  </form>

</p-panel>

<p-panel header="Résultats ({{hits.total}})" *ngIf="data && hits">

  <p-paginator [rows]="nbRows" (onPageChange)="paginate($event)" [totalRecords]="hits.total"
               [(first)]="firstItem"></p-paginator>

  <p-dataTable [value]="displayedItems" (onRowClick)="switchSelected($event)" [emptyMessage]="'Aucun Résultat'">
    <p-column [header]="'Selectioné'">
      <ng-template let-item="rowData" pTemplate="body">
        <span *ngIf="isInList(item)" class="fa fa-check"></span>
        <span *ngIf="!isInList(item)" class="fa fa-fw"></span>
      </ng-template>
    </p-column>

    <p-column *ngFor="let col of columns" [field]="col.field" [header]="col.label" [style]="col.computeCss()"
              [styleClass]="'clickableDiv'">
      <ng-template let-item="rowData" pTemplate="body">
      <span [ngClass]="col.computeCss()" title="{{col.transform(col.getValue(item))}}">
        {{col.transform(col.getValue(item)) }}
      </span>
      </ng-template>
    </p-column>
  </p-dataTable>
  <div class="ui-g">
    <div class="ui-g-12">
      <button pButton icon="fa-check" label="Valider" (click)="updateSelection()"></button>
    </div>
  </div>

</p-panel>