---

cerebro:
  secret_key: change_it-tGz28hJkiW[p@a34G
  # Comment the following lines to disable the basic authentication on Cerebro UI
  basicauth:
    username: vitam_admin
    password: change_it-aadmin1234

grafana:
  admin_user: vitam_admin
  admin_password: change_it-aadmin1234
