
plateforme_secret: vitamsecret
cerebro_secret_key: tGz28hJkiW[p@a34G
consul_encrypt: Biz14ohqN4HtvZmrXp3N4A==

mongodb:
  data:
    passphrase: mongogo
    admin:
      user: vitamdb-admin
      password: azerty
    localadmin:
      user: vitamdb-localadmin
      password: qwerty
    metadata:
      user: metadata
      password: azerty1
    logbook:
      user: logbook
      password: azerty2
    functionalAdmin:
      user: functional-admin
      password: azerty3
    securityInternal:
      user: security-internal
      password: azerty4
  offer:
    passphrase: mongogo
    admin:
      user: vitamdb-admin
      password: azerty
    localadmin:
      user: vitamdb-localadmin
      password: qwerty
    offer:
      user: offer
      password: azerty5

vitam_users:
  - vitam_aadmin:
    login: aadmin
    password: aadmin1234
    role: admin
  - vitam_uuser:
    login: uuser
    password: uuser1234
    role: user
  - vitam_gguest:
    login: gguest
    password: gguest1234
    role: guest
  - techadmin:
    login: techadmin
    password: techadmin1234
    role: admin
ldap_authentification:
    ldap_pwd: "admin"

admin_basic_auth_password: adminPassword
