---
# Vitam platform secret key
plateforme_secret: vitamsecret

# The consul key must be 16-bytes, Base64 encoded: https://www.consul.io/docs/agent/encryption.html
# You can generate it with the "consul keygen" command
# Or you can use this script: deployment/pki/scripts/generate_consul_key.sh
consul_encrypt: Biz14ohqN4HtvZmrXp3N4A==

mongodb:
  mongo-data:
    passphrase: mongogo
    admin:
      user: vitamdb-admin
      password: azerty
    localadmin:
      user: vitamdb-localadmin
      password: qwerty
    metadata:
      user: metadata
      password: azerty1
    logbook:
      user: logbook
      password: azerty2
    report:
      user: report
      password: azerty5
    functionalAdmin:
      user: functional-admin
      password: azerty3
    securityInternal:
      user: security-internal
      password: azerty4
  offer-fs-1:
    passphrase: mongogo
    admin:
      user: vitamdb-admin
      password: azerty
    localadmin:
      user: vitamdb-localadmin
      password: qwerty
    offer:
      user: offer
      password: azerty5
  offer-fs-2:
    passphrase: mongogo
    admin:
      user: vitamdb-admin
      password: azerty
    localadmin:
      user: vitamdb-localadmin
      password: qwerty
    offer:
      user: offer
      password: azerty5
  offer-swift-1:
    passphrase: mongogo
    admin:
      user: vitamdb-admin
      password: azerty
    localadmin:
      user: vitamdb-localadmin
      password: qwerty
    offer:
      user: offer
      password: azerty5

vitam_users:
  - vitam_aadmin:
    login: aadmin
    password: aadmin1234
    role: admin
  - vitam_uuser:
    login: uuser
    password: uuser1234
    role: user
  - vitam_gguest:
    login: gguest
    password: gguest1234
    role: guest
  - techadmin:
    login: techadmin
    password: techadmin1234
    role: admin

ldap_authentification:
    ldap_pwd: "admin"

admin_basic_auth_password: adminPassword

vitam_offers:
    offer-swift-1:
        swiftPassword: password
