---

cerebro:
  secret_key: tGz28hJkiW[p@a34G
  # Uncomment the following lines to activate the basic authentication on Cerebro UI
#  basicauth:
#    username: aadmin
#    password: change_it_uW8N5wjAX2mJ8g6G

grafana:
  admin_user: admin
  admin_password: aadmin1234
