keystores:
  server:
    offer: azerty1
    access_external: azerty2
    ingest_external: azerty3
    ihm_recette: azerty16
    ihm_demo: azerty17
  client_external:
    ihm_demo: azerty4
    gatling: azerty4
    ihm_recette: azerty5
    reverse: azerty6
  client_storage:
    storage: azerty7
  timestamping:
    secure_logbook: azerty8
truststores:
  server: azerty9
  client_external: azerty10
  client_storage: azerty11
grantedstores:
  client_external: azerty12
  client_storage: azerty13
