<p-panel [header]="'Détail des fonds'">
  <div class="ui-g"  *ngIf="register">
    <div class="ui-g-12 ui-md-6">
      <p-panel [header]="'Fonds propres'">
        <div class="ui-g">
          <p-dataTable [value]="mainRegisters">
            <p-column *ngFor="let col of registersCols" [field]="col.field">
              <ng-template pTemplate="header">
                <div class="registersHeaders">
                  {{col.header}}
                </div>
              </ng-template>
            </p-column>
          </p-dataTable>
        </div>
      </p-panel>

    </div>
    <div class="ui-g-12 ui-md-6">
      <p-panel [header]="'Fonds symboliques'">
        <div class="ui-g">
          <p-dataTable [value]="attachedRegisters" [emptyMessage]="'Aucun résultat'">
            <p-column *ngFor="let col of registersCols" [field]="col.field" [header]="col.header">
            </p-column>
          </p-dataTable>
        </div>
      </p-panel>
    </div>


    <div class="ui-g-3 ui-g-offset-9" >
      <button  pButton type="button" (click)="goToSearchUnitPage()" label="Unités archivistiques associées" icon="fa-list-ul"></button>
    </div>

  </div>
  <div class="ui-g">
    <div class="ui-g-12">
      <p-panel [header]="'Liste par opération'" [styleClass]="'overflow-wrap-content'">
        <div class="ui-g">
          <p-dataTable #dt [value]="registerDetails" [emptyMessage]="'Aucun résultat'">
            <p-column field="Symbolic" header="Fonds propre">
              <ng-template let-detail="rowData" pTemplate="body">
                <i [ngClass]="getDetailIcon(detail)" aria-hidden="true"></i>
              </ng-template>
            </p-column>
            <p-column field="#id" header="Identifiant"></p-column>
            <p-column field="SubmissionAgency" header="Service versant"></p-column>
            <p-column field="LastUpdate" header="Date d'entrée">
              <ng-template let-detail="rowData" pTemplate="body">
                {{getDate(detail)}}
              </ng-template>
            </p-column>
            <p-column field="TotalUnits" header="Nb d'unités archivistiques">
              <ng-template let-detail="rowData" pTemplate="body">
                {{getDetailsMessage('TotalUnits', detail)}}
              </ng-template>
            </p-column>
            <p-column field="TotalObjectGroups" header="Nb de groupes d'objets techniques">
              <ng-template let-detail="rowData" pTemplate="body">
                {{getDetailsMessage('TotalObjectGroups', detail)}}
              </ng-template>
            </p-column>
            <p-column field="TotalObjects" header="Nb d'objets">
              <ng-template let-detail="rowData" pTemplate="body">
                {{getDetailsMessage('TotalObjects', detail)}}
              </ng-template>
            </p-column>
            <p-column field="" header="Type">
              <ng-template let-detail="rowData" pTemplate="body">
                {{getDetailsType(detail)}}
              </ng-template>
            </p-column>
            <p-column field="Status" header="Statut">
              <ng-template let-detail="rowData" pTemplate="body">
                {{getDetailsStatus(detail)}}
              </ng-template>
            </p-column>
          </p-dataTable>
        </div>
      </p-panel>
    </div>
  </div>
</p-panel>
