# Mongo URL for storing Mongoclient configuration.
# example: MONGO_URL='mongodb://user:password@host:port/databasename'
MONGO_URL="{{ mongoclient_mongo_url }}"

# The root URL calling Mongoclient
# example: ROOT_URL='http://example.com'
ROOT_URL="{{ mongoclient_root_url }}"

# Port the application will listen on
# example: PORT='3000'
PORT="{{ mongoclient_port }}"
{% if mongoclient_mail_url is defined %}

# SMTP URL for email configuration.
# example: MAIL_URL='smtp://user:password@mailhost:port/'
MAIL_URL="{{ mongoclient_mail_url }}
{% endif %}
{% if mongoclient_user is defined %}

#Enable authentication when true
MONGOCLIENT_AUTH=true
MONGOCLIENT_USERNAME="{{mongoclient_user}}"
MONGOCLIENT_PASSWORD="{{mongoclient_pwd}}"
{% endif %}