[Unit]
Description=Access Rest
After=network.target
After=syslog.target

[Service]
Type=simple
EnvironmentFile=/vitam/conf/${unix.name}/sysconfig/entry_opts
EnvironmentFile=-/vitam/conf/${unix.name}/sysconfig/java_opts
ExecStart=/usr/bin/env java $JAVA_OPTS $JAVA_ENTRYPOINT $JAVA_ARGS
User=${unix.user}
Group=${unix.group}

[Install]
WantedBy=multi-user.target
