Package: vitam-logstash
Version: 7.16.2
Section: database
Priority: optional
Architecture: all
Depends: bash, vitam-user-vitam, logstash (>= 7.16.2)
Maintainer: French Prime minister Office/SGMAP/DINSIC/Vitam Program <contact.vitam@culture.gouv.fr>
Description: An extensible logging pipeline.
