<p-panel [header]="label" [toggleable]="true" [(collapsed)]="isCollapsed" *ngIf="label">
  <div class="ui-g">
    <div class="ui-g-4 textAlignLeft" textAlignLeft>
      <p-scrollPanel [style]="{width: '100%', height: '150px'}" styleClass="custombar1">
        <div style="padding:1em;line-height:1.5">
          <p-checkbox value="DescriptionLevelFacet" label="Niveaux de description" [(ngModel)]="selectedFacets" inputId="dl" #dlFacet></p-checkbox>
          <div *ngIf="facetDLResults" style="padding:1em;line-height:1">
            <div *ngFor="let item of facetDLResults" style="margin-right:10px">
              <a (click)="research(item.value, dlFacet.value)">{{item.value}} ({{item.count}})</a>
            </div>
          </div>
        </div>
      </p-scrollPanel>
    </div>
    <div class="ui-g-4 textAlignLeft">
      <p-scrollPanel [style]="{width: '100%', height: '150px'}" styleClass="custombar1">
        <div style="padding:1em;line-height:1.5">
          <p-checkbox value="OriginatingAgencyFacet" label="Service producteur" [(ngModel)]="selectedFacets" inputId="oa" #oaFacet></p-checkbox>
          <div *ngIf="facetOAResults" style="padding:1em;line-height:1">
            <div *ngFor="let item of facetOAResults" style="margin-right:10px">
              <a (click)="research(item.value, oaFacet.value)">{{item.value}} ({{item.count}})</a>
            </div>
          </div>
        </div>
      </p-scrollPanel>
    </div>
    <div class="ui-g-4 textAlignLeft">
      <p-scrollPanel [style]="{width: '100%', height: '150px'}" styleClass="custombar1">
        <div style="padding:1em;line-height:1.5">
          <p-checkbox value="LanguageTitleFacet" label="Titres par langue" [(ngModel)]="selectedFacets" inputId="ltf" #ltFacet></p-checkbox>
          <div *ngIf="facetLangTitleResults" style="padding:1em;line-height:1">
            <div *ngFor="let item of facetLangTitleResults" style="margin-right:10px">
              <a (click)="research(item.value, ltFacet.value)">{{item.value}} ({{item.count}})</a>
            </div>
          </div>
        </div>
      </p-scrollPanel>
    </div>
    <div class="ui-g-4 textAlignLeft">
      <p-scrollPanel [style]="{width: '100%', height: '150px'}" styleClass="custombar1">
        <div style="padding:1em;line-height:1.5">
          <p-checkbox value="LanguageDescFacet" label="Descriptions par langue" [(ngModel)]="selectedFacets" inputId="ldf" #ldFacet></p-checkbox>
          <div *ngIf="facetLangDescResults" style="padding:1em;line-height:1">
            <div *ngFor="let item of facetLangDescResults" style="margin-right:10px">
              <a (click)="research(item.value, ldFacet.value)">{{item.value}} ({{item.count}})</a>
            </div>
          </div>
        </div>
      </p-scrollPanel>
    </div>
    <div class="ui-g-4 textAlignLeft">
      <p-scrollPanel [style]="{width: '100%', height: '150px'}" styleClass="custombar1">
        <div style="padding:1em;line-height:1.5">
          <p-checkbox value="StartDateFacet" label="Date de début : [{{rangeStartDate[0] + ' - ' + rangeStartDate[1]}}]" [(ngModel)]="selectedFacets"
            inputId="sdf" #sdFacet></p-checkbox>
          <div class="ui-g-12" style="padding:1em;line-height:1.5">
            <div class="ui-g-6 textAlignLeft">{{rangeMin}}</div>
            <div class="ui-g-6 textAlignRight">{{rangeMax}}</div>
            <p-slider [(ngModel)]="rangeStartDate" [range]="true" [min]="rangeMin" [max]="rangeMax"></p-slider>
          </div>
          <div *ngIf="facetSDResults" style="padding:1em;line-height:1">
            <div *ngFor="let item of facetSDResults" style="margin-right:10px">
              <a (click)="research(item.value, sdFacet.value)">{{item.value}} ({{item.count}})</a>
            </div>
          </div>
        </div>
      </p-scrollPanel>
    </div>
    <div class="ui-g-4 textAlignLeft">
      <p-scrollPanel [style]="{width: '100%', height: '150px'}" styleClass="custombar1">
        <div style="padding:1em;line-height:1.5">
          <p-checkbox value="endDateFacet" label="Date de fin : [{{rangeEndDate[0] + ' - ' + rangeEndDate[1]}}]" [(ngModel)]="selectedFacets"
            inputId="edf" #edFacet></p-checkbox>
          <div class="ui-g-12" style="padding:1em;line-height:1.5">
            <div class="ui-g-6 textAlignLeft">{{rangeMin}}</div>
            <div class="ui-g-6 textAlignRight">{{rangeMax}}</div>
            <p-slider [(ngModel)]="rangeEndDate" [range]="true" [min]="rangeMin" [max]="rangeMax"></p-slider>
          </div>
          <div *ngIf="facetEDResults" style="padding:1em;line-height:1">
            <div *ngFor="let item of facetEDResults" style="margin-right:10px">
              <a (click)="research(item.value, edFacet.value)">{{item.value}} ({{item.count}})</a>
            </div>
          </div>
        </div>
      </p-scrollPanel>
    </div>
    <div class="ui-g-12">
      <button pButton type="button" class="secondaryButton" icon="fa-times" label="Effacer" (click)="clearFacets()" [disabled]="disabledFacet"></button>
      <button pButton type="button" (click)="searchFacets()" label="Rechercher" icon="fa-search" [disabled]="disabledFacet"></button>
    </div>
  </div>
</p-panel>