Package: vitam-user-vitam
Version: 0.8.0
Section: comm
Priority: optional
Architecture: all
Depends: bash, sudo
Maintainer: French Prime minister Office/SGMAP/DINSIC/Vitam Program <contact.vitam@culture.gouv.fr>
Description: Package used to create the vitam user and group
