#!/usr/bin/env bash
set -e

RECONSTRUCTION_URL="http://{{ ip_admin }}:{{ vitam.functional_administration.port_admin }}/adminmanagement/v1/reconstruction"

function log() {
    LEVEL=${1}
    MSG=${2}
    TIMESTAMP=$( date +"%Y-%m-%d %H:%M:%S" )
    echo ${TIMESTAMP} [[vitam-functional-administration-reconstruction]] [vitam-functional-administration-reconstruction] ${LEVEL} vitam-functional-administration-reconstruction.service - reconstruction_functional_administration.service : [${HOSTNAME}:reconstruction_functional_administration.service:0] ${MSG}
}

function local_curl() {
    COLLECTION=${1}
    curl -s -X POST -H "X-Tenant-Id: 0" -H "Content-Type: application/json" --user "${VITAM_ADMIN_AUTH}" ${RECONSTRUCTION_URL}/${COLLECTION}
    log "INFO" "${MSG}"
}

# Main
local_curl FORMATS
local_curl RULES
local_curl MANAGEMENT_CONTRACT
local_curl INGEST_CONTRACT
local_curl ACCESS_CONTRACT
local_curl PROFILE
local_curl ARCHIVE_UNIT_PROFILE
local_curl AGENCIES
local_curl CONTEXT
local_curl SECURITY_PROFILE
local_curl GRIFFIN
local_curl PRESERVATION_SCENARIO
local_curl ONTOLOGY
