<div id="global" class="container-fluid">
	<ol class="breadcrumb">
		<li>Menu</li>
		<li><a href="#!/searchOperation">Recherche d'un journal sécurisé</a></li>
	</ol>

	<div class="panel panel-default col-md-12">
		<a class="panel-header">
			<h2>Recherche</h2>
		</a>

		<form id="boxEntriesSearchForm"
			  class="panel-body panel-collapse collapse in"
			  ng-submit="ctrl.getList()">
			<div id="boxAdvanced" class="panel-body panel-collapse collapse in">
				<div class="form-group col-md-3">
					<label for="searchId">Identifiant de l'objet</label>
					<input ng-model="searchId" type="text" name="searchId" class="form-control" />
				</div>

				<div class="form-group col-md-2 col-md-offset-1">
					<label>Dates extrêmes</label>
					<div class="input-group">
						<input id="startDate" type="text" class="form-control input-sm"
							   ng-model="startDate" />
						<div class="input-group-addon">
							<i class="material-icons">date_range</i>
						</div>
					</div>
				</div>

				<div class="form-group col-md-2">
					<label>&nbsp;</label>
					<div class="input-group">
						<input id="endDate" type="text" class="form-control input-sm"
							   ng-model="endDate" />
						<div class="input-group-addon">
							<i class="material-icons">date_range</i>
						</div>
					</div>
				</div>

				<div class="form-group col-md-2 col-md-offset-1">
					<label for="logType">Type de journal sécurisé</label>
					<select ng-model="logType" class="form-control" name="logType">
						<option value="--">--</option>
						<option value="OPERATION">Journal des opération</option>
						<option value="LFC_UNIT">Cycle de vie Unité Archevistique</option>
						<option value="LFC_OG">Cycle de vie Groupe d'Objet</option>
						<option value="WRITE">Journal des écritures</option>
					</select>
				</div>
				<div class="clearfix"></div>
				<button class="btn btn-default pull-left" type="reset" ng-click="ctrl.reinitTab()">
					<i class="material-icons pull-left">clear</i><span>Effacer</span>
				</button>
				<button class="btn btn-primary center-block" type="submit" ng-disabled="checkTenant()">
					<i class="material-icons pull-left">search</i><span>Rechercher</span>
				</button>
			</div>
		</form>
	</div>

	<!-- Pagination -->
	<div style="text-align: center">
		<button class="btn btn-default btn-s"
				ng-disabled="ctrl.currentPage <= 1"
				ng-click="ctrl.currentPage=ctrl.currentPage-1">Précédent</button>
		<input ng-model="ctrl.currentPage" style="max-width: 40px">/{{ctrl.resultPages}}
		<button class="btn btn-default btn-s"
				ng-disabled="ctrl.currentPage >= ctrl.resultPages"
				ng-click="ctrl.currentPage=ctrl.currentPage+1">Suivant</button>
		<button ng-if="ctrl.fileNotFoundError"
				class="btn btn-danger center-block" type="button"
				style="margin-top: 20px">{{ctrl.errorMessage}}</button>
	</div>

	<div class="panel panel-default col-md-12">
		<a class="panel-header" data-target="#boxEntriesList" data-toggle="collapse">
			<h2>
				Résultats
				<span ng-if="ctrl.results == 0 || ctrl.results > 0">({{ctrl.results}})</span>
			</h2>
		</a>

		<div id="boxEntriesList" class="panel-body panel-collapse collapse in">

			<dynamic-table custom-fields="ctrl.customFields"
						   selected-objects="ctrl.selectedObjects"> </dynamic-table>

			<div class="table-responsive">
				<table class="table">
					<tr>
						<th>Type de journal sécurisé</th>
						<th>Date de début</th>
						<th>Date de fin</th>
						<th>Télecharger</th>
					</tr>

					<tbody ng-init="logDetails=log.events[log.events.length-1].evDetData" ng-click="ctrl.goToDetails(log.evIdProc)"
						   ng-repeat='log in ctrl.operationList | startFrom:(ctrl.currentPage-1)*ctrl.itemsPerPage | limitTo:ctrl.itemsPerPage'>
					<tr>
						<td>{{logDetails.LogType}}</td>
						<td>{{logDetails.StartDate | vitamFormatDate}}</td>
						<td>{{logDetails.EndDate | vitamFormatDate}}</td>
						<td>
							<a href="" ng-click="ctrl.downloadOperation(log.evIdProc)">
								<i class="material-icons">file_download</i>
							</a>
						</td>
					</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>

</div>

<script>
	/* French initialisation for the jQuery UI date picker plugin. */
    (function(factory) {
      if (typeof define === "function" && define.amd) {

        // AMD. Register as an anonymous module.
        define([ "../jquery.ui.datepicker" ], factory);
      } else {

        // Browser globals
        factory(jQuery.datepicker);
      }
    }(function(datepicker) {
      datepicker.regional['fr'] = {
        closeText : 'Fermer',
        prevText : '<',
        nextText: '>',
        currentText : 'Aujourd\'hui',
        monthNames : [ 'janvier', 'février', 'mars', 'avril', 'mai',
          'juin', 'juillet', 'août', 'septembre', 'octobre',
          'novembre', 'décembre' ],
        monthNamesShort : [ 'janv.', 'févr.', 'mars', 'avril', 'mai',
          'juin', 'juil.', 'août', 'sept.', 'oct.', 'nov.', 'déc.' ],
        dayNames : [ 'dimanche', 'lundi', 'mardi', 'mercredi', 'jeudi',
          'vendredi', 'samedi' ],
        dayNamesShort : [ 'dim.', 'lun.', 'mar.', 'mer.', 'jeu.', 'ven.',
          'sam.' ],
        dayNamesMin : [ 'D', 'L', 'M', 'M', 'J', 'V', 'S' ],
        weekHeader : 'Sem.',
        dateFormat : 'yy-mm-dd',
        firstDay : 1,
        isRTL : false,
        showMonthAfterYear : false,
        yearSuffix : ''
      };
      datepicker.setDefaults(datepicker.regional['fr']);
      return datepicker.regional['fr'];
    }));

    $(function() {
      $("#startDate").datepicker($.datepicker.regional['fr']);
      $("#endDate").datepicker($.datepicker.regional['fr']);
      $(".datepicker").datepicker();
    });
</script>

