<div id="global" class="container-fluid" >
  <ol class="breadcrumb">
    <li>Recherche</li>
    <li><a href="#!/archiveSearch">Recherche d'archives</a></li>
  </ol>

  <div class="boxSearchWrapper panel panel-default col-md-12">
    <a class="panel-header"  data-target="#boxSearch" data-toggle="collapse">
      <h2>Recherche d'archives</h2>
    </a>

    <div id="boxSearch" class="panel-body panel-collapse collapse in">
      <!-- <div class="tab-content"> -->
      <md-tabs role="tablist" md-stretch-tabs="always" md-dynamic-height>
        <md-tab label="Recherche simple" role="presentation" class="active" ng-click="reinitForm(); advancedSearch=false;">
          <!-- * RECHERCHE SIMPLE * -->
          <form role="tabpanel" class="tab-pane active" id="simpleSearch" ng-submit="getSearchResult()">
            <div class="boxSimpleSearchInput form-group col-md-12 m-t-50 m-b-25">
              <div class="input-group m-b-25">
                <input ng-model="search.form.titleCriteria" type="text" class="form-control input-lg" ng-change="onInputChange()"/>
                <div class="input-group-addon"><button class="btn btn-primary center-block" type="reset" ng-click="reinitForm()"><i class="material-icons pull-left">clear</i></button></div>
              </div>
              <div class="clearfix"></div>
              <button class="btn btn-primary center-block" type="submit"><i class="material-icons pull-left">search</i><span>Rechercher</span></button>
            </div>
          </form>
        </md-tab>
        <md-tab label="Recherche avancée" role="presentation" class="col-md-6" ng-click="reinitForm(); advancedSearch=true;">
          <!-- * RECHERCHE AVANCEE * -->
          <form role="tabpanel" class="tab-pane active" id="complexeSearch"
                ng-submit="getElasticSearchUnitsResult()">
            <div class="clearfix"></div>
            <div class="container col-md-12">
              <div class="panel panel-default col-md-12">
                <div id="boxAdvanced" class="panel-body panel-collapse collapse in">
                  <div class="form-group col-md-4">
                    <label>Titre</label>
                    <input ng-model="search.form.title" type="text" ng-readonly="search.form.id.length" class="form-control input-sm" ng-change="onElasticInputChange()"/>
                  </div>

                  <div class="form-group col-md-6">
                    <label>Description</label>
                    <input ng-model="search.form.description" type="text" ng-readonly="search.form.id.length" class="form-control input-sm" ng-change="onElasticInputChange()"/>
                  </div>
                  <div class="form-group col-md-2">
                    <label>ID</label>
                    <input ng-model="search.form.id" type="text" class="form-control input-sm" ng-change="onElasticInputChange()"/>
                  </div>
                  <div class="form-group col-md-2">
                    <label>Dates Extrêmes</label>
                    <div class="input-group">
                      <input ng-model="search.form.startDate" date-picker="" id="startDate" type="text" ng-readonly="search.form.id.length" class="form-control input-sm" ng-change="onElasticInputChange()"/>
                      <div class="input-group-addon"><i class="material-icons">date_range</i></div>
                    </div>
                  </div>
                  <div class="form-group col-md-2">
                    <label>&nbsp;</label>
                    <div class="input-group">
                      <input ng-model="search.form.endDate" date-picker="" id="endDate" type="text" ng-readonly="search.form.id.length" class="form-control input-sm" ng-change="onElasticInputChange()"/>
                      <div class="input-group-addon"><i class="material-icons">date_range</i></div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div>
                    <div class="col-md-2"><!-- Blank zone --></div>
                    <div class="col-md-3">
                      <button class="btn btn-default" type="reset" ng-click="reinitElasticForm()"><i class="material-icons pull-left">clear</i><span>Effacer</span></button>
                    </div>
                    <div class="col-md-4">
                      <button class="btn btn-primary" type="submit"><i class="material-icons pull-left">search</i><span>Rechercher</span></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </md-tab>
      </md-tabs>

    <!--  Nbre d'archives trouvées -->
    <button ng-if="search.error.displayMessage" class="btn btn-danger center-block" type="button" style="margin-top: 20px">
        {{search.error.message}}
    </button>

  </div>
</div>

<!--  Horizontal separator -->
<hr />

<div class="clearfix"></div>
  <search-pagination ng-if="advancedSearch===true" pagination-scope="search.pagination" search-function="getElasticSearchUnitsResult"></search-pagination>
  <search-pagination ng-if="advancedSearch===false" pagination-scope="search.pagination" search-function="getSearchResult"></search-pagination>


<!--
*
*    RESULTATS
*
-->

<div class="panel panel-default col-md-12">
  <a class="panel-header"  data-target="#boxSearchResults" data-toggle="collapse">
      <h2> Résultats <span ng-if="search.response.totalResult == 0 || search.response.totalResult > 0">({{search.response.totalResult}})</span> </h2>
  </a>
  <div id="boxSearchResults" class="panel-body panel-collapse collapse in">
    <div class="table-responsive ">
      <table class="table highlighted">
        <tr>
          <th>
            <!-- ID -->
            <a href="" ng-click="reverseSort = !reverseSort; refreshAfterSort('#id', reverseSort);">ID</a>
            <span ng-show="search.form.orderByField.field == '#id' && !reverseSort" class="glyphicon glyphicon-triangle-bottom"></span>
            <span ng-show="search.form.orderByField.field == '#id' && reverseSort" class="glyphicon glyphicon-triangle-top"></span>
          </th>
          <th>
            <!-- Titre -->
            <a href="" ng-click="reverseSort = !reverseSort; refreshAfterSort('Title', reverseSort);">Titre</a>
            <span ng-show="search.form.orderByField.field == 'Title' && !reverseSort" class="glyphicon glyphicon-triangle-bottom"></span>
            <span ng-show="search.form.orderByField.field == 'Title' && reverseSort" class="glyphicon glyphicon-triangle-top"></span>
          </th>
          <th>
            <!-- Date -->
            <a href="" ng-click="reverseSort = !reverseSort; refreshAfterSort('TransactedDate', reverseSort);">Date</a>
            <span ng-show="search.form.orderByField.field == 'TransactedDate' && !reverseSort" class="glyphicon glyphicon-triangle-bottom"></span>
            <span ng-show="search.form.orderByField.field == 'TransactedDate' && reverseSort" class="glyphicon glyphicon-triangle-top"></span>
          </th>
          <th>
            <!-- Objet(s) disponible(s) -->
            <a href="" ng-click="reverseSort = !reverseSort; refreshAfterSort('#object', reverseSort);">Objet(s) disponible(s)</a>
            <span ng-show="search.form.orderByField.field == '#object' && !reverseSort" class="glyphicon glyphicon-triangle-bottom"></span>
            <span ng-show="search.form.orderByField.field == '#object' && reverseSort" class="glyphicon glyphicon-triangle-top"></span>
          </th>
        </tr>

        <tbody ng-if="search.response.totalResult>0">
          <tr data-toggle="popover" data-trigger="focus" data-placement="top" ng-click="displayArchiveUnitForm($event, result._id)"
              ng-repeat="result in search.response.data | startFrom: startFormat(search.pagination.currentPage, search.pagination.resultPages, search.pagination.itemsPerPage, search.pagination.startOffset)| limitTo: search.pagination.itemsPerPage">
            <td>{{result._id}}</td>
            <td>{{result.Title}}</td>
            <td>{{result.TransactedDate | vitamFormatDate}}</td>
            <td>
              <i ng-if = "!isObjectExist(result._og)" class="material-icons" style="color:#ccc">close</i>
              <i ng-if = "isObjectExist(result._og)" class="material-icons">check</i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>

<script>
/* French initialisation for the jQuery UI date picker plugin. */
/* Written by Keith Wood (kbwood{at}iinet.com.au),
Stéphane Nahmani (sholby@sholby.net),
Stéphane Raimbault <stephane.raimbault@gmail.com> */
(function( factory ) {
  if ( typeof define === "function" && define.amd ) {
    // AMD. Register as an anonymous module.
    define([ "../jquery.ui.datepicker" ], factory );
  } else {
    // Browser globals
    factory( jQuery.datepicker );
  }
}(function( datepicker ) {
  datepicker.regional['fr'] = {
    closeText: 'Fermer',
    prevText: '<',
    nextText: '>',
    currentText: 'Aujourd\'hui',
    monthNames: ['janvier', 'février', 'mars', 'avril', 'mai', 'juin',
    'juillet', 'août', 'septembre', 'octobre', 'novembre', 'décembre'],
    monthNamesShort: ['janv.', 'févr.', 'mars', 'avril', 'mai', 'juin',
    'juil.', 'août', 'sept.', 'oct.', 'nov.', 'déc.'],
    dayNames: ['dimanche', 'lundi', 'mardi', 'mercredi', 'jeudi', 'vendredi', 'samedi'],
    dayNamesShort: ['dim.', 'lun.', 'mar.', 'mer.', 'jeu.', 'ven.', 'sam.'],
    dayNamesMin: ['D','L','M','M','J','V','S'],
    weekHeader: 'Sem.',
    dateFormat: 'dd/mm/yy',
    firstDay: 1,
    isRTL: false,
    showMonthAfterYear: false,
    yearSuffix: ''};
    datepicker.setDefaults(datepicker.regional['fr']);
    return datepicker.regional['fr'];
  }));

  </script>
