<div class="archiveSearchPage">
  <section layout="column" layout-sm="column" layout-align="center center"  layout-wrap="" >
    <md-input-container class="md-icon-float md-block">
      <!-- Use floating label instead of placeholder -->
      <label>Titre</label>
      <md-icon md-svg-src="images/ic_search_black_24px.svg" class="titre" ng-click="getSearchResult(titleCriteria)"></md-icon>
      <input ng-model="titleCriteria" type="text">
      <md-icon md-svg-src="images/ic_clear_black_24px.svg" class="titre" ng-click="titleCriteria='';showResult=false; error=false;"></md-icon>
    </md-input-container>

    <button ng-if="showResult" class="btn btn-primary" type="button">
      Résultats <span class="badge">{{totalResult}}</span>
    </button>
    <button ng-if="error" class="btn btn-danger" type="button">
      {{errorMessage}}
    </button>
  </section>

  <div class="archiveSearchResult">
    <div class="table-responsive ">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th><a href="" ng-click="orderByField='id'; reverseSort = !reverseSort">ID</a>
              <span ng-show="orderByField == 'id' && !reverseSort" class="glyphicon glyphicon-triangle-bottom"></span>
              <span ng-show="orderByField == 'id' && reverseSort" class="glyphicon glyphicon-triangle-top"></span>
            </th>
            <th>
              <a href="" ng-click="orderByField='title'; reverseSort = !reverseSort">Titre</a>
              <span ng-show="orderByField == 'title' && !reverseSort" class="glyphicon glyphicon-triangle-bottom"></span>
              <span ng-show="orderByField == 'title' && reverseSort" class="glyphicon glyphicon-triangle-top"></span>
            </th>
            <th><a href="" ng-click="orderByField='date'; reverseSort = !reverseSort">Transaction Date</a>
              <span ng-show="orderByField == 'date' && !reverseSort" class="glyphicon glyphicon-triangle-bottom"></span>
              <span ng-show="orderByField == 'date' && reverseSort" class="glyphicon glyphicon-triangle-top"></span>
            </th>
          </tr>
        </thead>
        <tbody ng-if="showResult && totalResult>0">
          <tr ng-click="displayArchiveUnitForm(result._id)" ng-repeat="result in archiveUnitsSearchResult | orderBy:orderByField:reverseSort">
            <th>{{$index + 1}}</th>
            <td>{{result._id}}</td>
            <td>{{result.Title}}</td>
            <td>{{result.TransactedDate}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
