<div class="container-fluid unit-form">
    <div class="col-md-12">
      <form class="form-horizontal">
        <div class="form-group">
          <label for="titleCriteria" class="col-sm-2 control-label">Titre</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="titleCriteria" ng-model="titleCriteria" placeholder="Critère de recherche par titre">
          </div>

        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-default" ng-click="getSearchResult(titleCriteria)">Rechercher</button>
          </div>
        </div>
      </form>
      <hr>

      <div ng-if="showResult">
        Total des résultats : {{totalResult}}
      </div>

      <div ng-if="showResult==false">
        Aucun résultat trouvé
      </div>

      <div class="table-responsive">
        <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>ID</th>
            <th>Titre</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody ng-if="showResult">
          <tr ng-repeat="result in archiveUnitsSearchResult">
            <th>{{$index + 1}}</th>
            <td>{{result._id}}</td>
            <td>{{result.Title}}</td>
            <td>{{result.TransactedDate}}</td>
          </tr>
        </tbody>
      </table>
    </div>



      <!-- <div ng-controller="OrderSearchResultController">
        <pre>Sort by = {{propertyName}}; reverse = {{reverse}}</pre>
        <hr/>
        <button ng-click="propertyName = null; reverse = false">Set to unsorted</button>
        <hr/>
        <table class="orderResult">
          <tr>
            <th>
              <button ng-click="sortBy('id')">Id</button>
              <span class="sortorder" ng-show="propertyName === 'id'" ng-class="{reverse: reverse}"></span>
            </th>
            <th>
              <button ng-click="sortBy('title')">Title</button>
              <span class="sortorder" ng-show="propertyName === 'title'" ng-class="{reverse: reverse}"></span>
            </th>
            <th>
              <button ng-click="sortBy('date')">Date</button>
              <span class="sortorder" ng-show="propertyName === 'date'" ng-class="{reverse: reverse}"></span>
            </th>
          </tr>
          <tr ng-repeat="result in searchResults | orderBy:propertyName:reverse">
            <td>{{result.id}}</td>
            <td>{{result.title}}</td>
            <td>{{result.date}}</td>
          </tr>
        </table>
      </div> -->


    </div>
</div>
