Package: vitam-${unix.name}
Version: [[version]]
Section: Application/Archiving
Priority: low
Architecture: all
Depends: ${jdk.version.debian}, systemd, vitam-user-${unix.user}, vitam-${ihm-demo.name}
Build-Depends: dh-systemd
Maintainer: Vitam Package Team
Description: [[description]]
