# Configuration MongoDB
dbHost: {{vitam_mongodb_host}}
dbPort: {{vitam_mongodb_port}}
dbName: Vitam
dbAuthentication: {{mongo_authentication}}
dbUserName: {{mongoLogbookUser}}
dbPassword: {{mongoLogbookPassword}}
jettyConfig: jetty-config.xml
