<p-panel [header]="'Panier'" [toggleable]="false" [collapsed]="false">

    <div class="ui-g" *ngIf="hits">
        <div class="ui-g-12">
            <div class="ui-g-4">Nombre d'objet dans le panier: </div>
            <div class="ui-g-3">{{hits.total}}</div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">Nombre d'objet sélectionnés dans la page: </div>
            <div class="ui-g-3">{{countSelected()}}</div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">Actions: </div>
            <div class="ui-g-3">
                <button type="button" pButton icon="fa-trash" label="Supprimer la sélection" (click)="deleteSelected()"></button>
            </div>
            <div class="ui-g-3">
                <button type="button" pButton icon="fa-trash" label="Exporter le panier" (click)="exportBasket()"></button>
            </div>
        </div>
    </div>

    <p-paginator *ngIf="hits" [(rows)]="nbRows" [rowsPerPageOptions]="[5, 25, 125]" (onPageChange)="paginate($event)"
                 [totalRecords]="hits.total" [(first)]="firstItem"></p-paginator>
    <p-dataTable [(value)]="displayedItems" [sortField]="filter" [selectionMode]="selectionMode"
                 [scrollable]="true" scrollWidth="100%" [paginator]="false" scrollHeight="400px">

        <!-- First Column: Manage Children -->
        <p-column [style]="{'width': '20px'}">
            <ng-template let-item="rowData" let-index="rowIndex" pTemplate="body">
                <i *ngIf="!item.isChild" (click)="showHideChildren(item, index)" [ngClass]="getRootIcon(item)"></i>
                <i *ngIf="item.isChild" [ngClass]="'fa fa-angle-right'"></i>
            </ng-template>
        </p-column>

        <!-- Main Columns: Display AU infos -->
        <p-column *ngFor="let col of manualColumns" [field]="col.field" [header]="col.label" [style]="col.computeCss()">

            <ng-template let-item="rowData" pTemplate="body">
                <ng-template [ngIf]="col.forceIcon || (col.icons.length > 0 && col.shouldDisplay(item))">
                    <i *ngFor="let icon of col.getIcons(item, col.icons)"
                       [ngClass]="'fa ' + icon + ' clickableDiv'" (click)="col.onClick(item, icon)" title="{{col.getLabel(icon)}}">
                    </i>
                </ng-template>
                <span *ngIf="col.icons.length === 0 && !col.forceIcon" (click)="col.onClick(item)" [ngClass]="col.computeCss() + (item.isChild ? ' childLine' : '')"
                      title="{{col.transform(col.getValue(item)) }}"> {{col.transform(col.getValue(item))}}
                </span>
            </ng-template>
        </p-column>

        <!-- Last Column: Manage Selection -->
        <p-column [style]="{'width': '100px'}">
            <ng-template pTemplate="header">
                <i (click)="checkAll()" [ngClass]="isAllCheckedLabel()"></i> {{isAllChecked() ? 'Tout désélectionner' : 'Tout sélectionner'}}
            </ng-template>
            <ng-template pTemplate="body" let-item="rowData">
                <i *ngIf="!item.isChild" (click)="inverseSelection(item)" [ngClass]="isCheckedLabel(item)" title="Test"></i>
            </ng-template>
        </p-column>

    </p-dataTable>
</p-panel>