<p-panel [toggleable]="false" [collapsed]="false">
    <p-header>
        <div class="ui-g-4"></div>
        <span class="ui-g-4" style="padding: 0">Panier</span>
        <div class="ui-g-3" style="padding: 0; text-align: right">
            <button pButton class="ui-button secondaryButton" (click)="goToAUSearch()"
                    label="Ajouter des unités archivistiques"
                    icon="fa-search-plus" iconPos="left"></button>
        </div>
    </p-header>

    <!-- Header -->
    <div class="ui-g" *ngIf="hits">
        <div class="ui-g-12">
            <!-- Display info -->
            <div class="ui-g-3" style="height: 100px;">
                <div class="ui-g-12" style="height: 45px;">Unités archivistiques dans le panier</div>
                <div class="ui-g-12" style="height: 45px;">Unités archivistiques sélectionnées</div>
            </div>
            <div class="ui-g-1" style="height: 100px;">
                <div class="ui-g-12" style="height: 45px;">{{hits ? hits.total : 0}}</div>
                <div class="ui-g-12" style="height: 45px;">{{hits ? countSelected() : 0}}</div>
            </div>

            <!-- Select action -->
            <div class="ui-g-4" style="height: 100px;">
                <div class="ui-g-12" style="height: 90px; padding-top: 25px;">
                    <!-- TODO: Add onChange in order to init specific forms on select kind of action ? -->
                    <p-dropdown [options]="basketOptions" [(ngModel)]="selectedOption"
                                placeholder="Sélectionner une action"
                                [disabled]="!hits || hits.total === 0" (onChange)="initForm()"></p-dropdown>
                </div>
            </div>

            <!-- Launch Action -->
            <div class="ui-g-4" style="height: 100px;" *ngIf="selectedOption !== 'MASS_UPDATE'">
                <div class="ui-g-12" style="height: 45px;">
                    <button type="button" pButton icon="fa-download" label="Lancer l'action sur le panier"
                            (click)="actionOnBasket(false)"
                            [disabled]="!hits || hits.total === 0 || !selectedOption || !checkInputs()"></button>
                </div>
                <div class="ui-g-12" style="height: 45px;">
                    <button type="button" pButton icon="fa-download" label="Lancer l'action sur la sélection"
                            (click)="actionOnBasket(true)"
                            [disabled]="!hits || hits.total === 0 || !selectedOption || !checkInputs() || countSelected() === 0"></button>
                </div>
            </div>
            <div class="ui-g-4" style="height: 100px;" *ngIf="selectedOption === 'MASS_UPDATE'">
                <div class="ui-g-12" style="height: 45px;">
                    <span>Lancer l'action via le formulaire ci-dessous</span>
                </div>
                <div class="ui-g-12" style="height: 45px;">
                    <span>Lancer l'action via le formulaire ci-dessous</span>
                </div>
            </div>
        </div>
    </div>

    <!-- Specific Elimination form -->
    <div class="ui-g" *ngIf="selectedOption === 'ELIMINATION'">
        <div class="ui-g-12" style="height: 60px;">
            <div class="ui-g-4" style="height: 45px;">Date d'échéance demandée</div>
            <p-calendar class="ui-g-4" type="date" placeholder="jj/mm/aaaa" [dateFormat]="'dd/mm/yy'"
                        [yearNavigator]="true"
                        [yearRange]="'400:2500'" [locale]="frLocale" [(ngModel)]="form.eliminationDate"></p-calendar>
        </div>

        <div class="ui-g-12 ui-g-nopad" style="height: 60px;">
            <div class="ui-g-4" style="height: 45px;">Nombre maximum d'unités archivistiques à traiter</div>
            <div class="ui-g-1"></div>
            <input class="ui-g-2" type="number" pInputText [(ngModel)]="form.eliminationThreshold" min="1"/>
        </div>

        <div class="ui-g-12 ui-g-nopad" style="height: 60px;">
            <div class="ui-g-4" style="height: 45px;">Mode d'élimination</div>
            <p-toggleButton class="ui-g-4" onLabel="Action" offLabel="Analyse"
                            [(ngModel)]="form.eliminationMode"></p-toggleButton>
        </div>
    </div>

    <!-- Specific préservation form -->
    <div class="ui-g" *ngIf="selectedOption === 'PRESERVATION'">

        <div class="ui-g-12" style="height: 60px;">
            <div class="ui-g-4" style="height: 45px;">Usage source</div>
            <p-dropdown class="ui-g-3" [options]="form.sourceUsage" [(ngModel)]="form.selectedSourceUse"></p-dropdown>
        </div>

        <div class="ui-g-12" style="height: 60px;">
            <div class="ui-g-4" style="height: 45px;">Version source</div>
            <p-dropdown class="ui-g-3" [options]="form.versions" [(ngModel)]="form.seclectedVersion"></p-dropdown>
        </div>

        <div class="ui-g-12" style="height: 60px;">
            <div class="ui-g-4" style="height: 45px;">Usage cible</div>
            <p-dropdown class="ui-g-3" [options]="form.targetUsage" [(ngModel)]="form.selectedTargetUse"></p-dropdown>
        </div>

        <div class="ui-g-12" style="height: 60px;">
            <div class="ui-g-4" style="height: 45px;">Scénario</div>
            <p-dropdown class="ui-g-3" [options]="form.scearioResults" [(ngModel)]="form.selectedScenario"></p-dropdown>
        </div>
    </div>

    <!-- Specific probative value form -->
    <div class="ui-g" *ngIf="selectedOption === 'PROBATIVE_VALUE'">
        <div class="ui-g-12" style="height: 60px;">
            <div class="ui-g-4" style="height: 45px;">Usage</div>
            <p-dropdown class="ui-g-3" [options]="form.sourceUsage" [(ngModel)]="form.probativeSelectSource"></p-dropdown>
        </div>

        <div class="ui-g-12" style="height: 60px;">
            <div class="ui-g-4" style="height: 45px;">Version</div>
            <p-spinner class="ui-g-3" [min]="1" [(ngModel)]="form.probativeSelectVersion"></p-spinner>
        </div>
    </div>

    <!-- Specific Update form -->
    <div class="ui-g" *ngIf="selectedOption === 'MASS_UPDATE'">
        <vitam-massive-update-form [(form)]="form" (launchUpdate)="actionOnBasket($event)"></vitam-massive-update-form>
    </div>

    <!-- DataTable -->
    <p-paginator *ngIf="hits" [(rows)]="nbRows" [rowsPerPageOptions]="[5, 25, 125]" (onPageChange)="paginate($event)"
                 [totalRecords]="hits.total" [(first)]="firstItem"></p-paginator>
    <p-dataTable [(value)]="displayedItems" [scrollable]="true" scrollWidth="100%" [paginator]="false"
                 scrollHeight="400px"
                 [emptyMessage]="'Le panier est vide'" (onRowClick)="navigateTo($event)">

        <!-- First Column: Manage Children -->
        <p-column [style.width]="'20px'">
            <ng-template let-item="rowData" let-index="rowIndex" pTemplate="body">
                <i *ngIf="!item.isChild" (click)="showHideChildren(item, index)" [ngClass]="getRootIcon(item)"></i>
                <i *ngIf="item.isChild" [ngClass]="'fa fa-angle-right'"></i>
            </ng-template>
        </p-column>

        <!-- Main Columns: Display AU infos -->
        <!-- -->
        <p-column *ngFor="let col of columns" [field]="col.field" [header]="col.label"
                  [style]="col.computeCss()" [styleClass]="clickable(col)">

            <ng-template let-item="rowData" pTemplate="body">
                <ng-template [ngIf]="col.forceIcon || (col.icons.length > 0 && col.shouldDisplay(item))">
                    <i *ngFor="let icon of col.getIcons(item, col.icons)"
                       [ngClass]="'fa ' + icon + ' clickableDiv'" (click)="col.onClick(item, icon)"
                       title="{{col.getLabel(icon)}}">
                    </i>
                </ng-template>
                <span *ngIf="col.icons.length === 0 && !col.forceIcon" (click)="col.onClick(item)"
                      [ngClass]="col.computeCss() + (item.isChild ? ' childLine' : '')"
                      title="{{col.transform(col.getValue(item)) }}"> {{col.transform(col.getValue(item))}}
                </span>
            </ng-template>
        </p-column>

        <!-- Manage Selection -->
        <p-column [style.width]="'100px'">
            <ng-template pTemplate="header">
                <span class="clickableDiv" (click)="checkAll()">{{isAllChecked() ? 'Tout désélectionner' : 'Tout sélectionner'}}</span>
            </ng-template>
            <ng-template pTemplate="body" let-item="rowData">
                <p-checkbox *ngIf="!item.isChild" [(ngModel)]="item.selected" binary="true"
                            title="Sélectionner"></p-checkbox>
            </ng-template>
        </p-column>

    </p-dataTable>
</p-panel>

<!-- Manage messages and alerts -->
<p-dialog header="Suppression d'éléments du panier ?" [(visible)]="displaySelectedDelete"
          *ngIf="this.countSelected() as count">
    <p>Êtes-vous certain de vouloir supprimer {{count}} élément{{count>1?'s':''}} ?</p>
    <p-footer>
        <button pButton icon="fa-check" (click)="doDelete(true)" label="Oui"></button>
        <button pButton icon="fa-close" (click)="displaySelectedDelete=false" label="Non"></button>
    </p-footer>
</p-dialog>

<p-dialog header="Vider le panier ?" [(visible)]="displayDeleteAll">
    <p>Êtes-vous certain de vouloir vider le panier ?</p>
    <p-footer>
        <button pButton icon="fa-check" (click)="doDelete(false)" label="Oui"></button>
        <button pButton icon="fa-close" (click)="displayDeleteAll=false" label="Non"></button>
    </p-footer>
</p-dialog>

<p-dialog header="Date d'élimination invalide" [(visible)]="displayEliminationDateError">
    <p>La date d'élimination ne doit pas être postérieure à la date du jour</p>
    <p-footer>
        <button pButton icon="fa-close" (click)="displayEliminationDateError=false" label="OK"></button>
    </p-footer>
</p-dialog>
