#%RAML 1.0

title: API-Vitam Version Beta - Access
version: v1
baseUri: https://api.vitam.gouv.fr/access-external/{version}
protocols: [ HTTPS ]

uses:
  StandardTypes: libraries/StandardTypes.raml
  StandardTraits: libraries/StandardTraits.raml
  AccessTypes: libraries/AccessTypes.raml
  AccessTraits: libraries/AccessTraits.raml
  RegisterTraits: libraries/RegisterTraits.raml

mediaType: application/json

types:
  _reserved:
    type: string

documentation:
  - title: Avertissements
    content: !include docs-fr/avertissement.md

  - title: Licence
    content: !include docs-fr/license.md

  - title: API Access
    content: !include docs-fr/access.md

  - title: API Registre des fonds
    content: !include docs-fr/access-register.md

  - title: Champs d'application sur les Units
    content: |
      Les principes sont les suivants :
        - Pas de POST (sauf *X-Http-Method-Override: GET*) car ceci relève de l'entrée
        - Le PUT est utilisé pour réaliser un update partiel
        - Pas de DELETE car ceci relève de l'élimination
        - GET correspond à la recherche ou l'accès selon la présence d'un body ou non
        - Un seul Object par Unit max
        - Une requête depuis un Unit signifie recherche relative depuis celui-ci (roots = this)
        - Accept: **application/json** signifie les métadonnées au format Json
        - (**UNSUPPORTED**) Accept: **application/zip** signifie les métadonnées au format Json et le contenu binaire de l'Objet
        - Accept: **application/octet-stream** signifie le retour du contenu binaire de l'Object

  - title: Champs d'application sur les Objects
    content: |
      Les principes sont les suivants :
        - Object signifie ObjectGroup en masquant la complexité ObjectGroup/Object
        - Pas de POST (sauf *X-Http-Method-Override: GET*) car ceci relève de l'entrée
        - Pas de DELETE car ceci relève de l'élimination
        - GET correspond à la recherche ou l'accès selon la présence d'un body ou non
        - Une requête depuis un object signifie recherche relative depuis celui-ci (roots = this)
        - Accept: **application/json** signifie les métadonnées au format Json
        - (**UNSUPPORTED**) Accept: **application/zip** signifie les métadonnées au format Json et le contenu binaire de l'Objet
        - Accept: **application/octet-stream** signifie le retour du contenu binaire de l'Object

/units:
  displayName: ArchiveUnits
  description: |
   API qui définit les requêtes pour accéder aux Unités d'archives.
   La requête utilise le langage de requête (DSL) de Vitam en entrée et retourne une liste d'Unités d'archives selon le DSL Vitam en cas de succès.
  get:
    description: Request that will return results composed of Units
    is: [AccessTraits.AccessUnitResponse]
  post:
    description: |
      Request that will return results composed of Units. The request is using POST with X-Http-Method-Override: GET
    is: [AccessTraits.AccessUnitResponse, StandardTraits.OverrideGet]
    headers:
      X-Http-Method-Override:
        required: true
  put:
    description: |
      **UNSUPPORTED** Request that will update a set of Units according to the query and the filter parts. The actions to be applied on the set of Units are specified in the action part of the request.
    is: [AccessTraits.AccessUpdateUnitResponse]

  /{idu}:
    displayName: ArchiveUnit
    description: |
     API qui définit les requêtes pour accéder aux Unités d'archives à partir d'une Unité donnée (racine).
     La requête utilise le langage de requête (DSL) de Vitam en entrée et retourne une liste d'Unités d'archives selon le DSL Vitam en cas de succès.
    get:
      description: Request that will return results composed of Units
      is: [AccessTraits.AccessUnitResponse]
    post:
      description: |
        Request that will return results composed of Units. The request is using POST with X-Http-Method-Override: GET
      is: [AccessTraits.AccessUnitResponse, StandardTraits.OverrideGet]
      headers:
        X-Http-Method-Override:
          required: true
    head:
      description: |
        **UNSUPPORTED** Test the existence of this Unit
      is: [StandardTraits.StandardOptionalHeader, StandardTraits.StandardHeadHeader,
        StandardTraits.StandardHeader204, StandardTraits.StandardHeader404,
        StandardTraits.StandardHeader417]
    put:
      description: Request that will update a set of Units according to the query and the filter parts. The actions to be applied on the set of Units are specified in the action part of the request. In this case this update is to be applied for only one Unit (the one specified in the URI).
      is: [AccessTraits.AccessUpdateUnitResponse]

    /object:
      displayName: Object of 1 ArchiveUnit
      description: |
       API qui définit les requêtes pour accéder à l'Objet d'archives associé à l'Unité  d'archives s'il existe.
       La requête utilise le langage de requête (DSL) de Vitam en entrée et retourne l'objet d'archives selon le DSL Vitam en cas de succès.
      get:
        description: |
          Request that will return results composed of Objects (generally 1).
          **SUPPORTED** 'Accept' header is 'application/octet-stream' or 'application/json', other values are **UNSUPPORTED**.
        is: [AccessTraits.AccessUniqueObjectQualifierResponse, AccessTraits.AccessUniqueObjectResponse]
      post:
        description: |
          Request that will return results composed of Objects (generally 1).
          **SUPPORTED** 'Accept' header is 'application/octet-stream' or 'application/json', other values are **UNSUPPORTED**.
          The request is using POST with X-Http-Method-Override: GET.
        is: [AccessTraits.AccessUniqueObjectQualifierResponse, AccessTraits.AccessUniqueObjectResponse, StandardTraits.OverrideGet]
        headers:
          X-Http-Method-Override:
            required: true
      head:
        description: |
          **UNSUPPORTED** Test the existence of this Object
        is: [AccessTraits.AccessUniqueObjectQualifierHeadResponse, StandardTraits.StandardHeadHeader,
        StandardTraits.StandardHeader204,
        StandardTraits.StandardHeader417]

/objects:
  displayName: Objects
  description: |
   **DEPRECATED** : ne sera plus supporté en V1.

   API qui définit les requêtes pour accéder aux Objets d'archives.
   La requête utilise le langage de requête (DSL) de Vitam en entrée et retourne une liste d'Objets d'archives selon le DSL Vitam en cas de succès.
  get:
    description: |
     **UNSUPPORTED** Request that will return results composed of Objects
    is: [AccessTraits.AccessObjectResponse]
  post:
    description: |
      **UNSUPPORTED** Request that will return results composed of Objects. The request is using POST with X-Http-Method-Override: GET
    is: [AccessTraits.AccessObjectResponse, StandardTraits.OverrideGet]
    headers:
      X-Http-Method-Override:
        required: true

  /{ido}:
    displayName: Object
    description: |
     **DEPRECATED** : ne sera plus supporté en V1.

     API qui définit les requêtes pour accéder aux Objets d'archives à partir d'un Objet d'archives donné (racine).
     La requête utilise le langage de requête (DSL) de Vitam en entrée et retourne une liste d'Objets d'archives selon le DSL Vitam en cas de succès.

    get:
      description: |
        **DEPRECATED** : ne sera plus supporté en V1.

        Request that will return results composed of Objects (generally 1) (**UNSUPPORTED**).
        **SUPPORTED** 'Accept' header is 'application/json' or  'application/octet-stream', other values are **UNSUPPORTED**.
      is: [AccessTraits.AccessUniqueObjectQualifierResponse, AccessTraits.AccessObjectResponse]
    post:
      description: |
        **DEPRECATED** : ne sera plus supporté en V1.

        Request that will return results composed of Objects (generally 1) (**UNSUPPORTED**).
        **SUPPORTED** 'Accept' header is 'application/json' or  'application/octet-stream', other values are **UNSUPPORTED**.
        The request is using POST with X-Http-Method-Override: GET.
      is: [AccessTraits.AccessUniqueObjectQualifierResponse, AccessTraits.AccessObjectResponse, StandardTraits.OverrideGet]
      headers:
        X-Http-Method-Override:
          required: true
    head:
      description: |
        **DEPRECATED** : ne sera plus supporté en V1.

        **UNSUPPORTED** Test the existence of this Object
      is: [AccessTraits.AccessUniqueObjectQualifierHeadResponse, StandardTraits.StandardHeadHeader,
      StandardTraits.StandardHeader204,
      StandardTraits.StandardHeader417]


/accession-register:
  displayName: AccessionRegisters
  description: |
   **DEPRECATED** : ne sera plus supporté en V1 car déplacé dans functional-administration.

   **ALPHA version** API qui définit les requêtes pour accéder au Registre des Fonds.
   La requête utilise le langage de requête (DSL) de Vitam en entrée et retourne une liste de registres selon le DSL Vitam en cas de succès.
  get:
    description: |
      Request that will return results composed of AccessionRegister
    is: [RegisterTraits.RegisterListingResponse]
  post:
    description: |
      Request that will return results composed of AccessionRegister, the request must use POST with X-Http-Method-Override: GET.
    is: [RegisterTraits.RegisterListingResponse, StandardTraits.OverrideGet]
    headers:
      X-Http-Method-Override:
        required: true

  /{idu}:
    displayName: AccessionRegister
    description: |
     **DEPRECATED** : ne sera plus supporté en V1 car déplacé dans functional-administration.

     **UNSUPPORTED** API qui définit les requêtes pour accéder à 1 Résumé d'un Fond dans le Registre des Fonds.
    get:
      description: |
        **UNSUPPORTED** Request that will return result composed of 1 AccessionRegister
      is: [RegisterTraits.RegisterItemResponse]
    post:
      description: |
        **UNSUPPORTED** Request that will return result of 1 AccessionRegister. The request is using POST with X-Http-Method-Override: GET
      is: [RegisterTraits.RegisterItemResponse, StandardTraits.OverrideGet]
      headers:
        X-Http-Method-Override:
          required: true

    /accession-register-detail:
      displayName: AccessionRegisterDetail
      description: |
       **DEPRECATED** : ne sera plus supporté en V1 car déplacé dans functional-administration.

       **ALPHA version** API qui définit les requêtes pour accéder au détail d'un Fond dans le Registre des Fonds.
      get:
        description: Request that will return result composed of 1 AccessionRegisterDetail
        is: [RegisterTraits.RegisterListingResponse]
      post:
        description: |
          Request that will return result of all AccessionRegisterDetail of one AccessionRegister. The request is using POST with X-Http-Method-Override: GET
        is: [RegisterTraits.RegisterListingResponse, StandardTraits.OverrideGet]
        headers:
          X-Http-Method-Override:
            required: true

/status:
  get:
    is: [ StandardTraits.StandardHeader204,
      StandardTraits.StandardHeader401, StandardTraits.StandardHeader404, StandardTraits.StandardHeader503 ]
