#%RAML 1.0

title: API-Vitam Version Alpha - Collect
version: v1
baseUri: https://api.vitam.gouv.fr/collect/{version}
protocols: [ HTTP ]

uses:
  StandardTypes: libraries/StandardTypes.raml
  StandardTraits: libraries/StandardTraits.raml
  CollectTraits: libraries/CollectTraits.raml


securitySchemes:
  VitamPlatform: !include ../interne/securitySchemes/SecuritySchemeVitamInternal.raml

securedBy: [ VitamPlatform ]

mediaType: application/json

types:
  _reserved:
    type: string

documentation:
  - title: Avertissements
    content: !include ../interne/docs-fr/avertissement.md

  - title: Licence
    content: !include ../interne/docs-fr/license.md

  - title: API Collect
    content: API Collect

/projects:
  displayName: Projects
  description: |
    API de collecte. Ce point d'entrée permet d'initialiser et de gérer un projet de versement.

    Création d'un projet :
    - une requête unique, avec un 'body' contenant toutes les informations au format JSON :
      - ArchivalAgencyIdentifier
      - TransferingAgencyIdentifier
      - OriginatingAgencyIdentifier
      - SubmissionAgencyIdentifier
      - MessageIdentifier
      - ArchivalAgreement
      - unitUp
      - Comment
  post:
    description: |
      - request body : JSON object
      - response : JSON of saved project / HTTP CODE 200
    is: [CollectTraits.TransactionResponse, StandardTraits.StandardOptionalHeader,
         StandardTraits.StandardHeader401, StandardTraits.StandardHeader404,
         StandardTraits.StandardHeader409, StandardTraits.StandardHeader412]
    headers:
     x-tenant-id:
        required: true
    body:
       application/json:
          type: object
          example: !include libraries/examples/projectObjectRequest.json
    responses:
       200:
          body:
            application/json:
              type: object
              example: !include libraries/examples/projectObjectResponse.json
  put:
        description: |
          - request body : JSON object
          - response : JSON of saved project / HTTP CODE 200
        is: [CollectTraits.TransactionResponse, StandardTraits.StandardOptionalHeader,
             StandardTraits.StandardHeader401, StandardTraits.StandardHeader404,
             StandardTraits.StandardHeader409, StandardTraits.StandardHeader412]
        headers:
         x-tenant-id:
            required: true
        body:
           application/json:
              type: object
              example: !include libraries/examples/projectObjectPutRequest.json
        responses:
           200:
              body:
                application/json:
                  type: object
                  example: !include libraries/examples/projectObjectResponse.json
  get:
    description: |
      - request body : JSON object
      - response : JSON of saved project / HTTP CODE 200
    is: [StandardTraits.StandardOptionalHeader,
         StandardTraits.StandardHeader401, StandardTraits.StandardHeader404,
         StandardTraits.StandardHeader409, StandardTraits.StandardHeader412]
    headers:
     x-tenant-id:
        required: true
    responses:
       200:
          body:
            application/json:
              type: object
              example: !include libraries/examples/listProjectsObjectResponse.json
  /{id}/binary:
    displayName: upload d'une archive Zip
    is: [ StandardTraits.StandardOptionalHeader,
          StandardTraits.StandardHeader401, StandardTraits.StandardHeader404,
           StandardTraits.StandardHeader409, StandardTraits.StandardHeader412]
    post:
     description: |
       Permet de soumettre un ensemble de binaire au format Zip
     body:
      application/zip:
     headers:
      X-tenant-Id:
       required: true
     responses:
        200:
          body:
            application/json:

/projects/{projectId}/transactions:
  displayName: Transactions
  description: |
    API de collecte. Ce point d'entrée permet de créer une transaction de versement par project.

    Crée une transaction d'entrée :
    - une requête unique, avec un 'body' contenant toutes les informations au format JSON :
      - ArchivalAgencyIdentifier
      - TransferingAgencyIdentifier
      - OriginatingAgencyIdentifier
      - ArchiveProfile
      - Comment
  post:
    description: |
      - request body : JSON object
      - response : JSON of saved transaction / HTTP CODE 200
    is: [CollectTraits.TransactionResponse, StandardTraits.StandardOptionalHeader,
         StandardTraits.StandardHeader401, StandardTraits.StandardHeader404,
         StandardTraits.StandardHeader409, StandardTraits.StandardHeader412]
    headers:
     x-tenant-id:
        required: true

  /{id}/units:
    displayName: Ajout d'une unité archivistique
    is: [ StandardTraits.StandardOptionalHeader,
          StandardTraits.StandardHeader401, StandardTraits.StandardHeader404,
           StandardTraits.StandardHeader409, StandardTraits.StandardHeader412,CollectTraits.TransactionResponse ]
    post:
     description: |
       Permet de soumettre une unité archivistique
     body:
      application/json:
        type: object
        example: !include libraries/examples/CollectUnitObjectRequest.json
     headers:
      X-tenant-Id:
       required: true
     responses:
        200:
          body:
            application/json:
              type: object
              example: !include libraries/examples/CollectUnitObjectResponse.json

  /{id}/close:
        displayName: Fermer une transaction -> statut Close
        is: [ StandardTraits.StandardOptionalHeader,
              StandardTraits.StandardHeader401, StandardTraits.StandardHeader404,
               StandardTraits.StandardHeader409, StandardTraits.StandardHeader412 ]
        post:
         description: |
           Permet de fermer une transaction
         body:
          application/json:
         headers:
          X-tenant-Id:
           required: true
         responses:
            200:
              body:
                application/json:
                  type: object
                  example: !include libraries/examples/CollectTransactionCloseObjectResponse.json

  /{id}/send:
            displayName: Générer un SIP et envoyer le SIP a Vitam (Ingest)
            is: [ StandardTraits.StandardOptionalHeader,
                  StandardTraits.StandardHeader401, StandardTraits.StandardHeader404,
                   StandardTraits.StandardHeader409, StandardTraits.StandardHeader412 ]
            post:
             description: |
               Permet de génerer un SIP et l'envoyer a Vitam (Ingest)
             body:
              application/json:
             headers:
              X-tenant-Id:
               required: true
             responses:
                200:
                  body:
                    application/json:
                      type: object
                      example: !include libraries/examples/CollectIngestObjectResponse.json

/units:
  displayName: Units
  description: |
    API de collecte. Ce point d'entrée permet de gérer une unité archivistique et les groupe d'objets.
  is: [ StandardTraits.StandardOptionalHeader,
  StandardTraits.StandardHeader401, StandardTraits.StandardHeader404,
  StandardTraits.StandardHeader409, StandardTraits.StandardHeader412]

  get:
     description: |
       Permet de récuperer une ou plusieurs unité archivistique par DSL QUERY
     body:
      application/json:
        type: object
        example: !include libraries/examples/getCollectUnitByDslQuery.json
     headers:
      X-tenant-Id:
       required: true
     responses:
        200:
          body:
            application/json:
              type: object
              example: !include libraries/examples/CollectUnitResponse.json
  /{id}:
        is: [ StandardTraits.StandardOptionalHeader,
              StandardTraits.StandardHeader401, StandardTraits.StandardHeader404,
               StandardTraits.StandardHeader409, StandardTraits.StandardHeader412]
        get:
         description: |
           Permet de retourner une unité archivistique par son id
         headers:
          X-tenant-Id:
           required: true
         responses:
            200:
              body:
                application/json:
                  type: object
                  example: !include libraries/examples/CollectUnitObjectResponse.json

  /{id}/objects//{usage}//{version}:
    displayName: Ajout d'un groupe d'objects
    is: [ StandardTraits.StandardOptionalHeader,
          StandardTraits.StandardHeader401, StandardTraits.StandardHeader404,
           StandardTraits.StandardHeader409, StandardTraits.StandardHeader412]
    post:
     description: |
       Permet de rajouter un groupe d'objects
     body:
      application/json:
        type: object
        example: !include libraries/examples/CollectObjectGroupObjectRequest.json
     headers:
      X-tenant-Id:
       required: true
     responses:
        200:
          body:
            application/json:
              type: object
              example: !include libraries/examples/CollectObjectGroupObjectResponse.json

  /{id}/objects//{usage}//{version}/binary:
        displayName: Ajout d'un binaire
        is: [ StandardTraits.StandardOptionalHeader,
              StandardTraits.StandardHeader401, StandardTraits.StandardHeader404,
               StandardTraits.StandardHeader409, StandardTraits.StandardHeader412]
        post:
         description: |
           Permet de rajouter un binaire
         body:
           application/octet-stream:
             description: Binary object as a file
         headers:
          X-tenant-Id:
           required: true
         responses:
            200:
              body:
                application/json:
                  type: object
                  example: !include libraries/examples/CollectBinaryObjectResponse.json
