#%RAML 1.0

title: API-Vitam Version Alpha - Administration Management
version: v1
baseUri: https://api.vitam.gouv.fr/admin-external/{version}
protocols: [ HTTPS ]

uses:
  StandardTypes: libraries/StandardTypes.raml
  StandardTraits: libraries/StandardTraits.raml
  RegisterTraits: libraries/RegisterTraits.raml
  IngestTypes: libraries/IngestTypes.raml
  IngestTraits: libraries/IngestTraits.raml
  DslTypes: libraries/DslTypes.raml

mediaType: application/json

types:
  _reserved:
    type: string

documentation:
  - title: Avertissements
    content: !include docs-fr/avertissement.md

  - title: Licence
    content: !include docs-fr/license.md

  - title: API Administration
    content: !include docs-fr/admin-functional.md

/formats:
  displayName: FileFormats
  description: |
   API qui définit les requêtes pour accéder au référentiels des Formats.
   La requête utilise le langage de requête (DSL) de Vitam en entrée et retourne une liste de formats selon le DSL Vitam en cas de succès.
  get:
    description: |
      Request that will return results composed of Formats
    is: [RegisterTraits.RegisterListingResponse]
  post:
    description: |
      Request that will return results composed of Formats if the request is using POST with X-Http-Method-Override: GET.
      If there is no X-Http-Method-Override, this allow to push a new Referential from a PRONOM source file (see TNA).
    is: [RegisterTraits.RegisterListingResponse, StandardTraits.OverrideGet,
       RegisterTraits.RegisterUpload, StandardTraits.UploadFileOptionalHeader]
    headers:
      X-Http-Method-Override:
        required: false
  put:
    description: |
      This allow to submit a new Referential from a PRONOM source file (see TNA) to check if this could be imported.
    is: [RegisterTraits.RegisterUpload]

  /{idu}:
    displayName: FileFormat
    description: |
     API qui définit les requêtes pour accéder à un format dans le référentiel des Formats.
    get:
      description: Request that will return result composed of 1 Format
      is: [RegisterTraits.RegisterItemResponse]
    post:
      description: |
        Request that will return result of 1 Format. The request is using POST with X-Http-Method-Override: GET
      is: [RegisterTraits.RegisterItemResponse, StandardTraits.OverrideGet]
      headers:
        X-Http-Method-Override:
          required: true

/rules:
  displayName: Rules
  description: |
   API qui définit les requêtes pour accéder au référentiels des Règles de gestion.
   La requête utilise le langage de requête (DSL) de Vitam en entrée et retourne une liste de règles selon le DSL Vitam en cas de succès.
  get:
    description: |
      Request that will return results composed of Rules
    is: [RegisterTraits.RegisterListingResponse]
  post:
    description: |
      Request that will return results composed of Rules if the request is using POST with X-Http-Method-Override: GET.
      If there is no X-Http-Method-Override, this allow to push a new Referential from a CSV source file containing Rules definitions.
    is: [RegisterTraits.RegisterListingResponse, StandardTraits.OverrideGet, RegisterTraits.RegisterUpload, StandardTraits.UploadFileOptionalHeader]
    headers:
      X-Http-Method-Override:
        required: false
  put:
    description: |
      This allow to submit a new Referential from a CSV source file containing Rules definitions to check if this could be imported.
    is: [RegisterTraits.RegisterUpload]

  /{idu}:
    displayName: Rule
    description: |
     API qui définit les requêtes pour accéder à une Règle dans le référentiel des Règles de gestion.
    get:
      description: Request that will return result composed of 1 Rule
      is: [RegisterTraits.RegisterItemResponse]
    post:
      description: |
        Request that will return result of une Rule. The request is using POST with X-Http-Method-Override: GET
      is: [RegisterTraits.RegisterItemResponse, StandardTraits.OverrideGet]
      headers:
        X-Http-Method-Override:
          required: true

/rulesreport/{idop}:
  displayName: Rules report
  description: |
     Permet de télécharger un objet représentant le rapport d'import des règles en fonction de l'id de l'opération
  is: [ RegisterFileItemResponse ]
  get:
     description:  |
      Permet de télécharger un objet représentant le rapport d'import des règles en fonction de l'id de l'opération

/accessionregisters:
  displayName: AccessionRegisters
  description: |
   API qui définit les requêtes pour accéder au Registre des Fonds.
   La requête utilise le langage de requête (DSL) de Vitam en entrée et retourne une liste de registres selon le DSL Vitam en cas de succès.
  get:
    description: |
      Request that will return results composed of AccessionRegister
    is: [RegisterTraits.RegisterListingResponse]
  post:
    description: |
      Request that will return results composed of AccessionRegister, the request must use POST with X-Http-Method-Override: GET.
    is: [RegisterTraits.RegisterListingResponse, StandardTraits.OverrideGet]
    headers:
      X-Http-Method-Override:
        required: true

  /{idu}:
    displayName: AccessionRegister
    description: |
     API qui définit les requêtes pour accéder à 1 Résumé d'un Fond dans le Registre des Fonds.
    get:
      description: Request that will return result composed of 1 AccessionRegister
      is: [RegisterTraits.RegisterItemResponse]
    post:
      description: |
        Request that will return result of 1 AccessionRegister. The request is using POST with X-Http-Method-Override: GET
      is: [RegisterTraits.RegisterItemResponse, StandardTraits.OverrideGet]
      headers:
        X-Http-Method-Override:
          required: true

    /accessionregisterdetails:
      displayName: AccessionRegisterDetail
      description: |
       API qui définit les requêtes pour accéder au détail d'un Fond dans le Registre des Fonds.
      get:
        description: Request that will return result composed of 1 AccessionRegisterDetail
        is: [RegisterTraits.RegisterListingResponse]
      post:
        description: |
          Request that will return result of 1 AccessionRegisterDetail. The request is using POST with X-Http-Method-Override: GET
        is: [RegisterTraits.RegisterListingResponse, StandardTraits.OverrideGet]
        headers:
          X-Http-Method-Override:
            required: true



/accesscontracts:
  displayName: Access contracts
  description: |
     API qui définit les requêtes pour accéder au contracts d'accès
     La requête utilise le langage de requête (DSL) de Vitam en entrée et retourne une liste de contrats d'accès selon le DSL Vitam en cas de succès.
  get:
    description: |
      API qui définit les requêtes pour accéder aux contrats d'accès
    is: [RegisterTraits.RegisterListingResponse]
  post:
    description: |
      Request that will return results composed of AccessContracts if the request is using POST with X-Http-Method-Override: GET.
      Importe un ensemble des contrats d'accès qui sont sauvegardés et indexés en cas de succès
    is: [RegisterTraits.RegisterListingResponse, StandardTraits.OverrideGet, RegisterTraits.RegisterUpload]
    headers:
      X-Http-Method-Override:
        required: false

  /{id}:
    displayName: Access contract Modifier
    description: |
     API qui permet de mettre à jour un contrat d'accès via une requête de mise à jour
    get:
      description: |
         API qui définit les requêtes pour accéder à un contrat d'accès
      is: [RegisterTraits.RegisterListingResponse]
    put:
      description: |
         Update the given access contract
      is: [RegisterTraits.RegisterUpload]

/ingestcontracts:
  displayName: Ingest contracts
  description: |
     API qui définit les requêtes pour accéder au contracts d'entrée
     La requête utilise le langage de requête (DSL) de Vitam en entrée et retourne une liste de contrats d'entrée selon le DSL Vitam en cas de succès.
  get:
    description: |
       API qui définit les requêtes pour accéder aux contrats d'entrée
    is: [RegisterTraits.RegisterListingResponse]
  post:
    description: |
      Request that will return results composed of ingest contracts if the request is using POST with X-Http-Method-Override: GET.
      Importe un ensemble des contrats d'entrée qui sont sauvegardés et indexés en cas de succès
    is: [RegisterTraits.RegisterListingResponse, StandardTraits.OverrideGet, RegisterTraits.RegisterUpload]
    headers:
      X-Http-Method-Override:
        required: false

  /{id}:
    displayName: Ingest contract Modifier
    description: |
      API qui permet de mettre à jour un contrat d'entrées via une requête de mise à jour
    get:
      description: |
         API qui définit les requêtes pour accéder à un contrat d'entrée
      is: [RegisterTraits.RegisterListingResponse]
    put:
       description: |
         Update the given ingest contract
       is: [RegisterTraits.RegisterUpload]

/contexts:
  displayName: External Application contexts
  description: |
     API qui définit les requêtes pour accéder aux contextes d'applications externes
     La requête utilise le langage de requête (DSL) de Vitam en entrée et retourne une liste de contextes selon le DSL Vitam en cas de succès.
  get:
    description: |
       API qui définit les requêtes pour accéder aux contextes
    is: [RegisterTraits.RegisterListingResponse]
  post:
    description: |
      Request that will return results composed of Contexts if the request is using POST with X-Http-Method-Override: GET.
      Importe un ensemble des contextes qui sont sauvegardés et indexés en cas de succès
    is: [RegisterTraits.RegisterListingResponse, StandardTraits.OverrideGet, RegisterTraits.RegisterUpload]
    headers:
      X-Http-Method-Override:
        required: false

  /{id}:
    displayName: Context Modifier
    description: |
      API qui permet de mettre à jour un contexte via une requête de mise à jour
    get:
      description: |
         API qui définit les requêtes pour accéder à un contrat d'entrée
      is: [RegisterTraits.RegisterListingResponse]
    put:
       description: |
         Update the given context
       is: [RegisterTraits.RegisterUpload]

/profiles:
  displayName: profil
  description: |
    API qui définit les requêtes pour accéder au profil
    La requête utilise le langage de requête (DSL) de Vitam en entrée et retourne une liste de profil selon le DSL Vitam en cas de succès.
  get:
    description: |
       API qui définit les requêtes pour accéder aux profils
    is: [RegisterTraits.RegisterListingResponse]
  post:
    description: |
      Request that will return results composed of Profiles if the request is using POST with X-Http-Method-Override: GET.
      Importe un ensemble des profils qui sont sauvegardés et indexés en cas de succès
    is: [RegisterTraits.RegisterItemResponse, StandardTraits.OverrideGet, RegisterTraits.RegisterUpload]
    headers:
      X-Http-Method-Override:
        required: false

  /{id}:
    displayName: profil Modifier
    description: |
      API qui permet de mettre à jour un profil via une requête de mise à jour
    get:
      description: |
         API qui définit les requêtes pour accéder à un profil ou à son schéma XSD ou RNG
      is: [RegisterTraits.RegisterListingResponse, RegisterTraits.RegisterFileItemResponse]
    put:
       description: |
         Update the given profile
       is: [RegisterTraits.RegisterUpload]
    post:
       description: |
          Upload a profile in XSD or RNG format
       is: [RegisterTraits.RegisterProfileUpload]

/securityprofiles:
  displayName: Security Profiles
  description: |
     API qui définit les requêtes pour accéder aux Profiles de Sécurité.
     La requête utilise le langage de requête (DSL) de Vitam en entrée et retourne une liste de profiles de sécurité selon le DSL Vitam en cas de succès.
  get:
    description: |
      Request that will return results composed of Security Profiles
    is: [RegisterTraits.RegisterListingResponse]
  post:
    description: |
      Request that will return results composed of Security Profiles if the request is using POST with X-Http-Method-Override: GET.
      If there is no X-Http-Method-Override, this allow to import new Security Profiles.
    is: [RegisterTraits.RegisterListingResponse, StandardTraits.OverrideGet, RegisterTraits.RegisterUpload]
    headers:
      X-Http-Method-Override:
        required: false

  /{identifier}:
    displayName: Security Profiles
    description: |
     API qui définit les requêtes pour accéder aux Profiles de Sécurité.
    get:
      description: Request that will return a Security Profile
      is: [RegisterTraits.RegisterItemResponse]
    put:
       description: |
         Update the given Security Profile
       is: [RegisterTraits.RegisterUpload]
    post:
      description: |
        Request that will return a Security Profile. The request is using POST with X-Http-Method-Override: GET
      is: [RegisterTraits.RegisterItemResponse, StandardTraits.OverrideGet]
      headers:
        X-Http-Method-Override:
          required: true

/operations:
  # root endpoint request
  displayName: Opérations
  description: |
    Administration des Workflows Asynchrones (opérations). Certaines opérations devraient être limitées aux seuls administrateurs car elles impactent le back-office.

    **DEPRECATED** Les fonctions sensibles (PAUSE, CANCEL, NEXT) seront déplacées sur une ressources spécifique d'administration pour la V1.
  is: [ StandardTraits.StandardOptionalHeader,
  StandardTraits.StandardHeader401, StandardTraits.StandardHeader404,
  StandardTraits.StandardHeader409, StandardTraits.StandardHeader412 ]
  get:
    description: |
      Request that will return a listing of ingests operations
    is: [IngestTraits.IngestListingResponse ]

  /{id}:
    displayName: Operation
    is: [ StandardTraits.StandardOptionalHeader,
    StandardTraits.StandardHeader401, StandardTraits.StandardHeader404,
    StandardTraits.StandardHeader409, StandardTraits.StandardHeader412 ]
    get:
      description:  |
        Permet de récupérer le statut de l'opération dont l'identifiant est passée en paramètre
    put:
      description: |
       **DEPRECATED** : ne sera plus supporté en V1 car déplacé dans functional-administration.

       Permet de mettre à jour une opération lancée en précisant l'action à exécuter dans le header X-Action-Id; PAUSE pour la mettre en pause,
       NEXT pour exécuter l'étape suivante, RESUME pour continuer l'exécution de l'opération jusqu'au bout.
       **Cette opération ne devrait être ouverte qu'aux administrateurs**
      headers:
       X-Action:
        required: true
        enum: [ "RESUME", "NEXT", "PAUSE" ]
    delete:
     description: |
       **DEPRECATED** : ne sera plus supporté en V1 car déplacé dans functional-administration.

       Permet d'annuler un workflow lancé.
       **Cette opération ne devrait être ouverte qu'aux administrateurs**
    head:
      description: |
        Permet d'obtenir le statut d'une opération
      responses:
       200:
         description: |
           L'opération existe et est terminé, le statut est retourné
       202:
         description: |
           L'opération existe mais n'est pas terminée
       404:
         description: |
           Opération introuvable

/workflows:
  # root endpoint request
  displayName: Définitions de workflow
  description: |
    Gestion des définitions des Workflows disponibles.

  is: [ StandardTraits.StandardOptionalHeader,
    StandardTraits.StandardHeader401, StandardTraits.StandardHeader404,
    StandardTraits.StandardHeader409, StandardTraits.StandardHeader412 ]
  get:
    description: |
     Request that will return a listing of ingests operations
    is: [IngestTraits.IngestWorkflowsResponse ]

/:
  displayName: Endpoints
  description: |
   API qui liste les endpoints de la ressource /admin-external/{version}.
  options:
    description: |
      Request that will return list of endpoints
    is: [ StandardTraits.StandardHeader200,
      StandardTraits.StandardHeader404, StandardTraits.StandardHeader503 ]

/status:
  get:
    is: [ StandardTraits.StandardHeader204,
      StandardTraits.StandardHeader401, StandardTraits.StandardHeader404, StandardTraits.StandardHeader503 ]
