#%RAML 1.0

title: API-Vitam Version Alpha - Administration Management
version: v1
baseUri: https://api.vitam.gouv.fr/admin-external/{version}
protocols: [ HTTPS ]

uses:
  StandardTypes: libraries/StandardTypes.raml
  StandardTraits: libraries/StandardTraits.raml
  RegisterTraits: libraries/RegisterTraits.raml

mediaType: application/json

types:
  _reserved:
    type: string

documentation:
  - title: Avertissements
    content: !include docs-fr/avertissement.md

  - title: Licence
    content: !include docs-fr/license.md

  - title: API Administration
    content: !include docs-fr/admin-functional.md

/formats:
  displayName: FileFormats
  description: |
   API qui définit les requêtes pour accéder au référentiels des Formats.
   La requête utilise le langage de requête (DSL) de Vitam en entrée et retourne une liste de formats selon le DSL Vitam en cas de succès.
  get:
    description: |
      Request that will return results composed of Formats
    is: [RegisterTraits.RegisterListingResponse]
  post:
    description: |
      Request that will return results composed of Formats if the request is using POST with X-Http-Method-Override: GET.
      If there is no X-Http-Method-Override, this allow to push a new Referential from a PRONOM source file (see TNA).
    is: [RegisterTraits.RegisterListingResponse, StandardTraits.OverrideGet,
       RegisterTraits.RegisterUpload]
    headers:
      X-Http-Method-Override:
        required: false
  put:
    description: |
      This allow to submit a new Referential from a PRONOM source file (see TNA) to check if this could be imported.
    is: [RegisterTraits.RegisterUpload]
    headers:
      X-Http-Method-Override:
        required: false

  /{idu}:
    displayName: FileFormat
    description: |
     API qui définit les requêtes pour accéder à un format dans le référentiel des Formats.
    get:
      description: Request that will return result composed of 1 Format
      is: [RegisterTraits.RegisterItemResponse]
    post:
      description: |
        Request that will return result of 1 Format. The request is using POST with X-Http-Method-Override: GET
      is: [RegisterTraits.RegisterItemResponse, StandardTraits.OverrideGet]
      headers:
        X-Http-Method-Override:
          required: true

/rules:
  displayName: Rules
  description: |
   API qui définit les requêtes pour accéder au référentiels des Règles de gestion.
   La requête utilise le langage de requête (DSL) de Vitam en entrée et retourne une liste de règles selon le DSL Vitam en cas de succès.
  get:
    description: |
      Request that will return results composed of Rules
    is: [RegisterTraits.RegisterListingResponse]
  post:
    description: |
      Request that will return results composed of Rules if the request is using POST with X-Http-Method-Override: GET.
      If there is no X-Http-Method-Override, this allow to push a new Referential from a CSV source file containing Rules definitions.
    is: [RegisterTraits.RegisterListingResponse, StandardTraits.OverrideGet, RegisterTraits.RegisterUpload]
    headers:
      X-Http-Method-Override:
        required: false
  put:
    description: |
      This allow to submit a new Referential from a CSV source file containing Rules definitions to check if this could be imported.
    is: [RegisterTraits.RegisterUpload]
    headers:
      X-Http-Method-Override:
        required: false

  /{idu}:
    displayName: Rule
    description: |
     API qui définit les requêtes pour accéder à une Règle dans le référentiel des Règles de gestion.
    get:
      description: Request that will return result composed of 1 Rule
      is: [RegisterTraits.RegisterItemResponse]
    post:
      description: |
        Request that will return result of une Rule. The request is using POST with X-Http-Method-Override: GET
      is: [RegisterTraits.RegisterItemResponse, StandardTraits.OverrideGet]
      headers:
        X-Http-Method-Override:
          required: true

/accesscontracts:
  displayName: Accès contracts
  description: |
     API qui définit les requêtes pour accéder au contracts d'accès
     La requête utilise le langage de requête (DSL) de Vitam en entrée et retourne une liste de contrats d'accès selon le DSL Vitam en cas de succès.
  get:
    description: |
      API qui définit les requêtes pour accéder aux contrats d'accès
    is: [RegisterTraits.RegisterListingResponse]
  post:
    description: |
      Importe un ensemble des contrats d'accès qui sont sauvegardés et indexés en cas de succès
    is: [RegisterTraits.RegisterListingResponse, StandardTraits.OverrideGet, RegisterTraits.RegisterUpload]
    headers:
      X-Http-Method-Override:
        required: false

  {id}:
    displayName: Access contract Modifier
    description: |
     API qui permet de mettre à jour un contrat d'accès via une requête de mise à jour
    get:
      description: |
         API qui définit les requêtes pour accéder à un contrat d'accès
      is: [RegisterTraits.RegisterListingResponse]
    put:
      description: |
         ** Note: Sera changé en /accesscontracts/{id}, aujourd'hui accesscontract/{id}**
         Update the given access contract
      is: [RegisterTraits.RegisterUpload]
      headers:
        X-Http-Method-Override:
          required: false

/contracts:
  displayName: Ingest contracts
  description: |
     **NOTE: sera changé en entrycontracts** 
     API qui définit les requêtes pour accéder au contracts d'entrée
     La requête utilise le langage de requête (DSL) de Vitam en entrée et retourne une liste de contrats d'entrée selon le DSL Vitam en cas de succès.
  get:
    description: |
       API qui définit les requêtes pour accéder aux contrats d'entrée
    is: [RegisterTraits.RegisterListingResponse]
  post:
    description: |
      Importe un ensemble des contrats d'entrée qui sont sauvegardés et indexés en cas de succès
    is: [RegisterTraits.RegisterItemResponse]
    headers:
      X-Http-Method-Override:
        required: false

  {id}:
    displayName: Ingest contract Modifier
    description: |
      API qui permet de mettre à jour un contrat d'entrées via une requête de mise à jour
    get:
      description: |
         API qui définit les requêtes pour accéder à un contrat d'entrée
      is: [RegisterTraits.RegisterListingResponse]
    put:
       description: |
         ** Note: Sera changé en /entrycontracts/{id}, aujourd'hui contract/{id}**
         Update the given ingest contract
       is: [RegisterTraits.RegisterUpload]
       headers:
         X-Http-Method-Override:
           required: false

/contexts:
  displayName: External Application contexts
  description: |
     API qui définit les requêtes pour accéder aux contextes d'applications externes
     La requête utilise le langage de requête (DSL) de Vitam en entrée et retourne une liste de contextes selon le DSL Vitam en cas de succès.
  get:
    description: |
       API qui définit les requêtes pour accéder aux contextes
    is: [RegisterTraits.RegisterListingResponse]
  post:
    description: |
      Importe un ensemble des contextes qui sont sauvegardés et indexés en cas de succès
    is: [RegisterTraits.RegisterItemResponse]
    headers:
      X-Http-Method-Override:
        required: false

  {id}:
    displayName: Context Modifier
    description: |
      API qui permet de mettre à jour un contexte via une requête de mise à jour
    get:
      description: |
         API qui définit les requêtes pour accéder à un contrat d'entrée
      is: [RegisterTraits.RegisterListingResponse]
    put:
       description: |
         ** Note: Sera changé en /contracts/{id}, aujourd'hui contract/{id}**
         Update the given ingest contract
       is: [RegisterTraits.RegisterUpload]
       headers:
         X-Http-Method-Override:
           required: false


/status:
  get:
    is: [ StandardTraits.StandardHeader204,
      StandardTraits.StandardHeader401, StandardTraits.StandardHeader404, StandardTraits.StandardHeader503 ]


