#%RAML 1.0

title: API-Vitam Version Beta - Ingest
version: v1
baseUri: https://api.vitam.gouv.fr/ingest-external/{version}
protocols: [ HTTPS ]

uses:
  StandardTypes: libraries/StandardTypes.raml
  StandardTraits: libraries/StandardTraits.raml
  IngestTypes: libraries/IngestTypes.raml
  IngestTraits: libraries/IngestTraits.raml
  DslTypes: libraries/DslTypes.raml

mediaType: application/json

types:
  _reserved:
    type: string

documentation:
  - title: Avertissements
    content: !include docs-fr/avertissement.md

  - title: Licence
    content: !include docs-fr/license.md

  - title: API Ingest
    content: !include docs-fr/ingest.md

/ingests:
  displayName: Ingests
  description: |
    API de versement (Ingest). Ce point d'entrée permet de chercher ou de créer une transaction de versement. Une transaction d'entrée est volatile, c'est à dire qu'elle disparaîtra dès qu'elle sera terminée. Sa terminaison est liée à la production du rapport et sa récupération par le service de transfert ayant effectué l'entrée.

    Crée une transaction d'entrée :
    - une requête unique, avec un 'body' contenant toutes les informations dans un ZIP ou un TAR ou un TAR.GZ ou TAR.BZ2:
      - Métadonnées dans un format SEDA XML ou Json de nom manifest.xml ou manifest.json (json **UNSUPPORTED**)
      - Tous les binaires dans le répertoire "/content"
    - d'autres formes pourront être implémentées dans des versions ultérieures (multipart/form-data) avec de multiples requêtes utilisant les sous-collections futures *Units* et *Objects*

  post:
    description: |
          response : JSON asynchronous state / HTTP CODE 202 or  500 for KO
    is: [IngestTraits.IngestCreationResponseAsync]
    responses:
          202:
            body:
    headers:
      X-Action:
        enum: [ "RESUME", "PAUSE" ]
        required: true
      X-Context-Id:
        required: false
        description: |
            Il indique le workflow à exécuter DefaultIngestWorkflow pour lancer le workflow INGEST (avec toutes les étapes) ou DefaultIngestWorkflowBlankTest pour lancer le workflow INGEST-TEST (test à blanc sans les étapes de stockage d'objets et d'indéxation des UA et des GOT)
        enum: [ "DefaultIngestWorkflow", "DefaultIngestWorkflowBlankTest", "DefaultFilingSchemeWorkflow", "DefaultHoldingSchemeWorkflow" ]

  /{objectId}/{type}:
      displayName: IngestsType
      description: |
        Télécharger un objet associé au processus INGEST (reports ou manifests)
      is: [ StandardTraits.StandardOptionalHeader,
      StandardTraits.StandardHeader401, StandardTraits.StandardHeader404,
      StandardTraits.StandardHeader409, StandardTraits.StandardHeader412, IngestTraits.IngestFinalResponse ]
      get:
        description:  |
          Permet de télécharger un objet en précisant son identifiant et son type (reports ou manifests)

/:
  displayName: Endpoints
  description: |
   API qui liste les endpoints de la ressource /ingest-external/{version}.
  options:
    description: |
      Request that will return list of endpoints
    is: [ StandardTraits.StandardHeader200,
      StandardTraits.StandardHeader404, StandardTraits.StandardHeader503 ]

/status:
  get:
    is: [ StandardTraits.StandardHeader204,
      StandardTraits.StandardHeader404, StandardTraits.StandardHeader503 ]
