#%RAML 1.0

title: API-Vitam Version Beta - Ingest
version: v1
baseUri: https://api.vitam.gouv.fr/ingest-external/{version}
protocols: [ HTTPS ]

uses:
  StandardTypes: libraries/StandardTypes.raml
  StandardTraits: libraries/StandardTraits.raml
  IngestTypes: libraries/IngestTypes.raml
  IngestTraits: libraries/IngestTraits.raml
  DslTypes: libraries/DslTypes.raml

mediaType: application/json

types:
  _reserved:
    type: string

documentation:
  - title: Avertissements
    content: !include docs-fr/avertissement.md

  - title: Licence
    content: !include docs-fr/license.md

  - title: API Ingest
    content: !include docs-fr/ingest.md

/ingests:
  displayName: Ingests
  description: |
    API de versement (Ingest). Ce point d'entrée permet de chercher ou de créer une transaction de versement. Une transaction d'entrée est volatile, c'est à dire qu'elle disparaîtra dès qu'elle sera terminée. Sa terminaison est liée à la production du rapport et sa récupération par le service de transfert ayant effectué l'entrée.

    Crée une transaction d'entrée :
    - une requête unique, avec un 'body' contenant toutes les informations dans un ZIP ou un TAR ou un TAR.GZ ou TAR.BZ2:
      - Métadonnées dans un format SEDA XML ou Json de nom manifest.xml ou manifest.json (json **UNSUPPORTED**)
      - Tous les binaires dans le répertoire "/content"
    - d'autres formes pourront être implémentées dans des versions ultérieures (multipart/form-data) avec de multiples requêtes utilisant les sous-collections futures *Units* et *Objects*

  /{objectId}/{type}:
      displayName: Télécharger un objet associé au processus INGEST (ATR ou Manifest)
      is: [ StandardTraits.StandardOptionalHeader,
      StandardTraits.StandardHeader401, StandardTraits.StandardHeader404,
      StandardTraits.StandardHeader409, StandardTraits.StandardHeader412 ]
      get:
        description:  |
          Permet de télécharger un objet en précisant son identifiant et son type (ATR ou Manifest)
  post:
    description: |
          response : JSON asynchronous state / HTTP CODE 202 or  500 for KO
    is: [IngestTraits.IngestCreationResponseAsync]
    responses:
          202:
            body:
    headers:
      X-Action:
        required: true
      X-Context-Id:
        required: false
      X-Http-Method-Override:
        required: false


/operations:
  # root endpoint request
  displayName: Opérations
  description: Administration des Workflows Asynchrones (opérations).
  is: [ StandardTraits.StandardOptionalHeader,
  StandardTraits.StandardHeader401, StandardTraits.StandardHeader404,
  StandardTraits.StandardHeader409, StandardTraits.StandardHeader412 ]
  /{id}:
    displayName: Operation
    is: [ StandardTraits.StandardOptionalHeader,
    StandardTraits.StandardHeader401, StandardTraits.StandardHeader404,
    StandardTraits.StandardHeader409, StandardTraits.StandardHeader412 ]
    get:
      description:  |
        Permet de récupérer le statut de l'opération dont l'identifiant est passée en paramètre
    post:
     description: |
       Permet de soumettre un workflow à exécuter
     headers:
      X-Action:
       required: true
       description: Il indique le mode d'exécution du workflow; RESUME pour une exécution en mode continu ou NEXT pour une exécution en mode pas à pas
       enum: [ "RESUME", "NEXT" ]
      X-Context-Id:
       required: false
       description: Il indique le workflow à exécuter DefaultIngestWorkflow pour lancer le workflow INGEST (avec toutes les étapes) ou DefaultIngestWorkflowBlankTest pour lancer le workflow INGEST-TEST (test à blanc sans les étapes de stockage d'objets et d'indéxation des UA et des GOT)
       enum: [ "DefaultIngestWorkflow", "DefaultIngestWorkflowBlankTest" ]
    put:
      description: |
       Permet de mettre à jour une opération lancée en précisant l'action à exécuter dans le header X-Action-Id; PAUSE pour la mettre en pause,
       NEXT pour exécuter l'étape suivante, RESUME pour continuer l'exécution de l'opération jusqu'au bout.
      headers:
       X-Action:
        required: true
        enum: [ "RESUME", "NEXT", "PAUSE" ]
       X-Context-Id:
        required: false
    delete:
     description: |
       Permet d'annuler un workflow lancé.
    head:
      description: |
        Permet d'obtenir le statut d'une opération
      responses:
       200:
         description: |
           L'opération existe et le statut est retourné avec succès
       204:
         description: |
           Opération introuvable
/status:
  get:
    is: [ StandardTraits.StandardHeader204,
      StandardTraits.StandardHeader404, StandardTraits.StandardHeader503 ]
