<?xml version="1.0" encoding="UTF-8"?>
<job-scheduling-data
        xmlns="http://www.quartz-scheduler.org/xml/JobSchedulingData"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.quartz-scheduler.org/xml/JobSchedulingData https://www.quartz-scheduler.org/xml/job_scheduling_data_1_8.xsd"
        version="1.8">

    <!-- we ll be used later in upgrading vitam -->

        <pre-processing-commands>
            <!--<delete-job>
                <name>JobNameToDelete</name>
            </delete-job>
            <delete-trigger>
                <name>TriggerNameToDelete</name>
            </delete-trigger>-->
            <delete-jobs-in-group>Offer</delete-jobs-in-group>
            <delete-triggers-in-group>Offer</delete-triggers-in-group>
        </pre-processing-commands>


</job-scheduling-data>