<?xml version="1.0" encoding="UTF-8"?>
<job-scheduling-data
        xmlns="http://www.quartz-scheduler.org/xml/JobSchedulingData"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.quartz-scheduler.org/xml/JobSchedulingData https://www.quartz-scheduler.org/xml/job_scheduling_data_1_8.xsd"
        version="1.8">

    <processing-directives>
        <!-- if there are any jobs/trigger in scheduler of same name (as in this
            file), overwrite them -->
        <overwrite-existing-data>true</overwrite-existing-data>
        <!-- if there are any jobs/trigger in scheduler of same name (as in this
            file), and over-write is false, ignore them rather then generating an error -->
        <ignore-duplicates>true</ignore-duplicates>
    </processing-directives>


{% if primary_site | lower == "false" %}
      <schedule>
        <job>
            <name>ReconstructionOperationJob</name>
            <group>Logbook</group>
            <description>Job for reconstruction operation</description>
            <job-class>fr.gouv.vitam.scheduler.server.job.ReconstructionOperationJob</job-class>
        </job>

        <trigger>
            <cron>
                <name>ReconstructionOperationTrigger</name>
                <group>Logbook</group>
                <job-name>ReconstructionOperationJob</job-name>
                <job-group>Logbook</job-group>
                <cron-expression>{{ vitam_timers.logbook.frequency_logbook_reconstruction | default('0 0/5 * * * ?') }}</cron-expression>
            </cron>
        </trigger>
    </schedule>
{% else %}

    <schedule>
        <job>
            <name>TraceabilityLFCObjectGroupJob</name>
            <group>Logbook</group>
            <description>Job for traceability LFC of object group</description>
            <job-class>fr.gouv.vitam.scheduler.server.job.TraceabilityLFCJob</job-class>
            <job-data-map>
                <entry>
                    <key>item</key>
                    <value>ObjectGroup</value>
                </entry>
            </job-data-map>
        </job>
        <trigger>
            <cron>
                <name>TraceabilityLFCObjectGroupTrigger</name>
                <group>Logbook</group>
                <job-name>TraceabilityLFCObjectGroupJob</job-name>
                <job-group>Logbook</job-group>
                <cron-expression>{{ vitam_timers.logbook.frequency_traceability_lfc_objectgroup | default('* 15 0/1 * * ?')}}</cron-expression>
            </cron>
        </trigger>
    </schedule>

    <schedule>
        <job>
            <name>TraceabilityLFCUnitJob</name>
            <group>Logbook</group>
            <description>Job for traceability LFC of unit</description>
            <job-class>fr.gouv.vitam.scheduler.server.job.TraceabilityLFCJob</job-class>
            <job-data-map>
                <entry>
                    <key>item</key>
                    <value>Unit</value>
                </entry>
            </job-data-map>
        </job>
        <trigger>
            <cron>
                <name>TraceabilityLFCUnitTrigger</name>
                <group>Logbook</group>
                <job-name>TraceabilityLFCUnitJob</job-name>
                <job-group>Logbook</job-group>
                <cron-expression>{{ vitam_timers.logbook.frequency_traceability_lfc_unit | default('* 35 0/1 * * ?') }}</cron-expression>
            </cron>
        </trigger>
    </schedule>

    <schedule>
        <job>
            <name>TraceabilityAuditJob</name>
            <group>Logbook</group>
            <description>Job for traceability of audit</description>
            <job-class>fr.gouv.vitam.scheduler.server.job.TraceabilityAuditJob</job-class>
              <job-data-map>
                <entry>
                    <key>operationTraceabilityMaxRenewalDelay</key>
                    <value>{{ vitam.logbook.operationTraceabilityMaxRenewalDelay | default(690) }}</value>
                </entry>
                <entry>
                    <key>operationTraceabilityMaxRenewalDelayUnit</key>
                    <value> {{ vitam.logbook.operationTraceabilityMaxRenewalDelayUnit | default('MINUTES') }}</value>
                </entry>
                <entry>
                    <key>lifecycleTraceabilityMaxRenewalDelay</key>
                    <value>{{ vitam.logbook.lifecycleTraceabilityMaxRenewalDelay | default(690) }}</value>
                </entry>
                <entry>
                    <key>lifecycleTraceabilityMaxRenewalDelayUnit</key>
                    <value>{{ vitam.logbook.lifecycleTraceabilityMaxRenewalDelayUnit | default('MINUTES') }}</value>
                </entry>
            </job-data-map>
        </job>
        <trigger>
            <cron>
                <name>TraceabilityAuditTrigger</name>
                <group>Logbook</group>
                <job-name>TraceabilityAuditJob</job-name>
                <job-group>Logbook</job-group>
                <cron-expression>{{ vitam_timers.logbook.frequency_traceability_audit | default('0 55 00 * * ?') }}</cron-expression>
            </cron>
        </trigger>
    </schedule>

    <schedule>
        <job>
            <name>OperationTraceabilityJob</name>
            <group>Logbook</group>
            <description>Job for traceability</description>
            <job-class>fr.gouv.vitam.scheduler.server.job.TraceabilityJob</job-class>
        </job>
        <trigger>
            <cron>
                <name>TraceabilityTrigger</name>
                <group>Logbook</group>
                <job-name>OperationTraceabilityJob</job-name>
                <job-group>Logbook</job-group>
                <cron-expression>{{ vitam_timers.logbook.frequency_traceability_operations | default('* 05 0/1 * * ?') }}</cron-expression>
            </cron>
        </trigger>
    </schedule>

{% endif %}

</job-scheduling-data>