#jinja2: lstrip_blocks: True
<?xml version="1.0" encoding="UTF-8"?>
<job-scheduling-data
        xmlns="http://www.quartz-scheduler.org/xml/JobSchedulingData"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.quartz-scheduler.org/xml/JobSchedulingData https://www.quartz-scheduler.org/xml/job_scheduling_data_1_8.xsd"
        version="1.8">

    <processing-directives>
        <!-- if there are any jobs/trigger in scheduler of same name (as in this
            file), overwrite them -->
        <overwrite-existing-data>true</overwrite-existing-data>
        <!-- if there are any jobs/trigger in scheduler of same name (as in this
            file), and over-write is false, ignore them rather then generating an error -->
        <ignore-duplicates>true</ignore-duplicates>
    </processing-directives>

    {% if primary_site | bool %}
    <!-- Remove old job -->
    <pre-processing-commands>
        <delete-job>
            <name>AuditObjectJob</name>
            <group>audit</group>
        </delete-job>
    </pre-processing-commands>

    <schedule>
        {% for item in scheduler.job_parameters.integrity_audit | default([]) %}
        <job>
            <name>IntegrityAuditObjectJob-{{ item.key }}</name>
            <group>audit</group>
            <description>Job for launching integrity Audit</description>
            <job-class>fr.gouv.vitam.scheduler.server.job.auditobject.AuditObjectJob</job-class>
            <job-data-map>
                <entry>
                    <key>auditType</key>
                    <value>Integrity</value>
                </entry>
                <entry>
                    <key>operationsDelayInMinutes</key>
                    <value>{{ item.operations_delay_in_minutes | default(1440) }}</value>
                </entry>
                <entry>
                    <key>selectedTenants</key>
                    <value>{{ item.selected_tenants | default([]) | expand_list | join(',') }}</value>
                </entry>
            </job-data-map>
        </job>
        <trigger>
            <cron>
                <name>IntegrityAuditObjectTrigger-{{ item.key }}</name>
                <group>audit</group>
                <job-name>IntegrityAuditObjectJob-{{ item.key }}</job-name>
                <job-group>audit</job-group>
                <cron-expression>{{ item.frequency | default('* 30 0/4 * * ?') }}</cron-expression>
            </cron>
        </trigger>
        {% endfor %}
        {% for item in scheduler.job_parameters.existence_audit | default([]) %}
        <job>
            <name>ExistenceAuditObjectJob-{{ item.key }}</name>
            <group>audit</group>
            <description>Job for launching existence Audit</description>
            <job-class>fr.gouv.vitam.scheduler.server.job.auditobject.AuditObjectJob</job-class>
            <job-data-map>
                <entry>
                    <key>auditType</key>
                    <value>Existence</value>
                </entry>
                <entry>
                    <key>operationsDelayInMinutes</key>
                    <value>{{ item.operations_delay_in_minutes | default(1440) }}</value>
                </entry>
                <entry>
                    <key>selectedTenants</key>
                    <value>{{ item.selected_tenants | default([]) | expand_list | join(',') }}</value>
                </entry>
            </job-data-map>
        </job>
        <trigger>
            <cron>
                <name>ExistenceAuditObjectTrigger-{{ item.key }}</name>
                <group>audit</group>
                <job-name>ExistenceAuditObjectJob-{{ item.key }}</job-name>
                <job-group>audit</job-group>
                <cron-expression>{{ item.frequency | default('* 50 0/4 * * ?') }}</cron-expression>
            </cron>
        </trigger>
        {% endfor %}
    </schedule>

    {% endif %}
</job-scheduling-data>
