urlMetaData: {{vitam_metadata_baseurl}}
urlWorkspace: {{vitam_workspace_baseurl}}
urlProcessing: {{vitam_processing_baseurl}}
jettyConfig: jetty-config.xml
tenants:  [ "{{ vitam_tenant_ids | join('", "') }}" ]
