<?xml version="1.0"?>
<!DOCTYPE Configure PUBLIC "-//Jetty//Configure//EN" "http://www.eclipse.org/jetty/configure_9_0.dtd">

<!-- =============================================================== -->
<!-- Documentation of this file format can be found at:              -->
<!-- http://wiki.eclipse.org/Jetty/Reference/jetty.xml_syntax        -->
<!--                                                                 -->
<!-- Additional configuration files are available in $JETTY_HOME/etc -->
<!-- and can be mixed in. See start.ini file for the default         -->
<!-- configuration files.                                            -->
<!--                                                                 -->
<!-- For a description of the configuration mechanism, see the       -->
<!-- output of:                                                      -->
<!--   java -jar start.jar -?                                        -->
<!-- =============================================================== -->

<!-- =============================================================== -->
<!-- Configure a Jetty Server instance with an ID "Server"           -->
<!-- Other configuration files may also configure the "Server"       -->
<!-- ID, in which case they are adding configuration to the same     -->
<!-- instance.  If other configuration have a different ID, they     -->
<!-- will create and configure another instance of Jetty.            -->
<!-- Consult the javadoc of o.e.j.server.Server for all              -->
<!-- configuration that may be set here.                             -->
<!-- =============================================================== -->
<Configure id="Server" class="org.eclipse.jetty.server.Server">


    <!-- =========================================================== -->
    <!-- Add shared Scheduler instance                               -->
    <!-- =========================================================== -->
    <Call name="addBean">
        <Arg>
            <New class="org.eclipse.jetty.util.thread.ScheduledExecutorScheduler"/>
        </Arg>
    </Call>

    <!-- =========================================================== -->
    <!-- Http Configuration.                                         -->
    <!-- This is a common configuration instance used by all         -->
    <!-- connectors that can carry HTTP semantics (HTTP, HTTPS, SPDY)-->
    <!-- It configures the non wire protocol aspects of the HTTP     -->
    <!-- semantic.                                                   -->
    <!--                                                             -->
    <!-- This configuration is only defined here and is used by      -->
    <!-- reference from the jetty-http.xml, jetty-https.xml and      -->
    <!-- jetty-spdy.xml configuration files which instantiate the    -->
    <!-- connectors.                                                 -->
    <!--                                                             -->
    <!-- Consult the javadoc of o.e.j.server.HttpConfiguration       -->
    <!-- for all configuration that may be set here.                 -->
    <!-- =========================================================== -->
    <New id="httpConfig" class="org.eclipse.jetty.server.HttpConfiguration">
        <Set name="secureScheme">http</Set>
        <Set name="securePort">8443</Set>
        <Set name="outputBufferSize">32768</Set>
        <Set name="requestHeaderSize">8192</Set>
        <Set name="responseHeaderSize">8192</Set>
        <Set name="sendServerVersion">false</Set>
        <Set name="sendDateHeader">false</Set>
        <Set name="headerCacheSize">512</Set>

        <!-- Uncomment to enable handling of X-Forwarded- style headers -->
        <!-- <Call name="addCustomizer">
          <Arg><New class="org.eclipse.jetty.server.ForwardedRequestCustomizer"/></Arg>
        </Call> -->

    </New>

    <!-- ======================= Original Connector ======================= -->
    <!-- <Call name="addConnector">
        <Arg>
            <New class="org.eclipse.jetty.server.ServerConnector">
                <Arg name="server"><Ref refid="Server" /></Arg>
                <Arg name="factories">
                    <Array type="org.eclipse.jetty.server.ConnectionFactory">
                        <Item>
                            <New class="org.eclipse.jetty.server.HttpConnectionFactory">
                                <Arg name="config"><Ref refid="httpConfig" /></Arg>
                            </New>
                        </Item>
                    </Array>
                </Arg>
                <Set name="port">{{ vitam_struct.port_service }}</Set>
                <Set name="idleTimeout">
                    <Property name="http.timeout" default="{{ vitam_defaults.services.port_service_timeout }}"/>
                </Set>
            </New>
        </Arg>
    </Call> -->

    <!-- =========================================================== -->
    <!-- Set the default handler structure for the Server            -->
    <!-- A handler collection is used to pass received requests to   -->
    <!-- both the ContextHandlerCollection, which selects the next   -->
    <!-- handler by context path and virtual host, and the           -->
    <!-- DefaultHandler, which handles any requests not handled by   -->
    <!-- the context handlers.                                       -->
    <!-- Other handlers may be added to the "Handlers" collection,   -->
    <!-- for example the jetty-requestlog.xml file adds the          -->
    <!-- RequestLogHandler after the default handler                 -->
    <!-- =========================================================== -->
    <Set name="handler">
        <New id="Handlers" class="org.eclipse.jetty.server.handler.HandlerCollection">
            <Set name="handlers">
                <Array type="org.eclipse.jetty.server.Handler">
                    <Item>
                        <New id="Contexts" class="org.eclipse.jetty.server.handler.ContextHandlerCollection"/>
                    </Item>
                    <Item>
                        <New id="DefaultHandler" class="org.eclipse.jetty.server.handler.DefaultHandler"/>
                    </Item>
                </Array>
            </Set>
        </New>
    </Set>

    <Set name="RequestLog">
            <New id="RequestLogImpl" class="ch.qos.logback.access.jetty.VitamRequestLogImpl">
                <Set name="fileName">{{ vitam_folder_conf }}/logback-access.xml</Set>
            </New>
    </Set>
    <Ref refid="RequestLogImpl">
              <Call name="start"/>
    </Ref>

    <!-- =========================================================== -->
    <!-- extra server options                                        -->
    <!-- =========================================================== -->
    <Set name="stopAtShutdown">true</Set>
    <Set name="stopTimeout">5000</Set>
    <Set name="dumpAfterStart">false</Set>
    <Set name="dumpBeforeStop">false</Set>

{% if vitam_struct.https_enabled==true %}
   <New id="httpsConfig" class="org.eclipse.jetty.server.HttpConfiguration">
        <Set name="sendServerVersion">false</Set>
        <Set name="sendDateHeader">false</Set>
        <Call name="addCustomizer">
               <Arg>
                   <New class="org.eclipse.jetty.server.SecureRequestCustomizer">
                       <Arg name="sniHostCheck" type="boolean">
                           <Property name="jetty.ssl.sniHostCheck" default="false" />
                       </Arg>
                   </New>
               </Arg>
        </Call>
    </New>
        <New id="sslContextFactory" class="org.eclipse.jetty.util.ssl.SslContextFactory$Server">
        <Set name="KeyStorePath">{{ vitam_folder_conf }}/keystore_{{ vitam_struct.vitam_component }}.jks</Set>
        <Set name="KeyStorePassword">{{ password_keystore }}</Set>
        <Set name="KeyManagerPassword">{{ password_manager_keystore }}</Set>
        <Set name="TrustStorePath">{{ vitam_folder_conf }}/truststore_{{ vitam_struct.vitam_component }}.jks</Set>
        <Set name="TrustStorePassword">{{ password_truststore }}</Set>
        <Set name="TrustStoreType">JKS</Set>
        <Set name="NeedClientAuth">false</Set>
        <Set name="WantClientAuth">true</Set>
      <Set name="IncludeCipherSuites">
        <Array type="String">
          <Item>TLS_ECDHE.*</Item>
          <Item>TLS_DHE_RSA.*</Item>
        </Array>
      </Set>
       <Set name="IncludeProtocols">
        <Array type="String">
          <Item>TLSv1.2</Item>
        </Array>
      </Set>
      <Set name="ExcludeCipherSuites">
        <Array type="String">
          <Item>.*NULL.*</Item>
          <Item>.*RC4.*</Item>
          <Item>.*MD5.*</Item>
          <Item>.*DES.*</Item>
          <Item>.*DSS.</Item>
          <Item>TLS_ECDHE_ECDSA_WITH_AES_256_CBC_SHA</Item>
          <Item>TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA</Item>
          <Item>TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA</Item>
          <Item>TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA</Item>
          <Item>TLS_DHE_RSA_WITH_AES_256_CBC_SHA</Item>
          <Item>TLS_DHE_RSA_WITH_AES_128_CBC_SHA</Item>
        </Array>
      </Set>
        <Set name="UseCipherSuitesOrder">true</Set>
        <Set name="RenegotiationAllowed">true</Set>
    </New>
    <New id="sslConnectionFactory" class="org.eclipse.jetty.server.SslConnectionFactory">
        <Arg name="sslContextFactory">
            <Ref refid="sslContextFactory" />
        </Arg>
        <Arg name="next">http/1.1</Arg>
    </New>
    <New id="businessConnector" class="org.eclipse.jetty.server.ServerConnector">
        <Arg name="server">
            <Ref refid="Server" />
        </Arg>
        <Arg name="factories">
            <Array type="org.eclipse.jetty.server.ConnectionFactory">
                <Item>
                    <Ref refid="sslConnectionFactory" />
                </Item>
                <Item>
                    <New class="org.eclipse.jetty.server.HttpConnectionFactory">
                        <Arg name="config">
                            <Ref refid="httpsConfig" />
                        </Arg>
                    </New>
                </Item>
            </Array>
        </Arg>
        <Set name="host">{{ ip_service }}</Set>
        <Set name="port">
            <SystemProperty name="jetty.port" default="{{ vitam_struct.port_service }}"/>
        </Set>
        <Set name="name">business</Set>
    </New>

{% else %}

    <!-- =========================================================== -->
    <!-- Connector for API business                                  -->
    <!-- Attach all ContextHanlder except Admin                      -->
    <!-- =========================================================== -->

    <New id="businessConnector" class="org.eclipse.jetty.server.ServerConnector">
        <Arg name="server"><Ref refid="Server" /></Arg>
        <Arg name="factories">
            <Array type="org.eclipse.jetty.server.ConnectionFactory">
                <Item>
                    <New class="org.eclipse.jetty.server.HttpConnectionFactory">
                        <Arg name="config"><Ref refid="httpConfig" /></Arg>
                    </New>
                </Item>
            </Array>
        </Arg>
        <Set name="host">{{ ip_service }}</Set>
        <Set name="port">{{ vitam_struct.port_service }}</Set>
        <Set name="name">business</Set>
        <Set name="idleTimeout">
            <Property name="http.timeout" default="{{ vitam_defaults.services.port_service_timeout }}"/>
        </Set>
    </New>

{% endif %}

    <!-- =========================================================== -->
    <!-- Connector for API Admin                                     -->
    <!-- Attach all ContextHanlder                                   -->
    <!-- =========================================================== -->

    <New id="adminConnector" class="org.eclipse.jetty.server.ServerConnector">
        <Arg name="server"><Ref refid="Server" /></Arg>
        <Arg name="factories">
            <Array type="org.eclipse.jetty.server.ConnectionFactory">
                <Item>
                    <New class="org.eclipse.jetty.server.HttpConnectionFactory">
                        <Arg name="config"><Ref refid="httpConfig" /></Arg>
                    </New>
                </Item>
            </Array>
        </Arg>
        <Set name="host">{{ ip_admin }}</Set>
        <Set name="port">{{ vitam_struct.port_admin }}</Set>
        <Set name="name">admin</Set>
        <Set name="idleTimeout">
            <Property name="http.timeout" default="{{ vitam_defaults.services.port_service_timeout }}"/>
        </Set>
    </New>

    <Call name="setConnectors">
        <Arg>
             <Array type="org.eclipse.jetty.server.ServerConnector">
                <Item>
                    <Ref refid="businessConnector" />
                </Item>
                <Item>
                    <Ref refid="adminConnector" />
                </Item>
            </Array>
        </Arg>
    </Call>

</Configure>
