<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- Send debug messages to System.out -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- By default, encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
		<encoder>
			<pattern>%d{ISO8601} [[%thread]] [%X{X-Request-Id}]  %-5level %logger - %replace(%caller{1..2}){'Caller\+1	 at |\n',''} : %msg %rootException%n</pattern>
		</encoder>
	</appender>

{% if vitam_struct.logback_rolling_policy|lower == "true" %}}
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>{{ vitam_folder_log }}/{{ vitam_struct.vitam_component }}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxFileSize>{{ vitam_struct.logback_max_file_size }}</maxFileSize>
			<maxHistory>{{ days_to_delete_logback_logfiles }}</maxHistory>
      		<totalSizeCap>{{ vitam_struct.logback_total_size_cap }}</totalSizeCap>
		</rollingPolicy>
{% else %}}
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>{{ vitam_folder_log }}/{{ vitam_struct.vitam_component }}.log</file>
		<append>true</append>
{% endif %}}
		<encoder>
			<pattern>%d{ISO8601} [[%thread]] [%X{X-Request-Id}] %-5level %logger - %replace(%caller{1..2}){'Caller\+1     at |\n',''} : %msg %rootException%n</pattern>
		</encoder>
	</appender>

{% if vitam_struct.logback_rolling_policy|lower == "true" %}}
	<appender name="SECURITY" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>{{ vitam_folder_log }}/{{ vitam_struct.vitam_component }}_security.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxFileSize>{{ vitam_struct.logback_max_file_size }}</maxFileSize>
			<maxHistory>{{ days_to_delete_logback_logfiles }}</maxHistory>
      		<totalSizeCap>{{ vitam_struct.logback_total_size_cap }}</totalSizeCap>
		</rollingPolicy>
{% else %}}
	<appender name="SECURITY" class="ch.qos.logback.core.FileAppender">
		<file>{{ vitam_folder_log }}/{{ vitam_struct.vitam_component }}_security.log</file>
		<append>true</append>
{% endif %}}
		<encoder>
			<pattern>%d{ISO8601} [[%thread]] [%X{X-Request-Id}] %-5level %logger - %replace(%caller{1..2}){'Caller\+1     at |\n',''} : %msg %rootException%n
			</pattern>
		</encoder>
	</appender>

    {% if vitam_struct.vitam_component == 'storage' %}
	{% if vitam_struct.logback_rolling_policy|lower == "true" %}}
	<appender name="OFFERSYNC" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>{{ vitam_folder_log }}/{{ vitam_struct.vitam_component }}_offer_sync.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxFileSize>{{ vitam_struct.logback_max_file_size }}</maxFileSize>
			<maxHistory>{{ days_to_delete_logback_logfiles }}</maxHistory>
			<totalSizeCap>{{ vitam_struct.logback_total_size_cap }}</totalSizeCap>
		</rollingPolicy>
	{% else %}}
	<appender name="OFFERSYNC" class="ch.qos.logback.core.FileAppender">
		<file>{{ vitam_folder_log }}/{{ vitam_struct.vitam_component }}_offer_sync.log</file>
		<append>true</append>
	{% endif %}}
		<encoder>
			<pattern>%d{ISO8601} [[%thread]] [%X{X-Request-Id}] %-5level %logger - %replace(%caller{1..2}){'Caller\+1     at |\n',''} : %msg %rootException%n
			</pattern>
		</encoder>
	</appender>
    {% endif %}

	<appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
		<syslogHost>localhost</syslogHost>
		<facility>{{ vitam_defaults.syslog_facility }}</facility>
		<suffixPattern>vitam-{{ vitam_struct.vitam_component }}: %d{ISO8601} [[%thread]] [%X{X-Request-Id}] %-5level %logger - %replace(%caller{1..2}){'Caller\+1     at |\n',''} : %msg %rootException%n</suffixPattern>
	</appender>
	<!-- By default, the level of the root level is set to TRACE -->
	<root level="{{ vitam_struct.log_level | default(vitam_defaults.services.log_level) }}">
		<!-- <appender-ref ref="STDOUT" /> -->
		<appender-ref ref="FILE" />
		<appender-ref ref="SYSLOG" />
	</root>

  <logger name="org.eclipse.jetty" level="WARN"/>
  <logger name="fr.gouv.vitam.storage.engine.server.logbook.StorageLogbookMock" level="INFO"/>
  <logger name="fr.gouv.vitam.metadata.core.reconstruction.ReconstructionService" level="INFO"/>
  <logger name="fr.gouv.vitam.metadata.core.graph.StoreGraphService" level="INFO"/>
  <logger name="fr.gouv.vitam.common" level="WARN" />
{% if vitam_struct.performance_logger|lower == "true" %}}
  <logger name="fr.gouv.vitam.common.performance.PerformanceLogger" level="DEBUG" />
{% endif %}
  <logger name="fr.gouv.vitam.common.alert.AlertServiceImpl" level="INFO">
	  <appender-ref ref="SECURITY" />
  </logger>
  {% if vitam_struct.vitam_component == 'storage' %}
  <logger name="fr.gouv.vitam.storage.engine.server.offersynchronization.OfferSyncServiceImpl">
       <appender-ref ref="OFFERSYNC" />
  </logger>
  {% endif %}

  {% if vitam_struct.vitam_component == 'metadata' %}
  <logger name="fr.gouv.vitam.metadata.core.migration" level="INFO"/>
  {% endif %}

</configuration>
