#!/usr/bin/env bash

# Fork the java service
/usr/bin/env java $JAVA_OPTS $JAVA_ENTRYPOINT $JAVA_ARGS &
# Write the PID for systemd
echo $! > {{ vitam_folder_run }}/{{ vitam_struct.vitam_component }}.pid
exit 0
