{
  "service": {
{% if vitam_struct.vitam_component == vitam.storageofferdefault.vitam_component %}
    "name": "{{ offer_conf }}",
    "address": "{{ ip_wan | default(ip_service) }}",
{% else %}
    "name": "{{ vitam_struct.vitam_component }}",
    "address": "{{ ip_service }}",
{% endif %}
    "port": {{ vitam_struct.port_service }},
    "enable_tag_override": false,
    "tags": ["vitam","{{ vitam_struct.vitam_component }}"],

    "checks": [
      {
        "name": "{{ vitam_struct.vitam_component }} : business service check",
{% if vitam_struct.https_enabled==true %}
        "notes": "HTTPS port opened",
{% else %}
        "notes": "HTTP port opened",
{% endif %}
        "tcp": "{{ ip_service }}:{{ vitam_struct.port_service }}",
        "interval": "{{ vitam_struct.consul_business_check | default(consul_business_check) }}s"
      },
      {
        "name": "{{ vitam_struct.vitam_component }} : admin service check",
        "notes": "Status admin : /admin/v1/status",
        "http": "http://{{ ip_admin }}:{{ vitam_struct.port_admin }}/admin/v1/status",
        "interval": "{{ vitam_struct.consul_admin_check | default(consul_admin_check) }}s"
      }
{% if (vitam_struct.https_enabled != true) and (vitam_struct.vitam_component != vitam.elastickibanainterceptor.vitam_component) and (vitam_struct.vitam_component != vitam.security_internal.vitam_component) and (vitam_struct.vitam_component != vitam.ihm_demo.vitam_component) and (vitam_struct.vitam_component != vitam.ihm_recette.vitam_component) and (vitam_struct.vitam_component != vitam.library.vitam_component) %}
      ,{
        "name": "{{ vitam_struct.vitam_component }} : http business service check",
        "notes": "Status business : /{{ vitam_struct.baseuri }}/v1/status",
        "http": "http://{{ ip_service }}:{{ vitam_struct.port_service }}/{{ vitam_struct.baseuri }}/v1/status",
        "interval": "{{ vitam_struct.consul_admin_check | default(consul_admin_check) }}s"
      }
{% endif %}
{% if (vitam_struct.vitam_component == vitam.security_internal.vitam_component) %}
      ,{
        "name": "{{ vitam_struct.vitam_component }} : http business service check",
        "notes": "Status business : /status",
        "http": "http://{{ ip_service }}:{{ vitam_struct.port_service }}/status",
        "interval": "{{ vitam_struct.consul_business_check | default(consul_business_check) }}s"
      }
{% endif %}
{% if (vitam_struct.vitam_component == vitam.worker.vitam_component) or (vitam_struct.vitam_component == vitam.ingestexternal.vitam_component) %}
      ,{
        "name": "Siegfried check",
        "notes": "Is siegfried running ?",
        "tcp": "localhost:{{ siegfried.port }}",
        "interval": "{{ siegfried.consul_check }}s"
      }
{% endif %}
{% if vitam_struct.antivirus is defined %}
      ,{
        "name": "Antivirus check",
        "notes": "Is {{ vitam_struct.antivirus }} running ?",
        "args": ["{{ vitam_folder_conf }}/scan-{{ vitam_struct.antivirus}}.sh","{{ vitam_folder_conf }}/scan-{{ vitam_struct.antivirus}}.sh"],
        "interval": "30s",
        "timeout": "5s"
      }
{% endif %}
    ]

  }
}
