{
  "service": {
    "name": "{{ vitam_component }}",
    "address": "{{ip_service}}",
{% if tls_active==true %}
    "port": {{ port_https }},
{% else %}
    "port": {{ port_http }},
{% endif %}
    "enableTagOverride": false,
    "checks": [
      {
{% if tls_active==true %}
        "id": "https tcp check",
        "notes": "HTTPS port opened",
        "tcp": "{{ip_service}}:{{ port_https }}",
{% else %}
        "id": "http tcp check",
        "notes": "HTTP port opened",
        "tcp": "{{ip_service}}:{{ port_http }}",
{% endif %}
        "interval": "1s"
      },
      {
        "id": "admin status",
        "notes": "Status admin : /admin/v1/status",
        "http": "http://{{ip_admin}}:{{ port_http_admin }}/admin/v1/status",
        "interval": "1s"
      }
{% if vitam_component == 'worker'  %}
      ,
      {
        "id": "siegfried check",
        "notes": "Is siegfried running ?",
        "tcp": "localhost:{{ vitam_siegfried_port }}",
        "interval": "1s"
      }
{% elif vitam_component =='ingest-external' %}
      ,
      {
        "id": "siegfried check",
        "notes": "Is siegfried running ?",
        "tcp": "localhost:{{ vitam_siegfried_port }}",
        "interval": "1s"
      }
{% if installation_clamav == "true" %}
      ,
      {
        "id": "ClamAV check",
        "notes": "Is ClamAV daemon running ?",
        "tcp": "localhost:{{ clamav_port }}",
        "interval": "1s"
      }
{% endif %}
{% endif %}
    ]
  }
}
