{
  "service": {
    "name": "{{ vitam_struct.vitam_component }}",
    "address": "{{ip_service}}",
{% if vitam_struct.https_enabled==true %}
    "port": {{ vitam_struct.port_https }},
{% else %}
    "port": {{ vitam_struct.port_http }},
{% endif %}
    "enableTagOverride": false,
    "checks": [
      {
{% if vitam_struct.https_enabled==true %}
        "notes": "HTTPS port opened",
        "tcp": "{{ip_service}}:{{ vitam_struct.port_https }}",
{% else %}
        "notes": "HTTP port opened",
        "tcp": "{{ip_service}}:{{ vitam_struct.port_http }}",
{% endif %}
        "interval": "1s"
      },
      {
        "notes": "Status admin : /admin/v1/status",
        "http": "http://{{ip_admin}}:{{ vitam_struct.port_admin }}/admin/v1/status",
        "interval": "1s"
      }
{% if vitam_struct.vitam_component == 'worker'  %}
      ,
      {
        "notes": "Is siegfried running ?",
        "tcp": "localhost:{{ siegfried.port }}",
        "interval": "1s"
      }
{% elif vitam_struct.vitam_component =='ingest-external' %}
      ,
      {
        "notes": "Is siegfried running ?",
        "tcp": "localhost:{{ siegfried.port }}",
        "interval": "1s"
      }
{% if vitam_defaults.installation_clamav == "true" %}
      ,
      {
        "notes": "Is ClamAV daemon running ?",
        "tcp": "localhost:{{ clamav.port }}",
        "interval": "1s"
      }
{% endif %}
{% endif %}
    ]
  }
}
