secret : {{plateforme_secret}}
filterActivation : {{ vitam_struct.secret_platform }}
{% if inventory_hostname in groups['hosts-processing'] %}
distributeurBatchSize: 800
workerBulkSize: 16
{% endif %}
{% if inventory_hostname in groups['hosts-metadata'] %}
storeGraphElementsPerFile: 10000
storeGraphOverlapDelay: 300
deleteIncompleteReconstructedUnitDelay: 2592000
{% endif %}
intervalDelayCheckIdle : 5000
maxDelayUnusedConnection : 5000
delayValidationAfterInactivity : 2500
tenants:  [ "{{ vitam_tenant_ids | join('", "') }}" ]
adminTenant : {{vitam_tenant_admin}}
