#  Fichier de configuration des métriques
#
#  Les différents clés disponibles pour ce fichier de configuration sont les suivantes :
#
#  metricsRest: true / false Active ou non les métriques Jersey
#  metricsJVM: true / false  Active ou non les métriques JVM
#
#  metricReporter: ELASTICSEARCH | LOGBACK | NONE - défini le type de reporter
#  metricReporterInterval: int > 0 - défini l'interval entre chaque reporting
#  metricReporterIntervalUnit: TimeUnit (ex: SECONDS, MINUTES...) - défini le type d'interval
#
#  Si le reporter est de type LOGBACK, la clé suivante est configurable:
#  metricLogLevel: DEBUG | INFO | WARN | ERROR - défini le niveau de log Logback
#
#  Si le reporter est de type ELASTICSEARCH, la clé suivante est obligatoire :
#
#  (un tableau avec les différentes adresses des bases ElasticSearch)
#  metricReporterHosts:
#    - 127.0.0.1:9201
#    - 0.0.0.0:80
#    - 8.8.8.8:22

{% if (groups['hosts_elasticsearch_log'] | length) > 0  %}
metricsRest: true
metricsJVM: true

metricReporter: ELASTICSEARCH
metricReporterHosts:
{% for host in groups['hosts_elasticsearch_log'] %}
   - "{{ hostvars[host]['ip_admin'] }}:{{ elasticsearch.log.port_http }}"
{% endfor %}
metricLogLevel: {{ vitam_struct.metricslevel | default(metricslevel) }}
metricReporterInterval: {{ vitam_struct.metricsinterval | default(metricsinterval) }}
metricReporterIntervalUnit: {{ vitam_struct.metricsunit | default(metricsunit) }}
{% endif %}
