registry="${env.SERVICE_NEXUS_URL}/repository/vitam-npm/"
email=assistance@programmevitam.fr
# Following should proxy http://cnpmjs.org/downloads/
# Cf. https://www.npmjs.com/package/phantomjs#downloading-from-a-custom-url
phantomjs_cdnurl="${env.SERVICE_NEXUS_URL}/repository/phantomjs-dist-mirror/"
# Following should proxy https://github.com/sass/node-sass/releases/download/
# Cf. https://github.com/sass/node-sass/commit/4d583856ebc64b564733b221bd25325be70a329c#diff-40fa1bcc04a39e465f1572b1178dfcfb
sass_binary_site="${env.SERVICE_NEXUS_URL}/repository/sass-dist-mirror/"
