server_ingest_external_key: changeme
server_access_external_key: changeme
server_offer_key: changeme
server_ihm_recette_key: changeme
server_ihm_demo_key: changeme
timestamping_secure_logbook_key: changeme
timestamping_secure_storage_key: changeme
client_client_external_ihm_demo_key: changeme
client_client_external_gatling_key: changeme
client_client_external_vitam_admin_int_key: changeme
client_client_external_ihm_recette_key: changeme
client_client_external_reverse_key: changeme
client_client_storage_storage_key: changeme
