<div id="global" class="container-fluid" >
  <ol class="breadcrumb">
    <li><a href="#">Page d'accueil</a></li>
    <li><a href="#!/accessionRegister/search">Recherche Registre des Fonds</a></li>
  </ol>

  <div class="boxSearchWrapper panel panel-default col-md-12">
    <a class="panel-header" data-target="#boxSearch" data-toggle="collapse">
      <h2>Recherche Registre des Fonds</h2>
    </a>

    <div id="boxSearch" class="panel-body panel-collapse collapse in">
        <form role="tabpanel" class="tab-pane active" id="simpleSearch"  ng-submit="$ctrl.searchRegistersByCriteria(serviceProducerCriteria)">
          <div class="boxSimpleSearchInput form-group col-md-12 m-t-50 m-b-50">
          <div class="input-group">
            <input ng-model="serviceProducerCriteria" type="text" class="form-control input-lg" placeholder="Rechercher" onfocus="this.placeholder = ''"/>
            <div class="input-group-addon" style="position:relative">
            <span id="iconSpan"><i class="material-icons pull-left" ng-click="serviceProducerCriteria=''">clear</i></span>
            <button class="btn btn-primary center-block" type="submit"><i class="material-icons pull-left">search</i></button></div>
          </div>
        </div>
          <div class="clearfix"></div>
        </form>
    </div>

    <!--  Nbre de registres trouvés -->
    <div class="text-center" style="padding-bottom: 20px">
        <label ng-if = "$ctrl.showResult && $ctrl.totalResult > 0">Nombre de résultats : <span class="badge">{{$ctrl.totalResult}}</span> </label>
        <label ng-if = "$ctrl.showResult && $ctrl.totalResult == 0">Il n'y a aucun résultat pour votre recherche</label>
    </div>
  </div>

  <!--
  *
  *    RESULTATS
  *
  -->
  <!-- <pre>{{ $ctrl.searchCriteria }}</pre> -->

  <div class="panel panel-default col-md-12">
    <a class="panel-header"  data-target="#boxSearchResults" data-toggle="collapse">
      <h2>Résultats</h2>
    </a>
    <div id="boxSearchResults" class="panel-body panel-collapse collapse in">

      <!--Pagination -->
      <nav class="text-center">
        <pagination total-items="$ctrl.totalResult" ng-model="$ctrl.currentPage"
          class="pagination-sm"
          items-per-page="$ctrl.itemsPerPage"
          max-size="maxSize"
          boundary-links="true"
          previous-text="&lsaquo;"
          next-text="&rsaquo;"
          first-text="&laquo;"
          last-text="&raquo;">
        </pagination>
      </nav>

      <div class="table-responsive ">
        <table class="table">
          <tr>
            <th>Service producteur</th>
            <th>Date d'entrée</th>
          </tr>

          <tbody ng-if="$ctrl.showResult && $ctrl.totalResult > 0">
            <tr data-toggle="popover" data-trigger="focus" data-placement="top" ng-click="$ctrl.goToDetails(result.OriginatingAgency)"
                ng-repeat="result in $ctrl.registers.slice((($ctrl.currentPage-1)*$ctrl.itemsPerPage), (($ctrl.currentPage)*$ctrl.itemsPerPage))">
              <td>{{ result.OriginatingAgency }}</td>
              <td>{{ result.creationDate }}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>


</div>
