{
  "code": 404,
  "context": "ingest",
  "state": "Item_Not_Found",
  "message": "Item is not found",
  "description": "Operation on item xxx cannot be done since item is not found in <<resourcePathName>>",
  "errors": [
    { "code": 415, "context": "ingest", "state": "Unsupported_Media_Type", "message": "Unsupported media type detected", "description": "File xxx has an unsupported media type yyy" },
    { "code": 412, "context": "ingest", "state": "Precondition_Failed", "message": "Precondition in error", "description": "Operation on file xxx cannot continue since precondition is in error" }
  ]
}
