[Unit]
Description=Elasticsearch-log
Documentation=http://www.elastic.co
Wants=network-online.target
After=network-online.target

[Service]
Environment=ES_HOME=/usr/share/elasticsearch
Environment=CONF_DIR=/vitam/conf/elasticsearch-log
Environment=DATA_DIR=/vitam/data/elasticsearch-log
Environment=LOG_DIR=/vitam/log/elasticsearch-log
Environment=PID_DIR=/var/run/elasticsearch-log
EnvironmentFile=-/vitam/conf/elasticsearch-log/sysconfig/elasticsearch

WorkingDirectory=/usr/share/elasticsearch

User=vitamdb
Group=vitam

ExecStartPre=/usr/share/elasticsearch/bin/elasticsearch-systemd-pre-exec

ExecStart=/usr/share/elasticsearch/bin/elasticsearch \
    -Des.pidfile=${PID_DIR}/elasticsearch.pid \
    -Des.default.path.home=${ES_HOME} \
    -Des.default.path.logs=${LOG_DIR} \
    -Des.default.path.data=${DATA_DIR} \
    -Des.default.path.conf=${CONF_DIR}

StandardOutput=journal
StandardError=inherit

# Specifies the maximum file descriptor number that can be opened by this process
LimitNOFILE=65536

# Specifies the maximum number of bytes of memory that may be locked into RAM
# Set to "infinity" if you use the 'bootstrap.memory_lock: true' option
# in elasticsearch.yml and 'MAX_LOCKED_MEMORY=unlimited' in /etc/sysconfig/elasticsearch
#LimitMEMLOCK=infinity

# Disable timeout logic and wait until process is stopped
TimeoutStopSec=0

# SIGTERM signal is used to stop the Java process
KillSignal=SIGTERM

# Java process is never killed
SendSIGKILL=no

# When a JVM receives a SIGTERM signal it exits with code 143
SuccessExitStatus=143

[Install]

WantedBy=multi-user.target
