{
	"fileName": "{{ sip_name }}",
{% if parallel|lower =="true" %}
	"delay": {{ delay }},
{% else %}
	"parallelIngest": 1,
{% endif %}
	"numberOfIngest": {{ ingest_number }},
    "numberOfRetry": {{ nb_retries }}
}
