{
  "service": {
    "name": "mongos",
    "port": {{ mongos_port }},
    "enableTagOverride": false,
    "checks": [
      {
        "id": "app-status",
        "notes": "Status mongos",
        "tcp": "localhost:{{ mongos_port }}",
        "interval": "1s"
      }
    ]
  }
}