{
  "index_patterns": "*",
  "settings" : {
    {% if groups['hosts-elasticsearch-log']|length > 1 %}
    "number_of_replicas": {{ kibana.log.logs.replica }},
    {% else %}
    "number_of_replicas": 0,
    {% endif %}
    "number_of_shards": {{ kibana.log.logs.shards }}
  }
}
