#jinja2: lstrip_blocks: True
# Configuration MongoDB
mongoDbNodes:
{% for host in groups['hosts_mongos_data'] %}
  - dbHost: {{ hostvars[host]['ip_service'] }}
    dbPort: {{ mongodb.mongos_port }}
{% endfor %}
dbName: masterdata
dbAuthentication: {{ mongodb.mongo_authentication }}
dbUserName: {{ mongodb['mongo-data'].functionalAdmin.user }}
dbPassword: {{ mongodb['mongo-data'].functionalAdmin.password }}

#Basic Authentication
adminBasicAuth:
  - userName: {{ admin_basic_auth_user }}
    password: {{ admin_basic_auth_password }}

jettyConfig: jetty-config.xml
workspaceUrl: {{ vitam.workspace | client_url }}
processingUrl: {{ vitam.processing | client_url }}

# ElasticSearch
clusterName: {{ vitam_struct.cluster_name }}
elasticsearchConfigurationFile: {{ vitam_folder_conf }}/elasticsearch-settings/elasticsearch-configuration.json
elasticsearchNodes:
{% for host in groups['hosts_elasticsearch_data'] %}
  - hostName: {{ hostvars[host]['ip_service'] }}
    httpPort: {{ elasticsearch.data.port_http }}
{% endfor %}

# ElasticSearch tenant indexation
elasticsearchTenantIndexation:
  default_config:
    number_of_shards: {{ vitam_elasticsearch_tenant_indexation.default_config.masterdata.number_of_shards | default('1') }}
    number_of_replicas: {{ vitam_elasticsearch_tenant_indexation.default_config.masterdata.number_of_replicas | default('2') }}

{% for collection in ["accesscontract", "accessionregisterdetail", "accessionregistersummary", "accessionregistersymbolic", "agencies", "archiveunitprofile", "context", "fileformat", "filerules", "griffin", "ingestcontract", "managementcontract", "ontology", "preservationscenario", "profile", "securityprofile","schema"] %}
  {% if vitam_elasticsearch_tenant_indexation.masterdata[collection] is defined %}
  {{ collection }}:
    {% if vitam_elasticsearch_tenant_indexation.masterdata[collection].number_of_shards is defined %}
    number_of_shards: {{ vitam_elasticsearch_tenant_indexation.masterdata[collection].number_of_shards }}
    {% endif %}
    {% if vitam_elasticsearch_tenant_indexation.masterdata[collection].number_of_replicas is defined %}
    number_of_replicas: {{ vitam_elasticsearch_tenant_indexation.masterdata[collection].number_of_replicas }}
    {% endif %}
  {% endif %}
{% endfor %}

# ExternalId configuration
listEnableExternalIdentifiers:
{% if vitam_tenants_usage_external is iterable %}
  {% for tenant in vitam_tenants_usage_external %}
    {% if tenant.identifiers is defined %}
  {{ tenant.name }}:
      {% for external in tenant.identifiers %}
    - {{ external }}
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endif %}

listMinimumRuleDuration:
{% if vitam_tenant_rule_duration is iterable %}
  {% for tenant in vitam_tenant_rule_duration %}
  {{ tenant.name }}:
    {% for rule in tenant.rules %}
      {% for key, value in rule.items() %}
    {{ key }}: {{ value }}
      {% endfor %}
    {% endfor %}
  {% endfor %}
{% endif %}

accessionRegisterSymbolicThreadPoolSize: {{ vitam.functional_administration.accessionRegisterSymbolicThreadPoolSize | default(16) }}
ruleAuditThreadPoolSize: {{ vitam.functional_administration.ruleAuditThreadPoolSize | default(16) }}

{% if primary_site | lower != "true" %}
# Reconstruction cache duration (in minutes)
reconstructionMetricsCacheDurationInMinutes: {{ vitam.functional_administration.reconstructionMetricsCacheDurationInMinutes | default(15) }}
{% endif %}

{% if vitam_elasticsearch_tenant_indexation is defined and vitam_elasticsearch_tenant_indexation is not none %}

{% set unit_custom_search = vitam_elasticsearch_tenant_indexation.default_config.unit.customSearch | default([]) %}
{% set objectgroup_custom_search = vitam_elasticsearch_tenant_indexation.default_config.objectgroup.customSearch | default([]) %}
{% set dedicated_unit_custom_search = vitam_elasticsearch_tenant_indexation.dedicated_tenants | default([]) | map(attribute='unit.customSearch') | select('defined') | list | sum(start=[]) %}
{% set dedicated_objectgroup_custom_search = vitam_elasticsearch_tenant_indexation.dedicated_tenants | default([]) | map(attribute='objectgroup.customSearch') | select('defined') | list | sum(start=[]) %}
{% set grouped_unit_custom_search = vitam_elasticsearch_tenant_indexation.grouped_tenants | default([]) | map(attribute='unit.customSearch') | select('defined') | list | sum(start=[]) %}
{% set grouped_objectgroup_custom_search = vitam_elasticsearch_tenant_indexation.grouped_tenants | default([]) | map(attribute='objectgroup.customSearch') | select('defined') | list | sum(start=[]) %}

{% if unit_custom_search or objectgroup_custom_search or dedicated_unit_custom_search or dedicated_objectgroup_custom_search or grouped_unit_custom_search or grouped_objectgroup_custom_search %}
# Custom Search On Fields applied on schema
customSearchOnFields:
  {% if vitam_elasticsearch_tenant_indexation.default_config is defined and vitam_elasticsearch_tenant_indexation.default_config is not none %}

  default_config:
    {% if vitam_elasticsearch_tenant_indexation.default_config.unit is defined and vitam_elasticsearch_tenant_indexation.default_config.unit is not none and vitam_elasticsearch_tenant_indexation.default_config.unit.customSearch is defined and vitam_elasticsearch_tenant_indexation.default_config.unit.customSearch is not none%}
    unit:
      fields:
      {% for entry in vitam_elasticsearch_tenant_indexation.default_config.unit.customSearch %}
        {% if entry.fieldPath is defined %}
        - fieldPath: {{ entry.fieldPath }}
          {% if entry.types is defined and entry.types is not none %}
          types:
            {% for entryType in entry.types %}
            - {{ entryType }}
            {% endfor %}
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endif %}
  {% if vitam_elasticsearch_tenant_indexation.default_config.objectgroup is defined and vitam_elasticsearch_tenant_indexation.default_config.objectgroup is not none and vitam_elasticsearch_tenant_indexation.default_config.objectgroup.customSearch is defined and vitam_elasticsearch_tenant_indexation.default_config.objectgroup.customSearch is not none %}
    objectgroup:
      fields:
    {% for entry in vitam_elasticsearch_tenant_indexation.default_config.objectgroup.customSearch %}
      {% if entry.fieldPath is defined %}
        - fieldPath: {{ entry.fieldPath }}
        {% if entry.types is defined and entry.types is not none %}
          types:
          {% for entryType in entry.types %}
            - {{ entryType }}
          {% endfor %}
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}

{% if vitam_elasticsearch_tenant_indexation.dedicated_tenants is defined and vitam_elasticsearch_tenant_indexation.dedicated_tenants is not none %}

  dedicated_tenants:
  {% for entry in vitam_elasticsearch_tenant_indexation.dedicated_tenants %}
    - tenants: '{{ entry.tenants }}'
    {% if entry.unit is defined and entry.unit.customSearch is defined and entry.unit.customSearch is not none %}
      unit:
        fields:
      {% for entryField in entry.unit.customSearch %}
        {% if entryField.fieldPath is defined %}
          - fieldPath: {{ entryField.fieldPath }}
          {% if entryField.types is defined and entryField.types is not none %}
            types:
            {% for entryType in entryField.types %}
              - {{ entryType }}
            {% endfor %}
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}
    {% if entry.objectgroup is defined and entry.objectgroup.customSearch is defined and entry.objectgroup.customSearch is not none %}
      objectgroup:
        fields:
      {% for entryField in entry.objectgroup.customSearch %}
        {% if entryField.fieldPath is defined %}
          - fieldPath: {{ entryField.fieldPath }}
          {% if entryField.types is defined and entryField.types is not none %}
            types:
            {% for entryType in entryField.types %}
              - {{ entryType }}
            {% endfor %}
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endif %}
{% if vitam_elasticsearch_tenant_indexation.grouped_tenants is defined and vitam_elasticsearch_tenant_indexation.grouped_tenants is not none %}

  grouped_tenants:
  {% for entry in vitam_elasticsearch_tenant_indexation.grouped_tenants %}
    - name: '{{ entry.name }}'
      tenants: '{{ entry.tenants }}'
    {% if entry.unit is defined and entry.unit.customSearch is defined and entry.unit.customSearch is not none %}
      unit:
        fields:
      {% for entryField in entry.unit.customSearch %}
        {% if entryField.fieldPath is defined %}
          - fieldPath: {{ entryField.fieldPath }}
          {% if entryField.types is defined and entryField.types is not none %}
            types:
            {% for entryType in entryField.types %}
              - {{ entryType }}
            {% endfor %}
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}
    {% if entry.objectgroup is defined and entry.objectgroup.customSearch is defined and entry.objectgroup.customSearch is not none %}
      objectgroup:
        fields:
      {% for entryField in entry.objectgroup.customSearch %}
        {% if entryField.fieldPath is defined %}
          - fieldPath: {{ entryField.fieldPath }}
          {% if entryField.types is defined and entryField.types is not none %}
            types:
            {% for entryType in entryField.types %}
              - {{ entryType }}
            {% endfor %}
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endif %}
{% endif %}
{% endif %}
