
# Configuration MongoDB
mongoDbNodes:
{% for host in groups['hosts_mongos_data'] %}
- dbHost: {{ hostvars[host]['ip_service'] }}
  dbPort: {{ mongodb.mongos_port }}
{% endfor %}
dbName: masterdata
dbAuthentication: {{ mongodb.mongo_authentication }}
dbUserName: {{ mongodb['mongo-data'].functionalAdmin.user }}
dbPassword: {{ mongodb['mongo-data'].functionalAdmin.password }}

#Basic Authentication
adminBasicAuth:
- userName: {{ admin_basic_auth_user }}
  password: {{ admin_basic_auth_password }}

jettyConfig: jetty-config.xml
workspaceUrl: {{vitam.workspace | client_url}}
processingUrl: {{vitam.processing | client_url}}

# ElasticSearch
clusterName: {{ vitam_struct.cluster_name }}
elasticsearchNodes:
{% for host in groups['hosts_elasticsearch_data'] %}
- hostName: {{ hostvars[host]['ip_service'] }}
  tcpPort: {{ elasticsearch.data.port_tcp }}
{% endfor %}


# ExternalId configuration
listEnableExternalIdentifiers:
{% if vitam_tenants_usage_external is iterable %}
{% for tenant in vitam_tenants_usage_external %}
{% if tenant.identifiers is defined %}
  {{ tenant.name }}:
{% for external in tenant.identifiers %}
    - {{ external }}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}

listMinimumRuleDuration:
{% if vitam_tenant_rule_duration is iterable %}
{% for tenant in vitam_tenant_rule_duration %}
  {{ tenant.name }}:
{% for rule in tenant.rules %}
{% for key, value in rule.items() %}
    {{ key }}: {{ value }}
{% endfor %}
{% endfor %}
{% endfor %}
{% endif %}

