<!doctype html>
<html lang="en" ng-app="ihm.demo">
<head>
  <meta charset="utf-8">
  <title>Vitam Project</title>
  <link rel="stylesheet" href="css/app.css" />
  <link rel="stylesheet" href="css/app.animations.css" />
  <link rel="stylesheet" href="css/styles.css" />
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
  <link rel="stylesheet" href="bower_components/v-accordion/dist/v-accordion.css" />

  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-aria/angular-aria.min.js"></script>
  <script src="bower_components/angular-material/angular-material.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/angular-file-upload/dist/angular-file-upload.min.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.js"></script>
  <script src="bower_components/lodash/dist/lodash.min.js"></script>
  <script src="bower_components/restangular/dist/restangular.min.js"></script>
  <script src="bower_components/angular-messages/angular-messages.js"></script>
  <script src="bower_components/v-accordion/dist/v-accordion.js"></script>

  <script src="modules/parent/app.module.js"></script>
  <script src="modules/parent/app.config.js"></script>
  <script src="js/controller/upload-sip-controller.js"></script>
  <script src="js/controller/logbook-controller.js"></script>

  <script src="modules/core/core.module.js"></script>
  <script src="modules/core/ihm-demo-factory.js"></script>
  <script src="modules/core/main.controller.js"></script>

  <script src="modules/archive-unit-search/archive-search.module.js"></script>
  <script src="modules/archive-unit-search/archive-search.controller.js"></script>
  <script src="modules/archive-unit-search/archive-search.component.js"></script>

  <script src="modules/archive-unit/archive-unit.module.js"></script>
  <script src="modules/archive-unit/archive-unit.controller.js"></script>
  <script src="modules/archive-unit/archive-unit.component.js"></script>

</head>

<body ng-controller='mainViewController'>
  <!-- Menu -->
  <md-toolbar class="md-menu-toolbar" ng-if="showMenuBar">
    <div layout="row">
      <md-toolbar-filler layout layout-align="center center">
        <md-icon md-svg-icon="call:chat"></md-icon>
      </md-toolbar-filler>
      <div>
        <img src="images/150321-LogoVITAMV1-mini.jpg"/>
      </div>
      <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
        <md-nav-item md-nav-href="#!/uploadSIP" name="uplaodSip">Téléchargement SIP</md-nav-item>
        <md-nav-item md-nav-href="#!/archiveSearch" name="archievSearch">Recherche Archive Units</md-nav-item>
        <md-nav-item md-nav-href="#!/admin" name="admin">Administration</md-nav-item>
      </md-nav-bar>
    </div>
  </md-toolbar>

  <!-- View -->
  <div class="page-container" ng-if="showMenuBar">
    <div ng-view class="page"></div>
  </div>
  <div class="view-container" ng-if="!showMenuBar">
        <div ng-view class="view-frame"></div>
  </div>

</body>
</html>
