{
  "id": "abcdef",
  "info": "container description - optional",
  "creation_time": "2016-02-28T16:41:41.090Z",
  "last_access_time": "2016-02-28T16:41:41.090Z",
  "last_modified_time": "2016-02-28T16:41:41.090Z"
}
