Package: vitam-node-exporter
Source: node_exporter
Section: monitor
Priority: optional
Maintainer: French Prime minister Office/SGMAP/DINSIC/Vitam Program <contact.vitam@culture.gouv.fr>
Homepage: https://github.com/prometheus/node_exporter
Architecture: amd64
Depends: vitam-user-vitam
Description: Monitoring system and time series database
Version: 1.0.1
