---
- name: Make sure timer is started on primary site for all
  systemd:
    name: "{{ item[0] }}.timer"
    enabled: "{{ vitam_timers.at_boot | default(service_at_boot) }}"
    state: started
  when: (inventory_hostname in groups[item[1]] ) and (item[2]|length > 0) and (item[2]=="in")
  loop: "{{ list_timers }}"

- name: Make sure timer is started on primary site for last
  systemd:
    name: "{{ item[0] }}.timer"
    enabled: "{{ vitam_timers.at_boot | default(service_at_boot) }}"
    state: started
  when: (inventory_hostname == groups[item[1]]|last ) and (item[2]|length > 0) and (item[2]=="last")
  loop: "{{ list_timers }}"
