events {
	worker_connections 10;
}

http {
    server {
        listen 0.0.0.0:443 ssl default_server;
        server_name  _;

        # Server certificates
        ssl_certificate         /etc/nginx/reverse.crt;
        ssl_certificate_key     /etc/nginx/reverse.key;

        # Client cert verification
        ssl_client_certificate  /etc/nginx/truststore.crt;
        ssl_verify_client       optional; # Optional client cert for testing purposes only. Production environments should make it mandatory (ssl_verify_client on;)
        ssl_stapling_verify     off;
        ssl_verify_depth        3;

        # Truststore for upstream app
        ssl_trusted_certificate /etc/nginx/truststore.crt;

        # Forward trafic to upstream server
        location / {
          proxy_set_header      Host app;
          proxy_hide_header     X-SSL-CLIENT-CERT;
          proxy_set_header      X-SSL-CLIENT-CERT $ssl_client_escaped_cert;
          proxy_pass            https://host.testcontainers.internal:####PORT####;
          proxy_read_timeout    90;
        }
    }
}