<div id="global" class="container-fluid">
  <ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#!/admin/logbookOperations">Suivi des opérations</a></li>
  </ol>
  <div class="panel panel-default col-md-12">
    <a class="panel-header" data-toggle="collapse">
      <h2>Rechercher</h2>
    </a>
    <div id="boxEntriesSearchForm" class="panel-body panel-collapse collapse in">
      <div class="form-group">
        <label for="entryName">Lot d'archive</label>
        <input  ng-model="logctrl.searchOptions.obIdIn" type="text" name="entryName" class="form-control" />
      </div>
      <div class="row" style="padding-top: 20px">
        <div class="col-md-6">
          <button class="btn btn-primary center-block" ng-click="logctrl.clearSearchOptions()">
          <i class="material-icons pull-left">clear</i><span>Effacer</span>
          </button>
        </div>
        <div class="col-md-6">
          <button class="btn btn-primary center-block" ng-click="logctrl.getLogbooks()"><i class="material-icons pull-left">search</i><span>Rechercher</span></button>
        </div>
      </div>
    </div>
  </div>

  <!--  Pagination -->
    <!-- <div style="text-align: center">
       <button class="btn btn-default btn-s" ng-disabled="logctrl.currentPage <= 1" ng-click="logctrl.currentPage=logctrl.currentPage-1">
         Previous
       </button>
       {{logctrl.currentPage}}/{{logctrl.resultPages}}
       <button class="btn btn-default btn-s" ng-disabled="logctrl.currentPage >= logctrl.resultPages" ng-click="logctrl.getNextResults()">
         Next
       </button>
     </div> -->

    <nav class="text-center" ng-if="logctrl.resultPages > 0" >
        <ul class="pagination">
            <li ng-if="logctrl.currentPage > 1">
                <a href='' aria-label="Previous" ng-click="logctrl.getPreviousResults()" >
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li ng-class="logctrl.pageActive[0] ? 'active' : ''" ng-click="logctrl.diplayFromCurrentPage(0)"><a href=''>{{logctrl.currentPage}}</a></li>
            <li ng-class="logctrl.pageActive[1] ? 'active' : ''" ng-if="logctrl.resultPages > logctrl.currentPage + 1" ng-click="logctrl.diplayFromCurrentPage(1)"><a href=''>{{logctrl.currentPage+1}}</a></li>
            <li ng-class="logctrl.pageActive[2] ? 'active' : ''" ng-if="logctrl.resultPages > logctrl.currentPage + 2" ng-click="logctrl.diplayFromCurrentPage(2)"><a href=''>{{logctrl.currentPage+2}}</a></li>
            <li ng-class="logctrl.pageActive[3] ? 'active' : ''" ng-if="logctrl.resultPages > logctrl.currentPage + 3" ng-click="logctrl.diplayFromCurrentPage(3)"><a href=''>{{logctrl.currentPage+3}}</a></li>
            <li ng-class="logctrl.pageActive[4] ? 'active' : ''" ng-if="logctrl.resultPages > logctrl.currentPage + 4" ng-click="logctrl.diplayFromCurrentPage(4)"><a href=''>{{logctrl.currentPage+4}}</a></li>
            <li ng-if="logctrl.resultPages > logctrl.currentPage + 4">
                <a href='' aria-label="Next" ng-click="logctrl.getNextResults()">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

<div class="panel panel-default col-md-12">
  <a class="panel-header">
    <h2>Journal des opérations</h2>
  </a>
  <div id="boxEntriesList" class="panel-body panel-collapse collapse in">
    <div class="table-responsive">
      <table class="table">
        <tr>
          <th>Lot d'archive</th>
          <th>Identifiant de l'entrée</th>
          <th>Début opération</th>
          <th>Fin opération</th>
          <th>Statut</th>
        </tr>

        <tbody ng-repeat="log in logctrl.fileFormatList | startFrom:(logctrl.diplayPage-1)*logctrl.itemsPerPage | limitTo:logctrl.itemsPerPage">
          <tr ng-click="logctrl.openDialog($event, log.evIdProc)" >
            <td>{{log.events[0].obIdIn}}</td>
            <td>{{log.evIdProc}}</td>
            <td>{{log.evDateTime}}</td>
            <td>{{log.events[1].evDateTime}}</td>
            <td ng-if = "log.events[1].outcome == 'OK'">Succès</td>
            <td ng-if = "log.events[1].outcome == 'KO' || log.events[1].outcome == 'FATAL'">Erreur</td>
            <td ng-if = "log.events[1].outcome != 'KO' && log.events[1].outcome != 'FATAL' && log.events[1].outcome != 'OK'">{{log.events[1].outcome}}</td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>
</div>
