{{ ansible_managed | comment }}

{{ vitam_defaults.folder.root_path }}/log/node_exporter/node-exporter.log {
        daily
        rotate {{ prometheus.node_exporter.history_days | default(30) }}
        copytruncate
        dateext
        dateformat -%Y-%m-%d
        dateyesterday
        extension .log
        compress
        delaycompress
        notifempty
        missingok
}
