*.*
!.gitignore
!build.sh
!clean.sh
!*/debian/source/*
!*/debian/changelog
!*/debian/compat
!*/debian/control
!*/debian/copyright
!*/debian/files
!*/debian/rules
!*/debian/*.service
!*/etc/*
!*/vitam/*
