<p-panel [header]="'Métadonnées de gestion'" [toggleable]="true" [collapsed]="true">
  <div class="ui-g" *ngIf="computedData && unitProperties">
    <vitam-rules-display-mode *ngIf="!update" [computedData]="computedData" [unitProperties]=unitProperties
                              [unitId]="unitId"  (switchUpdate)="switchUpdate($event)"></vitam-rules-display-mode>

    <vitam-rules-update-mode *ngIf="update" [computedData]="computedData" [management]="data['#management']"
                             [unitId]="unitId" (switchUpdate)="switchUpdate($event)"></vitam-rules-update-mode>
  </div>
</p-panel>
