registerUseSSL: false
registerServerContextPath: /
registerServerHost: {{vitam_worker_host}}
registerServerPort: {{vitam_worker_port}}
processingUrl: {{vitam_processing_baseurl}}
urlMetada : {{vitam_metadata_baseurl}}
urlWorkspace : {{vitam_workspace_baseurl}}
jettyConfig: jetty-config.xml