# Configuration processing
# HERE MUST BE MY (WORKER) current configuration
registerServerHost: {{inventory_hostname}}
registerServerPort: {{vitam_worker_port}}
# Configuration handler
processingUrl: {{vitam_processing_baseurl}}
urlMetadata: {{vitam_metadata_baseurl}}
urlWorkspace: {{vitam_workspace_baseurl}}
# Configuration jetty
jettyConfig: jetty-config.xml

#Configuration parallele
capacity: {{vitam_worker_capacity}}
{% if vitam_worker_workerFamily is defined %}
workerFamily: {{vitam_worker_workerFamily}}
{% endif %}
