{% if vitam_provider_offer != "openstack-swift" %}storagePath: {{vitam_folder_data}}
{% endif %}
provider: {{vitam_provider_offer}}
keystoneEndPoint: {{vitam_keystone_auth_url}}
tenantName: {{vitam_tenant_name}}
userName: {{vitam_keystone_login}}
credential: {{ vitam_keystone_passwd }}
cephMode: {{ vitam_ceph_mode }}
