
[defaults]
roles_path = ansible-vitam/roles
hash_behaviour = merge
filter_plugins = library/filter_plugins
library = library/modules
callback_whitelist = profile_tasks

# Mitogen
host_key_checking = False
strategy_plugins = ./library/mitogen-0.2.9/ansible_mitogen/plugins/strategy
strategy = mitogen_linear
