
[defaults]
roles_path = ansible-vitam/roles:ansible-vitam-exploitation/roles:ansible-vitam-extra/roles
hash_behaviour = merge
filter_plugins = library/filter_plugins
library = library/modules
callback_whitelist = timer, profile_tasks
gathering = smart
fact_caching = jsonfile
fact_caching_connection = environments/.facts_cache
forks = 20

# Mitogen
host_key_checking = False
strategy_plugins = ./library/mitogen-0.2.9/ansible_mitogen/plugins/strategy
strategy = mitogen_linear
