{
  "service": {
    "name": "blackbox-exporter",
    "port": {{ blackbox_exporter_port }},
    "address": "{{ ip_admin }}",
    "tags": ["monitor", "prometheus", "blackbox-exporter", "vitam-blackbox-exporter"],
    "checks": [
        {
          "name": "Prometheus blackbox_exporter : TCP check",
          "notes": "Status blackbox_exporter",
          "tcp": "{{ ip_admin }}:{{ blackbox_exporter_port }}",
          "interval": "{{ prometheus.check_consul | default(10) }}s"
        }
    ]
  }
}
