{
  "service": {
    "name": "cerebro",
    "port": {{ cerebro.port }},
    "address": "{{ ip_service }}",
    "enableTagOverride": false,
    "checks": [
      {
        "notes": "Status check",
        "http": "http://{{ ip_service }}:{{ cerebro.port }}/{{ cerebro.baseuri }}/",
        "interval": "1s"
      }
    ]
  }
}
