{
  "service": {
    "name": "cerebro",
    "enableTagOverride": false,
    "checks": [
      {
        "id": "Check status",
        "notes": "Status check",
        "http": "http://localhost:{{ cerebro_port }}/cerebro/",
        "interval": "1s"
      }
    ]
  }
}
