[Unit]
Description=Cerebro for elasticsearch
Documentation=https://github.com/lmenezes/cerebro
Wants=network-online.target
After=network-online.target

[Service]
WorkingDirectory={{ vitam_defaults.folder.root_path }}/app/cerebro
User={{ vitam_defaults.users.vitam }}
Group={{ vitam_defaults.users.group }}
EnvironmentFile=-{{ vitam_defaults.folder.root_path }}/conf/cerebro/sysconfig.conf
ExecStart={{ vitam_defaults.folder.root_path }}/app/cerebro/bin/cerebro -Dconfig.file={{ vitam_defaults.folder.root_path }}/conf/cerebro/application.conf

StandardOutput=journal
StandardError=inherit

# Specifies the maximum file descriptor number that can be opened by this process
LimitNOFILE=65536

# Specifies the maximum number of bytes of memory that may be locked into RAM
# Set to "infinity" if you use the 'bootstrap.memory_lock: true' option
# in elasticsearch.yml and 'MAX_LOCKED_MEMORY=unlimited' in /etc/sysconfig/elasticsearch
#LimitMEMLOCK=infinity

TimeoutStopSec=10

# When a JVM receives a SIGTERM signal it exits with code 143
SuccessExitStatus=143

[Install]

WantedBy=multi-user.target
