<div id="global" class="container-fluid" >

  <div class="text-justify">
    <button class="btn btn-primary" type="button" class="btn btn-success btn-s" ng-click="deleteFormats()">
      <i class="material-icons pull-left">delete_choix</i>
      <span>Supprimer formats</span>
    </button>
  </div>

  <div class="text-justify">
    <button class="btn btn-primary" type="button" class="btn btn-success btn-s" ng-click="deleteRules()">
      <i class="material-icons pull-left">delete_choix</i>
      <span>Supprimer règles</span>
    </button>
  </div>

</div>