<div #panelTarget style="position: fixed; left: -230px; top:0;"></div>

<ng-template [ngIf]="node">
<div *ngFor="let child of node.children" class="child">
  <ng-template [ngIf]="!child.leaf">
    <span *ngIf="!child.expended" class="fa fa-fw fa-plus" (click)="switchChild(child)"></span>
    <span *ngIf="child.expended" class="fa fa-fw fa-minus" (click)="switchChild(child)"></span>
  </ng-template>
  <span *ngIf="child.leaf" class="fa fa-fw"></span>
  <span *ngIf="child.data.type=='HOLDING_UNIT'" class="fa fa-fw fa-tree"></span>
  <span *ngIf="child.data.type=='FILING_UNIT'" class="fa fa-fw fa-square-o"></span>
  <span *ngIf="child.data.type=='INGEST'" class="fa fa-fw fa-archive"></span>
  <a [routerLink]="'/search/archiveUnit/' + child.id"><span>{{child.label}}</span></a>

  <ng-template [ngIf]="child.expended">
    <vitam-tree-child [node]="child" [level]="1+level"></vitam-tree-child>
  </ng-template>
</div>

<div *ngIf="node.data.haveMoreChildren" class="child" (click)="childSearchPanel.show($event, panelTarget)">
  <span class="fa fa-fw fa-ellipsis-h"></span>
  <span class="fa fa-fw"></span>
  <span>Plus d'enfants ({{node.label}})</span>
</div>
</ng-template>

<p-overlayPanel #childSearchPanel [style]="{'width': '125%'}" [dismissable]="false" [showCloseIcon]="true">
    <vitam-tree-search [node]="node" [searchParents]="false" [label]="'Recherche d\'enfants'" [panel]="childSearchPanel"></vitam-tree-search>
</p-overlayPanel>
