urlWorkspace: {{ vitam.workspace | client_url }}
timeoutMsPerKB: 100
jettyConfig: jetty-config.xml
tenants:  [ "{{ vitam_tenant_ids | join('", "') }}" ]
zippingDirecorty: {{vitam_folder_data}}/storage_archives
loggingDirectory: {{vitam_folder_log}}
