#
# FILEBEAT CONFIGURATION
#

#
# Logs filebeat
#
logging:
  level: {{ filebeat.log_level | default('warning') | lower }}

  to_files: true
  files:
    path: {{ filebeat_log_dir }}
    name: filebeat.log
    keepfiles: {{ filebeat.history_days | default(30) }}
    interval: 24h
    permissions: 0644
    rotateonstartup: false

#
# Configs
#
# by modules
filebeat.config.modules:
  path: {{ filebeat_conf_dir }}/modules.d/*.yml
  reload.enabled: true

# by inputs
filebeat.config.inputs:
  enabled: true
  path: {{ filebeat_conf_dir }}/inputs.d/*.yml

#
# Override for custom indexes
#
setup.ilm.enabled: false
setup.template.enabled: false

#
# Enable persistent disk queue
# https://www.elastic.co/docs/reference/beats/filebeat/configuring-internal-queue
#
queue:
  disk:
    max_size: {{ filebeat.queue.disk.max_size | default('10GB') }} # Maximum disk queue size
    path: "{{ filebeat_data_dir }}/diskqueue" # Path to store the queue

{% if groups['hosts_logstash'] | length > 0 %}
#
# Logstash
#
output.logstash:
  # The Logstash hosts
  hosts: [{% for item in groups['hosts_logstash'] %}"{{ hostvars[item]['ip_admin'] }}:{{ logstash.port | default(10514) }}"{% if not loop.last %},{% endif %}{% endfor %}]
{% else %}
#
# Elasticsearch-log
#
# (Each node of es log should have a role 'ingest')
#
output.elasticsearch:
  # The Elasticsearch hosts
  hosts: [{% for item in groups['hosts_elasticsearch_log'] %}"{% if 'ingest' in hostvars[item]['elasticsearch_roles'] | default(['master', 'data', 'ingest']) %}{{ hostvars[item]['ip_admin'] }}:{{ elasticsearch.log.port_http | default(9201) }}"{% if not loop.last %},{% endif %}{% endif %}{% endfor %}]
{% endif %}
  compression_level: {{ filebeat.compression_level | default(3) }}

  indices:
    - index: "logstash-access-%{+yyyy.MM.dd}"
      when.contains:
        kind: access
    - index: "logstash-system-%{+yyyy.MM.dd}"
      when.equals:
        event.module: system
    - index: "logstash-vitam-%{+yyyy.MM.dd}"
      when:
        not:
          or:
            - equals:
                event.module: system
            - contains:
                kind: access
{% if filebeat.processors is defined %}

#
# Processors
#
processors:
  {{ filebeat.processors | default([]) | to_nice_yaml(indent=2) | indent(2) }}
{% endif %}
