{% if (groups['hosts-log-server'] | length) > 0  %}
# Metrics on/off
metricsJersey: true
metricsJVM: true

# Metrics reporting, possible reporters: "console" or "elasticsearch"
metricReporter: ELASTICSEARCH
metricReporterHost: {{ elasticsearch_log_host }}
metricReporterPort: {{ elasticsearch_log_http_port }}
metricReporterInterval: 1
metricReporterIntervalUnit: MINUTES
{% endif %}
