{
  "index_patterns": ["logstash-vitam*"],
  "order": "1",
  "settings" : {
    {% if groups['hosts_elasticsearch_log']|length > 1 %}
    "number_of_replicas": {{ kibana.log.metrics.replica }},
    {% else %}
    "number_of_replicas": 0,
    {% endif %}
    "number_of_shards": {{ kibana.log.metrics.shards }}
  }
}
