<div id="global" class="container-fluid">
  <ol class="breadcrumb">
    <li><a href="#">Page d'accueil</a></li>
    <li><a href="#!/archiveSearch">Formulaire de l'Archive Unit : {{$ctrl.archiveId}} / {{$ctrl.archiveTitle}}</a></li>
  </ol>

  <div class="panel panel-default col-md-12">
    <!-- <md-content flex layout-padding> -->
    <a class="panel-header" data-toggle="collapse" data-target="#boxContractsList">
      <h2>Détail d'une archive </h2>
    </a>
    <div id="boxContractsList" class="panel-collapse collapse in">
      <div class="panel-body">
        <!-- Add Unit Tree -->
        <div ng-repeat="path in $ctrl.fullArchiveTree">
          <ul ng-repeat="parent in path.slice().reverse()">
            <li ng-style="$ctrl.getIntent($index)">
              <a ng-href="#!/archiveunit/{{parent._id}}">{{parent.Title}}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="text-right">
        <button ng-if="!$ctrl.isEditMode" data-parent="#boxContractsList" ng-click="$ctrl.switchToEditMode()">
          <i class="material-icons pull-left">create</i>
          <span>Modifier</span>
        </button>
        <button ng-if="$ctrl.isEditMode" data-parent="#boxContractsList" ng-click="$ctrl.cancelChanges()">
          <i class="material-icons pull-left">create</i>
          <span>Annuler</span>
        </button>
        <button class="md-icon-button" data-parent="#boxContractsList" ng-click="$ctrl.saveModifications($event)">
          <i class="material-icons pull-left">save</i>
          <span>Sauvegarder</span>
        </button>
      </div>

      <!--
      *
      *    DESCRIPTION
      *
      -->
      <div class="panel-body">
        <a class="panel-header" data-target="#boxDesc" data-toggle="collapse">
          <i>Description</i>
        </a>
        <!-- Get description metadata -->
        <div class="row archive-desc panel-collapse collapse in" id="boxDesc">
          <!-- Main And mantatory fields with specific format -->
          <div class="col-xs-12">
            <div class="form-group col-md-6">
              <div class="row simple-field">
                <archive-unit-field field-size="'11'" intercept-user-change="$ctrl.interceptUserChanges(fieldSet)"
                                    field-object="$ctrl.mainFields['ID']" edit-mode="$ctrl.isEditMode"
                                    ng-model="$ctrl.mainFields['ID']">
                </archive-unit-field>
              </div>
            </div>
            <div class="form-group col-md-6">
              <div class="row simple-field">
                <archive-unit-field intercept-user-change="$ctrl.interceptUserChanges(fieldSet)" field-size="'5'"
                                    display-value="$ctrl.mainFields['StartDate'].fieldValue | date:'dd/MM/yyyy'"
                                    field-object="$ctrl.mainFields['StartDate']" edit-mode="$ctrl.isEditMode">
                </archive-unit-field>
                <archive-unit-field field-size="'5'" intercept-user-change="$ctrl.interceptUserChanges(fieldSet)"
                                    display-value="$ctrl.mainFields['EndDate'].fieldValue | date:'dd/MM/yyyy'"
                                    field-object="$ctrl.mainFields['EndDate']" edit-mode="$ctrl.isEditMode">
                </archive-unit-field>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="form-group col-md-6">
              <div class="row simple-field">
                <archive-unit-field field-size="'11'" intercept-user-change="$ctrl.interceptUserChanges(fieldSet)"
                                    field-object="$ctrl.mainFields['Title']" edit-mode="$ctrl.isEditMode">
                </archive-unit-field>
              </div>
            </div>
            <div class="form-group col-md-6">
              <div class="row simple-field">
                <archive-unit-field field-size="'11'" intercept-user-change="$ctrl.interceptUserChanges(fieldSet)"
                                    field-object="$ctrl.mainFields['DescriptionLevel']" edit-mode="$ctrl.isEditMode">
                </archive-unit-field>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="form-group col-md-6">
              <div class="row simple-field">
                <archive-unit-field field-size="'11'" intercept-user-change="$ctrl.interceptUserChanges(fieldSet)"
                                    field-object="$ctrl.mainFields['OriginatingAgency'].content[0]" edit-mode="$ctrl.isEditMode">
                </archive-unit-field>
              </div>
            </div>
            <div class="form-group col-md-6">
              <div class="row simple-field">
                <archive-unit-field field-size="'11'" intercept-user-change="$ctrl.interceptUserChanges(fieldSet)"
                                    field-object="$ctrl.mainFields['OriginatingAgency'].content[1]" edit-mode="$ctrl.isEditMode">
                </archive-unit-field>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="form-group col-md-6">
              <div class="row simple-field">
                <archive-unit-field field-size="'11'" intercept-user-change="$ctrl.interceptUserChanges(fieldSet)"
                                    field-object="$ctrl.mainFields['Description']" edit-mode="$ctrl.isEditMode">
                </archive-unit-field>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <div ng-if="fieldSet.typeF === 'P'" class="clearfix visible-xs" ng-repeat-start="fieldSet in $ctrl.archiveArray"></div>
            <div class="{{fieldSet.typeF !=='P'? 'form-group col-md-6': 'col-xs-12'}}"
                 ng-repeat-end>
              <archive-unit-fieldtree intercept-user-change="$ctrl.interceptUserChanges(fieldSet)"
                                      field-object="fieldSet" edit-mode="$ctrl.isEditMode">
              </archive-unit-fieldtree>
            </div>
          </div>
        </div>
      </div>

      <!--
      *
      *    GESTION
      *
      -->
      <div class="panel-body">
        <a class="panel-header" data-target="#boxManage" data-toggle="collapse">
          <i>Gestion</i>
        </a>

        <div class="row archive-desc panel-collapse collapse in" id="boxManage">
          <div class="col-xs-12">
            <div ng-if="fieldSet.typeF === 'P'" class="clearfix visible-xs" ng-repeat-start="fieldSet in $ctrl.managmentItems"></div>
            <div class="{{fieldSet.typeF !=='P'?' form-group col-md-6': 'col-xs-12'}}"
                 ng-repeat-end>
              <archive-unit-fieldtree intercept-user-change="$ctrl.interceptUserChanges(fieldSet)"
                                      field-object="fieldSet" edit-mode="$ctrl.isEditMode">
              </archive-unit-fieldtree>
            </div>
          </div>
        </div>
      </div>

      <!--
      *
      *    OBJETS
      *
      -->
      <a class="panel-header" data-toggle="collapse" data-target="#boxObjectsResults">
        <h2>Objets</h2>
      </a>
      <div id="boxObjectsResults" class="panel-body panel-collapse collapse in">
        <div ng-repeat="(key, value) in $ctrl.technicalItems">
          <div class="panel-body">
            <a class="panel-header" data-target="{{'#box' + key}}" data-toggle="collapse">
              <i>{{key}}</i>
            </a>
            <div class="row archive-desc panel-collapse collapse in" id="{{'box' + key}}">
              <div ng-if="fieldSet.typeF === 'P'" class="clearfix visible-xs" ng-repeat-start="fieldSet in value"></div>
              <div class="{{fieldSet.typeF !=='P'?' form-group col-md-6': 'col-xs-12'}}"
                   ng-repeat-end>
                <archive-unit-fieldtree intercept-user-change="$ctrl.interceptUserChanges(fieldSet)"
                                        field-object="fieldSet" edit-mode="$ctrl.isEditMode">
                </archive-unit-fieldtree>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive ">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Usage</th>
              <th>Taille</th>
              <th>Format</th>
              <th>Date</th>
              <th>Téléchargement</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="version in archiveObjectGroups.versions | orderBy : 'DataObjectVersion'">
              <td>{{version.DataObjectVersion}}</td>
              <td>{{version.Size | filterSize}}</td>
              <td>{{version.FormatLitteral}}</td>
              <td>{{version.LastModified | date:"dd/MM/yyyy"}}</td>
              <td>
                <a href=""
                   ng-click="download($event, archiveObjectGroupsOgId , version.DataObjectVersion, version.Rank, version.FileName)"
                   target="_blank">
                  <i class="material-icons">file_download</i>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
