<vitam-search [label]="breadcrumbName" [service]="searchReferentialsService" [(data)]="referentialData" [preSearch]="preSearchFunction"
              [submitFunction]="initialSearch" (responseEvent)="onNotify($event)"
              (panelButtonEvent)="onNotifyPanelButton($event)"></vitam-search>

<vitam-results [data]="response" [cols]="columns" [extraCols]="extraColumns" [service]="searchReferentialsService"
               [searchFunction]="paginationSearch" [searchForm]="searchForm" [path]="'admin/agencies/accessionRegister'" [identifier]="'Identifier'"></vitam-results>