.uploadSIPBackground {
    background-color: #eaedf2;
    min-height: 310px;
    border: dashed;
    border-color:#D5D5D5;
}

.uploadSIPOption {
    min-height: 310px;
    border:none;
}

.uploadSIPText {
    word-wrap: break-word;
    font-size: 120%;
    text-align: center;
}

.veryBigIcon {
    font-size: 80px;
    color: #AD9FFF;
}

.uploadFileInput {
    opacity: 0;
    width: 100%;
    top:-30px;
    position: relative;
    cursor: pointer;
}

.ingest-option {
    margin-bottom:10px;
    text-align: left;
    margin-left: 40px;
}

.uploadFileMessage {
    padding-top: 80px;
}