
admin = db.getSiblingDB("admin")

if (! admin.getUser("{{ mongodb[mongo_cluster_name].localadmin.user }}")) {
    admin.createUser(
        {
            user: "{{ mongodb[mongo_cluster_name].localadmin.user }}",
            pwd: "{{ mongodb[mongo_cluster_name].localadmin.password }}",
            roles: [ { role: "clusterAdmin", db: "admin" } ]
        }
    )
}
else {
    admin.updateUser(
        "{{ mongodb[mongo_cluster_name].localadmin.user }}",
        {
            pwd: "{{ mongodb[mongo_cluster_name].localadmin.password }}",
            roles: [ { role: "clusterAdmin", db: "admin" } ]
        }
    )
}
