{
  "service": {
    "name": "mongoc",
    "port": {{ mongodb.mongoc_port }},
    "enableTagOverride": false,
    "checks": [
      {
        "name": "mongoc : TCP check",
        "notes": "Status mongoc",
        "tcp": "localhost:{{ mongodb.mongoc_port }}",
        "interval": "1s"
      }
    ]
  }
}
