{
  "service": {
    "name": "{{ mongo_cluster_name }}-mongoc",
    "port": {{ mongodb.mongoc_port }},
    "enableTagOverride": false,
    "checks": [
      {
        "name": "{{ mongo_cluster_name }}-mongoc : TCP check",
        "notes": "Status {{ mongo_cluster_name }}-mongoc",
        "tcp": "{{ ip_service }}:{{ mongodb.mongoc_port }}",
        "interval": "1s"
      }
    ]
  }
}
