<vitam-archive-tree-view *ngIf="data && data.Title !== undefined" [unitId]="data['#id']" [title]="data.Title"
                         [unitUps]="data['#unitups']"></vitam-archive-tree-view>
<vitam-archive-tree-view *ngIf="data && data.Title === undefined && data.Title_ !== undefined && data.Title_['fr'] !== undefined" [unitId]="data['#id']" [title]="data.Title_['fr']"
                         [unitUps]="data['#unitups']"></vitam-archive-tree-view>
<vitam-loading-block [displayLoading]="loading" [displayContent]="!loading" [blockTitle]="'Description principale'">
    <vitam-archive-main-description [archiveUnit]="data" (titleUpdate)="updateTitle($event)"></vitam-archive-main-description>
</vitam-loading-block>

<vitam-loading-block [displayLoading]="loading" [displayContent]="!loading" [blockTitle]="'Description complémentaire'"
                     [collapsed]="true">
    <vitam-archive-extra-description [archiveUnit]="data"></vitam-archive-extra-description>
</vitam-loading-block>

<vitam-loading-block [displayLoading]="loading" [displayContent]="!loading" [blockTitle]="'Métadonnées de gestion'"
                     [collapsed]="true">
    <vitam-archive-rule-bloc *ngIf="data" [unitId]="data['#id']" [data]="data"></vitam-archive-rule-bloc>
</vitam-loading-block>

<vitam-loading-block [displayLoading]="objectDisplayable" [displayContent]="objects" [blockTitle]="'Groupe d\'Objets'">
    <vitam-archive-object-group *ngIf="objects" [unitId]="data['#id']" [objects]="objects"
                                [objectGroupId]="data['#object']"></vitam-archive-object-group>
</vitam-loading-block>

<vitam-archive-export-dip *ngIf="data" [id]="data['#id']"
                          [operation]="data['#operations'][0]" [opts]="data['#opts']"></vitam-archive-export-dip>

<vitam-archive-unit-selection *ngIf="data" [id]="data['#id']"
                              [operation]="data['#operations'][0]"></vitam-archive-unit-selection>