global:
{% if http_proxy_environnement is defined and http_proxy_environnement|length > 0 %}
  http_config:
    proxy_url: '{{ http_proxy_environnement }}'
{% endif %}
  resolve_timeout: 5m

route:
  group_by: ['alertname']
  group_wait: 10s
  group_interval: 10s
  repeat_interval: 1h
{% if prometheus.alertmanager.receivers is defined and prometheus.alertmanager.receivers|length > 0 %}
  receiver: {{ prometheus.alertmanager.receivers.0.name }}
receivers:
{{ prometheus.alertmanager.receivers | to_nice_yaml(width=80, indent=2) }}
{% else %}
  receiver: 'null'
receivers:
- name: 'null'
{% endif %}
inhibit_rules:
  - source_match:
      severity: 'critical'
    target_match:
      severity: 'warning'
    equal: ['alertname', 'dev', 'instance']