<p-dataTable [(value)]="items" (onRowClick)="navigateTo($event)" [sortField]="filter"
             [selectionMode]="selectionMode" scrollable="true" scrollWidth="100%" [paginator]="false"
             scrollHeight="400px" [emptyMessage]="'Aucun résultat'" [rowStyleClass]="specificRowCss">
  <p-column *ngFor="let col of selectedCols" [field]="col.field" [header]="col.label" [style]="col.computeCss()"
            [styleClass]="clickable(col)" [sortable]="col.sortable" (sortFunction)="col.sortFunction(items, $event)">
    <ng-template let-item="rowData" pTemplate="body">
      <ng-template [ngIf]="col.forceIcon || (col.icons.length > 0 && col.shouldDisplay(item))">      	
        <i *ngFor="let icon of col.getIcons(item, col.icons)" style="padding-right: 2px"
           [ngClass]="'fa ' + icon + ' clickableDiv'" (click)="col.onClick(item, icon)" title="{{col.getLabel(icon)}}">
           </i>

      </ng-template>
      <span *ngIf="col.icons.length === 0 && !col.forceIcon" (click)="col.onClick(item)" [ngClass]="col.computeCss()"
            title="{{col.transform(col.getValue(item)) }}"> {{col.transform(col.getValue(item, col)) | translate}}
      </span>
      <span>{{col.additionnalValue}}</span>
    </ng-template>
  </p-column>
</p-dataTable>

