#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
export DH_VERBOSE = 1

# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@ --with systemd

override_dh_installinit:
	dh_systemd_enable -pvitam-mongoc --name=vitam-mongoc vitam-mongoc.service
	dh_installinit -pvitam-mongoc --no-start --noscripts
	dh_systemd_start -pvitam-mongoc --no-restart-on-upgrade

override_dh_systemd_start:
	echo "Not running dh_systemd_start"

# Pour modification des droits ?
# cf http://askubuntu.com/questions/439780/how-to-create-directory-and-change-its-owner-with-the-deb-package
# override_dh_install:
#         dh_install   #calls default *.install and *.dirs installation
#         install -d -o www-data -g www-data $(CURDIR)/debian/<package_name>/var/www/<something>/data
#
# override_dh_fixperms:
#     dh_fixperms --exclude data
