---
- name: Populate service facts
  service_facts:

# tasks file for role
- name:  service {{ name }} {{ state }}
  service:
    name: "{{ name }}"
    state: "{{ state }}"
  when: name + '.service' in ansible_facts.services

- name: "Wait until service {{ name }} is {{ state }} : check port {{ port_check }}"
  wait_for:
    host: "{{ hote }}"
    port: "{{ port_check }}"
    state: "{{ state }}"
    timeout: "{{ timeout }}"
  when: port_check is defined and name + '.service' in ansible_facts.services
