<!-- Simple Field -->
<div class="row simple-field" ng-if="fieldObject.typeF!=='P'">
  <archive-unit-field field-label="fieldObject.fieldName" field-size="'11'"
                      intercept-user-change="interceptUserChange(fieldSet)"
                      field-object="fieldObject" edit-mode="editMode">
  </archive-unit-field>
</div>

<div ng-if="fieldObject.typeF==='P'">
  <div ng-repeat="fieldObject in fieldObject.content" class="form-group col-md-6" ng-class="$index%2 === 0? 'remove-left-padding': ''">
    <archive-unit-fieldtree intercept-user-change="interceptUserChange(fieldSet)"
                            field-object="fieldObject" edit-mode="editMode">
    </archive-unit-fieldtree>
  </div>
</div>
