
admin = db.getSiblingDB("admin")

if (! admin.getUser("{{mongoLocalAdminUser}}")) {
    admin.createUser(
        {
            user: "{{mongoLocalAdminUser}}",
            pwd: "{{mongoLocalAdminPassword}}",
            roles: [ { role: "clusterAdmin", db: "admin" } ]
        }
    )
}
