{
  "service": {
    "name": "{{ mongo_cluster_name }}-mongod",
    "port": {{ mongodb.mongod_port }},
    "enableTagOverride": false,
    "checks": [
      {
        "name": "{{ mongo_cluster_name }}-mongod : TCP check",
        "notes": "Status {{ mongo_cluster_name }}-mongod",
        "tcp": "{{ ip_service }}:{{ mongodb.mongod_port }}",
        "interval": "1s"
      }
    ]
  }
}
