{
  "service": {
    "name": "mongod",
    "port": {{ mongodb.mongod_port }},
    "enableTagOverride": false,
    "checks": [
      {
        "name": "mongod : TCP check",
        "notes": "Status mongod",
        "tcp": "{{ ip_service }}:{{ mongodb.mongod_port }}",
        "interval": "1s"
      }
    ]
  }
}
