var config = rs.config();

function setPriorityMember(member) {
{% for host in groups[group_name] %}
    if (member.host.startsWith("{{ hostvars[host]['ip_service'] }}:")) {
        {% if hostvars[host]['is_small'] is not defined or hostvars[host]['is_small']|lower != "true" %}
        member.priority = 10 ;
        {% else %}
        member.priority = 1 ;
        {% endif %}
    }
{% endfor %}
}

config.members.forEach(setPriorityMember);
rs.reconfig(config);
