.float {
  float: left;
}

.fixed {
  position: absolute;
  left: 10px;
  top: 2px
}

.logo {
  max-height: 80px;
  margin-top: -3px;
}

.title {
  position: relative;
  top: -15px;
  font-size: 45px;
  font-family: Verdana,sans-serif;
}

a {
  text-decoration: none;
}
