<p-panel [header]="'Détail du contrat d\'entrée'">
  <div class="ui-g" *ngIf="!saveRunning">
    <div class="ui-g-8"></div>
    <div class="ui-g-2" *ngIf="!update"></div>
    <div class="ui-g-2" *ngIf="!update">
      <button pButton class="ui-button" (click)="switchUpdateMode()" label="Modifier"
              icon="fa-edit" iconPos="left"></button>
    </div>
    <div class="ui-g-2" *ngIf="update">
      <button pButton class="ui-button secondaryButton" (click)="switchUpdateMode()" label="Annuler"
              icon="fa-close" iconPos="left"></button>
    </div>
    <div class="ui-g-2" *ngIf="update">
      <button pButton class="ui-button" (click)="saveUpdate()" label="Sauvegarder"
              icon="fa-save" iconPos="left"></button>
    </div>

    <div class="ui-g-12 textAlignLeft" *ngIf="contract">
      <div class="ui-g-12">
        <vitam-metadata-field [title]="'Identifiant'" [originalTitle]="'Identifier'"
                              [value]="modifiedContract.Identifier" [labelSize]="4"
                              class="ui-g-4" [updateMode]="false"
                              [(updatedFields)]="updatedFields"></vitam-metadata-field>

        <vitam-metadata-field [title]="'Date de création'" [originalTitle]="'CreationDate'"
                              [value]="modifiedContract.CreationDate" [labelSize]="4"
                              class="ui-g-4" [updateMode]="false"
                              [(updatedFields)]="updatedFields"></vitam-metadata-field>

        <vitam-metadata-field [title]="'Dernière modification'" [originalTitle]="'LastUpdate'"
                              [value]="modifiedContract.LastUpdate" [labelSize]="5"
                              class="ui-g-4 " [updateMode]="false"
                              [(updatedFields)]="updatedFields"></vitam-metadata-field>
      </div>
      <div class="ui-g-12">
        <vitam-metadata-field [title]="'Intitulé'" [originalTitle]="'Name'" [value]="modifiedContract.Name"
                              [labelSize]="4"
                              class="ui-g-4 " [updateMode]="update"
                              [(updatedFields)]="updatedFields"></vitam-metadata-field>

        <div class="ui-g-4">
          <div class="ui-g-nopad ui-g-4">
            <label class="label fieldLabel">Statut</label>
          </div>
          <div class="ui-g-nopad ui-g-8" *ngIf="!update">
            <span class="overflow-break-words">{{isActif ? 'Actif' : 'Inactif'}}</span>
          </div>
          <div class="ui-g-nopad ui-g-8" *ngIf="update">
            <p-toggleButton onLabel="Actif" offLabel="Inactif" [(ngModel)]="isActif"
                            (onChange)="changeStatus()"></p-toggleButton>
          </div>
        </div>
        <vitam-metadata-field [title]="'Tenant'" [value]="modifiedContract['#tenant']" [labelSize]="5"
                              class="ui-g-4 minHeight45 " [updateMode]="false"
                              [(updatedFields)]="updatedFields"></vitam-metadata-field>
      </div>


      <div class="ui-g-12">
        <vitam-metadata-field [title]="'Description'" [originalTitle]="'Description'"
                              [value]="modifiedContract.Description" [labelSize]="4"
                              class="ui-g-4 " [updateMode]="update"
                              [(updatedFields)]="updatedFields"></vitam-metadata-field>
      </div>
      <div class="ui-g-12">
        <vitam-metadata-field [title]="'Profils d\'archivage'" [originalTitle]="'ArchiveProfiles'"
                              [value]="modifiedContract.ArchiveProfiles" [labelSize]="4"
                              class="ui-g-4 " [updateMode]="update"
                              [(updatedFields)]="updatedFields"></vitam-metadata-field>

        <div class="ui-g-4">
          <div class="ui-g-nopad ui-g-4">
            <label class="label fieldLabel">Déclaration d’un nœud de rattachement</label>
          </div>
          <div class="ui-g-nopad ui-g-8" *ngIf="!update">
            <span class="overflow-break-words">{{modifiedContract.LinkParentId}}</span>
          </div>
          <div class="ui-g-nopad ui-g-8" *ngIf="update">
            <input pInputText [(ngModel)]="modifiedContract.LinkParentId" (change)="valueChange('LinkParentId')"
                   (blur)="valueChange('LinkParentId')"/>
          </div>
        </div>

        <div class="ui-g-4">
          <div class="ui-g-nopad ui-g-4">
            <label class="label fieldLabel">Présence d’au moins un rattachement dans le manifeste</label>
          </div>
          <div class="ui-g-nopad ui-g-8" *ngIf="!update">
            <span class="overflow-break-words">{{displayCheckParentLink(modifiedContract.CheckParentLink)}}</span>
          </div>
          <div class="ui-g-nopad ui-g-8" *ngIf="update">
            <p-listbox [options]="selectionOptions" [(ngModel)]="modifiedContract.CheckParentLink"
                       (onChange)="valueChange('CheckParentLink')" checkbox="checkbox"></p-listbox>
          </div>
        </div>

        <div class="ui-g-4">
          <div class="ui-g-nopad ui-g-4">
            <label class="label fieldLabel">Déclaration d’un ou plusieurs cônes de positionnement des rattachements</label>
          </div>
          <div class="ui-g-nopad ui-g-8" *ngIf="!update">
            <span class="overflow-break-words">{{modifiedContract.CheckParentId}}</span>
          </div>
          <div class="ui-g-nopad ui-g-10" *ngIf="update">
            <p-chips [(ngModel)]="modifiedContract.CheckParentId" (onAdd)="valueChange('CheckParentId')" (onRemove)="valueChange('CheckParentId')"></p-chips>
          </div>
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-nopad ui-g-4">
          <div class="ui-g-8">
            <label class="label fieldLabel">Présence obligatoire d'un Master</label>
          </div>
          <div class="ui-g-2" *ngIf="!update">
            <span class="overflow-break-words">{{modifiedContract.MasterMandatory ? 'oui' : 'non'}}</span>
          </div>
          <div class="ui-g-2" *ngIf="update">
            <p-toggleButton onLabel="Oui" offLabel="Non" [(ngModel)]="modifiedContract.MasterMandatory"
                            (onChange)="changeMasterMandatory()"></p-toggleButton>
          </div>
        </div>
        <div class="ui-g-nopad ui-g-4">
          <div class=" ui-g-8">
            <label class="label fieldLabel">Tous les usages</label>
          </div>
          <div class="ui-g-2" *ngIf="!update">
            <span class="overflow-break-words">{{modifiedContract.EveryDataObjectVersion ? 'oui' : 'non'}}</span>
          </div>
          <div class="ui-g-2" *ngIf="update">
            <p-toggleButton onLabel="Oui" offLabel="Non" [(ngModel)]="modifiedContract.EveryDataObjectVersion"
                            (onChange)="changeBooleanValue('EveryDataObjectVersion')"></p-toggleButton>
          </div>

        </div>
        <div class="ui-g-nopad ui-g-4">
          <vitam-metadata-field *ngIf="update" [title]="'Liste blanche des usages'"
                                [updateMode]="!modifiedContract.EveryDataObjectVersion"
                                [originalTitle]="'DataObjectVersion'" [value]="modifiedContract.DataObjectVersion"
                                [labelSize]="4"
                                class="ui-g-12" [(updatedFields)]="updatedFields"></vitam-metadata-field>
          <vitam-metadata-field *ngIf="!update" [title]="'Liste blanche des usages'" [updateMode]="false"
                                [originalTitle]="'DataObjectVersion'" [value]="modifiedContract.DataObjectVersion"
                                [labelSize]="4"
                                class="ui-g-12" [(updatedFields)]="updatedFields"></vitam-metadata-field>
        </div>
      </div>
    </div>

    <div class="ui-g-12 textAlignLeft" *ngIf="contract">
      <div class="ui-g-12">
        <div class="ui-g-nopad ui-g-4">
          <div class="ui-g-8">
            <label class="label fieldLabel">Formats non identifiés autorisés</label>
          </div>
          <div class="ui-g-2" *ngIf="!update">
            <span class="overflow-break-words">{{modifiedContract.FormatUnidentifiedAuthorized ? 'oui' : 'non'}}</span>
          </div>
          <div class="ui-g-2" *ngIf="update">
            <p-toggleButton onLabel="Oui" offLabel="Non" [(ngModel)]="modifiedContract.FormatUnidentifiedAuthorized "
                            (onChange)="changeFormatUnidentifiedAuthorized ()"></p-toggleButton>
          </div>
        </div>

        <div class="ui-g-4">
          <div class="ui-g-nopad ui-g-8">
            <label class="label fieldLabel">Tous les formats</label>
          </div>
          <div class="ui-g-nopad ui-g-2" *ngIf="!update">
            <span class="overflow-break-words" >{{modifiedContract.EveryFormatType ? 'Oui' : 'Non'}}</span>
          </div>
          <div class="ui-g-nopad ui-g-2" *ngIf="update">
            <p-toggleButton onLabel="Oui" offLabel="Non" [(ngModel)]="modifiedContract.EveryFormatType" (onChange)="changeBooleanValue('EveryFormatType')"></p-toggleButton>

          </div>
        </div>
      <div class="ui-g-nopad ui-g-4">
          <vitam-metadata-field *ngIf="!modifiedContract.EveryFormatType" [title]="'Liste blanche des format'"
                                [originalTitle]="'FormatType'"  [value]="modifiedContract.FormatType" [labelSize]="4"
                                class="ui-g-12 " [updateMode]="update" [(updatedFields)]="updatedFields"></vitam-metadata-field>
          <div class="ui-g-4" *ngIf="modifiedContract.EveryFormatType"  >
          </div>
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-nopad ui-g-12" *ngIf="update">
          <span class="overflow-break-words"><i>Afin que la modification soit prise en compte, veuillez appuyer sur "Entrer" après l'ajout de chaque identifiant.</i></span>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="saveRunning">
    Sauvegarde des métadonnées en cours...
  </div>

</p-panel>
