<div id="global" class="container-fluid" >
	<ol class="breadcrumb">
		<li>Page d'accueil</li>
        <li>Référentiel des formats</li>
    </ol>

	<div class="panel panel-default col-md-12">
    	<a class="panel-header" data-toggle="collapse">
      		<h2>Référentiel des formats</h2>
    	</a>

    	<form id="boxEntriesSearchForm" class="panel-body panel-collapse collapse in"  ng-submit="fileCtrl.getFileFormats()">
    		<div class="col-md-12">
            	<div class="form-group col-md-4">
                	<label for="entryName">Nom de format</label>
                    <input type="text" name="entryName" class="form-control" ng-model="fileCtrl.searchOptions.Name" />
                </div>
				<div class="form-group col-md-2">
                	<label for="entrypuid">PUID</label>
                    <input type="text" name="entrypuid" class="form-control" ng-model="fileCtrl.searchOptions.PUID" />
                </div>
            </div>

            <button type="button submit" class="btn btn-primary center-block">
            	<i class="material-icons pull-left">search</i>
            	<span>Rechercher</span>
            </button>
            <button ng-if="fileCtrl.fileNotFoundError" class="btn btn-danger center-block" type="button" style="margin-top: 20px">
                {{fileCtrl.errorMessage}}
            </button>
        </form>

    </div>

    <div class="clearfix"></div>

    <div class="panel panel-default col-md-12">
    	<a class="panel-header" data-target="#boxSearchResults" data-toggle="collapse">
        	<h2>Résultats</h2>
        </a>

        <div id="boxSearchResults" class="panel-body panel-collapse collapse in">
        	<div class="table-responsive">
        		<div class="col-md-9" style="float: right">
            		<button class="btn btn-default btn-s" ng-disabled="fileCtrl.currentPage <= 1" ng-click="fileCtrl.currentPage=+fileCtrl.currentPage-1">
                		Précédent
            		</button>
            		<input ng-model="fileCtrl.currentPage" style="max-width: 40px">/{{fileCtrl.resultPages}}
            		<button class="btn btn-default btn-s" ng-disabled="fileCtrl.currentPage >= fileCtrl.resultPages" ng-click="fileCtrl.currentPage=+fileCtrl.currentPage+1">
                		Suivant
            		</button>
        		</div>
        		<div class="col-md-9" style="padding-top: 40px">
            		<table class="table table-bordered">
                		<thead style="text-align: center">
                		<tr>
                    		<th>PUID</th>
                    		<th>Nom de format</th>
                    		<th>Version</th>
                    		<th>MIME</th>
                   			<th>Extensions</th>
                		</tr>
                		</thead>
                		<tbody ng-repeat="file in fileCtrl.fileFormatList | startFormat:(fileCtrl.currentPage-1)*fileCtrl.itemsPerPage | limitTo:fileCtrl.itemsPerPage">
                		<tr ng-click="fileCtrl.openDialog($event, file._id)">
                    		<th nowrap scope="row" >{{file.PUID}}</th>
                    		<td nowrap>{{file.Name}}</td>
                    		<td nowrap>{{file.Version}}</td>
                    		<td nowrap>{{file.MIMEType.toString()}}</td>
                    		<td nowrap>{{file.Extension.toString()}}</td>
                		</tr>
                		</tbody>
            		</table>
        		</div>
        	</div>
        </div>

    </div>

</div>
