<md-dialog aria-label="LogBook Operation Entry" ng-cloak >
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h3>LogBook Operation Entry: {{entryCtrl.detailId}}</h3>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <table class="table" id="detail" align="center">
            <thead  style="text-align: center">
            <tr>
                <th>Etape</th>
                <th>Date</th>
                <th>Statut</th>
                <th>Message</th>
            </tr>
            </thead>
            <tbody>
            <tr class="logbookProcess">
                <td>{{entryCtrl.detail.evType | translate}}</td>
                <td>{{entryCtrl.detail.evDateTime}}</td>
                <td>{{entryCtrl.detail.outcome}}</td>
                <td>{{entryCtrl.detail.outMessg}}</td>
            </tr>
            </tbody>
            <tbody ng-repeat="event in entryCtrl.detail.events">
            <tr ng-class="$last ? 'logbookProcess': ''">
                <td ng-class="($last ? '' : ( event.evType.startsWith('STP') ? 'logbookStep': 'logbookTask' ))">{{event.evType | translate}}</td>
                <td>{{event.evDateTime}}</td>
                <td>{{event.outcome}}</td>
                <td>{{event.outMessg}}</td>
            </tr>
            </tbody>
        </table>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button aria-label="Close" ng-click="entryCtrl.close()">Close</md-button>
    </md-dialog-actions>
</md-dialog>