<p-panel [header]="'Détail d\'une Ontologie'">
    <div class="ui-g">
        <div class="ui-g-8"></div>
        <div class="ui-g-12 textAlignLeft" *ngIf="ontology">
            <div class="ui-g-12">
                <vitam-metadata-field [title]="'Identifiant'" [originalTitle]="'Identifier'"
                                      [value]="ontology.Identifier" [labelSize]="4"
                                      class="ui-g-4" [updateMode]="false"
                                      [(updatedFields)]="updatedFields"></vitam-metadata-field>

                <vitam-metadata-field [title]="'Date de création'" [originalTitle]="'CreationDate'"
                                      [value]="ontology.CreationDate" [labelSize]="4"
                                      class="ui-g-4" [updateMode]="false"
                                      [(updatedFields)]="updatedFields"></vitam-metadata-field>

                <vitam-metadata-field [title]="'Dernière modification'" [originalTitle]="'LastUpdate'"
                                      [value]="ontology.LastUpdate" [labelSize]="5"
                                      class="ui-g-4 " [updateMode]="false"
                                      [(updatedFields)]="updatedFields"></vitam-metadata-field>
            </div>
            <div class="ui-g-12">
                <vitam-metadata-field [title]="'Intitulé'" [originalTitle]="'ApiField'"
                                      [value]="ontology.ApiField ? ontology.ApiField : ontology.SedaField" [labelSize]="4"
                                      class="ui-g-4" [updateMode]="false"
                                      [(updatedFields)]="updatedFields"></vitam-metadata-field>

                <div class="ui-g-4"><!-- Empty column --></div>

                <vitam-metadata-field [title]="'Tenant'" [originalTitle]="'#tenant'"
                                      [value]="ontology['#tenant']" [labelSize]="4"
                                      class="ui-g-4" [updateMode]="false"
                                      [(updatedFields)]="updatedFields"></vitam-metadata-field>
            </div>
            <div class="ui-g-12">
                <vitam-metadata-field [title]="'Description'" [originalTitle]="'Description'"
                                      [value]="ontology.Description" [labelSize]="4"
                                      class="ui-g-4" [updateMode]="false"
                                      [(updatedFields)]="updatedFields"></vitam-metadata-field>

                <vitam-metadata-field [title]="'Type'" [originalTitle]="'Type'"
                                      [value]="ontology.Type" [labelSize]="4"
                                      class="ui-g-4" [updateMode]="false"
                                      [(updatedFields)]="updatedFields"></vitam-metadata-field>

                <vitam-metadata-field [title]="'Contexte de création'" [originalTitle]="'Origin'"
                                      [value]="ontology.Origin" [labelSize]="5"
                                      class="ui-g-4" [updateMode]="false"
                                      [(updatedFields)]="updatedFields"></vitam-metadata-field>
            </div>
            <div class="ui-g-12">

            </div>
        </div>
    </div>

</p-panel>
