<vitam-search label="Opérations de sécurisation" [service]="logbookService" [data]="logbookData" [preSearch]="preSearchFunction"
              [submitFunction]="initialSearch" (responseEvent)="onNotify($event)"></vitam-search>
<vitam-results [data]="response" [cols]="columns" [extraCols]="extraColumns" [service]="traceabilityService" [path]="'/admin/traceabilityOperation'"
               [searchFunction]="paginationSearch" [searchForm]="searchForm" [identifier]="'evIdProc'" [specificRowCss]="handleRowCss"></vitam-results>