<p-panel [header]="'Détail du contexte'">
  <div class="ui-g">
    <div class="ui-g-8"></div>
    <div class="ui-g-2" *ngIf="!update"></div>
    <div class="ui-g-2" *ngIf="!update">
      <button pButton class="ui-button" (click)="switchUpdateMode()" label="Modifier"
              icon="fa-edit" iconPos="left"></button>
    </div>
    <div class="ui-g-2" *ngIf="update">
      <button pButton class="ui-button secondaryButton" (click)="switchUpdateMode()" label="Annuler"
              icon="fa-close" iconPos="left"></button>
    </div>
    <div class="ui-g-2" *ngIf="update">
      <button pButton class="ui-button" (click)="saveUpdate()" label="Sauvegarder"
              icon="fa-save" iconPos="left"></button>
    </div>

    <div class="ui-g-12 ui-md-9" *ngIf="arrayOfKeys">
      <div class="ui-g-offset-2" *ngFor="let key of arrayOfKeys">
        <vitam-metadata-field [title]="getKeyName(key)" [value]="getValue(key)" [labelSize]="4" [translate]="translate"
                              class="ui-g-12 textAlignLeft" [updateMode]="isUpdatable(key)" [(updatedFields)]="updatedFields"></vitam-metadata-field>
      </div>
    </div>

  </div>
</p-panel>