#jinja2: lstrip_blocks: True
scrape_configs:

{% if groups['hosts_access_external'] | length > 0 %}

  - job_name: vitam-access-external
    metrics_path: {{ prometheus.metrics_path | default('/admin/v1/metrics') }}
    static_configs:
      {% for host in groups['hosts_access_external'] %}
      - targets: ["{{ hostvars[host]['ip_admin'] }}:{{ vitam.access_external.port_admin }}"]
        labels:
          hostname: {{ host.split(".")[0] }}
      {% endfor %}
{% endif %}
{% if groups['hosts_access_internal'] | length > 0 %}

  - job_name: vitam-access-internal
    metrics_path: {{ prometheus.metrics_path | default('/admin/v1/metrics') }}
    static_configs:
      {% for host in groups['hosts_access_internal'] %}
      - targets: ["{{ hostvars[host]['ip_admin'] }}:{{ vitam.access_internal.port_admin }}"]
        labels:
          hostname: {{ host.split(".")[0] }}
      {% endfor %}
{% endif %}
{% if groups['hosts_ingest_external'] | length > 0 %}

  - job_name: vitam-ingest-external
    metrics_path: {{ prometheus.metrics_path | default('/admin/v1/metrics') }}
    static_configs:
      {% for host in groups['hosts_ingest_external'] %}
      - targets: ["{{ hostvars[host]['ip_admin'] }}:{{ vitam.ingest_external.port_admin }}"]
        labels:
          hostname: {{ host.split(".")[0] }}
      {% endfor %}
{% endif %}
{% if groups['hosts_ingest_internal'] | length > 0 %}

  - job_name: vitam-ingest-internal
    metrics_path: {{ prometheus.metrics_path | default('/admin/v1/metrics') }}
    static_configs:
      {% for host in groups['hosts_ingest_internal'] %}
      - targets: ["{{ hostvars[host]['ip_admin'] }}:{{ vitam.ingest_internal.port_admin }}"]
        labels:
          hostname: {{ host.split(".")[0] }}
      {% endfor %}
{% endif %}
{% if groups['hosts_metadata'] | length > 0 %}

  - job_name: vitam-metadata
    metrics_path: {{ prometheus.metrics_path | default('/admin/v1/metrics') }}
    static_configs:
      {% for host in groups['hosts_metadata'] %}
      - targets: ["{{ hostvars[host]['ip_admin'] }}:{{ vitam.metadata.port_admin }}"]
        labels:
          hostname: {{ host.split(".")[0] }}
      {% endfor %}
{% endif %}
{% if groups['hosts_ihm_demo'] | default([]) | length > 0 %}

  - job_name: vitam-ihm-demo
    metrics_path: {{ prometheus.metrics_path | default('/admin/v1/metrics') }}
    static_configs:
      {% for host in groups['hosts_ihm_demo'] %}
      - targets: ["{{ hostvars[host]['ip_admin'] }}:{{ vitam.ihm_demo.port_admin }}"]
        labels:
          hostname: {{ host.split(".")[0] }}
      {% endfor %}
{% endif %}
{% if groups['hosts_ihm_recette'] | default([]) | length > 0 %}

  - job_name: vitam-ihm-recette
    metrics_path: {{ prometheus.metrics_path | default('/admin/v1/metrics') }}
    static_configs:
      {% for host in groups['hosts_ihm_recette'] %}
      - targets: ["{{ hostvars[host]['ip_admin'] }}:{{ vitam.ihm_recette.port_admin }}"]
        labels:
          hostname: {{ host.split(".")[0] }}
      {% endfor %}
{% endif %}
{% if groups['hosts_logbook'] | length > 0 %}

  - job_name: vitam-logbook
    metrics_path: {{ prometheus.metrics_path | default('/admin/v1/metrics') }}
    static_configs:
      {% for host in groups['hosts_logbook'] %}
      - targets: ["{{ hostvars[host]['ip_admin'] }}:{{ vitam.logbook.port_admin }}"]
        labels:
          hostname: {{ host.split(".")[0] }}
      {% endfor %}
{% endif %}
{% if groups['hosts_workspace'] | length > 0 %}

  - job_name: vitam-workspace
    metrics_path: {{ prometheus.metrics_path | default('/admin/v1/metrics') }}
    static_configs:
      {% for host in groups['hosts_workspace'] %}
      - targets: ["{{ hostvars[host]['ip_admin'] }}:{{ vitam.workspace.port_admin }}"]
        labels:
          hostname: {{ host.split(".")[0] }}
      {% endfor %}
{% endif %}
{% if groups['hosts_processing'] | length > 0 %}

  - job_name: vitam-processing
    metrics_path: {{ prometheus.metrics_path | default('/admin/v1/metrics') }}
    static_configs:
      {% for host in groups['hosts_processing'] %}
      - targets: ["{{ hostvars[host]['ip_admin'] }}:{{ vitam.processing.port_admin }}"]
        labels:
          hostname: {{ host.split(".")[0] }}
      {% endfor %}
{% endif %}
{% if groups['hosts_worker'] | length > 0 %}

  - job_name: vitam-worker
    metrics_path: {{ prometheus.metrics_path | default('/admin/v1/metrics') }}
    static_configs:
      {% for host in groups['hosts_worker'] %}
      - targets: ["{{ hostvars[host]['ip_admin'] }}:{{ vitam.worker.port_admin }}"]
        labels:
          hostname: {{ host.split(".")[0] }}
      {% endfor %}
{% endif %}
{% if groups['hosts_storage'] | length > 0 %}

  - job_name: vitam-storage
    metrics_path: {{ prometheus.metrics_path | default('/admin/v1/metrics') }}
    static_configs:
      {% for host in groups['hosts_storage'] %}
      - targets: ["{{ hostvars[host]['ip_admin'] }}:{{ vitam.storage.port_admin }}"]
        labels:
          hostname: {{ host.split(".")[0] }}
      {% endfor %}
{% endif %}
{% if groups['hosts_offer'] | length > 0 %}

  {% set offerInstances = [] %}
  {% for host in groups['hosts_offer'] %}
    {{ offerInstances.append({"offerId": hostvars[host]['offer_conf'], "host": host }) }}
  {% endfor %}
  - job_name: vitam-offer
    metrics_path: {{ prometheus.metrics_path | default('/admin/v1/metrics') }}
    static_configs:
    {% for offerId, hosts in offerInstances | groupby('offerId') %}
      {% for host in hosts %}
      - targets: ["{{ hostvars[host.host]['ip_admin'] }}:{{ vitam.offer.port_admin }}"]
        labels:
          offerId: {{ offerId }}
          hostname: {{ host.host }}
      {% endfor %}
    {% endfor %}
{% endif %}
{% if groups['hosts_functional_administration'] | length > 0 %}

  - job_name: vitam-functional-administration
    metrics_path: {{ prometheus.metrics_path | default('/admin/v1/metrics') }}
    static_configs:
      {% for host in groups['hosts_functional_administration'] %}
      - targets: ["{{ hostvars[host]['ip_admin'] }}:{{ vitam.functional_administration.port_admin }}"]
        labels:
          hostname: {{ host.split(".")[0] }}
      {% endfor %}
{% endif %}
{% if groups['hosts_metadata_collect'] | default([]) | length > 0 %}

  - job_name: vitam-metadata-collect
    metrics_path: {{ prometheus.metrics_path | default('/admin/v1/metrics') }}
    static_configs:
      {% for host in groups['hosts_metadata_collect'] %}
      - targets: ["{{ hostvars[host]['ip_admin'] }}:{{ vitam.metadata_collect.port_admin }}"]
        labels:
          hostname: {{ host.split(".")[0] }}
      {% endfor %}
{% endif %}
{% if groups['hosts_workspace_collect'] | default([]) | length > 0 %}

  - job_name: vitam-workspace-collect
    metrics_path: {{ prometheus.metrics_path | default('/admin/v1/metrics') }}
    static_configs:
      {% for host in groups['hosts_workspace_collect'] %}
      - targets: ["{{ hostvars[host]['ip_admin'] }}:{{ vitam.workspace_collect.port_admin }}"]
        labels:
          hostname: {{ host.split(".")[0] }}
      {% endfor %}
{% endif %}
{% if groups['hosts_collect_internal'] | default([]) | length > 0 %}

  - job_name: vitam-collect-internal
    metrics_path: {{ prometheus.metrics_path | default('/admin/v1/metrics') }}
    static_configs:
      {% for host in groups['hosts_collect_internal'] %}
      - targets: ["{{ hostvars[host]['ip_admin'] }}:{{ vitam.collect_internal.port_admin }}"]
        labels:
          hostname: {{ host.split(".")[0] }}
      {% endfor %}
{% endif %}
{% if groups['hosts_collect_external'] | default([]) | length > 0 %}

  - job_name: vitam-collect-external
    metrics_path: {{ prometheus.metrics_path | default('/admin/v1/metrics') }}
    static_configs:
      {% for host in groups['hosts_collect_external'] %}
      - targets: ["{{ hostvars[host]['ip_admin'] }}:{{ vitam.collect_external.port_admin }}"]
        labels:
          hostname: {{ host.split(".")[0] }}
      {% endfor %}
{% endif %}
{% if groups['hosts_scheduler'] | length > 0 %}

  - job_name: vitam-scheduler
    metrics_path: {{ prometheus.metrics_path | default('/admin/v1/metrics') }}
    static_configs:
      {# We currently limit scraping to the first scheduler instance #}
      {% for host in [groups['hosts_scheduler'] | first] %}
      - targets: ["{{ hostvars[host]['ip_admin'] }}:{{ vitam.scheduler.port_admin }}"]
        labels:
          hostname: {{ host.split(".")[0] }}
      {% endfor %}
{% endif %}
