<div #panelTarget style="position: fixed; left: -230px; top:0;"></div>

<ng-template [ngIf]="node">
  <div *ngIf="node.data.haveMoreParents" style="position: relative; left: -10px;" (click)="parentSearchPanel.show($event, panelTarget)">
    <span class="fa fa-fw fa-ellipsis-h"></span>
    <span class="fa fa-fw"></span>
    <span>Plus de parents ({{node.label}})</span>
  </div>

  <div *ngFor="let parent of node.parents" class="parent">
    <ng-template [ngIf]="!parent.expended && parent.roots">
      <div *ngFor="let root of parent.roots" class="parent">
        <span class="fa fa-fw fa-bullseye"></span>
        <a [routerLink]="'/search/archiveUnit/' + root.id"><span>{{root.label}}</span></a>
      </div>
    </ng-template>

    <ng-template [ngIf]="parent.expended">
      <vitam-tree-parent [node]="parent" [level]="1+level"></vitam-tree-parent>
    </ng-template>

    <ng-template [ngIf]="!parent.leaf">
      <span *ngIf="!parent.expended" class="fa fa-fw fa-chevron-up" (click)="switchParent(parent)"></span>
      <span *ngIf="parent.expended" class="fa fa-fw fa-chevron-down" (click)="switchParent(parent)"></span>
    </ng-template>
    <span *ngIf="parent.leaf" class="fa fa-fw"></span>
    <a [routerLink]="'/search/archiveUnit/' + parent.id"><span>{{parent.label}}</span></a>
  </div>
</ng-template>

<p-overlayPanel #parentSearchPanel [style]="{'width': '125%'}" [dismissable]="false" [showCloseIcon]="true">
  <vitam-tree-search [node]="node" [searchParents]="true" [label]="'Recherche de parents'" [panel]="parentSearchPanel"></vitam-tree-search>
</p-overlayPanel>
