<div id="global" class="container-fluid">
    <ol class="breadcrumb">
        <li>Administration</li>
        <li><a href="#!/admin/contexts">Contextes applicatifs</a></li>
        <li><a href="#!/admin/contexts/{{context._id}}">Détail d'un contexte applicatif</a></li>
    </ol>

    <div class="panel panel-default boxSearchWrapper col-md-12">
                <span class="panel-header no-toggle">
                    <h2>Détail d'un contexte applicatif - {{context._id}}</h2>
                </span>
        <div id="boxContextsList" class="panel-collapse">
            <div id="collapse1" class="panel-body">
                <div class="panel-body">
                    <div class=" text-right">
                        <button class="btn " ng-click="changeEditMode()" ng-if="editMode">
                            <i class="material-icons pull-left">cancel</i>
                            <span>Annuler</span>
                        </button>

                        <button class="btn btn-primary" ng-click="changeEditMode()" ng-hide="checkPermission() || editMode">
                            <i class="material-icons pull-left">edit</i>
                            <span>Modifier</span>
                        </button>
                        <button class="btn btn-primary" ng-click="saveModifs()" ng-hide="checkPermission() || !editMode">
                            <i class="material-icons pull-left">save</i>
                            <span>Enregistrer</span>
                        </button>
                    </div>

                    <div class="form-group col-md-8">
                        <label>Identifiant</label>
                        <span>{{context.Identifier}}</span>
                    </div>
                    <div class="col-md-4 text-right" ng-show="editMode" style="height: 40px; margin-top: 20px">
                        Tenant
                        <select ng-model="selectedTenant" id = "tenantId" style="margin-right: 10px">
                            <option ng-repeat='tenant in avalableTenants' value="{{tenant}}">{{tenant}}</option>
                        </select>
                        <button class="btn" style="background-color: #d9d9d9" ng-click="addTenant()">
                            <span>Ajouter </span>
                        </button>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="row simple-field">
                            <display-single-field field-size="'11'"   field-key="'Name'"
                                                  field-value="tmpVars" field-label="'Nom'" edit-mode="editMode">
                            </display-single-field>
                        </div>
                    </div>

                    <div class="form-group col-md-3" style="height: 57px">
                        <label>Date de création</label>
                        <span>{{tmpVars.CreationDate | vitamFormatDate}}</span>
                    </div>
                    <div class="form-group col-md-3" style="height: 57px">
                        <label>Date de mise à jour</label>
                        <span>{{tmpVars.LastUpdate | vitamFormatDate}}</span>
                    </div>

                    <div class="form-group col-md-6">
                        <label>Statut</label>
                        <label class="switch">
                            <input type="checkbox" ng-model="tmpVars.Status" ng-change="updateStatus()"  ng-disabled="checkPermission()  || !editMode">
                            <div class="slider round" ng-class="{'disabled': checkPermission() || !editMode}"></div>
                        </label>
                        <span>{{contextStatus}}</span>
                    </div>

                    <div class="form-group col-md-3">
                        <div class="row simple-field">
                            <display-single-field field-size="'11'"  field-key="'ActivationDate'"
                                                  field-value="tmpVars" field-label="'Date d\'activation'" edit-mode="editMode">
                            </display-single-field>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <div class="row simple-field">
                            <display-single-field field-size="'11'" field-key="'DeactivationDate'"
                                                  field-value="tmpVars" field-label="'Date de désactivation'" edit-mode="editMode">
                            </display-single-field>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label>Permissions</label>
                        <div ng-repeat="permission in tmpVars.Permissions">
                            <div class="form-group col-md-4" style="background-color: #F5F5F5; border-color: #FFFFFF; border-style: solid; border-width: 10px;">
                                <button class="btn pull-right" ng-click="removeTenant(permission._tenant)" ng-hide="checkPermission() || !editMode">
                                    <span>Supprimer</span>
                                </button>
                                <br/>
                                <label>Tenant {{permission._tenant}} :</label>
                                <label>Liste contrats d'accès</label>
                                <md-chips ng-model="permission.AccessContracts" name="AccessContract" readonly="!editMode"
                                          md-removable="editMode" placeholder="Ajouter un contrat d'accès ..." >
                                </md-chips>
                                <br/>
                                <label>Liste contrats d'entrée</label>
                                <md-chips ng-model="permission.IngestContracts" name="IngestContract" readonly="!editMode"
                                          md-removable="editMode" placeholder="Ajouter un contrat d'entrée ..." >
                                </md-chips>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
