
// Switch to masterdata database
db = db.getSiblingDB('masterdata');

// Update IngestContract
db.IngestContract.find({}).forEach(function(item) {
    if (item.CheckParentLink == "ACTIVE") {
        item.checkParentId = new Array(item.LinkParentId);
    }
    item.CheckParentLink = "AUTHORIZED";
    db.IngestContract.update({_id: item._id}, item);
});
