Package: vitam-${unix.name}
Version: [[version]]
Section: Application/Archiving
Priority: low
Architecture: all
Depends: openjdk-11-jdk-headless, systemd, vitam-user-${unix.user}
Build-Depends: dh-systemd
Maintainer: Vitam Package Team
Description: [[description]]
