
input
{
    # KWA TODO : A etudier lorsqu on changera la localisation ES
    file {
        add_field => [ "input", "curator" ]
        path => "/vitam/log/curator/curator.log"
        sincedb_path => "/tmp/data"
        #start_position => beginning
    }

    # --- syslog input etc ...
    syslog {
        add_field => [ "input", "syslog" ]
        port => 10514
    }
}
