<p-panel [header]="'Audit'">
  <div class="ui-g">
    <div class="ui-g-12 textAlignLeft">
      <div class="ui-g-3">
        <label class="label labelAudit">
          Sélectionner le type
        </label>
      </div>
      <div class="ui-g-4" *ngIf="auditType != 'tenant'">
        <label class="label labelAudit">
          Sélectionner un service producteur
        </label>
      </div>
      <div class="ui-g-4" *ngIf="auditType === 'tenant'">
        <label class="label labelAudit">
          Tenant en cours
        </label>
      </div>
    </div>
    <div class="ui-g-12 textAlignLeft">
      <div class="ui-g-3">
        <p-dropdown [styleClass]="'dropdown100'" placeholder="Sélectionner dans la liste"
                    [options]="auditTypes" [(ngModel)]="auditType">
        </p-dropdown>
      </div>
      <div class="ui-g-3 ui-g-offset-1"  *ngIf="auditType != 'tenant'">
        <p-dropdown [styleClass]="'dropdown100'" placeholder="Sélectionner dans la liste  "
                    [options]="registers" [(ngModel)]="objectId">
        </p-dropdown>
      </div>
      <div class="ui-g-1 ui-g-offset-1"  *ngIf="auditType === 'tenant'">
        {{tenantCurrent}}
      </div>
    </div>
    <div class="ui-g-12 textAlignLeft">
      <label class="label labelAudit">
        Audit
      </label>
    </div>
    <div class="ui-g-12 textAlignLeft">
      <p-checkbox [disabled]="disableAuditExistence" name="groupname"  binary="true" label="Audit de l'existence des objets" [(ngModel)]="auditExistence" (onChange)="validAuditAction()"></p-checkbox>
    </div>
    <div class="ui-g-12 textAlignLeft">
      <p-checkbox name="groupname"  binary="true" label="Audit de l'intégrité des objets" [(ngModel)]="auditIntegrity" (onChange)="validAuditAction()"></p-checkbox>
    </div>
    <div class="ui-g-12">
      <button  pButton type="button" (click)="launchAudit()" label="Lancer l'audit" [disabled]="!auditAction"></button>
    </div>
  </div>

  <p-dialog header="Lancement de l'audit" [(visible)]="displayLaunchMessage">
    Le processus d'audit est lancé.
    <p-footer>
      <button pButton type="button" (click)="displayLaunchMessage = false" label="Fermer"></button>
    </p-footer>
  </p-dialog>

</p-panel>