org.quartz.scheduler.instanceName=VitamScheduler

org.quartz.scheduler.instanceId=AUTO
org.quartz.scheduler.instanceIdGenerator.class=org.quartz.simpl.HostnameInstanceIdGenerator
org.quartz.scheduler.interruptJobsOnShutdown=true

org.quartz.threadPool.threadCount={{ vitam_scheduler_thread_count }}

org.quartz.jobStore.class=com.novemberain.quartz.mongodb.MongoDBJobStore
org.quartz.jobStore.mongoUri=mongodb://{% for server in groups['hosts_mongos_data'] %}{{ mongodb['mongo-data'].scheduler.user }}:{{ mongodb['mongo-data'].scheduler.password }}@{{ hostvars[server]['ip_service'] }}:{{ mongodb.mongos_port }}{% if not loop.last %},{% endif %}{% endfor %}/scheduler
org.quartz.jobStore.isClustered=true
org.quartz.jobStore.dbName=scheduler
org.quartz.jobStore.collectionPrefix=vitam

org.quartz.plugin.jobInitializer.class = org.quartz.plugins.xml.XMLSchedulingDataProcessorPlugin
org.quartz.plugin.jobInitializer.fileNames = {{ vitam_defaults.folder.root_path }}/conf/{{ vitam_struct.vitam_component }}/jobs.xml
org.quartz.plugin.jobInitializer.failOnFileNotFound = true
org.quartz.plugin.jobInitializer.wrapInUserTransaction = false