<!doctype html>
<html lang="en" >
<head>
	<meta charset="utf-8">
	<meta name=viewport content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">

	<title>VITAM - environnement : {{environnement}}</title>
	<link rel="icon" type="image/png" href="favicon.png" />
	<link rel="stylesheet" href="css/app.css" />

	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/material-icons.css">
	<link rel="stylesheet" href="css/styles.css" />

	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>

</head>

<body  >

    <!--
    *
    *    #GLOBAL
    *
    *    @desc: Main container
    *
-->
<div id="global" class="container-fluid">

	<!-- MAIN HEADER -->
	<header id="mainHeader" class="navbar navbar-default navbar-fixed-top" >

		<div class="container-fluid">

			<div class="navbar-header">
				<a href="#" class="navbar-brand"><img class="logo img-responsive pull-left" src="images/logo.png" alt="Vitam" title="Vitam" /></a>
			</div>

			<div id="navbar" class="navbar-collapse collapse" >
				<ul class="nav navbar-nav">
					<li>
						<a href="#">
							<i class="material-icons pull-left">search</i>
							<span class="pull-left m-l-10">Environnement : {{environnement}}</span>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="material-icons pull-left">search</i>
							<span class="pull-left m-l-10">Déployé : {{ansible_date_time.date}} {{ansible_date_time.time}} ({{ansible_date_time.tz}})</span>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="material-icons pull-left">search</i>
							<span class="pull-left m-l-10">Version cible : {{package_version}}</span>
						</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="#"></a>
					</li>
				</ul>
			</div>

		</div>

	</header>
	<!-- end MAIN HEADER -->

	<!-- ////////////////////////////////////////////////////////////////////////////// -->

	<div class="page-container" >
		<div class="page">

			<div class="panel panel-default col-md-12 container" style="margin-top: 50px">
				<a class="panel-header no-toggle" href="#">
					<h2>Métier</h2>
				</a>
				<div class="panel-body">

					<p class="row" style="vertical-align: middle">
						<div class="col-md-3">VITAM</div>
						<div class="col-md-2"><a href="/ihm-demo" class="btn btn-primary btn-xs" target="_blank">IHM demo</a> </div>
						<div class="col-md-2"><a href="/ihm-recette" class="btn btn-primary btn-xs" target="_blank">IHM recette</a> </div>
					</p>

				</div>
			</div>

			<div class="panel panel-default col-md-12 container">
				<a class="panel-header no-toggle" href="#">
					<h2>Technique</h2>
				</a>
				<div class="panel-body">


{% if groups['hosts-log-server']|length >0 %}
					<p class="row" style="vertical-align: middle">
						<div class="col-md-3">Kibana</div>
						<div class="col-md-2"><a href="/app/kibana" class="btn btn-primary btn-xs" target="_blank">Kibana</a> <a href="/api/status" class="btn btn-primary btn-xs" target="_blank">Statut</a></div>
					</p>
{% endif %}

{% if groups['library']|length >0 %}
					<p class="row" style="vertical-align: middle">
						<div class="col-md-3">Documentation</div>
						<div class="col-md-2"><a href="/doc" class="btn btn-primary btn-xs" target="_blank">Documentation</a></div>
					</p>
{% endif %}

{% if groups['hosts-consul-server']|length >0 %}
					<p class="row" style="vertical-align: middle">
						<div class="col-md-3">Consul</div>
						<div class="col-md-2"><a href="/ui" class="btn btn-primary btn-xs" target="_blank">Portail Consul</a></div>
					</p>
{% endif %}

{% if groups['hosts-mongoclient']|length >0 %}
					<p class="row" style="vertical-align: middle">
						<div class="col-md-3">Admin MongoDB</div>
						<div class="col-md-2"><a href="/mongoclient" class="btn btn-primary btn-xs" target="_blank">MongoClient</a></div>
					</p>
{% endif %}

{% if groups['hosts-mongo-express']|length >0 %}
					<p class="row" style="vertical-align: middle">
						<div class="col-md-3">MongoDB</div>
						<div class="col-md-2"><a href="/mongo-express" class="btn btn-primary btn-xs" target="_blank">Mongo express</a></div>
					</p>
{% endif %}

{% if groups['hosts-elasticsearch-log']|length >0 %}
					<p class="row" style="vertical-align: middle">
						<div class="col-md-3">Elasticsearch logs</div>
						<div class="col-md-9">
							<a href="/_plugin/head" class="btn btn-primary btn-xs" target="_blank">Plugin Head</a>
							<a href="/_plugin/kopf/?location=https://{{vitam_reverse_external_dns}}/elasticsearch-log" class="btn btn-primary btn-xs" target="_blank">Plugin Kopf</a>
							<a href="/elasticsearch-log" class="btn btn-primary btn-xs" target="_blank">API</a>
							<a href="/elasticsearch-log/_cluster/health?pretty" class="btn btn-primary btn-xs" target="_blank">Santé du cluster</a>
						</div>
					</p>
{% endif %}

{% if groups['hosts-elasticsearch-data']|length >0 %}
					<p class="row" style="vertical-align: middle">
						<div class="col-md-3">Elasticsearch data</div>
						<div class="col-md-9">
							<a href="/_plugin/head" class="btn btn-primary btn-xs" target="_blank">Plugin Head</a>
							<a href="/_plugin/kopf/?location=https://{{vitam_reverse_external_dns}}/elasticsearch-data" class="btn btn-primary btn-xs" target="_blank">Plugin Kopf</a>
							<a href="/elasticsearch-data" class="btn btn-primary btn-xs" target="_blank">API</a>
							<a href="/elasticsearch-data/_cluster/health?pretty" class="btn btn-primary btn-xs" target="_blank">Santé du cluster</a>
						</div>
					</p>
{% endif %}

					<p class="row" style="vertical-align: middle">
						<div class="col-md-3">Log nightly deploy</div>
						<div class="col-md-9">
							<a href="/logs-nightly-deploy/" class="btn btn-primary btn-xs" target="_blank">Logs nightly deploy</a>
						</div>
					</p>

				</div>
			</div>
		</div>
		<div class="panel panel-default col-md-12 container">
			<a class="panel-header no-toggle" href="#">
				<h2>Debug</h2>
			</a>
			<div class="panel-body">
				{% for item in groups['vitam'] %}
				<p class="row" style="vertical-align: middle"><div class="col-md-3">{{item}}</div>
				<div class="col-md-2">
					<a href="/nodes/{{item}}/browse" class="btn btn-primary btn-xs" target="_blank">/vitam browser</a>
				</div></p>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////// -->
<!-- MAIN FOOTER -->
<footer class="mainFooter">
</footer>
<!-- end MAIN FOOTER -->
</div>
</body>
</html>
