---

apiVersion: 1

providers:
  - name: vitam-dashboard
    orgId: 1
    folder: ''
    folderUid: ''
    type: file
    disableDeletion: false
    updateIntervalSeconds: 10
    allowUiUpdates: true
    options:
      path: "{{ grafana_path_dashboards }}"
