<div id="global" class="container-fluid" >
  <ol class="breadcrumb">
    <li>Administration</li>
    <li><a href="#!/admin/formats">Référentiel des formats</a></li>
  </ol>

  <div class="panel panel-default boxSearchWrapper col-md-12">
    	<a class="panel-header" data-toggle="collapse">
      		<h2>Référentiel des formats</h2>
    	</a>

    	<form id="boxEntriesSearchForm" class="panel-body panel-collapse collapse in"  ng-submit="getFileFormats()">
        <div class="row">
          <div class="boxSimpleSearchInput form-group col-md-12 m-b-50" style="width: 40%; margin-left: 0px">
            <label for="entryName">Nom de format</label>
              <input ng-model="search.form.FormatName" id="entryName" name="entryName" type="text" class="form-control" />
          </div>

          <div class="boxSimpleSearchInput form-group col-md-12 m-b-50 " style="width: 20%; margin-left: 0px">
            <label for="entrypuid">PUID</label>
              <input ng-model="search.form.PUID" id="entrypuid" name="entrypuid" type="text" class="form-control" />
          </div>
        </div>
          <div>
            <div class="col-md-2"><!-- Blank zone --></div>
            <div class="col-md-3">
              <button class="btn btn-default" type="reset" ng-click="reinitForm()"><i class="material-icons pull-left">clear</i><span>Effacer</span></button>
            </div>
            <div class="col-md-4">
              <button class="btn btn-primary" type="submit"><i class="material-icons pull-left">search</i><span>Rechercher</span></button>
            </div>
          </div>
        <button ng-if="search.error.displayMessage" class="btn btn-danger center-block" type="button" style="margin-top: 20px">
            {{search.error.message}}
        </button>
    </form>
    
  </div>
    <div class="clearfix"></div>

  <!--Pagination -->
  <div style="text-align: center">
    <button class="btn btn-default btn-s" ng-disabled="search.pagination.currentPage <= 1" ng-click="search.pagination.currentPage=+search.pagination.currentPage-1">
      Précédent
    </button>
    <input ng-model="search.pagination.currentPage" style="max-width: 40px" >/{{search.pagination.resultPages}}
    <button class="btn btn-default btn-s" ng-disabled="search.pagination.currentPage >= search.pagination.resultPages" ng-click="search.pagination.currentPage=+search.pagination.currentPage+1">
      Suivant
    </button>
  </div>

    <div class="panel panel-default col-md-12">
    	<a class="panel-header" data-target="#boxSearchResults" data-toggle="collapse">
      <h2>
        Résultats
        <span ng-if="search.response.totalResult === 0 || search.response.totalResult > 0">({{search.response.totalResult}})</span>
      </h2>
    </a>

    <div id="boxSearchResults"
      class="panel-body panel-collapse collapse in">
      <div class="table-responsive">
        <div style="padding-top: 40px">
          <table class="table">
            <tr>
              <th>PUID</th>
              <th>Nom de format</th>
              <th>Version</th>
              <th>MIME</th>
              <th>Extension</th>
            </tr>
            <tbody ng-repeat="file in search.response.data | startFormat:startFormat() | limitTo: search.pagination.itemsPerPage">
              <tr ng-click="openDialog($event, file._id)">
                <td style="text-overflow: ellipsis;max-width:20%" scope="row" >{{file.PUID}}</td>
                <td style="text-overflow: ellipsis;max-width:20%">{{file.Name}}</td>
                <td style="text-overflow: ellipsis;max-width:20%">{{file.Version}}</td>
                <td style="text-overflow: ellipsis;max-width:20%">{{file.MIMEType.toString()}}</td>
                <td style="text-overflow: ellipsis;max-width:20%">{{file.Extension.toString()}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    </div>

</div>
