<div id="global" class="container-fluid" >
	<ol class="breadcrumb">
		<li>Administration</li>
        <li><a href="#!/admin/rules">Référentiel des Règles de gestion</a></li>
    </ol>

    <div class="boxSearchWrapper panel panel-default col-md-12">
        <a class="panel-header" data-toggle="collapse" href="#boxSearch">
            <h2>Référentiel des règles de gestion</h2>
        </a>
        <form id="boxEntriesSearchForm" class="panel-body panel-collapse collapse in"  ng-submit="filerulesCtrl.getFileRules()">
            <div class="col-md-12">
                <div class="form-group col-md-12">
                    <label for="entryName">Intitulé</label>
                    <input type="text" name="entryName" class="form-control" ng-model="filerulesCtrl.searchOptions.RuleValue">
                </div>
                <div class="form-group col-md-4">
                    <label for="entryType">Type</label>
                    <select multiple="" class="form-control" name="entryType" ng-model="filerulesCtrl.RuleType" >
                        <option value="" selected="">Tous</option>
                        <option value="AppraisalRule">Durée d'utilité Administrative</option>
                        <option value="AccessRule">Délai de communicabilité</option>
                        <option value="StorageRule">Durée d'utilité courante</option>
                        <option value="DisseminationRule">Délai de diffusion</option>
                        <option value="ReuseRule">Durée de réutilisation</option>
                        <option value="ClassificationRule">Durée de classification</option>
                    </select>
                </div>
            </div>
            <button class="btn btn-primary center-block"  type="button submit" >
                <i class="material-icons pull-left">search</i>
                <span>Rechercher</span></button>
            <button ng-if="filerulesCtrl.fileNotFoundError" class="btn btn-danger center-block" type="button" style="margin-top: 20px">
                {{filerulesCtrl.errorMessage}} </button>
        </form>

    </div>
    <div class="panel panel-default col-md-12">
    	<a class="panel-header" data-target="#boxSearchResults" data-toggle="collapse">
            <h2>
                Résultats
                <span ng-if="filerulesCtrl.results == 0 || filerulesCtrl.results > 0">({{filerulesCtrl.results}})</span>
            </h2>
        </a>
        <div id="boxSearchResults" class="panel-body panel-collapse collapse in">
        	<div class="table-responsive">
        		<div class="col-md-9" style="float: right">
            		<button class="btn btn-default btn-s" ng-disabled="filerulesCtrl.currentPage <= 1" ng-click="filerulesCtrl.currentPage=+filerulesCtrl.currentPage-1">
                		Précédent
            		</button>
            		<input ng-model="filerulesCtrl.currentPage" style="max-width: 40px">/{{filerulesCtrl.resultPages}}
            		<button class="btn btn-default btn-s" ng-disabled="filerulesCtrl.currentPage >= filerulesCtrl.resultPages" ng-click="filerulesCtrl.currentPage=+filerulesCtrl.currentPage+1">
                		Suivant
            		</button>
        		</div>
        		<div style="padding-top: 40px">
            		<table class="table ">
									<tr data-original-title="" title="">
								<th>Intitulé</th>
                <th>Type</th>
                <th>Durée</th>
                <th>Description</th>
								<th>Identifiant</th>
                            </tr>
                		<tbody ng-repeat="file in filerulesCtrl.fileRulesList | startFileRules:(filerulesCtrl.currentPage-1)*filerulesCtrl.itemsPerPage | limitTo:filerulesCtrl.itemsPerPage">
                		<tr ng-click="filerulesCtrl.openDialog($event, file.RuleId)">
              <td  style="text-overflow: ellipsis;max-width:20%" >{{file.RuleValue}}</td>
							<td style="text-overflow: ellipsis;max-width:20%">{{file.RuleType}}</td>
							<td style="text-overflow: ellipsis;max-width:20%">{{file.RuleDuration.toString()+" "+file.RuleMeasurement.toString()}}</td>
              <td style="text-overflow: ellipsis;max-width:20%">{{file.RuleDescription.toString()}}</td>
              <td style="text-overflow: ellipsis;max-width:20%"> {{file.RuleId.toString()}}</td>
                		</tr>
                		</tbody>
            		</table>
        		</div>
        	</div>
        </div>

    </div>

</div>
