<div id="global" class="container-fluid" ng-controller="MyController">
	<ol class="breadcrumb">
        <li>Administration</li>
        <li><a href="#!/admin/importPronoun">Import du Référentiel des formats</a></li>
    </ol>

	<div class="panel panel-default col-md-12">
    <a class="panel-header" data-toggle="collapse">
      <h2>Import référentiel des formats</h2>
    </a>

    <div id="boxEntriesSearchForm" class="panel-body panel-collapse collapse in">
    	<div class="col-md-4">
           	<div class="form-group">
				<label for="InputFile">Fichier</label>
				<input id="InputFile" placeholder="Sélect. fichiers" class="form-control-file" type="file" ng-model="FileInput" nv-file-select="" uploader="uploader">
				<small class="text-muted">Fichier .xml uniquement</small>
            </div>
		</div>
		<div class="text-left">
			<button class="btn btn-primary" type="button" class="btn btn-success btn-s" ng-disabled="checked" ng-click="validAction()">
				<i class="material-icons pull-left">file_download</i>
				<span>Valider</span>
			</button>
		</div>
		<hr>
    </div>

    </div>
</div>
