<div id="global" class="container-fluid">
	<ol class="breadcrumb">
        <li>Administration</li>
        <li><a href="#!/admin/journalOperations">Journal des Opérations</a></li>
	</ol>

	<div class="panel panel-default col-md-12">
		<a class="panel-header" href="#boxEntriesSearchForm">
			<h2>Journal des Opérations</h2>
		</a>

		<form id="boxEntriesSearchForm" class="panel-body panel-collapse collapse in" ng-submit="logctrl.getList()">
			<div class="form-group col-md-8">
				<label for="entryName">ID</label>
				<input ng-model="logctrl.searchID" type="text" name="entryName" class="form-control" />
			</div>

			<div class="form-group col-md-4">
				<label for="entryType">Type d'opération</label>
				<select ng-model="logctrl.searchType" class="form-control" name="entryType">
					<option value="" selected>--</option>
					<option value="audit">Audit</option>
					<option value="elimination">Elimination</option>
					<option value="ingest">Entrée</option>
					<option value="update">Mise a jour</option>
					<option value="preservation">Préservation</option>
					<option value="check">Vérification</option>
					<option value="masterdata">Données de base</option>
					<option value="traceability">Sécurisation</option>
				</select>
            </div>
            <button class="btn btn-primary center-block" type="submit">
            	<i class="material-icons pull-left">search</i>
            	<span>Rechercher</span>
            </button>
            <button ng-if="logctrl.fileNotFoundError" class="btn btn-danger center-block" type="button" style="margin-top: 20px">
                {{logctrl.errorMessage}}
            </button>
        </form>
	</div>

	<!-- Pagination -->
	<div style="text-align: center">
		<button class="btn btn-default btn-s" ng-disabled="logctrl.currentPage <= 1" ng-click="logctrl.currentPage=+logctrl.currentPage-1">
            Précédent
    	</button>
    	<input ng-model="logctrl.currentPage" style="max-width: 40px">/{{logctrl.resultPages}}
    	<button class="btn btn-default btn-s" ng-disabled="logctrl.currentPage >= logctrl.resultPages" ng-click="logctrl.currentPage=+logctrl.currentPage+1">
            Suivant
    	</button>		
	</div>

	<div class="panel panel-default col-md-12 dynamic-table-box">
		<a class="panel-header">
            <h2> Résultats <span ng-if="logctrl.results == 0 || logctrl.results > 0">({{logctrl.results}})</span></h2>
		</a>

		<div id="boxEntriesList" class="panel-body panel-collapse collapse in">

			<dynamic-table custom-fields="logctrl.customFields" selected-objects="logctrl.selectedObjects">
			</dynamic-table>

			<div class="table-responsive">
				<table class="table">
					<tr>
                        <th>Catégorie d'opération</th>
						<th>Opération</th>
						<th>Date</th>
						<th>Statut</th>
                        <th>Message</th>

						<!-- Dynamic columns -->
						<th ng-repeat="column in logctrl.selectedObjects">{{column.label}}</th>
					</tr>

					<tbody ng-repeat='log in logctrl.operationList | startFrom:(logctrl.currentPage-1)*logctrl.itemsPerPage | limitTo:logctrl.itemsPerPage'>
					<tr ng-click="logctrl.goToDetails(log.evIdProc)">
                        <td>{{log.evTypeProc}}</td>
						<td>{{log.evType}}</td>
						<td>{{log.evDateTime | vitamFormatDate}}</td>

						<td ng-if = "log.events[log.events.length-1].outcome.toUpperCase() === 'OK'">Succès</td>
						<td ng-if = "log.events[log.events.length-1].outcome.toUpperCase() === 'STARTED'">En cours</td>
						<td ng-if = "log.events[log.events.length-1].outcome.toUpperCase() === 'KO' || log.events[log.events.length-1].outcome.toUpperCase() == 'FATAL'">Erreur</td>
						<td ng-if = "log.events[log.events.length-1].outcome.toUpperCase() !== 'KO' && log.events[log.events.length-1].outcome.toUpperCase() !== 'FATAL' && log.events[log.events.length-1].outcome.toUpperCase() !== 'OK'
                        && log.events[log.events.length-1].outcome.toUpperCase() !== 'STARTED'">Avertissement</td>
						<td>{{log.outMessg}}</td>

						<!-- Dynamic columns values -->
						<td ng-repeat = "column in logctrl.selectedObjects">
							<span >{{log[column.id]}}</span>
						</td>
					</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>

</div>
