<div id="global" class="container-fluid">
	<ol class="breadcrumb">
		<li>Administration</li>
		<li><a href="#!/admin/journalOperations">Journal des Opérations</a></li>
	</ol>

	<div class="panel panel-default boxSearchWrapper col-md-12">
		<a class="panel-header" href="#boxEntriesSearchForm">
			<h2>Journal des Opérations</h2>
		</a>

		<form id="boxEntriesSearchForm" class="panel-body panel-collapse collapse in" ng-submit="getList()">
			<div class="row">
				<div class="boxSimpleSearchInput form-group col-md-12 m-b-50" style="width: 40%; margin-left: 0px">
					<label for="entryName">ID</label>
					<input ng-model="search.form.EventID" type="text" name="entryName" class="form-control" ng-change="onInputChange()"/>
				</div>

				<div class="boxSimpleSearchInput form-group col-md-4 m-b-50" style="width: 40%; margin-left: 0px">
					<label for="entryType">Type d'opération</label>
					<select ng-model="search.form.EventType" class="form-control" name="entryType" ng-change="onInputChange()">
						<option value="--" >--</option>
						<option value="audit">Audit</option>
						<option value="elimination">Elimination</option>
						<option value="ingest">Entrée</option>
						<option value="update">Mise a jour</option>
						<option value="preservation">Préservation</option>
						<option value="check">Vérification</option>
						<option value="masterdata">Données de base</option>
						<option value="traceability">Sécurisation</option>
					</select>
				</div>
			</div>
			<div>
				<div class="col-md-2"><!-- Blank zone --></div>
				<div class="col-md-3">
					<button class="btn btn-default" type="reset" ng-click="reinitForm()"><i class="material-icons pull-left">clear</i><span>Effacer</span></button>
				</div>
				<div class="col-md-4">
					<button class="btn btn-primary" type="submit"><i class="material-icons pull-left">search</i><span>Rechercher</span></button>
				</div>
			</div>
			<button ng-if="search.error.displayMessage" class="btn btn-danger center-block" type="button" style="margin-top: 20px">
				{{search.error.message}}
			</button>
		</form>
	</div>

	<!-- Pagination -->
	<div style="text-align: center">
		<button class="btn btn-default btn-s" ng-disabled="search.pagination.currentPage <= 1" ng-click="search.pagination.currentPage=+search.pagination.currentPage-1">
			Précédent
		</button>
		<input ng-model="search.pagination.currentPage" style="max-width: 40px">/{{search.pagination.resultPages}}
		<button class="btn btn-default btn-s" ng-disabled="search.pagination.currentPage >= search.pagination.resultPages" ng-click="search.pagination.currentPage=+search.pagination.currentPage+1">
			Suivant
		</button>
	</div>

	<div class="panel panel-default col-md-12 dynamic-table-box">
		<a class="panel-header">
			<h2> Résultats <span ng-if="search.response.totalResults == 0 || search.response.totalResults > 0">({{search.response.totalResults}})</span></h2>
		</a>

		<div id="boxEntriesList" class="panel-body panel-collapse collapse in">

			<dynamic-table custom-fields="dynamicTable.customFields" selected-objects="dynamicTable.selectedObjects">
			</dynamic-table>

			<div class="table-responsive">
				<table class="table highlighted">
					<tr>
						<th>Catégorie d'opération</th>
						<th>Opération</th>
						<th>Date</th>
						<th>Statut</th>
						<th>Message</th>

						<!-- Dynamic columns -->
						<th ng-repeat="column in dynamicTable.selectedObjects">{{column.label | translate}}</th>
					</tr>

					<tbody ng-repeat="log in search.response.data | startFrom:startFormat(search.pagination.currentPage, search.pagination.resultPages, search.pagination.itemsPerPage) | limitTo:search.pagination.itemsPerPage">
					<tr ng-click="goToDetails(log.evIdProc)">
						<td>{{log.evTypeProc}}</td>
						<td>{{log.evType}}</td>
						<td>{{log.evDateTime | vitamFormatDate}}</td>

						<td ng-if = "log.events[log.events.length-1].outcome.toUpperCase() === 'OK'">Succès</td>
						<td ng-if = "log.events[log.events.length-1].outcome.toUpperCase() === 'STARTED'">En cours</td>
						<td ng-if = "log.events[log.events.length-1].outcome.toUpperCase() === 'KO' || log.events[log.events.length-1].outcome.toUpperCase() == 'FATAL'">Erreur</td>
						<td ng-if = "log.events[log.events.length-1].outcome.toUpperCase() !== 'KO' && log.events[log.events.length-1].outcome.toUpperCase() !== 'FATAL' && log.events[log.events.length-1].outcome.toUpperCase() !== 'OK'
                        && log.events[log.events.length-1].outcome.toUpperCase() !== 'STARTED'">Avertissement</td>
						<td>{{log.outMessg}}</td>

						<!-- Dynamic columns values -->
						<td ng-repeat = "column in dynamicTable.selectedObjects">
							<span >{{log[column.id]}}</span>
						</td>
					</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>

</div>
