<div id="global" class="container-fluid">
    <ol class="breadcrumb">
        <li>Entrée</li>
        <li><a href="#!/admin/logbookOperations">Suivi des opérations d'entrées</a></li>
        <li><a ng-href="#!/admin/logbookOperations/{{entryCtrl.operationId}}">Détail d'une opération d'entrée</a></li>
    </ol>
    <div class="panel panel-default col-md-12">

        <a class="panel-header" data-target="#boxLogbookEntries" data-toggle="collapse">
            <h2>Détail de l'opération d'entrée - {{operationId}}</h2>
        </a>

        <logbook-entry-table id="operationId"></logbook-entry-table>
    </div>
</div>
