<div id="global" class="container-fluid">
    <ol class="breadcrumb">
        <li>Administration</li>
        <li><a href="#!/admin/journalOperations">Journal des Opérations</a></li>
        <li><a ng-href="#!/admin/detailOperation/{{detailId}}">Détail d'une opération</a></li>
    </ol>

    <div class="panel panel-default col-md-12">

        <a class="panel-header" data-target="#boxLogbookEntries" data-toggle="collapse">
            <h2>Détail de l'opération - {{detailId}}</h2>
        </a>

        <logbook-entry-table id="detailId"></logbook-entry-table>
    </div>
</div>
