<div class="panel panel-default col-md-12 container" style="margin-top: 50px">
    <a class="panel-header no-toggle">
        <h2>Authentification</h2>
    </a>
    <div id="boxEntriesSearchForm" class="panel-body">
        <form class="login-form" data-ng-show="session.status != 'logged'" data-ng-submit="connectUser(tenantId)">
            <div class="col-md-12 control-group">
                <span class="help-inline" style="display:block; color: indianred; margin-bottom: 15px" ng-if="logginError"><i>Merci de vérifier votre identifiant et votre mot de passe</i></span>
                <div class="form-group col-md-4" ng-class="{'has-error': logginError}">
                    <label for="email">Identifiant</label>
                    <input id="email" type="text" class="form-control input-sm" placeholder="Email" data-ng-model="credentials.username"/>
                </div>
                <div class="form-group col-md-4" ng-class="{'has-error': logginError}">
                    <label for="password">Mot de passe</label>
                    <input id="password" type="password" class="form-control input-sm" placeholder="Entrez votre mot de passe" data-ng-model="credentials.password" />
                </div>
                <div class="form-group col-md-4" ng-class="{'has-error': logginError}">
                    <label for="tenantId">Tenant de la session</label>
                    <select ng-model="tenantId" id = "tenantId">
                        <option ng-repeat='tenant in tenants' value="{{tenant}}">{{tenant}}</option>
                    </select>
                </div>
            </div>
            <div class="clearfix"></div>
            <button type="submit" class="btn btn-primary center-block"><i class="material-icons pull-left">blur_on</i><span>Se connecter</span></button>
        </form>
    </div>
</div>
