<!-- FIXME : Useless file ? -->
<div id="global" class="container-fluid" >
    <ol class="breadcrumb">
        <li>Home</li>
        <li>Transfert</li>
    </ol>

    <!-- ////////////////////////////////////////////////////////////////////////////// -->

	<div class="panel panel-default col-md-12">
		<div flow-init="{targetFirstChunk: '/ihm-demo/v1/api/ingest/upload2', targetOtherChunks:'/ihm-demo/v1/api/ingest/upload2',
				testChunks:false, method:'octet', simultaneousUploads: 1, ctrlScope: ctrl,
				requiredParams:['x-request-id']}"
			 flow-file-success="startUpload($flow.files[0].chunks[0].savedParams)"
			 flow-files-submitted="$flow.upload()">

            <input type="file" flow-btn flow-single-file ng-disabled="disableSelect"/>

            <button type="button" class="btn btn-primary" ng-disabled="disableUpload" flow-launch>
                <i class="material-icons pull-left">file_download</i>
                <span>Importer</span>
            </button>

            <table>
                <tr ng-repeat="file in $flow.files">
                    <td>{{$index+1}}</td>
                    <td>{{file.name}}</td>
                    <td>{{file.msg}}</td>
                </tr>
            </table>
            
			<div class="progress" style="">
				<div class="progress-bar" role="progressbar" ng-style="{ 'width': $flow.files[0].progress()*100 + '%' }" style="width: 0;"></div>
			</div>

			<td>
					<span ng-show="fileItem.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
					<span ng-show="fileItem.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
					<span ng-show="fileItem.isError"><i class="glyphicon glyphicon-remove"></i></span>
					<span ng-show="fileItem.isWarning"><i class="glyphicon glyphicon-warning-sign"></i></span>
					<span ng-show="fileItem.isProcessing"><img src="images/loading.gif"/></span>
			</td>
		</div>
	</div>
</div>
