   <div id="global" class="container-fluid" >
    		<ol class="breadcrumb">
                <li ng-if="ingestType == 'HoldingScheme'">Administration</li>
                <li ng-if="ingestType != 'HoldingScheme'">Entrée</li>
                <li ng-if="ingestType == 'SIP'"><a href="#!/uploadSIP">Transfert SIP</a></li>
                <li ng-if="ingestType == 'HoldingScheme'"><a href="#!/uploadHoldingScheme">Import de l'arbre de positionnement</a></li>
                <li ng-if="ingestType == 'ClassificationScheme'"><a href="#!/uploadFilingsScheme">Transfert du plan de classement</a></li>
            </ol>

	 <!-- ////////////////////////////////////////////////////////////////////////////// -->

 			<div class="panel panel-default col-md-12" flow-init="{target: '/ihm-demo/v1/api/ingest/upload',
  				testChunks:false, method:'octet', simultaneousUploads: 1, ctrlScope: ctrl,
  				requiredParams: ['x-request-id'], tenantId: ctrl.tenantId, tenantKey: ctrl.tenantKey,
          actionKey: ctrl.actionKey, contextIdKey: ctrl.contextIdKey}"
  			 flow-file-success="startUpload($flow.files[0].chunks[0].savedParams)"
                 flow-error="uploadHandlerError( $file, $message, $flow )"
  			 flow-files-submitted="$flow.upload()">

    			<table class="table upload">
    				<tbody>
        				<tr>
        				  <h3 ng-if="ingestType == 'SIP'">TELECHARGEMENT DU SIP</h3>
                          <h3 ng-if="ingestType == 'ClassificationScheme'">TELECHARGEMENT DU PLAN DE CLASSEMENT</h3>
                          <h3 ng-if="ingestType == 'HoldingScheme'">IMPORT DE L' ARBRE DE POSITIONNEMENT</h3>
        				</tr>
        				<tr>
          					<h3>Fichier</h3>
          					<td height="150" width="50%" >
          			      <input type="file" flow-btn flow-single-file ng-disabled="disableSelect" />
          		      </td>
                    <td>
                      <label for="executionModeList">Mode d'exécution</label>
            				  <select ng-model="ctrl.action" class="form-control" name="executionModeList">
            					    <option value="NEXT" ng-show="hasPermission('operations:read')">Pas à pas</option>
            					    <option value="RESUME">Continu</option>
            				  </select>
                    </td>
                    <td>
                      <label for="destinationList">Destination</label>
            				  <select ng-model="ctrl.contextId" class="form-control" name="destinationList" ng-change="ctrl.checkBlankTestChoice()">
            					    <option ng-if="ingestType == 'SIP'" value="DEFAULT_WORKFLOW">Production</option>
            					    <option ng-if="ingestType == 'SIP'" value="BLANK_TEST">A blanc</option>
                                    <option ng-if="ingestType == 'HoldingScheme'" value="HOLDING_SCHEME">Production</option>
                                    <option ng-if="ingestType == 'ClassificationScheme'" value="FILING_SCHEME">Production</option>
            				  </select>
                    </td>

          		      <td>
                        <button type="button" class="btn btn-primary" ng-disabled="disableUpload" flow-launch>
                  				<i class="material-icons pull-left">file_download</i>
                  				<span>Importer</span>
                  			</button>
          		       </td>
        	        </tr>
              </tbody>
            </table>
            <br>
            <br>
            <table class="table">
                <thead>
                <tr>
                    <th width="50%">Nom du fichier</th>
                    <th>Taille</th>
                    <th>Statut</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="file in $flow.files">
                    <td><strong>{{file.name}}</strong></td>
                    <td> {{ getSize(file.size,2)}}</td>
                    <td>
                      <span ng-show="fileItem.isSuccess"><i class="glyphicon glyphicon-ok"></i>&nbsp;Succès</span>
                      <span ng-show="fileItem.isError"><i class="glyphicon glyphicon-remove"></i>&nbsp;Échec</span>
                      <span ng-show="fileItem.isFatalError"><i class="glyphicon glyphicon-remove"></i>&nbsp;Échec suite à erreur technique</span>
                      <span ng-show="fileItem.isWarning"><i class="glyphicon glyphicon-warning-sign"></i>&nbsp;Avertissement</span>
                      <span ng-show="fileItem.isProcessing"><img src="images/loading_36.gif"/></span>
                    </td>
                </tr>
                </tbody>
            </table>

			<br>
			<br>
			<br>
			<br>
            <div align="center">
                <div>
                    <div class="progress" style="">
              				<div class="progress-bar" role="progressbar" ng-style="{ 'width': $flow.files[0].progress()*100 + '%' }" style="width: 0;"></div>
              			</div>
                </div>
            </div>
            <br>
            <br>
        </div>
    </div>
