{
    "id" : "default",
    "hot" : {
        "copy" : {{ vitam_strategy|length }},
        "offers" : [
            {% for item in vitam_strategy %}
            {"id" : "{{ item.name }}.service.{{ consul_domain }}"}{% if not loop.last %},{% endif %}
            {% endfor %}
        ]
    }
}
