[
{% for item in groups['hosts-storage-offer-default'] %}
{
    "id" : "{{item}}",
    "baseUrl" : "http://{{hostvars[item]['ip_service']}}:{{vitam_storageofferdefault_port_https}}",
    "parameters" : {
		{% if test_tls_offer_enabled %}
        "keyStore-keyPath": "{{vitam_folder_conf}}/keystore_storage.p12",
        "keyStore-keyPassword": "{{keystores.client_storage.storage}}",
        "trustStore-keyPath": "{{vitam_folder_conf}}/truststore_storage.jks",
        "trustStore-keyPassword": "{{truststores.client_storage}}"
		{% endif %}
    }
}
{% if not loop.last %},
{% endif %}
{% endfor %}
]
