[
{% for item in vitam_strategy %}
{
    "id" : "{{ item.name }}.service.{{ consul_domain }}",
    {% if vitam.storageofferdefault.https_enabled==true %}
    "baseUrl" : "https://{{ item.name }}.service.{{ consul_domain }}:{{ vitam.storageofferdefault.port_service }}",
    {% else %}
    "baseUrl" : "http://{{ item.name }}.service.{{ consul_domain }}:{{ vitam.storageofferdefault.port_service }}",
    {% endif %}
    "parameters" : {
        {% if vitam.storageofferdefault.https_enabled==true %}
        "keyStore-keyPath": "{{vitam_folder_conf}}/keystore_storage.p12",
        "keyStore-keyPassword": "{{keystores.client_storage.storage}}",
        "trustStore-keyPath": "{{vitam_folder_conf}}/truststore_storage.jks",
        "trustStore-keyPassword": "{{truststores.client_storage}}"
        {% endif %}
    }
}
{% if not loop.last %},
{% endif %}
{% endfor %}
]
