[
    {
        "id" : "default",
        "offers" : [
{% for item in vitam_strategy %}
{% if item.id is defined %}
            {"id" : "{{ item.id }}"{% if item.referent | default(false) | bool == true %}, "referent" : true{% endif %}{% if item.status is defined %}, "status" : "{{ item.status | upper }}" {% endif %}{% if item.rank is defined %}, "rank" : {{ item.rank }} {% endif %}}{% if not loop.last %},{% endif %}
{% else %}
            {"id" : "{{ item.name }}.service.{{ item.vitam_site_name |default(vitam_site_name) }}.{{ consul_domain }}"{% if item.referent | default(false) | bool == true %}, "referent" : true{% endif %}{% if item.status is defined %}, "status" : "{{ item.status| upper }}" {% endif %}{% if item.rank is defined %}, "rank" : {{ item.rank }} {% endif %}}{% if not loop.last %},{% endif %}
{% endif %}
{% endfor %}
        ]
    }
{% if other_strategies is defined %}
{% for strategy_name, strategy_offers in other_strategies.items() %}
    ,
    {
        "id" : "{{ strategy_name }}",
        "offers" : [
{% for strategy_offer in strategy_offers %}
            {"id" : "{{ strategy_offer.name }}.service.{{ strategy_offer.vitam_site_name |default(vitam_site_name) }}.{{ consul_domain }}"{% if strategy_offer.referent | default(false) | bool == true %}, "referent" : true{% endif %}{% if strategy_offer.status is defined %}, "status" : "{{ strategy_offer.status | upper }}" {% endif %}{% if strategy_offer.rank is defined %}, "rank" : {{ strategy_offer.rank }} {% endif %}}{% if not loop.last %},{% endif %}
{% endfor %}
        ]
    }
{% endfor %}
{% endif %}

]