jettyConfig: jetty-config.xml

readOnly: {{ not primary_site | bool | lower }}
urlWorkspace: {{ vitam.workspace | client_url }}

zippingDirecorty: {{ vitam_folder_data }}/storage_archives
loggingDirectory: {{ vitam_folder_log }}

p12LogbookPassword: {{ keystores.timestamping.secure_storage }}
p12LogbookFile: keystore_{{ vitam_timestamp_usage }}.p12

# Basic Authentication
adminBasicAuth:
  - userName: {{ admin_basic_auth_user }}
    password: {{ admin_basic_auth_password }}

# unit time per kB (in ms) used while calculating the timeout of an http request between storage and offer.
timeoutMsPerKB: {{ vitam.storage.timeoutMsPerKB | default(100) }}

# minimum timeout (in ms) for writing objects to offers
minWriteTimeoutMs: {{ vitam.storage.minWriteTimeoutMs | default(60000) }}

# minimum timeout per object (in ms) for bulk writing objects to offers
minBulkWriteTimeoutMsPerObject: {{ vitam.storage.minBulkWriteTimeoutMsPerObject | default(10000) }}

# Offer synchronization batch size & thread pool size
offerSynchronizationBulkSize: {{ vitam.storage.offerSynchronizationBulkSize | default(1000) }}
offerSyncThreadPoolSize: {{ vitam.storage.offerSyncThreadPoolSize | default(32) }}

# Retries attempts on failures
offerSyncNumberOfRetries: {{ vitam.storage.offerSyncNumberOfRetries | default(3) }}

# Retry wait delay on failures (in seconds)
offerSyncFirstAttemptWaitingTime: {{ vitam.storage.offerSyncFirstAttemptWaitingTime | default(15) }}
offerSyncWaitingTime: {{ vitam.storage.offerSyncWaitingTime | default(30) }}

# Offer synchronization wait delay (in seconds) for async offers (synchronization from a tape-storage offer)
offerSyncAccessRequestCheckWaitingTime: {{ vitam.storage.offerSyncAccessRequestCheckWaitingTime | default(10) }}

# Storage write/access log backup max thread pool size
storageLogBackupThreadPoolSize: {{ vitam.storage.storageLogBackupThreadPoolSize | default(16) }}

# Storage write log traceability thread pool size
storageLogTraceabilityThreadPoolSize: {{ vitam.storage.storageLogTraceabilityThreadPoolSize | default(16) }}

storageTraceabilityOverlapDelay: {{ vitam.storage.storageTraceabilityOverlapDelay | default(300) }}
