urlWorkspace: {{vitam_workspace_baseurl}}
timeoutMsPerKB: 100
jettyConfig: jetty-config.xml
tenants:  [ "{{ vitam_tenant_ids | join('", "') }}" ]
zippingDirecorty: {{vitam_folder_data}}
loggingDirectory: {{vitam_folder_log}}
