<div *ngIf="this.eggService.getState()" (click)="this.eggService.changeState(false)" class="vitam-egg-block">
    <div class='unicorn'>
        <div class='tail'>
            <div class='pone'></div>
            <div class='ptwo'></div>
            <div class='pthree'></div>
            <div class='pfour'></div>
        </div>
        <div class='body'>
            <div class='pone'></div>
            <div class='ptwo'></div>
            <div class='pthree'></div>
            <div class='pfour'></div>
            <div class='pfive'></div>
            <div class='psix'></div>
            <div class='pseven'></div>
            <div class='peight'></div>
            <div class='eye'></div>
            <div class='nose'></div>
            <div class='extreme-left'></div>
            <div class='extreme-right'></div>
        </div>
        <div class='leg'>
            <div class='pone'></div>
            <div class='ptwo'></div>
            <div class='pthree'></div>
            <div class='pfour'></div>
            <div class='pfive'></div>
        </div>
        <div class='leg2'>
            <div class='pone'></div>
            <div class='ptwo'></div>
            <div class='pthree'></div>
            <div class='pfour'></div>
        </div>
        <div class='leg3'>
            <div class='pone'></div>
            <div class='ptwo'></div>
            <div class='pthree'></div>
            <div class='pfour'></div>
        </div>
        <div class='unihorn'></div>
    </div>
</div>