<div style="text-align: left;padding: 5px 0 10px 0;">
  <p-fieldset [legend]="isIngestOperation ? 'Descriptif de l\'opération d\'entrée' : 'Descriptif de l\'opération'" [toggleable]="true">
    <div class="ui-g" *ngIf="results">
      <p-dataTable [value]="results">
          <p-column field="evId" header="Identifiant de la demande d'entrée"></p-column>
          <p-column field="obIdIn" header="Intitulé"></p-column>
          <p-column header="Service versant">
            <ng-template let-item="rowData" pTemplate="body">
              {{item.agIdExt ? parse(item.agIdExt).submissionAgency : ''}}
            </ng-template>
          </p-column>
          <p-column field="" header="Contrat">
            <ng-template let-item="rowData" pTemplate="body">
              {{item.rightsStatementIdentifier ? parse(item.rightsStatementIdentifier).ArchivalAgreement : ''}}
            </ng-template>
          </p-column>
          <p-column field="ArchivalProfile" header="Profil">
            <ng-template let-item="rowData" pTemplate="body">
              {{item.rightsStatementIdentifier ? parse(item.rightsStatementIdentifier).Profil : ''}}
            </ng-template>
          </p-column>
          <p-column field="ServiceLevel" header="Niveau de service">
            <ng-template let-item="rowData" pTemplate="body">
              {{item.evDetData ? parse(item.evDetData).ServiceLevel : ''}}
            </ng-template>
          </p-column>
      </p-dataTable>
    </div>
  </p-fieldset>
</div>