<div id="global" class="container-fluid">
    <ol class="breadcrumb">
        <li>Administration</li>
        <li><a href="#!/admin/accessContracts">Contrats d'accès</a></li>
        <li><a href="#!/admin/accessContracts/{{contract._id}}">Détail d'un contrat d'accès</a></li>
    </ol>

    <div class="panel panel-default boxSearchWrapper col-md-12">
                <span class="panel-header no-toggle">
                    <h2>Détail du contrat d'accès - {{contract._id}}</h2>
                </span>
        <div id="boxContractsList" class="panel-collapse">
            <div id="collapse1" class="panel-body">
                <div class=" text-right">
                    <button class="btn " ng-click="changeEditMode()" ng-if="editMode">
                        <i class="material-icons pull-left">edit</i>
                        <span>Annuler</span>
                    </button>
                    <button class="btn btn-primary" ng-click="changeEditMode()" ng-hide="checkPermission() || editMode">
                        <i class="material-icons pull-left">edit</i>
                        <span>Modifier</span>
                    </button>
                    <button class="btn btn-primary" ng-click="saveModifs()" ng-hide="checkPermission() || !editMode">
                        <i class="material-icons pull-left">save</i>
                        <span>Enregistrer</span>
                    </button>
                </div>
                <div class="panel-body" style="margin-top: 10px">

                    <form>
                        <input type="hidden" name="hiddenField"/>
                    </form>
                    <div class="form-group col-md-6">
                        <label>Identifiant</label>
                        <span>{{contract.Identifier}}</span>
                    </div>
                    <div class="form-group col-md-3">
                        <label>Date de création</label>
                        <span>{{tmpVars.CreationDate | vitamFormatDate}}</span>
                    </div>
                    <div class="form-group col-md-3">
                        <label>Date de mise à jour</label>
                        <span>{{tmpVars.LastUpdate | vitamFormatDate}}</span>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="row simple-field">
                            <display-single-field field-size="'11'"   field-key="'Name'"
                                                  field-value="tmpVars" field-label="'Nom'" edit-mode="editMode">
                            </display-single-field>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label>Statut</label>
                        <label class="switch">
                            <input type="checkbox" ng-model="tmpVars.isActive" ng-change="updateStatus()" ng-disabled="checkPermission()  || !editMode">
                            <div class="slider round" ng-class="{'disabled': checkPermission() || !editMode}"></div>
                        </label>
                        <span>{{tmpVars.Status | StrReplace}}</span>
                    </div>
                    <div class="form-group col-md-3">

                        <label>Droit d'écriture</label>

                        <label class="switch">
                            <input type="checkbox" ng-model="tmpVars.WritingPermission" ng-disabled="!editMode">
                            <div class="slider round" ng-class="{'disabled': checkPermission() || !editMode}"></div>
                        </label>
                        <span>{{tmpVars.WritingPermission | StrReplace}}</span>
                    </div>
                    <div class="clearfix"></div>

                    <div class="form-group col-md-6">
                        <div class="row simple-field">
                            <display-single-field field-size="'11'"   field-key="'Description'"
                                                  field-value="tmpVars" field-label="'Description'" edit-mode="editMode">
                            </display-single-field>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label>Service Producteur</label>
                        <input type="radio" ng-value="true" ng-model="tmpVars.EveryOriginatingAgency" ng-disabled="checkPermission()  || !editMode">Tous les services producteurs</input>
                        <br />
                        <input type="radio" ng-value="false" ng-model="tmpVars.EveryOriginatingAgency" ng-disabled="checkPermission()  || !editMode">Liste blanche uniquement</input>
                        <br />
                        <md-chips ng-model="tmpVars.OriginatingAgencies" name="OriginatingAgencies" readonly="!editMode"
                                  md-removable="editMode" placeholder="Ajouter un service producteur ..." >
                        </md-chips>
                    </div>
                    <div class="form-group col-md-3">
                        <label>Usage</label>
                        <input type="radio" ng-value="true" ng-model="tmpVars.EveryDataObjectVersion" ng-disabled="checkPermission()  || !editMode">Tous les usages</input>
                        <br />
                        <input type="radio" ng-value="false" ng-model="tmpVars.EveryDataObjectVersion" ng-disabled="checkPermission()  || !editMode">Liste blanche uniquement</input>
                        <br />
                        <md-chips ng-model="tmpVars.DataObjectVersion" name="DataObjectVersion" readonly="!editMode"
                                  md-removable="editMode" placeholder="Ajouter un usage ..." >
                        </md-chips>
                    </div>

                    <div class="form-group col-md-6">
                        <label>Noeuds de consultation</label>
                        <md-chips ng-model="tmpVars.RootUnits" name="RootUnits" readonly="!editMode"
                                  md-removable="editMode" placeholder="Ajouter des noeuds ..." >
                        </md-chips>
                    </div>

                    <div class="clearfix"></div>
                    <div class="form-group col-md-6">

                        <label>Tenant(s)</label>
                        <span>{{tmpVars._tenant}}</span>
                    </div>
                    <div class="form-group col-md-3">
                        <div class="row simple-field">
                            <display-single-field field-size="'11'"  field-key="'ActivationDate'"
                                                  field-value="tmpVars" field-label="'Date d\'activation'" edit-mode="editMode">
                            </display-single-field>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <div class="row simple-field">
                            <display-single-field field-size="'11'" field-key="'DeactivationDate'"
                                                  field-value="tmpVars" field-label="'Date de désactivation'" edit-mode="editMode">
                            </display-single-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
