{
  "node_name": "{{ ansible_hostname }}",
  "domain": "{{ consul_domain }}",
  "datacenter": "{{ vitam_site_name }}",

  "bind_addr": "{{ hostvars[inventory_hostname][consul.network] }}",
  "advertise_addr": "{{ hostvars[inventory_hostname][consul.network] }}",
{% if ip_wan is defined %}
  "advertise_addr_wan": "{{ ip_wan }}",
  "translate_wan_addrs": true,
{% endif %}
{% if (dns_servers|length > 0) and ("" not in dns_servers) %}
  "recursors": [ "{{ dns_servers|join('", "') }}" ],
{% endif %}
  "retry_join": [ {% for item in groups['hosts_consul_server'] %}"{{ hostvars[item][consul.network] }}"{% if not loop.last %},{% endif %}{% endfor %} ],
  "retry_interval": "{{ consul.retry_interval | default(10) }}s",
{% if inventory_hostname in groups['hosts_consul_server'] %}
{% if consul_remote_sites is defined and consul_remote_sites is sequence and consul_remote_sites|length > 0 %}
  "retry_join_wan": [ {% for item in consul_remote_sites %}{% for address_wan in item.wan %}"{{ address_wan }}"{% if not loop.last %},{% endif %}{% endfor %}{% if not loop.last %},{% endif %}{% endfor %} ],
{% endif %}

  "bootstrap_expect": {{ groups['hosts_consul_server']|length }},
  "server": true,
  "ui": true,
  "addresses" : {
      "http": "{{ ip_admin }}"
  },
{% endif %}

  "enable_script_checks": true,
  "disable_remote_exec": true,
  "disable_update_check": true,
  "encrypt": "{{ consul_encrypt }}",
  "ports": {
    "dns" : 53
  },

  "data_dir": "{{ consul_folder_data }}",
  "log_level": "{{ consul.log_level | default('INFO') }}",
  "log_file": "{{ consul_folder_log }}/consul.log",
  "enable_syslog": {{ consul.enable_syslog | default('true') }},

  "checks" : [
    {
        "name": "Check Consul DNS resolution for node",
        "args": ["/usr/bin/getent", "ahostsv4", "{{ ansible_hostname }}.node.{{ consul_domain }}"],
        "interval": "{{ consul.check_interval | default(10) }}s",
        "timeout": "{{ consul.check_timeout | default(10) }}s"
      }
  ]

}
