<div id="global" class="container-fluid">
  <ol class="breadcrumb">
    <li>Page d'accueil</li>
    <li>Suivi des opérations d'entrées</li>
  </ol>
  <form class="panel panel-default col-md-12" ng-submit="logctrl.getLogbooks()">
    <a class="panel-header" data-toggle="collapse">
      <h2>Rechercher</h2>
    </a>
    <div id="boxEntriesSearchForm" class="panel-body panel-collapse collapse in">
      <div class="form-group">
        <label for="entryName">Lot d'archive</label>
        <input ng-model="logctrl.searchOptions.obIdIn" type="text" name="entryName" class="form-control" />
      </div>
      <div class="row" style="padding-top: 20px">
        <div class="col-md-6">
          <button class="btn btn-primary center-block" ng-click="logctrl.clearSearchOptions()" type="reset">
          <i class="material-icons pull-left">clear</i><span>Effacer</span>
          </button>
        </div>
        <div class="col-md-6">
          <button class="btn btn-primary center-block" type="submit"><i class="material-icons pull-left">search</i><span>Rechercher</span></button>
        </div>
      </div>
    </div>
      <div class="col-md-12">
          <button ng-if="logctrl.noResult" class="btn btn-danger center-block" type="button" style="margin-top: 20px; margin-bottom: 20px">
              {{logctrl.errorMessage}}
          </button>
      </div>
  </form>

  <!--  Pagination -->
    <!-- <div style="text-align: center">
       <button class="btn btn-default btn-s" ng-disabled="logctrl.currentPage <= 1" ng-click="logctrl.currentPage=logctrl.currentPage-1">
         Previous
       </button>
       {{logctrl.currentPage}}/{{logctrl.resultPages}}
       <button class="btn btn-default btn-s" ng-disabled="logctrl.currentPage >= logctrl.resultPages" ng-click="logctrl.getNextResults()">
         Next
       </button>
     </div> -->

    <nav class="text-center" ng-if="logctrl.resultPages > 0" >
        <ul class="pagination">
            <li ng-if="logctrl.currentPage > 1">
                <a href='' aria-label="Previous" ng-click="logctrl.getPreviousResults()" >
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li ng-class="logctrl.pageActive[0] ? 'active' : ''" ng-click="logctrl.diplayFromCurrentPage(0)"><a href=''>{{logctrl.currentPage}}</a></li>
            <li ng-class="logctrl.pageActive[1] ? 'active' : ''" ng-if="logctrl.resultPages >= logctrl.currentPage + 1" ng-click="logctrl.diplayFromCurrentPage(1)"><a href=''>{{logctrl.currentPage+1}}</a></li>
            <li ng-class="logctrl.pageActive[2] ? 'active' : ''" ng-if="logctrl.resultPages >= logctrl.currentPage + 2" ng-click="logctrl.diplayFromCurrentPage(2)"><a href=''>{{logctrl.currentPage+2}}</a></li>
            <li ng-class="logctrl.pageActive[3] ? 'active' : ''" ng-if="logctrl.resultPages >= logctrl.currentPage + 3" ng-click="logctrl.diplayFromCurrentPage(3)"><a href=''>{{logctrl.currentPage+3}}</a></li>
            <li ng-class="logctrl.pageActive[4] ? 'active' : ''" ng-if="logctrl.resultPages >= logctrl.currentPage + 4" ng-click="logctrl.diplayFromCurrentPage(4)"><a href=''>{{logctrl.currentPage+4}}</a></li>
            <li ng-if="logctrl.resultPages >= logctrl.currentPage + 4">
                <a href='' aria-label="Next" ng-click="logctrl.getNextResults()">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

<div class="panel panel-default col-md-12">
  <a class="panel-header">
      <h2> Résultats <span ng-if="logctrl.results == 0 || logctrl.results > 0">({{logctrl.results}})</span></h2>
  </a>
  <div id="boxEntriesList" class="panel-body panel-collapse collapse in">
    <div class="table-responsive">
      <table class="table">
        <tr>
          <th>Lot d'archive</th>
          <th>Identifiant de l'entrée</th>
          <th>Début opération</th>
          <th>Fin opération</th>
            <th>Statut</th>
            <th>AR</th>
            <th>Bordereau</th>
        </tr>

        <tbody ng-repeat="log in logctrl.logbookEntryList | startFrom:(logctrl.diplayPage-1)*logctrl.itemsPerPage | limitTo:logctrl.itemsPerPage">
          <tr>
            <td ng-click="logctrl.goToDetails(log.evIdProc)" >{{log.events[0].obIdIn}}</td>
            <td ng-click="logctrl.goToDetails(log.evIdProc)" >{{log.evIdProc}}</td>
            <td ng-click="logctrl.goToDetails(log.evIdProc)" >{{log.evDateTime}}</td>
            <td ng-click="logctrl.goToDetails(log.evIdProc)" >{{log.events[1].evDateTime}}</td>
            <td ng-click="logctrl.goToDetails(log.evIdProc)"  ng-if = "log.events[1].outcome.toUpperCase() == 'OK'">Succès</td>
            <td ng-click="logctrl.goToDetails(log.evIdProc)"  ng-if = "log.events[1].outcome.toUpperCase() == 'STARTED'">En cours</td>
            <td ng-click="logctrl.goToDetails(log.evIdProc)"  ng-if = "log.events[1].outcome.toUpperCase() == 'KO' || log.events[1].outcome.toUpperCase() == 'FATAL'">Erreur</td>
            <td ng-click="logctrl.goToDetails(log.evIdProc)"  ng-if = "log.events[1].outcome.toUpperCase() != 'KO' && log.events[1].outcome.toUpperCase() != 'FATAL' && log.events[1].outcome.toUpperCase() != 'OK'
                        && log.events[1].outcome.toUpperCase() != 'STARTED'">Avertissement</td>
              <td>
                  <a href="" ng-click="logctrl.downloadObject(log.evIdProc, 'reports')">
                      <i class="material-icons">file_download</i>
                  </a>
              </td>
              <td >
                  <a ng-if="log.events[1].outcome.toUpperCase() == 'OK' || log.events[1].outcome.toUpperCase() == 'WARNING'"  href="" ng-click="logctrl.downloadObject(log.evIdProc, 'manifests')">
                      <i class="material-icons">file_download</i>
                  </a>
              </td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>
</div>
