ingest.web.port={{vitam_docker_port_internal}}
ingest.web.context=ingest
ingest.web.upload.dir=/vitam/data/{{internal_name}}
ingest.web.core.upload.url=http://vitam-prod-app-10.internet.agri:8100/ingest/upload