ingest.web.port={{vitam_docker_port_internal}}
ingest.web.context=ingest
ingest.web.upload.dir=/vitam/data/{{internal_name}}
ingest.web.ingest-int.url=http://vitam-prod-app-10.internet.agri:8082/vitam/ingest/upload