.float {
  float: left;
}

.fixed {
  position: absolute;
  left: 10px;
  top: 10px
}

.logo {
  max-height: 60px;
  margin-top: -10px;
}

.title {
  position: relative;
  top: -15px;
  font-size: 45px;
  font-family: Verdana,sans-serif;
}

a {
    color: black;
}

.logout-icon {
    color: #AD9FFF;
    cursor: pointer;
}
.tenant-text {
    float: left;
    padding-left: 10px;
}

#accessContract {
    float: right;
    max-width: 200px;
}

.userInfo {
    float: right;
    width: 220px;
    padding-bottom: 10px;
}