[Unit]
Description=Vitam storage accesslog backup

Wants=network.target
After=network.target

[Service]
Type=oneshot
ExecStart=/vitam/script/storage/launchStorageAccessLogBackup.sh
User=vitam
Group=vitam
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
