[Unit]
Description=Vitam Mongoclient
Wants=network.target
After=network.target

[Service]
# Node returns a 130 status code when killed...
SuccessExitStatus=0 130
User=vitam
Group=vitam
EnvironmentFile=/vitam/conf/mongoclient/vitam-mongoclient.conf
ExecStart=/bin/node /vitam/bin/mongoclient/main.js
StandardOutput=syslog
#StandardError=syslog
#Restart=always

[Install]
WantedBy=multi-user.target
