{
  "operation_groups": [
    { "step": "authent", "operations": [ { "substep": "name", "operation": "code", "arguments": { "arg1": "arg1", "arg2": "arg2" } } ] },
    { "step": "precheck", "operations": [ { "substep": "name", "operation": "code", "arguments": { "arg1": "arg1", "arg2": "arg2" } } ] },
    { "step": "transfer", "operations": [ { "substep": "name", "operation": "code", "arguments": { "arg1": "arg1", "arg2": "arg2" } } ] },
    { "step": "global_check", "operations": [ { "substep": "name", "operation": "code", "arguments": { "arg1": "arg1", "arg2": "arg2" } } ] },
    { "step": "object_check", "operations": [ { "substep": "name", "operation": "code", "arguments": { "arg1": "arg1", "arg2": "arg2" } } ] },
    { "step": "unit_check", "operations": [ { "substep": "name", "operation": "code", "arguments": { "arg1": "arg1", "arg2": "arg2" } } ] },
    { "step": "finalization", "operations": [ { "substep": "name", "operation": "code", "arguments": { "arg1": "arg1", "arg2": "arg2" } } ] },
    { "step": "conservation", "operations": [ { "substep": "name", "operation": "code", "arguments": { "arg1": "arg1", "arg2": "arg2" } } ] },
    { "step": "end", "operations": [ { "substep": "name", "operation": "code", "arguments": { "arg1": "arg1", "arg2": "arg2" } } ] }
  ]
}