<div ng-cloak style="margin: 0 100px 0 100px">
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Logbook Opérations">
                <md-content class="md-padding">
                    <logbook-operations></logbook-operations>
                </md-content>
            </md-tab>
            <md-tab label="Logbook cycles de vie">
                <md-content class="md-padding">
                </md-content>
            </md-tab>
            <md-tab label="Formats">
                <md-content class="md-padding">
                    <file-format></file-format>
                </md-content>
            </md-tab>
            <md-tab label="Règles de gestion">
                <md-content class="md-padding">
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>

