<md-dialog aria-label="File Format Entry" ng-cloak style="max-width:50%; max-height:800px; height:auto; width: auto;">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h3>{{entryCtrl.detail["Nom du fomat"]}}</h3>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <table class="table" id="detail" align="center">
            <tbody>
                <tr ng-repeat="(key, value) in entryCtrl.detail"  ng-if="value != ''">
                    <td> {{key}} </td> <td> {{ value }} </td>
                </tr>

                <tr ng-if="entryCtrl.listPriorityPUID">
                    <td> Priorité sur les versions précédentes </td> <td> <div ng-repeat="puid in entryCtrl.listPriorityPUID" > <a  href=""  ng-click="entryCtrl.getFormatEntryByPUID(puid)">{{puid}} </a> </div> </td>
                </tr>
                <tr>
                    <td> Version de Pronom </td> <td> <a ng-href="{{entryCtrl.pronomLink}}" target="_blank">{{entryCtrl.pronomLink}}</a> </td>
                </tr>
            </tbody>
        </table>


    </md-dialog-content>
    <md-dialog-actions>
        <md-button aria-label="Close" ng-click="entryCtrl.close()">Close</md-button>
    </md-dialog-actions>
</md-dialog>