<div class="container">

    <div class="row">

        <form ng-submit="logctrl.getFileFormats()" style="padding-left: 20px; margin-top: 20px">
            <h4>Filtres</h4>
            <div  style="padding-left: 20px">
                <div class="row" >
                    <div class="col-md-2">
                        <h5>Nom de l'entrée</h5>
                    </div>
                    <div class="col-md-6">
                        <input ng-model="logctrl.searchOptions.obIdIn">
                    </div>
                </div>
                <div class="row" style="padding-top: 20px">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-success btn-s" ng-click="logctrl.clearSearchOptions()">
                            Effacer
                        </button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-success btn-s" ng-click="logctrl.getFileFormats()">
                            Rechercher
                        </button>
                    </div>
                </div>
            </div>
        </form>


        <div class="col-md-9" style="margin-top: 20px; border-top: 1px solid black;">
            <div class="row" style="padding-top: 20px">
                <div class="col-md-8">
                    <h4>Resultats</h4>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-info btn-s">
                        Exporter mon journal
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-9" style="float: right">
            <button class="btn btn-default btn-s" ng-disabled="logctrl.currentPage <= 1" ng-click="logctrl.currentPage=logctrl.currentPage-1">
                Previous
            </button>
            <input ng-model="logctrl.currentPage" style="max-width: 40px">/{{logctrl.resultPages}}
            <button class="btn btn-default btn-s" ng-disabled="logctrl.currentPage >= logctrl.resultPages" ng-click="logctrl.currentPage=logctrl.currentPage+1">
                Next
            </button>
        </div>
        <div class="col-md-9" style="padding-top: 40px">
            <table class="table table-bordered">
                <thead style="text-align: center">
                <tr>
                    <th>Id</th>
                    <th>Date</th>
                    <th>Statut</th>
                    <th>Nom de l'entrée</th>
                </tr>
                </thead>
                <tbody ng-repeat="log in logctrl.fileFormatList | startFrom:(logctrl.currentPage-1)*logctrl.itemsPerPage | limitTo:logctrl.itemsPerPage">
                <tr ng-click="logctrl.openDialog($event, log.evIdProc)" >
                    <th scope="row" >{{log.evIdProc}}</th>
                    <td>{{log.evDateTime}}</td>
                    <td>{{log.outcome}}</td>
                    <td>{{log.obIdIn}}</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>