<md-dialog aria-label="LogBook Operation Entry" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h3>LogBook Operation Entry: {{entryCtrl.detailId}}</h3>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <table class="table" id="detail" align="center">
            <thead>
            <tr>
                <th>Etape</th>
                <th>Date</th>
                <th>Statut</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{entryCtrl.detail.evType}}</td>
                <td>{{entryCtrl.detail.evDateTime}}</td>
                <td>{{entryCtrl.detail.outcome}}</td>
            </tr>
            </tbody>
            <tbody ng-repeat="event in entryCtrl.detail.events">
            <tr>
                <td>{{event.evType}}</td>
                <td>{{event.evDateTime}}</td>
                <td>{{event.outcome}}</td>
            </tr>
            </tbody>
        </table>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button aria-label="Close" ng-click="entryCtrl.close()">Close</md-button>
    </md-dialog-actions>
</md-dialog>