<div class="container" ng-controller="rulesController">

	<ol class="breadcrumb">
		<li><a href="#">Home</a></li>
        <li><a href="#">Administration</a></li>
        <li><a href="#">Import du Référentiel des formats</a></li>
    </ol>

	<div class="panel panel-default col-md-12">
    <a class="panel-header" data-toggle="collapse">
      <h2>Purge du référentiel des Règles de gestion</h2>
    </a>

    <div id="boxEntriesSearchForm" class="panel-body panel-collapse collapse in">
    	<div class="col-md-12">
		<div class="text-justify">
			<button class="btn btn-primary" type="button" class="btn btn-success btn-s" ng-click="deleteAction()">
           		<i class="material-icons pull-left">delete_choix</i>
           		<span>Supprimer</span>
        	</button>
		</div>
    </div>

    </div>
</div>
