{
  "service": {
    "name": "mongoclient",
    "port":  {{ mongoclientPort }},
    "address": "{{ip_service}}",
    "enableTagOverride": false,
    "checks": [
      {
        "id": "healthcheck",
        "notes": "Mongoclient health check",
        "http": "http://{{ip_service}}:{{ mongoclientPort }}{{ mongoclientbaseUrl }}/healthcheck",
        "interval": "1s"
      }
    ]
  }
}
