# mongos.conf

# for documentation of all options, see:
#   http://docs.mongodb.org/manual/reference/configuration-options/

# where to write logging data.
systemLog:
  destination: file
  syslogFacility: local0
  verbosity: {{ mongodb.verbosity | default(0) }}
  traceAllExceptions: {{ mongodb.trace_all_exceptions | default('false') }}
  logAppend: true
  logRotate: reopen
  path: {{ mongo_folder_log }}/mongos.log

# network interfaces
net:
  port: {{ mongodb.mongos_port }}
  bindIp: {{ ip_service }}{% if groups['hosts_dev_tools'] | length > 0 and ip_service != ip_admin %},{{ ip_admin }}{% endif %}

  unixDomainSocket:
    enabled: true
    pathPrefix: {{ mongo_tmp_path }}
    filePermissions: 0700

sharding:
  configDB: configsvr/{% for item in mongoc_list %}{{ hostvars[item]['ip_service'] }}:{{ mongodb.mongoc_port }}{% if not loop.last %},{% endif %}{% endfor %}
