{
  "service": {
    "name": "{{ mongo_cluster_name }}-mongos",
    "address": "{{ ip_service }}",
    "port": {{ mongodb.mongos_port }},
    "enable_tag_override": false,
    "tags": ["bdd","mongo","{{ mongo_cluster_name }}","{{ mongo_cluster_name }}-mongos"],
    "checks": [
      {
        "name": "{{ mongo_cluster_name }}-mongos : TCP check",
        "notes": "Status {{ mongo_cluster_name }}-mongos",
        "tcp": "{{ ip_service }}:{{ mongodb.mongos_port }}",
        "interval": "{{ mongodb.check_consul }}s"
      }
    ]
  }
}
