{
  "service": {
    "name": "mongos",
    "port": {{ mongodb.mongos_port }},
    "enableTagOverride": false,
    "checks": [
      {
        "name": "mongos : TCP check",
        "notes": "Status mongos",
        "tcp": "{{ ip_service }}:{{ mongodb.mongos_port }}",
        "interval": "1s"
      }
    ]
  }
}
