#%RAML 1.0

title: API-Vitam Version Alpha - Administration Management interne
version: v1
baseUri: http://internal.vitam.gouv.fr/functional-administration/{version}
protocols: [ HTTP ]

uses:
  StandardTypes: libraries/StandardTypes.raml
  StandardTraits: libraries/StandardTraits.raml
  RegisterTraits: libraries/RegisterTraits.raml

securitySchemes:
  VitamPlatform: !include securitySchemes/SecuritySchemeVitamInternal.raml

securedBy: [ VitamPlatform ]

mediaType: application/json

types:
  _reserved:
    type: string

documentation:
  - title: Avertissements
    content: !include docs-fr/avertissement.md

  - title: Licence
    content: !include docs-fr/license.md

  - title: API Administration
    content: !include docs-fr/admin-functional.md

/formats:
  displayName: FileFormats
  description: |
   API qui définit les requêtes pour accéder au référentiels des Formats.
   La requête utilise le langage de requête (DSL) de Vitam en entrée et retourne une liste de formats selon le DSL Vitam en cas de succès.
  get:
    description: |
      Request that will return results composed of Formats
    is: [RegisterTraits.RegisterListingResponse]
  post:
    description: |
      Request that will return results composed of Formats if the request is using POST with X-Http-Method-Override: GET.
      If there is no X-Http-Method-Override, this allow to push a new Referential from a PRONOM source file (see TNA).
    is: [RegisterTraits.RegisterListingResponse, StandardTraits.OverrideGet,
       RegisterTraits.RegisterUpload]
    headers:
      X-Http-Method-Override:
        required: false
  put:
    description: |
      This allow to submit a new Referential from a PRONOM source file (see TNA) to check if this could be imported.
    is: [RegisterTraits.RegisterUpload]
    headers:
      X-Http-Method-Override:
        required: false

  /{idu}:
    displayName: FileFormat
    description: |
     API qui définit les requêtes pour accéder à 1 format dans le référentiel des Formats.
    get:
      description: Request that will return result composed of 1 Format
      is: [RegisterTraits.RegisterItemResponse]
    post:
      description: |
        Request that will return result of 1 Format. The request is using POST with X-Http-Method-Override: GET
      is: [RegisterTraits.RegisterItemResponse, StandardTraits.OverrideGet]
      headers:
        X-Http-Method-Override:
          required: true

/rules:
  displayName: Rules
  description: |
   API qui définit les requêtes pour accéder au référentiels des Règles de gestion.
   La requête utilise le langage de requête (DSL) de Vitam en entrée et retourne une liste de règles selon le DSL Vitam en cas de succès.
  get:
    description: |
      Request that will return results composed of Rules
    is: [RegisterTraits.RegisterListingResponse]
  post:
    description: |
      Request that will return results composed of Rules if the request is using POST with X-Http-Method-Override: GET.
      If there is no X-Http-Method-Override, this allow to push a new Referential from a CSV source file containing Rules definitions.
    is: [RegisterTraits.RegisterListingResponse, StandardTraits.OverrideGet, RegisterTraits.RegisterUpload]
    headers:
      X-Http-Method-Override:
        required: false
  put:
    description: |
      This allow to submit a new Referential from a CSV source file containing Rules definitions to check if this could be imported.
    is: [RegisterTraits.RegisterUpload]
    headers:
      X-Http-Method-Override:
        required: false

  /{idu}:
    displayName: Rule
    description: |
     API qui définit les requêtes pour accéder à 1 Règle dans le référentiel des Règles de gestion.
    get:
      description: Request that will return result composed of 1 Rule
      is: [RegisterTraits.RegisterItemResponse]
    post:
      description: |
        Request that will return result of 1 Rule. The request is using POST with X-Http-Method-Override: GET
      is: [RegisterTraits.RegisterItemResponse, StandardTraits.OverrideGet]
      headers:
        X-Http-Method-Override:
          required: true

/accession-register:
  displayName: AccessionRegisters
  description: |
   API qui définit les requêtes pour accéder au Registre des Fonds.
   La requête utilise le langage de requête (DSL) de Vitam en entrée et retourne une liste de registres selon le DSL Vitam en cas de succès.
  get:
    description: |
      Request that will return results composed of AccessionRegister
    is: [RegisterTraits.RegisterListingResponse]
  post:
    description: |
      Request that will return results composed of AccessionRegister, the request must use POST with X-Http-Method-Override: GET.
    is: [RegisterTraits.RegisterListingResponse, StandardTraits.OverrideGet]
    headers:
      X-Http-Method-Override:
        required: true

  /{idu}:
    displayName: AccessionRegister
    description: |
     API qui définit les requêtes pour accéder à 1 Résumé d'un Fond dans le Registre des Fonds.
    get:
      description: Request that will return result composed of 1 AccessionRegister
      is: [RegisterTraits.RegisterItemResponse]
    post:
      description: |
        Request that will return result of 1 AccessionRegister. The request is using POST with X-Http-Method-Override: GET
      is: [RegisterTraits.RegisterItemResponse, StandardTraits.OverrideGet]
      headers:
        X-Http-Method-Override:
          required: true

    /accession-register-detail:
      displayName: AccessionRegisterDetail
      description: |
       API qui définit les requêtes pour accéder au détail d'un Fond dans le Registre des Fonds.
      get:
        description: Request that will return result composed of 1 AccessionRegisterDetail
        is: [RegisterTraits.RegisterListingResponse]
      post:
        description: |
          Request that will return result of 1 AccessionRegisterDetail. The request is using POST with X-Http-Method-Override: GET
        is: [RegisterTraits.RegisterListingResponse, StandardTraits.OverrideGet]
        headers:
          X-Http-Method-Override:
            required: true

/status:
  get:
    is: [ StandardTraits.StandardHeader204,
      StandardTraits.StandardHeader401, StandardTraits.StandardHeader404, StandardTraits.StandardHeader503 ]
