[Unit]
Description=Launch vitam reconstruction script for functional-administration accession register

Wants=network.target
After=network.target

[Service]
Type=oneshot
EnvironmentFile=/vitam/conf/functional-administration/reconstruction.conf
ExecStart=/vitam/script/functional-administration/accession_register_reconstruction.sh
User=vitam
Group=vitam
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
