{
  "id": "abcdef",
  "primary": [
    { "id": "ccfn_id_1", "read_priority": 1, "write_priority": 1 },
    { "id": "ccfn_id_2", "read_priority": 2, "write_priority": 1 },
    { "id": "ccfn_id_3", "read_priority": 3, "write_priority": 2 }
  ],
  "primary_duplication": 2,
  "secondary": [
    { "id": "ccfn_id_4", "read_priority": 1, "write_priority": 1 }
  ],
  "secondary_duplication": 1
}
