{
  "id": "abcd",
  "destruction_delay": -2,
  "verbose": 0,
  "object": {
    "storage_id": "id_consolidated_storage_offer_3",
    "audit_frequency": "0|0|0|1|0"
  },
  "unit": {
    "storage_id": "id_consolidated_storage_offer_4",
    "audit_frequency": "0|0|0|1|0"
  },
  "preservation": {
    "transformation_id": "id_consolidated_transformation_offer",
    "purge_rule": "1-N+1-N",
    "activation": true
  },
  "active": true
}