[Unit]
Description=Processing Management
After=network.target
After=syslog.target

[Service]
Type=simple
ExecStart=/vitam/${unix.name}/bin/wrapper.sh

[Install]
WantedBy=multi-user.target
