<div id="global" class="container-fluid">
    <ol class="breadcrumb">
        <li>Administration</li>
        <li><a href="#!/admin/audits">Audit de l'existence des objets</a></li>
    </ol>

    <div class="boxSearchWrapper panel panel-default col-md-12">
        <a class="panel-header" data-target="#boxSearch" data-toggle="collapse">
            <h2>AUDIT</h2>
        </a>

        <div id="boxEntriesSearchForm" class="panel-body panel-collapse collapse in">
            <div class="col-md-12">
                <div class="form-group col-md-3">
                    <label>Sélectionner le type</label>
                    <select ng-init="form.auditType = 'originatingagency'"
                            ng-model="form.auditType" class="form-control" name="executionModeList" id="typeAudit">
                        <option value="originatingagency" selected>Service Producteur</option>
                        <option value="tenant">Tenant</option>
                    </select>
                </div>
                <div class="form-group col-md-4" id="oagency" ng-show="form.auditType == 'originatingagency'" >
                    <label>Sélectionner l'identifiant</label>
                    <select ng-model="form.objectId" class="form-control" name="executionModeList">
                        <option ng-repeat='sp in sps' value="{{sp}}">{{sp}}</option>
                    </select>

                    <select ng-init="form.objectId = tenant" ng-show="form.auditType == 'tenant'" ng-model="form.objectId" class="form-control" name="executionModeList">
                        <option value="{{tenant}}">{{tenant}}</option>
                    </select>
                </div>
                <div class="form-group col-md-4" id="oagency" ng-show="form.auditType == 'tenant'" >
                    <label>Tenant en cours</label>
                    <div style="padding-top: 5px">{{tenant}}</div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group col-md-6">
                    <span><b>Audit</b></span>
                    <div class="checkbox">
                        <label><input type="checkbox" ng-model="enableLaunchAudit">Audit de l'existence des objets</label>
                    </div>
                </div>
            </div>

            <div class="text-center boxSimpleSearchInput">
                <button ng-disabled="!enableLaunchAudit" ng-click="launchAudit()" class="btn btn-primary">
                    <i class="material-icons pull-left">play_arrow</i><span>Lancer l'audit</span>
                </button>
            </div>
        </div>
    </div>

</div>
