{{ ansible_managed | comment }}

{{ vitam_defaults.folder.root_path }}/log/kibana/kibana.log {
        daily
        rotate {{ kibana.history_days | default(30) }}
        copytruncate
        dateext
        dateformat -%Y-%m-%d
        dateyesterday
        extension .log
        compress
        delaycompress
        notifempty
        missingok
}
