{
  "service": {
    "name": "{{ kibana_service_name }}",
    "port": {{ kibana_port }},
    "address": "{{ip_service}}",
    "enableTagOverride": false,
    "checks": [
      {
        "id": "kibana home page",
        "notes": "Kibana home page access",
        "http": "http://{{ip_service}}:{{ kibana_port }}/app/kibana",
        "interval": "1s"
      }
    ]
  }
}
