{
  "service": {
    "name": "{{ kibana_service_name }}",
    "port": {{ composant.port }},
    "address": "{{ ip_service }}",
    "enableTagOverride": false,
    "checks": [
      {
        "id": "Kibana home page",
        "notes": "Kibana home page access",
        "http": "http://{{ ip_service }}:{{ composant.port }}/app/kibana",
        "interval": "1s"
      }
    ]
  }
}
