{
  "service": {
    "name": "{{ kibana_service_name }}",
    "port": {{ composant.port }},
    "address": "{{ ip_admin }}",
    "tags": ["kibana","{{ kibana_service_name }}"],
    "enable_tag_override": false,
    "checks": [
      {
        "name": "{{ kibana_service_name }} : HTTP check",
        "notes": "Kibana home page access",
        "http": "http://{{ ip_admin }}:{{ composant.port }}/app/kibana",
        "interval": "{{ composant.check_consul }}s"
      }
    ]
  }
}
