[Unit]
Description=Kibana
Documentation=https://www.elastic.co/fr/kibana
Wants=network-online.target
After=network-online.target

[Service]
ExecStartPre=-/usr/bin/docker pull {{ container_repository.registry_url }}/vitam-external/kibana:{{ kibana_version }}
ExecStartPre=-/usr/bin/docker stop kibana
ExecStartPre=-/usr/bin/docker rm kibana
ExecStart=/usr/bin/docker run --rm --net=host --ulimit memlock=-1:-1 --name kibana \
        -v "/vitam/conf/kibana/kibana.yml:/usr/share/kibana/config/kibana.yml:rw" \
        -v "/vitam/log/kibana/:/vitam/log/kibana:rw" \
        {{ container_repository.registry_url }}/vitam-external/kibana:{{ kibana_version }}

ExecStop=/usr/bin/docker stop -t 85 kibana
ExecReload=/usr/bin/docker restart -t 85 kibana
TimeoutStartSec=120
TimeoutStopSec=30
StartLimitBurst=6

[Install]
WantedBy=multi-user.target
