Package: vitam-elasticsearch-cerebro
Version: 0.8.3
Section: database
Priority: optional
Architecture: all
Depends: bash, vitam-user-vitam, openjdk-8-jre, systemd
Maintainer: French Prime minister Office/SGMAP/DINSIC/Vitam Program <contact.vitam@culture.gouv.fr>
Description: Cerebro is an open source(MIT License) elasticsearch web admin tool built using Scala, Play Framework, AngularJS and Bootstrap.
