<div id="global" class="container-fluid">
  <ol class="breadcrumb">
    <li>Recherche</li>
    <li><a href="#!/archiveSearch">Recherche d'archives</a></li>
    <li><a ng-href="#!/archiveunit/{{$ctrl.archiveId}}">Détail de l'unité archivistique</a></li>
  </ol>

  <div class="panel panel-default col-md-12">
    <span class="panel-header no-toggle">
      <h2>Détail de l'unité archivistique</h2>
      <a ng-href="#!/lifecycle/unit/{{$ctrl.archiveId}}" target="_blank" class="btn btn-primary" style="float:right">
        <i class="material-icons pull-left">camera</i>
        <span class="pull-left m-l-10">Journal de Cycle de Vie</span>
      </a>
    </span>

    <div id="boxContractsList" class="panel-collapse">
      <div class="panel-body">
        <!-- Add Unit Tree -->
        <div ng-repeat="path in $ctrl.fullArchiveTree">
          <ul ng-repeat="parent in path.slice().reverse()">
            <li ng-style="$ctrl.getIntent($index)">
              <a ng-href="#!/archiveunit/{{parent['#id']}}">{{parent.Title}}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="text-right">
        <button ng-if="!$ctrl.isEditMode" data-parent="#boxContractsList" ng-click="$ctrl.switchToEditMode()" ng-show="$ctrl.hasPermission('archiveupdate:units:update')">
          <i class="material-icons pull-left">create</i>
          <span>Modifier</span>
        </button>
        <button ng-if="$ctrl.isEditMode" data-parent="#boxContractsList" ng-click="$ctrl.cancelChanges()">
          <i class="material-icons pull-left">create</i>
          <span>Annuler</span>
        </button>
        <button class="md-icon-button" data-parent="#boxContractsList" ng-click="$ctrl.saveModifications($event)">
          <i class="material-icons pull-left">save</i>
          <span>Sauvegarder</span>
        </button>
      </div>

      <!--
      *
      *    DESCRIPTION
      *
      -->
      <div class="panel-body">
        <a class="panel-header" data-target="#boxDesc" data-toggle="collapse">
          <i>Description</i>
        </a>
        <!-- Get description metadata -->
        <div class="row archive-desc panel-collapse collapse in" id="boxDesc">
          <!-- Main And mantatory fields with specific format -->
          <div class="col-xs-12">
            <div class="form-group col-md-6">
              <div class="row simple-field">
                <display-field field-size="'11'" intercept-user-change="$ctrl.interceptUserChanges(fieldSet)"
                               field-object="$ctrl.mainFields['ID']" edit-mode="$ctrl.isEditMode"
                               ng-model="$ctrl.mainFields['ID']">
                </display-field>
              </div>
            </div>
            <div class="form-group col-md-6">
              <div class="row simple-field">
                <display-field intercept-user-change="$ctrl.interceptUserChanges(fieldSet)" field-size="'5'"
                               display-value="$ctrl.mainFields['StartDate'].fieldValue"
                               field-object="$ctrl.mainFields['StartDate']" edit-mode="$ctrl.isEditMode">
                </display-field>
                <display-field field-size="'5'" intercept-user-change="$ctrl.interceptUserChanges(fieldSet)"
                               display-value="$ctrl.mainFields['EndDate'].fieldValue"
                               field-object="$ctrl.mainFields['EndDate']" edit-mode="$ctrl.isEditMode">
                </display-field>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="form-group col-md-6">
              <div class="row simple-field">
                <display-field field-size="'11'" intercept-user-change="$ctrl.interceptUserChanges(fieldSet)"
                               field-object="$ctrl.mainFields['Title']" edit-mode="$ctrl.isEditMode">
                </display-field>
              </div>
            </div>
            <div class="form-group col-md-6">
              <div class="row simple-field">
                <display-field field-size="'11'" intercept-user-change="$ctrl.interceptUserChanges(fieldSet)"
                               field-object="$ctrl.mainFields['DescriptionLevel']" edit-mode="$ctrl.isEditMode">
                </display-field>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="form-group col-md-6">
              <div class="row simple-field">
                <display-field field-size="'11'" intercept-user-change="$ctrl.interceptUserChanges(fieldSet)"
                               field-object="$ctrl.mainFields['OriginatingAgency'].content[0]" edit-mode="$ctrl.isEditMode">
                </display-field>
              </div>
            </div>
            <div class="form-group col-md-6">
              <div class="row simple-field">
                <display-field field-size="'11'" intercept-user-change="$ctrl.interceptUserChanges(fieldSet)"
                               field-object="$ctrl.mainFields['OriginatingAgency'].content[1]" edit-mode="$ctrl.isEditMode">
                </display-field>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="form-group col-md-6">
              <div class="row simple-field">
                <display-field field-size="'11'" intercept-user-change="$ctrl.interceptUserChanges(fieldSet)"
                               field-object="$ctrl.mainFields['Description']" edit-mode="$ctrl.isEditMode">
                </display-field>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <div ng-if="fieldSet.typeF === 'P'" class="clearfix visible-xs" ng-repeat-start="fieldSet in $ctrl.archiveArray"></div>
            <div class="{{fieldSet.typeF !=='P'? 'form-group col-md-6': 'col-xs-12'}}"
                 ng-repeat-end>
              <display-fieldtree intercept-user-change="$ctrl.interceptUserChanges(fieldSet)"
                                 field-object="fieldSet" edit-mode="$ctrl.isEditMode">
              </display-fieldtree>
            </div>
          </div>
        </div>
      </div>

      <!--
      *
      *    GESTION
      *
      -->
      <div class="panel-body">
        <a class="panel-header" data-target="#boxManage" data-toggle="collapse">
          <i>Gestion</i>
        </a>

        <div class="row archive-desc panel-collapse collapse in" id="boxManage">
            <div class="form-group col-md-6" ng-repeat="(categoryId, ruleCategory) in $ctrl.ruleDisplay">
                <div class="panel panel-default">
                    <div class="panel-heading">
                      <b>{{categoryId}}</b>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table" ng-show="exitRule(ruleCategory.displayArray)">
                                <thead>
                                  <tr>
                                    <th>Identifiant</th>
                                    <th>Date de Début</th>
                                    <th>Date de Fin</th>
                                    <th>Héritée</th>
                                    <th>&nbsp;</th>
                                  </tr>
                                </thead>

                                <tbody ng-repeat="rule in ruleCategory.displayArray">
                                  <tr class="table-row" ng-if="rule.ruleId" style="cursor: pointer;" ng-click="toggleDetail($index, rule)">
                                      <td class="whitetd" width="20%">{{rule.ruleId}}</td>
                                      <td class="whitetd" width="20%">{{defineStartDate(rule.StartDate | vitamFormatDate) }}</td>
                                      <td class="whitetd" width="20%">{{defineEndDate(rule.StartDate | vitamFormatDate , rule.EndDate | vitamFormatDate )}}</td>
                                      <td class="whitetd" width="20%">{{checkHerited(rule.originId)}}</td>
                                      <td class="whitetd" width="20%">
                                        <span ng-show="!checkUpOrDown(rule)" class="glyphicon glyphicon-chevron-down"></span>
                                        <span ng-show="checkUpOrDown(rule)" class="glyphicon glyphicon-chevron-up"></span>
                                      </td>
                                  </tr>

                                  <tr class="extra-row" id="{{rule.ruleId}}" ng-show="displayRule[rule.ruleId]">
                                    <td colspan="5">
                                      <div class="form-group col-md-12" max-width="100%">
                                        <label style="display: inline">Hérité de : </label>
                                        <a href={{getSourcePath(rule)}} ng-show="checkSource(rule.originId)">{{title[rule.ruleId]}}</a>
                                        <span ng-show="!checkSource(rule.originId)">{{title[rule.ruleId]}}</span>
                                      </div>
                                      <div class="form-group col-md-12" ng-if="rule.FinalAction">
                                        <label style="display: inline">Sort Final : </label>
                                        <span>{{rule.FinalAction}}</span>
                                      </div>
                                      <div class="form-group col-md-12" ng-if="rule.ClassificationLevel">
                                        <label style="display: inline">Niveau de la classification : </label>
                                        <span>{{rule.ClassificationLevel}}</span>
                                      </div>
                                      <div class="form-group col-md-12" ng-if="rule.ClassificationOwner">
                                        <label style="display: inline">Propriétaire de la classification : </label>
                                        <span>{{rule.ClassificationOwner}}</span>
                                      </div>
                                      <div class="form-group col-md-12" ng-if="rule.ClassificationReassessingDate">
                                        <label style="display: inline">Date de réévaluation de la classification : </label>
                                        <span>{{rule.ClassificationReassessingDate}}</span>
                                      </div>
                                      <div class="form-group col-md-12" ng-if="rule.NeedReassessingAuthorization">
                                        <label style="display: inline">Besoin d'autorisation de réévaluation : </label>
                                        <span>{{rule.NeedReassessingAuthorization}}</span>
                                      </div>
                                    </td>
                                  </tr>
                                </tbody>

                            </table>
                        </div>
                        <div>
                          <label ng-if="refNonId[categoryId]">Règle désactivée :</label>
                          <li ng-repeat=" ref in refNonId[categoryId]">{{ref}}</li>
                        </div>
                        <div>
                          <label ng-if="preventInheritance[categoryId]" ng-style="{color:'red'}">Cette unité archivistique n'hérite d'aucune règle</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>

      <!--
      *
      *    OBJETS
      *
      -->
      <span class="panel-header no-toggle">
        <h2>Groupe d'Objets</h2>
        <a ng-if = "$ctrl.archiveFields._og != null && $ctrl.archiveFields._og != undefined && $ctrl.archiveFields._og != ''"
        ng-href="#!/lifecycle/objectgroup/{{$ctrl.archiveFields._og}}" target="_blank" class="btn btn-primary" role="button" style="float:right;margin:0px">
          <i class="material-icons pull-left">camera</i>
          <span class="pull-left m-l-10">Journal de Cycle de vie du groupe d'objets</span>
        </a>
      </span>

      <div id="boxObjectsResults" class="panel-body">
        <div ng-repeat="(key, value) in $ctrl.technicalItems">
          <div class="panel-body">
            <a class="panel-header" data-target="{{'#box' + key}}" data-toggle="collapse">
              <i>{{key}}</i>
            </a>
            <div class="row archive-desc panel-collapse collapse in" id="{{'box' + key}}">
              <div ng-if="fieldSet.typeF === 'P'" class="clearfix visible-xs" ng-repeat-start="fieldSet in value"></div>
              <div class="{{fieldSet.typeF !=='P'?' form-group col-md-6': 'col-xs-12'}}"
                   ng-repeat-end>
                <display-fieldtree intercept-user-change="$ctrl.interceptUserChanges(fieldSet)"
                                   field-object="fieldSet" edit-mode="$ctrl.isEditMode">
                </display-fieldtree>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive ">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Usage</th>
              <th>Taille</th>
              <th>Format</th>
              <th>Date</th>
              <th>Téléchargement</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="version in archiveObjectGroups.versions | orderBy : 'DataObjectVersion'">
              <td>{{version.DataObjectVersion}}</td>
              <td>{{version.Size | filterSize}}</td>
              <td>{{version.FormatLitteral}}</td>
              <td>{{version.LastModified | vitamFormatDate}}</td>
              <td>
                <a href=""
                   ng-click="download($event, archiveObjectGroupsOgId , version.DataObjectVersion, version.Rank, version.FileName)"
                   target="_blank">
                  <i class="material-icons">file_download</i>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
