<div id="global" class="container-fluid">
  <ol class="breadcrumb">
    <li>Menu</li>
    <li><a href="#!/uploadperf">Téléchargement - Tests de perfs</a></li>
  </ol>

  <div class="panel panel-default col-md-12">
    <a class="panel-header" data-toggle="collapse" data-target="#upload">
      <h2>TEST de PERFORMANCEs </h2>
    </a>

    <label>Liste des sip  </label>

    <select ng-model="fileName" ng-options="x for x in sipList" required>
       <label>Sip</label>
    </select>
    <label>Nb Thread </label>

    <input ng-model="parallelIngest" type="number" min="0" max="100" >
    <label> </label>
    <label>Nb Total </label>
    <input ng-model="numberOfIngest" type="number" min="0"          max="100" >

    <button  type="button" class="btn btn-prismary center-block" ng-click="uploadSelectedSip(selectedSip)">
      Lancer
    </button><br/>

    <div ng-if ="true" class="panel panel-default col-md-12">
      <a class="panel-header">
        <h2>
          Résultats
          <span ng-if="resultList == 0 || resultList > 0">({{resultList}})</span>
        </h2>
      </a>

      <div  id="boxEntriesList" class="panel-body panel-collapse collapse in">

        <div class="table-responsive">
          <table class="table">
            <tr>
              <th>Nom</th>
              <th>Télecharger</th>
            </tr>

            <tbody>
            <tr ng-repeat='log in resultList'>
              <td>{{log}}</td>
              <td>
                <a href="" ng-click="downloadOperation(log)">
                  <i class="material-icons">file_download</i>
                </a>
              </td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>
