<div id="global" class="container-fluid">
  <ol class="breadcrumb">
    <li>Menu</li>
    <li><a href="#!/uploadperf">Téléchargement - Tests de perfs</a></li>
  </ol>

  <div class="panel panel-default col-md-12">
    <a class="panel-header" data-toggle="collapse" data-target="#upload">
      <h2>Liste des fichiers disponibles</h2>
    </a>
    <div id="upload" class="panel-collapse collapse in">
      <md-radio-group ng-model="selectedSip" class="md-primary">
        <md-radio-button ng-repeat="file in sipList" ng-value="file.fileName">
            {{ file.fileName }} ({{ file.fileSize | filterSize }})<br/>
        </md-radio-button>
      </md-radio-group>
    </div>

    <hr />

    <button ng-if="sipFound" type="button" class="btn btn-primary center-block" ng-click="uploadSelectedSip(selectedSip)">
      <i class="material-icons pull-left">file_upload</i>
      Importer
    </button>

    <hr />

    <div  ng-if = "!sipFound" class="text-center" style="padding-bottom: 20px">
      <label>Aucun fichier disponible pour le téléchargement</label>
    </div>

    <div class="text-center" style="padding-bottom: 20px">
        <label style="padding-bottom: 20px" ng-if = "uploadFinished && !uploadFailed">ID de l'opération créée : <span class="badge">{{ ingestOperationId }}</span> </label>

        <button ng-if = "uploadFinished && !uploadFailed" type="button" class="btn btn-primary center-block" ng-click="generateOperationStatistics(ingestOperationId)">
          <i class="material-icons pull-left">file_download</i>
          Regénérer le rapport
        </button>

        <label ng-if = "uploadLaunched">Opération en cours de traitement</label>
        <label ng-if = "uploadFailed">Opération terminée avec échec</label>
    </div>

  </div>
</div>
