{
  "index_patterns": ["*"],
  "order": "0",
  "settings" : {
    {% if groups['hosts_elasticsearch_data']|length > 1 %}
    "number_of_replicas": {{ composant.index_templates.default.replica }},
    {% else %}
    "number_of_replicas": 0,
    {% endif %}
    "number_of_shards": {{ composant.index_templates.default.shards }}
  }
}
