# Personal certification configuration for endpoint permissions

permissionsRequiringPersonalCertificate:



permissionsWithoutPersonalCertificate:
  - 'dipexport:create'
  - 'dipexport:id:dip:read'
  - 'logbookobjectslifecycles:id:read'
  - 'logbookoperations:read'
  - 'logbookoperations:id:read'
  - 'logbookunitlifecycles:id:read'
  - 'units:read'
  - 'units:id:read:json'
  - 'units:id:update'
  - 'units:id:objects:read:json'
  - 'units:id:objects:read:binary'
  - 'accesscontracts:create:json'
  - 'accesscontracts:read'
  - 'accesscontracts:id:read'
  - 'accesscontracts:id:update'
  - 'accessionregisters:read'
  - 'accessionregisters:id:accessionregisterdetails:read'
  - 'agencies:create'
  - 'agencies:read'
  - 'agencies:id:read'
  - 'agenciesfile:check'
  - 'audits:create'
  - 'contexts:create:json'
  - 'contexts:read'
  - 'contexts:id:read'
  - 'contexts:id:update'
  - 'formats:read'
  - 'formats:create'
  - 'formats:id:read'
  - 'formatsfile:check'
  - 'ingestcontracts:create:json'
  - 'ingestcontracts:read'
  - 'ingestcontracts:id:read'
  - 'ingestcontracts:id:update'
  - 'operations:read'
  - 'operations:id:read:status'
  - 'operations:id:read'
  - 'operations:id:update'
  - 'operations:id:delete'
  - 'profiles:create:binary'
  - 'profiles:create:json'
  - 'profiles:read'
  - 'profiles:id:read:json'
  - 'profiles:id:update:binaire'
  - 'profiles:id:read:binary'
  - 'profiles:id:update:json'
  - 'rules:read'
  - 'rules:create'
  - 'rules:id:read'
  - 'rulesfile:check'
  - 'rulesreport:id:read'
  - 'securityprofiles:create:json'
  - 'securityprofiles:read'
  - 'securityprofiles:id:read'
  - 'securityprofiles:id:update'
  - 'traceability:id:read'
  - 'traceabilitychecks:create'
  - 'workflows:read'
  - 'ingests:create'
  - 'ingests:id:archivetransfertreply:read'
  - 'ingests:id:manifests:read'
