
# Configuration MongoDB
mongoDbNodes:
{% for host in groups['mongos'] %}
- dbHost: {{hostvars[host]['ip_service']}}
  dbPort: {{ mongodb.mongos_port }}
{% endfor %}
dbName: identity
dbAuthentication: {{ mongodb.mongo_authentication }}
dbUserName: {{mongoSecurityInternalUser}}
dbPassword: {{mongoSecurityInternalPassword}}

jettyConfig: jetty-config.xml
tenants:  [ "{{ vitam_tenant_ids | join('", "') }}" ]

personalCertificatePermissionConfig: personal-certificate-permissions.conf

