{
  "service": {
    "name": "node_exporter",
    "port": {{ prometheus.node_exporter.port }},
    "address": "{{ ip_admin }}",
    "tags": ["monitor", "node_exporter","vitam-node-exporter"],
    "checks": [
        {
          "name": "Prometheus node exporter : TCP check",
          "notes": "Status node_exporter",
          "tcp": "{{ ip_admin }}:{{ prometheus.node_exporter.port }}",
          "interval": "{{ prometheus.check_consul }}s"
        }
    ]
  }
}
