#!/usr/bin/env bash
set -e

CURRENT_DIR="$( cd "$( readlink -f $(dirname ${BASH_SOURCE[0]}) )" ; pwd )"
OFFER_LOG_URL="http://{{ ip_admin }}:{{ vitam.storageofferdefault.port_admin }}/offer/v1/compaction"

function log() {
    LEVEL=${1}
    MSG=${2}
    TIMESTAMP=$( date +"%Y-%m-%d %H:%M:%S" )
    echo ${TIMESTAMP} [[vitam-offer-log-compaction]] [vitam-offer-log-compaction] ${LEVEL} vitam-offer-log-compaction.sh - vitam-offer-log-compaction.service : [${HOSTNAME}:vitam-offer-log-compaction.service:0] ${MSG}
}

function local_curl() {
    COLLECTION=${1}
    curl -s -X POST -H "X-Tenant-Id: {{ vitam_tenant_admin }}" -H "Content-Type: application/json" -H "Accept: application/json" ${OFFER_LOG_URL}
    log "INFO" "${MSG}"
}

# Main
local_curl
