dbHost: {{vitam_mongodb_host}}
dbPort: {{vitam_mongodb_port}}
dbName: Vitam
dbAuthentication: {{mongo_authentication}}
dbUserName: {{mongoFunctionalAdminUser}}
dbPassword: {{mongoFunctionalAdminPassword}}

jettyConfig: jetty-config.xml
