
# Configuration MongoDB
mongoDbNodes:
{% for server in groups['mongos'] %}
- dbHost: {{server}}
  dbPort: {{vitam_mongodb_port}}
{% endfor %}
dbName: masterdata
dbAuthentication: {{mongo_authentication}}
dbUserName: {{mongoFunctionalAdminUser}}
dbPassword: {{mongoFunctionalAdminPassword}}

jettyConfig: jetty-config.xml
tenants:  [ "{{ vitam_tenant_ids | join('", "') }}" ]
