<div id="global" class="container-fluid" >
  <ol class="breadcrumb">
    <li>Administration</li>
    <li><a href="#!/admin/workflows">Gestion des opérations</a></li>
  </ol>

  <!-- Pagination -->
  <div style="text-align: center">
    <button class="btn btn-default btn-s"
            ng-disabled="ctrl.currentPage <= 1"
            ng-click="ctrl.currentPage=ctrl.currentPage-1">Précédent</button>
    <input ng-model="ctrl.currentPage" style="max-width: 40px">/{{ctrl.resultPages}}
    <button class="btn btn-default btn-s"
            ng-disabled="ctrl.currentPage >= ctrl.resultPages"
            ng-click="ctrl.currentPage=ctrl.currentPage+1">Suivant</button>
  </div>


  <div class="panel panel-default col-md-12">
    <span class="panel-header no-toggle">
        <h2>
          Liste des Opérations
          <span ng-if="ctrl.results == 0 || ctrl.results > 0">({{ctrl.results}})</span>
        </h2>
    </span>

    <!-- Get description metadata -->
    <div class="panel-body" id="boxWorkflows">
      <div class="table-responsive">
        <div class="form-group col-md-12">
          <div class="table-responsive">
            <table class="table">
              <tr>
                <th>
                  <div ng-click="oldOrderBy = orderByField; orderByField = 'operation_id'; oldOrderBy !== orderByField ? reverseSort = false : reverseSort === false ? reverseSort = true : reverseSort = false">
                    Identifiant de l'opération
                    <span ng-show="orderByField == 'operation_id' && !reverseSort" class="glyphicon glyphicon-triangle-bottom"></span>
                    <span ng-show="orderByField == 'operation_id' && reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                  </div>
                </th>
                <th>
                  <div ng-click="oldOrderBy = orderByField; orderByField ='processType'; oldOrderBy !== orderByField ? reverseSort = false : reverseSort === false ? reverseSort = true : reverseSort = false">
                    Catégorie de l'opération
                    <span ng-show="orderByField == 'processType' && !reverseSort" class="glyphicon glyphicon-triangle-bottom"></span>
                    <span ng-show="orderByField == 'processType' && reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                  </div>
                </th>
                <th>
                  <div ng-click="oldOrderBy = orderByField; orderByField ='processDate'; oldOrderBy !== orderByField ? reverseSort = false : reverseSort === false ? reverseSort = true : reverseSort = false">
                    Date de l'entrée
                    <span ng-show="orderByField == 'processDate' && !reverseSort" class="glyphicon glyphicon-triangle-bottom"></span>
                    <span ng-show="orderByField == 'processDate' && reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                  </div>
                </th>
                <th>
                  <div ng-click="oldOrderBy = orderByField; orderByField ='executionMode'; oldOrderBy !== orderByField ? reverseSort = false : reverseSort === false ? reverseSort = true : reverseSort = false">
                    Mode d'exécution
                    <span ng-show="orderByField == 'executionMode' && !reverseSort" class="glyphicon glyphicon-triangle-bottom"></span>
                    <span ng-show="orderByField == 'executionMode' && reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                  </div>
                </th>
                <th>
                  <div ng-click="oldOrderBy = orderByField; orderByField ='previousStep'; oldOrderBy !== orderByField ? reverseSort = false : reverseSort === false ? reverseSort = true : reverseSort = false">
                    Précédente étape du workflow / étape en cours
                    <span ng-show="orderByField == 'previousStep' && !reverseSort" class="glyphicon glyphicon-triangle-bottom"></span>
                    <span ng-show="orderByField == 'previousStep' && reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                  </div>
                </th>
                <th>
                  <div ng-click="oldOrderBy = orderByField; orderByField ='nextStep'; oldOrderBy !== orderByField ? reverseSort = false : reverseSort === false ? reverseSort = true : reverseSort = false">
                    Prochaine étape du workflow
                    <span ng-show="orderByField == 'nextStep' && !reverseSort" class="glyphicon glyphicon-triangle-bottom"></span>
                    <span ng-show="orderByField == 'nextStep' && reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                  </div>
                </th>
                <th>
                  <div ng-click="oldOrderBy = orderByField; orderByField = 'stepStatus'; oldOrderBy !== orderByField ? reverseSort = false : reverseSort === false ? reverseSort = true : reverseSort = false">
                    Statut
                    <span ng-show="orderByField == 'stepStatus' && !reverseSort" class="glyphicon glyphicon-triangle-bottom"></span>
                    <span ng-show="orderByField == 'stepStatus' && reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                  </div>
                </th>
                <th>
                  Actions
                </th>
              </tr>

              <tbody ng-repeat="operation in operations | orderBy:orderByFunction:reverseSort | startFrom:(ctrl.currentPage-1)*ctrl.itemsPerPage | limitTo:ctrl.itemsPerPage">
                <tr class="workflow">
                  <td>{{operation.operation_id}}</td>
                  <td>{{operation.processType}}</td>
                  <td>{{operation.processDate | vitamFormatDate}}</td>
                  <td>{{getTranslatedText(operation.executionMode)!== undefined ? getTranslatedText(operation.executionMode) : operation.executionMode}}</td>
                  <td>{{operation.previousStep | translate}}</td>
                  <td>{{operation.nextStep | translate}}</td>
                  <td ng-if="!operation.inProgress">{{getTranslatedText(operation.stepStatus)!== undefined ? getTranslatedText(operation.stepStatus) : operation.stepStatus}}</td>
                  <td ng-if="operation.inProgress"><img src="images/loading_36.gif"/></td>
                  <td>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Suivant" class="btn btn-xs" ng-click="executeAction($event, operation.operation_id, 'NEXT', $index)">
                      <i class="material-icons">skip_next</i>
                    </button>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Pause" class="btn btn-xs" ng-click="executeAction($event, operation.operation_id, 'PAUSE', $index)">
                      <i class="material-icons">pause_circle_filled</i>
                    </button>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Reprise" class="btn btn-xs" ng-click="executeAction($event, operation.operation_id, 'RESUME', $index)">
                      <i class="material-icons">play_arrow</i>
                    </button>
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Annuler" class="btn btn-xs" ng-click="stopProcess($event, operation.operation_id, $index)">
                      <i class="material-icons">stop</i>
                    </button>

                  </td>
                </tr>
             </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
