---

# Reset is done because the checks role is used multiple times in the extra playbook

- name: Reset variables
  set_fact:
    fs_offers: []
    offer_conf_list: []
    fs_offers_configured: []

- name: Get filesystem offers
  set_fact:
    fs_offers: "{{ fs_offers | default([]) + [item.key] }}"
  loop: "{{ lookup('dict', vitam_offers, wantlist=True) }}"
  loop_control:
    label: "{{ item.key }}"
  when: "'filesystem' in item.value.provider"

- name: Get configured offers
  set_fact:
    offer_conf_list: "{{ groups['hosts_storage_offer_default'] | map ('extract', hostvars, 'offer_conf') | list }}"

- name: Get configured filesystem offers
  set_fact:
    fs_offers_configured: "{{ fs_offers_configured | default([]) + [item] }}"
  with_items: "{{ offer_conf_list }}"
  when: item in fs_offers

- name: Check filesystem offers configuration
  fail:
    msg: "A same filesystem offer has been configured on more than one host, check the configuration of the inventory group hosts-storage-offer-default"
  when: fs_offers_configured|length > fs_offers_configured|unique|length
