#toaster {
    position: fixed;
    top: 85px;
    left: 40%;
    width: 100%;
    z-index: 10000;
}

md-toast.md-success-toast-theme .md-toast-content {
    background-color: #dff0d8;
    color: green;
}