[Unit]
Description=Secure logbook object group lifecycles

Wants=network.target
After=network.target

[Service]
Type=oneshot
ExecStart=/vitam/script/logbook/launchObjectGroupLfcTraceability.sh
User=vitam
Group=vitam
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
