[Unit]
Description=Secure logbook lifecycles

Wants=network.target
After=network.target

[Service]
Type=oneshot
ExecStart=/vitam/script/logbook/launchTraceabilityLFC.sh
User=vitam
Group=vitam
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
